{% extends 'industico/base_index.html' %}
{% load static %}

post-blog-2.css

{% block additional_head_part1 %}
<link rel='stylesheet' id='elementor-post-7237-css'  href="{% static 'industico/uploads/elementor/css/post-4-columns-full-grid.css' %}" media='all' />
{% endblock additional_head_part1 %}

{% block page_body_classes %}page page-template-default prt-empty-sidebar page-id-6295 elementor-page elementor-page-6277{% endblock page_body_classes %}

{% block title_1 %}
<title>{{ page_title }} - Industico</title>
{% endblock title_1 %}

{% block header %}
<div class="prt-titlebar-wrapper prt-bg prt-bgcolor-custom prt-titlebar-align-default prt-textcolor-white prt-bgimage-yes prt-breadcrumb-bgcolor-custom"
	style="background-image: url({% static 'industico/uploads/2022/07/title-01.jpg' %});">
	<div class="prt-titlebar-wrapper-bg-layer prt-bg-layer"></div>
	<div class="prt-titlebar entry-header">
		<div class="prt-titlebar-inner-wrapper">
			<div class="prt-titlebar-main">
				<div class="container">
					<div class="prt-titlebar-main-inner">
						<div class="entry-title-wrapper">
							<div class="container">
								<h1 class="entry-title">{{ page_title }}</h1>
							</div>
						</div>
						<div class="breadcrumb-wrapper">
							<div class="container">
								<div class="breadcrumb-wrapper-inner">
									<!-- Breadcrumb NavXT output --><span><a rel="v:url" title="Go to Industico." href="/industico/" class="home">&nbsp;Home<span class="hide">Industico</span></a></span><span class="tm-bread-sep"> // </span><span><span class="post post-page current-item">4 Columns – Full Grid</span></span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- .prt-titlebar-main -->
		</div>
		<!-- .prt-titlebar-inner-wrapper -->
	</div>
	<!-- .prt-titlebar -->
</div>
{% endblock header %}

{% block content %}
<div id="primary" class="content-area  container">
	<main id="main" class="site-main">
		<article id="post-6295" class="post-6295 page type-page status-publish hentry">
			<header class="single-entry-header prt-hide">
				<h2 class="entry-title">4 Columns – Full Grid</h2>
			</header>
			<!-- .entry-header -->
			<div class="entry-content">
				<div data-elementor-type="wp-page" data-elementor-id="6295" class="elementor elementor-6295">
					<section class="elementor-section elementor-top-section elementor-element elementor-element-f9cb195 elementor-section-stretched prt-three-col prt-column-break-ipad-no prt-col-stretched-none elementor-section-boxed elementor-section-height-default elementor-section-height-default prt-col-stretched-no prt-bgimage-no prt-bgcolor-yes" data-id="f9cb195" data-element_type="section" data-settings="{&quot;stretch_section&quot;:&quot;section-stretched&quot;}" style="width: 1214px; left: -45.3409px;">
						<div class="elementor-container elementor-column-gap-no">
							<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-c0fb304 prt-bgimage-no prt-bgcolor-yes" data-id="c0fb304" data-element_type="column">
								<div class="elementor-widget-wrap elementor-element-populated">
									<div class="elementor-element elementor-element-c766bf6 prt-align-center elementor-widget elementor-widget-tm_project_element" data-id="c766bf6" data-element_type="widget" data-widget_type="tm_project_element.default">
										<div class="elementor-widget-container">
											<div class="preyantechnosys-boxes preyantechnosys-boxes-portfolio preyantechnosys-element-portfoliobox-style1 preyantechnosys-boxes-view-default preyantechnosys-boxes-col-four preyantechnosys-boxes-gap-30px preyantechnosys-sortable-yes" data-prt-show="8" data-prt-loop="1" data-prt-autoplay="0" data-prt-centermode="0" data-prt-nav="" data-prt-dots="" data-prt-slidestoscroll="" data-prt-autoplayspeed="4500" data-prt-margin="30px">
												<div class="preyantechnosys-boxes-inner">
													<div class="preyantechnosys-box-heading-wrapper prt-boxwithout-heading">
														<div class="prt-element-heading-content-wrapper center-align  prt-seperator-none  prt-heading-style-vertical ">
															<div class="prt-content-header"></div>
														</div>
														<div class="prt-sortable-wrapper prt-sortable-wrapper-tm_portfolio_category">
															<nav class="prt-sortable-list">
																<nav class="prt-sortable-list">
																	<ul>
																		<li class="prt-sortable-link prt-sortable-all-link"><a class="selected" href="javascript:void(0);" data-filter="*"> All </a></li>
																		<li class="prt-sortable-link"><a href="javascript:void(0);" data-filter=".agriculture" class="">Agriculture</a></li>
																		<li class="prt-sortable-link"><a href="javascript:void(0);" data-filter=".chemical" class="">Chemical</a></li>
																		<li class="prt-sortable-link"><a href="javascript:void(0);" data-filter=".industrial" class="">Industrial</a></li>
																		<li class="prt-sortable-link"><a href="javascript:void(0);" data-filter=".oil-gas" class="">Oil &amp; Gas</a></li>
																	</ul>
																</nav>
															</nav>
														</div>
													</div>
													<div class="preyantechnosys-boxes-row-wrapper row multi-columns-row" style="position: relative; height: 634.034px;">
														<div class="prt-box-col-wrapper  industrial oil-gas col-lg-3 col-sm-6 col-md-3 col-xs-12" style="position: absolute; left: 0px; top: 0px;">
															<article class="preyantechnosys-box preyantechnosys-box-portfolio preyantechnosys-portfoliobox-style1 ">
																<div class="preyantechnosys-post-item">
																	<div class="preyantechnosys-post-item-inner">
																		<div class="prt-featured-wrapper prt-tm_portfolio-featured-wrapper"><a href="/industico/portfolio/industrial-complex/"><img loading="lazy" width="610" height="430" src="{% static 'industico/uploads/2022/06/portfoli-01-610x430.jpg' %}" class="attachment-preyantechnosys-img-portfolio size-preyantechnosys-img-portfolio wp-post-image" alt="" data-id="5906"></a></div>
																		<div class="preyantechnosys-box-overlay prt-wrap">
																			<div class="preyantechnosys-box-content prt-wrap-cell">
																				<div class="preyantechnosys-box-category">
																					<div class="prt-cat">
																						Industrial, Oil &amp; Gas
																					</div>
																				</div>
																				<div class="preyantechnosys-box-title">
																					<h4><a href="/industico/portfolio/industrial-complex/">Industrial Complex</a></h4>
																				</div>
																			</div>
																			<div class="prt-post-iconbox prt-wrap-cell"><a href="/industico/portfolio/industrial-complex/" class="preyantechnosys_pf_link"><i class="prt-industico-icon-plus"></i></a></div>
																		</div>
																	</div>
																</div>
															</article>
														</div>
														<div class="prt-box-col-wrapper  agriculture industrial col-lg-3 col-sm-6 col-md-3 col-xs-12" style="position: absolute; left: 292px; top: 0px;">
															<article class="preyantechnosys-box preyantechnosys-box-portfolio preyantechnosys-portfoliobox-style1 ">
																<div class="preyantechnosys-post-item">
																	<div class="preyantechnosys-post-item-inner">
																		<div class="prt-featured-wrapper prt-tm_portfolio-featured-wrapper"><a href="/industico/portfolio/construction-architecture/"><img loading="lazy" width="610" height="430" src="{% static 'industico/uploads/2022/05/portfolio-02-610x430.jpg' %}" class="attachment-preyantechnosys-img-portfolio size-preyantechnosys-img-portfolio wp-post-image" alt="" data-id="5910"></a></div>
																		<div class="preyantechnosys-box-overlay prt-wrap">
																			<div class="preyantechnosys-box-content prt-wrap-cell">
																				<div class="preyantechnosys-box-category">
																					<div class="prt-cat">
																						Agriculture, Industrial
																					</div>
																				</div>
																				<div class="preyantechnosys-box-title">
																					<h4><a href="/industico/portfolio/construction-architecture/">Successful Venture</a></h4>
																				</div>
																			</div>
																			<div class="prt-post-iconbox prt-wrap-cell"><a href="/industico/portfolio/construction-architecture/" class="preyantechnosys_pf_link"><i class="prt-industico-icon-plus"></i></a></div>
																		</div>
																	</div>
																</div>
															</article>
														</div>
														<div class="prt-box-col-wrapper  agriculture chemical col-lg-3 col-sm-6 col-md-3 col-xs-12" style="position: absolute; left: 585px; top: 0px;">
															<article class="preyantechnosys-box preyantechnosys-box-portfolio preyantechnosys-portfoliobox-style1 ">
																<div class="preyantechnosys-post-item">
																	<div class="preyantechnosys-post-item-inner">
																		<div class="prt-featured-wrapper prt-tm_portfolio-featured-wrapper"><a href="/industico/portfolio/oil-plant-project/"><img loading="lazy" width="610" height="430" src="{% static 'industico/uploads/2022/05/portfolio-03-610x430.jpg' %}" class="attachment-preyantechnosys-img-portfolio size-preyantechnosys-img-portfolio wp-post-image" alt="" data-id="5912"></a></div>
																		<div class="preyantechnosys-box-overlay prt-wrap">
																			<div class="preyantechnosys-box-content prt-wrap-cell">
																				<div class="preyantechnosys-box-category">
																					<div class="prt-cat">
																						Agriculture, Chemical
																					</div>
																				</div>
																				<div class="preyantechnosys-box-title">
																					<h4><a href="/industico/portfolio/oil-plant-project/">Oil Plant Project</a></h4>
																				</div>
																			</div>
																			<div class="prt-post-iconbox prt-wrap-cell"><a href="/industico/portfolio/oil-plant-project/" class="preyantechnosys_pf_link"><i class="prt-industico-icon-plus"></i></a></div>
																		</div>
																	</div>
																</div>
															</article>
														</div>
														<div class="prt-box-col-wrapper  agriculture industrial col-lg-3 col-sm-6 col-md-3 col-xs-12" style="position: absolute; left: 877px; top: 0px;">
															<article class="preyantechnosys-box preyantechnosys-box-portfolio preyantechnosys-portfoliobox-style1 ">
																<div class="preyantechnosys-post-item">
																	<div class="preyantechnosys-post-item-inner">
																		<div class="prt-featured-wrapper prt-tm_portfolio-featured-wrapper"><a href="/industico/portfolio/citrus-battery/"><img loading="lazy" width="610" height="430" src="{% static 'industico/uploads/2022/05/portfolio-04-610x430.jpg' %}" class="attachment-preyantechnosys-img-portfolio size-preyantechnosys-img-portfolio wp-post-image" alt="" data-id="5914"></a></div>
																		<div class="preyantechnosys-box-overlay prt-wrap">
																			<div class="preyantechnosys-box-content prt-wrap-cell">
																				<div class="preyantechnosys-box-category">
																					<div class="prt-cat">
																						Agriculture, Industrial
																					</div>
																				</div>
																				<div class="preyantechnosys-box-title">
																					<h4><a href="/industico/portfolio/citrus-battery/">Citrus Battery</a></h4>
																				</div>
																			</div>
																			<div class="prt-post-iconbox prt-wrap-cell"><a href="/industico/portfolio/citrus-battery/" class="preyantechnosys_pf_link"><i class="prt-industico-icon-plus"></i></a></div>
																		</div>
																	</div>
																</div>
															</article>
														</div>
														<div class="prt-box-col-wrapper  chemical col-lg-3 col-sm-6 col-md-3 col-xs-12" style="position: absolute; left: 0px; top: 317px;">
															<article class="preyantechnosys-box preyantechnosys-box-portfolio preyantechnosys-portfoliobox-style1 ">
																<div class="preyantechnosys-post-item">
																	<div class="preyantechnosys-post-item-inner">
																		<div class="prt-featured-wrapper prt-tm_portfolio-featured-wrapper"><a href="/industico/portfolio/al-zour-refinery/"><img loading="lazy" width="610" height="430" src="{% static 'industico/uploads/2022/05/portfolio-05-610x430.jpg' %}" class="attachment-preyantechnosys-img-portfolio size-preyantechnosys-img-portfolio wp-post-image" alt="" data-id="5916"></a></div>
																		<div class="preyantechnosys-box-overlay prt-wrap">
																			<div class="preyantechnosys-box-content prt-wrap-cell">
																				<div class="preyantechnosys-box-category">
																					<div class="prt-cat">
																						Chemical
																					</div>
																				</div>
																				<div class="preyantechnosys-box-title">
																					<h4><a href="/industico/portfolio/al-zour-refinery/">Al Zour Refinery</a></h4>
																				</div>
																			</div>
																			<div class="prt-post-iconbox prt-wrap-cell"><a href="/industico/portfolio/al-zour-refinery/" class="preyantechnosys_pf_link"><i class="prt-industico-icon-plus"></i></a></div>
																		</div>
																	</div>
																</div>
															</article>
														</div>
														<div class="prt-box-col-wrapper  oil-gas col-lg-3 col-sm-6 col-md-3 col-xs-12" style="position: absolute; left: 292px; top: 317px;">
															<article class="preyantechnosys-box preyantechnosys-box-portfolio preyantechnosys-portfoliobox-style1 ">
																<div class="preyantechnosys-post-item">
																	<div class="preyantechnosys-post-item-inner">
																		<div class="prt-featured-wrapper prt-tm_portfolio-featured-wrapper"><a href="/industico/portfolio/industrial-installation/"><img loading="lazy" width="610" height="430" src="{% static 'industico/uploads/2022/05/portfolio-06-610x430.jpg' %}" class="attachment-preyantechnosys-img-portfolio size-preyantechnosys-img-portfolio wp-post-image" alt="" data-id="5918"></a></div>
																		<div class="preyantechnosys-box-overlay prt-wrap">
																			<div class="preyantechnosys-box-content prt-wrap-cell">
																				<div class="preyantechnosys-box-category">
																					<div class="prt-cat">
																						Oil &amp; Gas
																					</div>
																				</div>
																				<div class="preyantechnosys-box-title">
																					<h4><a href="/industico/portfolio/industrial-installation/">Industrial Installation</a></h4>
																				</div>
																			</div>
																			<div class="prt-post-iconbox prt-wrap-cell"><a href="/industico/portfolio/industrial-installation/" class="preyantechnosys_pf_link"><i class="prt-industico-icon-plus"></i></a></div>
																		</div>
																	</div>
																</div>
															</article>
														</div>
													</div>
												</div>
												<!-- .preyantechnosys-boxes-inner -->   
											</div>
											<!-- .preyantechnosys-boxes -->  		
										</div>
									</div>
								</div>
							</div>
						</div>
					</section>
				</div>
			</div>
			<!-- .entry-content -->
		</article>
		<!-- #post-## -->
	</main>
	<!-- #main .site-main -->
</div>
{% endblock content %}