
{% load static %}
<!DOCTYPE html>
<html lang="en-AU" prefix="og: https://ogp.me/ns#" class="no-js">
	<head>
		<link rel="canonical" href="/home-three/" />
		<link rel="profile" href="//gmpg.org/xfn/11">
		{% include './includes/metas.html' %}
		<!-- This is common links -->
		{% include './includes/common_head_top.html' %}
        {% block additional_head_part1 %}
		<link rel='stylesheet' id='industico-responsive-style-css'  href="{% static 'industico/theme/css/home1-theme.css' %}" media='all' />
        {% endblock additional_head_part1 %}
		{% include './includes/common_head_middle.html' %}
        {% block additional_head_part2 %}
		<link rel='stylesheet' id='industico-responsive-style-css'  href="{% static 'industico/css/inlines/home1.css' %}" media='all' />
        {% endblock additional_head_part2 %}
		<script>
			var tm_breakpoint = 1200;
		</script>
		{% include './includes/common_head_down.html' %}

        {% block title_1 %}
		<title>Industico - Industry &amp; Manufacturers Popular WordPress Theme - Home 1</title>
        {% endblock title_1 %}
	</head>
	
	{% block body %}
	{% endblock body %}
</html>