
{% load static %}
<!DOCTYPE html>
<html lang="en-AU" prefix="og: https://ogp.me/ns#" class="no-js">
	<head>
			<link rel="canonical" href="/home-three/" />
		<link rel="profile" href="//gmpg.org/xfn/11">
		{% include './includes/metas.html' %}
		<!-- This is common links -->
		{% include './includes/common_head_top.html' %}
        {% block additional_head_part1 %}
		<link rel='stylesheet' id='industico-responsive-style-css'  href="{% static 'industico/theme/css/home1-theme.css' %}" media='all' />
        {% endblock additional_head_part1 %}
		{% include './includes/common_head_middle.html' %}
        {% block additional_head_part2 %}
		<link rel='stylesheet' id='industico-responsive-style-css'  href="{% static 'industico/css/inlines/home1.css' %}" media='all' />
        {% endblock additional_head_part2 %}
		{% include './includes/common_head_down.html' %}

        {% block title_1 %}
		<title>Industico - Industry &amp; Manufacturers Popular WordPress Theme - Home 1</title>
        {% endblock title_1 %}
	</head>
	
	
	<body class="mega-menu-preyantechnosys-main-menu prt-headerstyle-classic-overlay preyantechnosys-topbar-yes preyantechnosys-fullwide  preyantechnosys-maxmegamenu-active elementor-default elementor-kit-6 elementor-page {% block page_body_classes %}home page-id-263 elementor-page-263{% endblock page_body_classes %}">
		<div id="prt-home"></div>
		<div class="main-holder">
			<div id="page" class="hfeed site">
                {% block header %}
                {% endblock header %}
				<!-- .site-header -->		
				<div id="content-wrapper" class="site-content-wrapper">
					<div id="content" class="site-content {% block extra_content_class %}{% endblock extra_content_class %}">
						<div id="content-inner" class="site-content-inner {% block extra_inner_class %}{% endblock extra_inner_class %}">
                        {% block content %}
                        {% endblock content %}
							<!-- #primary .content-area -->
						</div>
						<!-- .site-content-inner -->
					</div>
					<!-- .site-content -->
				</div>
				<!-- .site-content-wrapper -->
				{% include './elements/footer.html' %}
			</div>
			<!-- #page .site -->
		</div>
		<!-- .main-holder -->

		
        
		<!-- To Top -->
        <a id="totop" href="#top"><i class="prt-industico-icon-angle-up"></i></a>
		{% include './includes/common_script_top.html' %}
	</body>
</html>