{% extends 'industico/base3.html' %}
{% load static %}

{% block header %}
<header id="masthead" class="prt-header-overlay  prt-header-style-toplogo prt-main-menu-total-7 prt-main-menu-more-than-six tm-header-style-infostack">
	<div class="prt-header-block  prt-mmenu-active-color-skin prt-dmenu-active-color-skin prt-dmenu-sep-no prt-header-hastextarea">
		{% include 'industico/elements/2/site_header.html' %}
		{% block home_3_slider %}    
		{% endblock home_3_slider %}          
	</div>
</header>            
{% endblock header %}
