<div class="filter cm-content-box box-primary border">
    <div class="content-title border-0">
        <div class="cpa">
            Blogs
        </div>
        <div class="tools">
            <a href="javascript:void(0);" class="expand SlideToolHeader"><i class="fal fa-angle-down"></i></a>
        </div>
    </div>
    <div class="cm-content-body form excerpt border-top">
        <div class="card-body ItemsCheckboxSec">
            <form 
            hx-post="{% url '_htmx:crm-add-content-to-menu' %}" 
            hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
            hx-target="#menu_items">
                <input type="hidden" name="menu_id" value="{{menu_obj.id}}">
                <input type="hidden" name="menu_type" value="Page">
                <ul class=" tab-my nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="Viewall-tab" data-bs-toggle="tab" data-bs-target="#Viewall-tab-pane" type="button" role="tab" aria-controls="Viewall-tab-pane" aria-selected="true">View All</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="Search-tab" data-bs-toggle="tab" data-bs-target="#Search-tab-pane" type="button" role="tab" aria-controls="Search-tab-pane" aria-selected="false">Search</button>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="Viewall-tab-pane" role="tabpanel" aria-labelledby="Viewall-tab" tabindex="0">
                        <div class="menu-tabs">
                            {% for blog in blogs %}
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" 
                                name="PageItem[]" value="{{blog.id}}" id="flexCheckDefault-{{blog.id}}"
                                >
                                <label class="form-check-label" for="flexCheckDefault">
                                    {{blog.title}} 
                                </label>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="tab-pane fade" id="Search-tab-pane" role="tabpanel" aria-labelledby="Search-tab" tabindex="0">
                        <div class="menu-tabs">
                            <label for="exampleFormControlInput{{ menu_obj.id }}" class="form-label">Search</label>
                            <input type="text" class="form-control"
                            id="keyup-input" type="text" name="search_keywords"
                            hx-get="{% url '_htmx:crm-search-pages' %}"
                            hx-trigger="keyup changed delay:500ms"
                            hx-target="#search-results"
                            placeholder="Search..."
                            >

                            <div id="search-results" class="form-check mt-3">
                                
                            </div>
                        </div>
                    </div>
                    <div class="d-flex align-items-center flex-wrap">
                        <a href="javascript:void(0);" class="checkAllInput">Select All</a><span class="mx-2">|</span>
                        <a href="javascript:void(0);" class="unCheckAllInput">Deselect All</a>
                    </div>
                    <button type="submit" class="btn btn-primary btn-sm dz-menu-btn">Add to Menu</button>
                </div>
            </form>
        </div>
    </div>
</div>

