{% load static %}


<div class="preyantechnosys-fbar-main-w preyantechnosys-fbar-position-right">
    <div class="preyantechnosys-fbar-inner-w">
        <div class="preyantechnosys-fbar-box-w prt-textcolor-white prt-bgcolor-skincolor prt-bg prt-bgimage-yes">
            <div class="prt-fbar-bg-layer prt-bg-layer"></div>
            <div class="preyantechnosys-fbar-content-wrapper container prt-container-for-floatingbar">
                <div class="preyantechnosys-fbar-box-w-bgcolor">
                    <div class="preyantechnosys-fbar-box">
                        <div id="floatingbar-widgets-top" class="floatingbar-widgets-top">
                            <div class="floatingbar-widgets-top-inner">
                                <aside id="enhancedtextwidget-10" class="widget widget_text enhanced-text-widget">
                                    <div class="textwidget widget-text">
                                        <div class="floatingbar_logo"><img src="{% static 'industico/uploads/2022/06/final-logo-light-dark.svg' %}" alt="foot-logo"> 
                                        </div>
                                        <div class="floatingbar-content">
                                            <p>Even though most construction jobs are won through an RFP and bidding process, your website still plays an essential.</p>
                                        </div>
                                    </div>
                                </aside>
                            </div>
                            <!-- .floatingbar-widgets-top-inner -->
                        </div>
                        <!-- #floatingbar-widgets-top -->			
                        <div id="floatingbar-widgets" class="row multi-columns-row sidebar-container floatingbar-text-color-white" role="complementary">
                            <div class="floatingbar-widgets-inner">
                                <div class="widget-area col-xs-12 col-sm-6 col-md-6 col-lg-6 first-widget-area">
                                    <aside id="preyantechnosys-recent-posts-8" class="widget preyantechnosys_widget_recent_entries">
                                        <h3 class="widget-title">Latest News</h3>
                                        <ul class="prt-recent-post-list">
                                            <li class="prt-recent-post-list-li">
                                                <a href="/industico/blog/right/2024/04/15/the-9-best-guideline-for-the-industry-and-petrolium-and-oil-refinery/"><img width="1200" height="800" src="{% static 'industico/uploads/2022/06/04.jpg' %}" class="attachment-full size-full wp-post-image" alt="" loading="lazy" 
                                                    sizes="(max-width: 1200px) 100vw, 1200px" data-id="3991" /></a>
                                                <div class="post-detail"><span class="post-date"><i class="kw_industico flaticon-calendar"></i>7 June, 2022</span><a href="/industico/blog/right/2024/04/15/the-9-best-guideline-for-the-industry-and-petrolium-and-oil-refinery/">The 9 Best Guideline For The industry and Petrolium and Oil Refinery</a></div>
                                            </li>
                                            <li class="prt-recent-post-list-li">
                                                <a href="/industico/blog/left/2024/04/16/why-is-the-topic-of-new-mobility-retail-important-now/"><img width="1200" height="800" src="{% static 'industico/uploads/2022/05/05.jpg' %}" class="attachment-full size-full wp-post-image" alt="" loading="lazy" 
                                                    sizes="(max-width: 1200px) 100vw, 1200px" data-id="3976" /></a>
                                                <div class="post-detail"><span class="post-date"><i class="kw_industico flaticon-calendar"></i>20 May, 2022</span><a href="/industico/blog/left/2024/04/16/why-is-the-topic-of-new-mobility-retail-important-now/">Why is the topic of new mobility retail important now?</a></div>
                                            </li>
                                        </ul>
                                    </aside>
                                    <aside id="enhancedtextwidget-11" class="widget widget_text enhanced-text-widget">
                                        <div class="textwidget widget-text"><iframe src="https://maps.google.com/maps?q=London%20Eye%2C%20London%2C%20United%20Kingdom&amp;t=m&amp;z=10&amp;output=embed&amp;iwloc=near" height="200" width="400"></iframe></div>
                                    </aside>
                                </div>
                                <!-- .widget-area -->
                                <div class="widget-area col-xs-12 col-sm-6 col-md-6 col-lg-6 first-widget-area">
                                    <aside id="enhancedtextwidget-12" class="widget widget_text enhanced-text-widget">
                                        <div class="textwidget widget-text">
                                            <div class="preyantechnosys-social-links-wrapper">
                                                <ul class="social-icons">
                                                    <li class="prt-social-facebook"><a class=" tooltip-top" target="_blank" href="https://www.facebook.com/preyantechnosys19" data-tooltip="Facebook"><span class="prt-ss">facebook</span><i class="prt-industico-icon-facebook"></i></a></li>
                                                    <li class="prt-social-twitter"><a class=" tooltip-top" target="_blank" href="https://twitter.com/PreyanTechnosys" data-tooltip="Twitter"><span class="prt-ss">twitter</span><i class="prt-industico-icon-twitter"></i></a></li>
                                                    <li class="prt-social-pinterest"><a class=" tooltip-top" target="_blank" href="https://in.pinterest.com/preyan_technosys/" data-tooltip="Pinterest"><span class="prt-ss">pinterest</span><i class="prt-industico-icon-pinterest"></i></a></li>
                                                    <li class="prt-social-linkedin"><a class=" tooltip-top" target="_blank" href="https://www.instagram.com/preyan_technosys/" data-tooltip="LinkedIn"><span class="prt-ss">linkedin</span><i class="prt-industico-icon-linkedin"></i></a></li>
                                                    <li class="prt-social-dribbble"><a class=" tooltip-top" target="_blank" href="https://dribbble.com/PreyanTechnosys" data-tooltip="Dribbble"><span class="prt-ss">dribbble</span><i class="prt-industico-icon-dribbble"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </aside>
                                    <aside id="enhancedtextwidget-13" class="widget widget_text enhanced-text-widget">
                                        <div class="textwidget widget-text">
                                            <p class="tm-flotingbar-text">Copyright <span class="tm-skin-color">© 2022 industico</span> By preyantechnosys</p>
                                        </div>
                                    </aside>
                                </div>
                                <!-- .widget-area -->
                            </div>
                            <!-- .floatingbar-widgets-inner -->
                        </div>
                        <!-- #floatingbar-widgets -->
                    </div>
                </div>
                <span class="prt-fbar-close"><span class="prt-fbar-close-icon prt-icolor-white"></span></span>
            </div>
        </div>
        <div class="prt-float-overlay"></div>
    </div>
    <!-- .preyantechnosys-fbar-inner-w -->	
</div>