{% load static mptt_tags custom_tags %}

<div id="mega-menu-wrap-preyantechnosys-main-menu" class="mega-menu-wrap">
    	<div class="mega-menu-toggle">
		<div class="mega-toggle-blocks-left"></div>
		<div class="mega-toggle-blocks-center"></div>
		<div class="mega-toggle-blocks-right">
			<div class='mega-toggle-block mega-menu-toggle-block mega-toggle-block-1' id='mega-toggle-block-1' tabindex='0'><span class='mega-toggle-label' role='button' aria-expanded='false'><span class='mega-toggle-label-closed'></span><span class='mega-toggle-label-open'></span></span></div>
		</div>
	</div>
    <ul id="mega-menu-preyantechnosys-main-menu" class="mega-menu max-mega-menu mega-menu-horizontal" data-event="hover_intent" data-effect="fade_up" data-effect-speed="200" data-effect-mobile="disabled" data-effect-speed-mobile="0" data-mobile-force-width="false" data-second-click="go" data-document-click="collapse" data-vertical-behaviour="standard" data-breakpoint="1200" data-unbind="true" data-mobile-state="collapse_all" data-hover-intent-timeout="300" data-hover-intent-interval="100">
        <li class="mega-prt-menu-border mega-menu-item mega-menu-item-type-custom mega-menu-item-object-custom mega-menu-megamenu mega-menu-item-has-children mega-align-bottom-left mega-menu-megamenu mega-menu-item-3950" id="mega-menu-item-3950">
            <a class="mega-menu-link" href="#" aria-haspopup="true" aria-expanded="false" tabindex="0">Departments<span class="mega-indicator" data-has-click-event="true"></span></a>
            <ul class="mega-sub-menu">
                <li class="mega-menu-item mega-menu-item-type-widget widget_nav_menu mega-menu-columns-2-of-4 mega-menu-item-nav_menu-3" id="mega-menu-item-nav_menu-3">
                    <h4 class="mega-block-title">Gas &amp; Oil Industry</h4>
                    <div class="menu-service-menu-container">
                        <ul id="menu-service-menu-1" class="menu">
                            <li class="menu-item menu-item-type-post_type menu-item-object-tm_service menu-item-5817"><a href="/industico/service/power-technology/">Power Technology</a></li>
                            <li class="menu-item menu-item-type-post_type menu-item-object-tm_service menu-item-5818"><a href="/industico/service/petroleum-refinery/">Awesome Employers</a></li>
                            <li class="menu-item menu-item-type-post_type menu-item-object-tm_service menu-item-5819"><a href="/industico/service/chemical-research-2/">Chemical Research</a></li>
                            <li class="menu-item menu-item-type-post_type menu-item-object-tm_service menu-item-5820"><a href="/industico/service/chemical-research/">Data Technology</a></li>
                            <li class="menu-item menu-item-type-post_type menu-item-object-tm_service menu-item-5821"><a href="/industico/service/fuel-gas-management/">Fuel &amp; Gas Management</a></li>
                            <li class="menu-item menu-item-type-post_type menu-item-object-tm_service menu-item-5822"><a href="/industico/service/awesome-employers/">Material Engineering</a></li>
                        </ul>
                    </div>
                </li>
                <li class="mega-menu-item mega-menu-item-type-widget widget_nav_menu mega-menu-columns-2-of-4 mega-menu-item-nav_menu-4" id="mega-menu-item-nav_menu-4">
                    <h4 class="mega-block-title">Our Industry Projects</h4>
                    <div class="menu-portfolio-menu-container">
                        <ul id="menu-portfolio-menu-1" class="menu">
                            <li class="menu-item menu-item-type-post_type menu-item-object-tm_portfolio menu-item-5823"><a href="/industico/portfolio/industrial-complex/">Industrial Complex</a></li>
                            <li class="menu-item menu-item-type-post_type menu-item-object-tm_portfolio menu-item-5824"><a href="/industico/portfolio/construction-architecture/">Successful Venture</a></li>
                            <li class="menu-item menu-item-type-post_type menu-item-object-tm_portfolio menu-item-5825"><a href="/industico/portfolio/oil-plant-project/">Oil Plant Project</a></li>
                            <li class="menu-item menu-item-type-post_type menu-item-object-tm_portfolio menu-item-5826"><a href="/industico/portfolio/citrus-battery/">Citrus Battery</a></li>
                            <li class="menu-item menu-item-type-post_type menu-item-object-tm_portfolio menu-item-5827"><a href="/industico/portfolio/al-zour-refinery/">Al Zour Refinery</a></li>
                            <li class="menu-item menu-item-type-post_type menu-item-object-tm_portfolio menu-item-5828"><a href="/industico/portfolio/industrial-installation/">Industrial Installation</a></li>
                        </ul>
                    </div>
                </li>
                <li class="mega-menu-item mega-menu-item-type-widget widget_custom_html mega-menu-columns-2-of-4 mega-menu-clear mega-menu-item-custom_html-2" id="mega-menu-item-custom_html-2">
                    <div class="textwidget custom-html-widget">
                        <div class="prt-mega-title">
                            <h4>
                                Oil and gas industry assets are global, complex, with a limited life cycle
                            </h4>
                            <div class="elementor-widget-container">
                                <div class="elementor-button-wrapper">
                                    <a href="/industico/contact-us/" class="elementor-button-link elementor-button elementor-size-sm">
                                    <span class="elementor-button-content-wrapper"><span class="elementor-button-text">Get Free Quote!</span></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="mega-menu-item mega-menu-item-type-widget widget_custom_html mega-menu-columns-2-of-4 mega-menu-item-custom_html-3" id="mega-menu-item-custom_html-3">
                    <div class="textwidget custom-html-widget">
                        <div class="prt-box-megamenu">
                            <div class="prt-img-mega">
                                <img src="{% static 'industico/uploads/2022/07/mega-img-01.jpg' %}" alt="mega-img">	
                            </div>
                            <div class="prt-box-iconbox">
                                <div class="prt-featured-mega-wrapper">					
                                    <img src="{% static 'industico/uploads/2022/06/left-img.png' %}" alt="left-img">		
                                </div>
                                <div class="prt-box-desc">
                                    <h4> Best Quality </h4>
                                    <p>Industico taking into account the impact to Mother Earth’s Ecological systems</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
            <span class="righticon"><i class="prt-industico-icon-angle-down"></i></span>
        </li>
<!-- Menu test from server -->

{% comment %} {% recursetree menu_items %} {% endcomment %}
        {% with menu_items='header-menu'|getMenu %}
        {% for node in menu_items %}
        {% comment %} Check if the current node or any of its children are active {% endcomment %}
        

        
        <li class='mega-menu-item mega-menu-item-type-custom mega-menu-item-object-custom 
                    {% if node.children.exists %} mega-menu-item-has-children {% endif %} mega-align-bottom-left mega-menu-flyout 
                    {% if node.id|is_active_node:request.path %} mega-current-menu-ancestor mega-current-menu-parent {% endif %}
                    mega-menu-item-{{ node.id }}' 
            id='mega-menu-item-{{ node.id }}'>
			<a class="mega-menu-link" href="#" aria-haspopup="true" aria-expanded="false" tabindex="0">{{node.title|truncatechars:20}}<span class="mega-indicator"></span></a>
			{% if node.children.exists %}
            <ul class="mega-sub-menu">
                {% for child in node.children.all %}
				<li 
                    class='mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page mega-menu-item-home 
                        mega-menu-item-{{ child.id }} {% if request.path == child.link %} mega-current-menu-item mega-current_page_item {% endif %}' 
                    id='mega-menu-item-{{ child.id }}'>
                        <a class="mega-menu-link" href="{{ child.link }}">{{ child.title }}</a>
                </li>
                {% endfor %}
			</ul>
            {% endif %}
		</li>
        {% endfor %}
        {% endwith %}
{% comment %} 
ACTIVE ANCESTOR
mega-menu-item mega-menu-item-type-custom mega-menu-item-object-custom mega-menu-item-has-children mega-align-bottom-left mega-menu-flyout mega-menu-item-3935

mega-menu-item mega-menu-item-type-custom mega-menu-item-object-custom mega-menu-item-has-children mega-align-bottom-left mega-menu-flyout mega-menu-item-3933





active child
mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page  mega-page-item-6238  mega-menu-item-6239


normal child
mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page mega-page_item mega-menu-item-6257










<li class='      mega-menu-item-{{ node.id }}' 
    id='mega-menu-item-{{ node.id }}'>
    <a class="mega-menu-link" href="#" aria-haspopup="true" aria-expanded="false" tabindex="0">{{node.title|truncatechars:20}}<span class="mega-indicator"></span></a>
    <ul class="mega-sub-menu">
        {% for child in node.children.all %}
        <li 
            class='mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page mega-menu-item-home mega-menu-item-{{ child.id }} {% if request.path == child.link %}mega-current_page_item{% endif %}' 
            id='mega-menu-item-{{ child.id }}'>
                <a class="mega-menu-link" href="{{ child.link }}">{{ child.title }}</a>
        </li>
        {% endfor %}
    </ul>
</li>
<li class="mega-menu-item mega-menu-item-type-custom mega-menu-item-object-custom mega-current-menu-ancestor mega-current-menu-parent mega-menu-item-has-children mega-align-bottom-left mega-menu-flyout mega-menu-item-3935" id="mega-menu-item-3935">
	<a class="mega-menu-link" href="#" aria-haspopup="true" aria-expanded="false" tabindex="0">Project<span class="mega-indicator" data-has-click-event="true"></span></a>
	<ul class="mega-sub-menu">
		<li class="mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page mega-current-menu-item mega-page_item mega-page-item-6238 mega-current_page_item mega-menu-item-6239" id="mega-menu-item-6239"><a class="mega-menu-link" href="https://industico.preyantechnosys.com/2-columns-modern/">2 Columns – Modern</a></li>
		<li class="mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page mega-menu-item-6257" id="mega-menu-item-6257"><a class="mega-menu-link" href="https://industico.preyantechnosys.com/3-columns-standard/">3 Columns – Standard</a></li>
		<li class="mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page mega-menu-item-6278" id="mega-menu-item-6278"><a class="mega-menu-link" href="https://industico.preyantechnosys.com/4-columns-full-standard/">4 Columns – Full Standard</a></li>
		<li class="mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page mega-menu-item-6296" id="mega-menu-item-6296"><a class="mega-menu-link" href="https://industico.preyantechnosys.com/4-columns-full-grid/">4 Columns – Full Grid</a></li>
		<li class="mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-tm_portfolio mega-menu-item-4835" id="mega-menu-item-4835"><a class="mega-menu-link" href="https://industico.preyantechnosys.com/portfolio/oil-plant-project/">Project Details</a></li>
	</ul>
	<span class="righticon"><i class="prt-industico-icon-angle-down"></i></span>
</li>








<ul class="mega-sub-menu">
	<li class="mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page mega-menu-item-home mega-menu-item-4017" id="mega-menu-item-4017"><a class="mega-menu-link" href="/industico/">Home One</a></li>
	<li class="mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page mega-current-menu-item mega-page_item mega-page-item-475 mega-current_page_item mega-menu-item-3931" id="mega-menu-item-3931"><a class="mega-menu-link" href="/industico/home-two/">Home Two</a></li>
	<li class="mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page mega-menu-item-7925" id="mega-menu-item-7925"><a class="mega-menu-link" href="/industico/home-three/">Home Three</a></li>
</ul> 

mega-current-menu-ancestor
mega-current-menu-ancestor

{% endcomment %}




{% comment %} {% endrecursetree %} {% endcomment %}

<!-- Menu test from server end -->
        <li class="mega-menu-item mega-menu-item-type-custom mega-menu-item-object-custom  mega-current-menu-parent mega-menu-item-has-children mega-align-bottom-left mega-menu-flyout mega-menu-item-4305" id="mega-menu-item-4305">
            <a class="mega-menu-link" href="#" aria-haspopup="true" aria-expanded="false" tabindex="0">Home<span class="mega-indicator" data-has-click-event="true"></span></a>
            <ul class="mega-sub-menu">
                <li class="mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page mega-menu-item-home mega-menu-item-4017" id="mega-menu-item-4017"><a class="mega-menu-link" href="/industico/">Home One</a></li>
                <li class="mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page mega-current-menu-item mega-page_item mega-page-item-475 mega-current_page_item mega-menu-item-3931" id="mega-menu-item-3931"><a class="mega-menu-link" href="/industico/home-two/">Home Two</a></li>
                <li class="mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page mega-menu-item-7925" id="mega-menu-item-7925"><a class="mega-menu-link" href="/industico/home-three/">Home Three</a></li>
            </ul>
            <span class="righticon"><i class="prt-industico-icon-angle-down"></i></span>
        </li>
        {% comment %} <li class="mega-menu-item mega-menu-item-type-custom mega-menu-item-object-custom mega-menu-item-has-children mega-align-bottom-left mega-menu-flyout mega-menu-item-3932" id="mega-menu-item-3932">
            <a class="mega-menu-link" href="#" aria-haspopup="true" aria-expanded="false" tabindex="0">Pages<span class="mega-indicator" data-has-click-event="true"></span></a>
            <ul class="mega-sub-menu">
                <li class="mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page mega-menu-item-6710" id="mega-menu-item-6710"><a class="mega-menu-link" href="/industico/about-us-1/">About Us 1</a></li>
                <li class="mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page mega-menu-item-4007" id="mega-menu-item-4007"><a class="mega-menu-link" href="/industico/about-us-2/">About Us 2</a></li>
                <li class="mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page mega-menu-item-4009" id="mega-menu-item-4009"><a class="mega-menu-link" href="/industico/services-1/">Services 1</a></li>
                <li class="mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page mega-menu-item-4010" id="mega-menu-item-4010"><a class="mega-menu-link" href="/industico/services-2/">Services 2</a></li>
                <li class="mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page mega-menu-item-4837" id="mega-menu-item-4837"><a class="mega-menu-link" href="/industico/our-team/">Our Team</a></li>
                <li class="mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-tm_team_member mega-menu-item-4795" id="mega-menu-item-4795"><a class="mega-menu-link" href="/industico/team-member/bennett-crosby-2/">Team Details</a></li>
                <li class="mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page mega-menu-item-4796" id="mega-menu-item-4796"><a class="mega-menu-link" href="/industico/faq/">FAQ</a></li>
                <li class="mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-tm_service mega-menu-item-6446" id="mega-menu-item-6446"><a class="mega-menu-link" href="/industico/service/petroleum-refinery/">Service Left Sidebar</a></li>
                <li class="mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-tm_service mega-menu-item-6445" id="mega-menu-item-6445"><a class="mega-menu-link" href="/industico/service/chemical-research-2/">Service Right Sidebar</a></li>
            </ul>
            <span class="righticon"><i class="prt-industico-icon-angle-down"></i></span>
		<li class='mega-menu-item mega-menu-item-type-custom mega-menu-item-object-custom mega-menu-item-has-children mega-align-bottom-left mega-menu-flyout mega-menu-item-3932' id='mega-menu-item-3932'>
			<a class="mega-menu-link" href="#" aria-haspopup="true" aria-expanded="false" tabindex="0">Pages<span class="mega-indicator"></span></a>
			<ul class="mega-sub-menu">
				<li class='mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page mega-menu-item-6710' id='mega-menu-item-6710'><a class="mega-menu-link" href="https://industico.preyantechnosys.com/about-us-1/">About Us 1</a></li>
				<li class='mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page mega-menu-item-4007' id='mega-menu-item-4007'><a class="mega-menu-link" href="https://industico.preyantechnosys.com/about-us-2/">About Us 2</a></li>
				<li class='mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page mega-menu-item-4009' id='mega-menu-item-4009'><a class="mega-menu-link" href="https://industico.preyantechnosys.com/services-1/">Services 1</a></li>
				<li class='mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page mega-menu-item-4010' id='mega-menu-item-4010'><a class="mega-menu-link" href="https://industico.preyantechnosys.com/services-2/">Services 2</a></li>
				<li class='mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page mega-menu-item-4837' id='mega-menu-item-4837'><a class="mega-menu-link" href="https://industico.preyantechnosys.com/our-team/">Our Team</a></li>
				<li class='mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-tm_team_member mega-menu-item-4795' id='mega-menu-item-4795'><a class="mega-menu-link" href="https://industico.preyantechnosys.com/team-member/bennett-crosby-2/">Team Details</a></li>
				<li class='mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page mega-menu-item-4796' id='mega-menu-item-4796'><a class="mega-menu-link" href="https://industico.preyantechnosys.com/faq/">FAQ</a></li>
				<li class='mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-tm_service mega-menu-item-6446' id='mega-menu-item-6446'><a class="mega-menu-link" href="https://industico.preyantechnosys.com/service/petroleum-refinery/">Service Left Sidebar</a></li>
				<li class='mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-tm_service mega-menu-item-6445' id='mega-menu-item-6445'><a class="mega-menu-link" href="https://industico.preyantechnosys.com/service/chemical-research-2/">Service Right Sidebar</a></li>
			</ul>
		</li>
		<li class='mega-menu-item mega-menu-item-type-custom mega-menu-item-object-custom mega-menu-item-has-children mega-align-bottom-left mega-menu-flyout mega-menu-item-3933' id='mega-menu-item-3933'>
			<a class="mega-menu-link" href="#" aria-haspopup="true" aria-expanded="false" tabindex="0">services<span class="mega-indicator"></span></a>
			<ul class="mega-sub-menu">
				<li class='mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-tm_service mega-menu-item-4860' id='mega-menu-item-4860'><a class="mega-menu-link" href="https://industico.preyantechnosys.com/service/power-technology/">Power Technology</a></li>
				<li class='mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-tm_service mega-menu-item-4861' id='mega-menu-item-4861'><a class="mega-menu-link" href="https://industico.preyantechnosys.com/service/petroleum-refinery/">Awesome Employers</a></li>
				<li class='mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-tm_service mega-menu-item-4862' id='mega-menu-item-4862'><a class="mega-menu-link" href="https://industico.preyantechnosys.com/service/chemical-research-2/">Chemical Research</a></li>
				<li class='mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-tm_service mega-menu-item-4863' id='mega-menu-item-4863'><a class="mega-menu-link" href="https://industico.preyantechnosys.com/service/chemical-research/">Data Technology</a></li>
				<li class='mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-tm_service mega-menu-item-4864' id='mega-menu-item-4864'><a class="mega-menu-link" href="https://industico.preyantechnosys.com/service/fuel-gas-management/">Fuel &#038; Gas Management</a></li>
				<li class='mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-tm_service mega-menu-item-4865' id='mega-menu-item-4865'><a class="mega-menu-link" href="https://industico.preyantechnosys.com/service/awesome-employers/">Material Engineering</a></li>
			</ul>
		</li>
		<li class='mega-menu-item mega-menu-item-type-custom mega-menu-item-object-custom mega-menu-item-has-children mega-align-bottom-left mega-menu-flyout mega-menu-item-3935' id='mega-menu-item-3935'>
			<a class="mega-menu-link" href="#" aria-haspopup="true" aria-expanded="false" tabindex="0">Project<span class="mega-indicator"></span></a>
			<ul class="mega-sub-menu">
				<li class='mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page mega-menu-item-6239' id='mega-menu-item-6239'><a class="mega-menu-link" href="https://industico.preyantechnosys.com/2-columns-modern/">2 Columns – Modern</a></li>
				<li class='mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page mega-menu-item-6257' id='mega-menu-item-6257'><a class="mega-menu-link" href="https://industico.preyantechnosys.com/3-columns-standard/">3 Columns – Standard</a></li>
				<li class='mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page mega-menu-item-6278' id='mega-menu-item-6278'><a class="mega-menu-link" href="https://industico.preyantechnosys.com/4-columns-full-standard/">4 Columns – Full Standard</a></li>
				<li class='mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page mega-menu-item-6296' id='mega-menu-item-6296'><a class="mega-menu-link" href="https://industico.preyantechnosys.com/4-columns-full-grid/">4 Columns – Full Grid</a></li>
				<li class='mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-tm_portfolio mega-menu-item-4835' id='mega-menu-item-4835'><a class="mega-menu-link" href="https://industico.preyantechnosys.com/portfolio/oil-plant-project/">Project Details</a></li>
			</ul>
		</li>
        {% endcomment %}
		<li class='mega-menu-item mega-menu-item-type-custom mega-menu-item-object-custom mega-menu-item-has-children mega-align-bottom-left mega-menu-flyout mega-menu-item-3936' id='mega-menu-item-3936'>
			<a class="mega-menu-link" href="#" aria-haspopup="true" aria-expanded="false" tabindex="0">Blog<span class="mega-indicator"></span></a>
			<ul class="mega-sub-menu">
				<li class='mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page mega-current-menu-item mega-page_item mega-page-item-3875 mega-current_page_item mega-current_page_parent mega-menu-item-4354' id='mega-menu-item-4354'><a class="mega-menu-link" href="https://industico.preyantechnosys.com/blog/">Blog Classic</a></li>
				<li class='mega-menu-item mega-menu-item-type-custom mega-menu-item-object-custom mega-menu-item-has-children mega-menu-item-7288' id='mega-menu-item-7288'>
					<a class="mega-menu-link" href="#" aria-haspopup="true" aria-expanded="false">Blog Grid<span class="mega-indicator"></span></a>
					<ul class="mega-sub-menu">
						<li class='mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page mega-menu-item-7248' id='mega-menu-item-7248'><a class="mega-menu-link" href="https://industico.preyantechnosys.com/blog-grid-2/">2 Columns</a></li>
						<li class='mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page mega-menu-item-7260' id='mega-menu-item-7260'><a class="mega-menu-link" href="https://industico.preyantechnosys.com/blog-grid-2-column-left-sidebar/">2 Column : Left Sidebar</a></li>
						<li class='mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page mega-menu-item-7270' id='mega-menu-item-7270'><a class="mega-menu-link" href="https://industico.preyantechnosys.com/blog-grid-2-column-right-sidebar/">2 Column : Right Sidebar</a></li>
						<li class='mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page mega-menu-item-7289' id='mega-menu-item-7289'><a class="mega-menu-link" href="https://industico.preyantechnosys.com/blog-grid/">3 Columns</a></li>
						<li class='mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page mega-menu-item-7291' id='mega-menu-item-7291'><a class="mega-menu-link" href="https://industico.preyantechnosys.com/blog-grid-4-column-full-width/">4 Column : Full Width</a></li>
					</ul>
				</li>
				<li class='mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-post mega-menu-item-4880' id='mega-menu-item-4880'><a class="mega-menu-link" href="https://industico.preyantechnosys.com/blog/2022/05/19/risus-commodo-viverra-maecenas-accumsan-lacus-vel-facilisis-5/">Blog Single View</a></li>
				<li class='mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-post mega-menu-item-6436' id='mega-menu-item-6436'><a class="mega-menu-link" href="https://industico.preyantechnosys.com/blog/2022/05/20/risus-commodo-viverra-maecenas-accumsan-lacus-vel-facilisis-4/">Blog Left Sidebar</a></li>
				<li class='mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-post mega-menu-item-4879' id='mega-menu-item-4879'><a class="mega-menu-link" href="https://industico.preyantechnosys.com/blog/2022/06/07/software-may-be-best-bet-to-conquer-final-mile/">Blog Right Sidebar</a></li>
			</ul>
		</li>
		<li class='mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page mega-align-bottom-left mega-menu-flyout mega-menu-item-4008' id='mega-menu-item-4008'><a class="mega-menu-link" href="https://industico.preyantechnosys.com/contact-us/" tabindex="0">Contact Us</a></li>
	</ul>
</div>

{% comment %} 




	<ul id="mega-menu-preyantechnosys-main-menu" class="mega-menu max-mega-menu mega-menu-horizontal mega-no-js" data-event="hover_intent" data-effect="fade_up" data-effect-speed="200" data-effect-mobile="disabled" data-effect-speed-mobile="0" data-mobile-force-width="false" data-second-click="go" data-document-click="collapse" data-vertical-behaviour="standard" data-breakpoint="1200" data-unbind="true" data-mobile-state="collapse_all" data-hover-intent-timeout="300" data-hover-intent-interval="100">
		<li class='mega-prt-menu-border mega-menu-item mega-menu-item-type-custom mega-menu-item-object-custom mega-menu-megamenu mega-menu-item-has-children mega-align-bottom-left mega-menu-megamenu mega-menu-item-3950' id='mega-menu-item-3950'>
			<a class="mega-menu-link" href="#" aria-haspopup="true" aria-expanded="false" tabindex="0">Departments<span class="mega-indicator"></span></a>
			<ul class="mega-sub-menu">
				<li class='mega-menu-item mega-menu-item-type-widget widget_nav_menu mega-menu-columns-2-of-4 mega-menu-item-nav_menu-3' id='mega-menu-item-nav_menu-3'>
					<h4 class="mega-block-title">Gas &#038; Oil Industry</h4>
					<div class="menu-service-menu-container">
						<ul id="menu-service-menu-1" class="menu">
							<li class="menu-item menu-item-type-post_type menu-item-object-tm_service menu-item-5817"><a href="https://industico.preyantechnosys.com/service/power-technology/">Power Technology</a></li>
							<li class="menu-item menu-item-type-post_type menu-item-object-tm_service menu-item-5818"><a href="https://industico.preyantechnosys.com/service/petroleum-refinery/">Awesome Employers</a></li>
							<li class="menu-item menu-item-type-post_type menu-item-object-tm_service menu-item-5819"><a href="https://industico.preyantechnosys.com/service/chemical-research-2/">Chemical Research</a></li>
							<li class="menu-item menu-item-type-post_type menu-item-object-tm_service menu-item-5820"><a href="https://industico.preyantechnosys.com/service/chemical-research/">Data Technology</a></li>
							<li class="menu-item menu-item-type-post_type menu-item-object-tm_service menu-item-5821"><a href="https://industico.preyantechnosys.com/service/fuel-gas-management/">Fuel &#038; Gas Management</a></li>
							<li class="menu-item menu-item-type-post_type menu-item-object-tm_service menu-item-5822"><a href="https://industico.preyantechnosys.com/service/awesome-employers/">Material Engineering</a></li>
						</ul>
					</div>
				</li>
				<li class='mega-menu-item mega-menu-item-type-widget widget_nav_menu mega-menu-columns-2-of-4 mega-menu-item-nav_menu-4' id='mega-menu-item-nav_menu-4'>
					<h4 class="mega-block-title">Our Industry Projects</h4>
					<div class="menu-portfolio-menu-container">
						<ul id="menu-portfolio-menu-1" class="menu">
							<li class="menu-item menu-item-type-post_type menu-item-object-tm_portfolio menu-item-5823"><a href="https://industico.preyantechnosys.com/portfolio/industrial-complex/">Industrial Complex</a></li>
							<li class="menu-item menu-item-type-post_type menu-item-object-tm_portfolio menu-item-5824"><a href="https://industico.preyantechnosys.com/portfolio/construction-architecture/">Successful Venture</a></li>
							<li class="menu-item menu-item-type-post_type menu-item-object-tm_portfolio menu-item-5825"><a href="https://industico.preyantechnosys.com/portfolio/oil-plant-project/">Oil Plant Project</a></li>
							<li class="menu-item menu-item-type-post_type menu-item-object-tm_portfolio menu-item-5826"><a href="https://industico.preyantechnosys.com/portfolio/citrus-battery/">Citrus Battery</a></li>
							<li class="menu-item menu-item-type-post_type menu-item-object-tm_portfolio menu-item-5827"><a href="https://industico.preyantechnosys.com/portfolio/al-zour-refinery/">Al Zour Refinery</a></li>
							<li class="menu-item menu-item-type-post_type menu-item-object-tm_portfolio menu-item-5828"><a href="https://industico.preyantechnosys.com/portfolio/industrial-installation/">Industrial Installation</a></li>
						</ul>
					</div>
				</li>
				<li class='mega-menu-item mega-menu-item-type-widget widget_custom_html mega-menu-columns-2-of-4 mega-menu-clear mega-menu-item-custom_html-2' id='mega-menu-item-custom_html-2'>
					<div class="textwidget custom-html-widget">
						<div class="prt-mega-title">
							<h4>
								Oil and gas industry assets are global, complex, with a limited life cycle
							</h4>
							<div class="elementor-widget-container">
								<div class="elementor-button-wrapper">
									<a href="https://industico.preyantechnosys.com/contact-us/" class="elementor-button-link elementor-button elementor-size-sm">
									<span class="elementor-button-content-wrapper"><span class="elementor-button-text">Get Free Quote!</span></span></a>
								</div>
							</div>
						</div>
					</div>
				</li>
				<li class='mega-menu-item mega-menu-item-type-widget widget_custom_html mega-menu-columns-2-of-4 mega-menu-item-custom_html-3' id='mega-menu-item-custom_html-3'>
					<div class="textwidget custom-html-widget">
						<div class="prt-box-megamenu">
							<div class="prt-img-mega">
								<img src="https://industico.preyantechnosys.com/wp-content/uploads/2022/07/mega-img-01.jpg" alt="mega-img">	
							</div>
							<div class="prt-box-iconbox">
								<div class="prt-featured-mega-wrapper">					
									<img src="https://industico.preyantechnosys.com/wp-content/uploads/2022/06/left-img.png" alt="left-img">		
								</div>
								<div class="prt-box-desc">
									<h4> Best Quality </h4>
									<p>Industico taking into account the impact to Mother Earth’s Ecological systems</p>
								</div>
							</div>
						</div>
					</div>
				</li>
			</ul>
		</li>
		<li class='mega-menu-item mega-menu-item-type-custom mega-menu-item-object-custom mega-menu-item-has-children mega-align-bottom-left mega-menu-flyout mega-menu-item-4305' id='mega-menu-item-4305'>
			<a class="mega-menu-link" href="#" aria-haspopup="true" aria-expanded="false" tabindex="0">Home<span class="mega-indicator"></span></a>
			<ul class="mega-sub-menu">
				<li class='mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page mega-menu-item-home mega-menu-item-4017' id='mega-menu-item-4017'><a class="mega-menu-link" href="https://industico.preyantechnosys.com/">Home One</a></li>
				<li class='mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page mega-menu-item-3931' id='mega-menu-item-3931'><a class="mega-menu-link" href="https://industico.preyantechnosys.com/home-two/">Home Two</a></li>
				<li class='mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page mega-menu-item-7925' id='mega-menu-item-7925'><a class="mega-menu-link" href="https://industico.preyantechnosys.com/home-three/">Home Three</a></li>
			</ul>
		</li>
		<li class='mega-menu-item mega-menu-item-type-custom mega-menu-item-object-custom mega-menu-item-has-children mega-align-bottom-left mega-menu-flyout mega-menu-item-3932' id='mega-menu-item-3932'>
			<a class="mega-menu-link" href="#" aria-haspopup="true" aria-expanded="false" tabindex="0">Pages<span class="mega-indicator"></span></a>
			<ul class="mega-sub-menu">
				<li class='mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page mega-menu-item-6710' id='mega-menu-item-6710'><a class="mega-menu-link" href="https://industico.preyantechnosys.com/about-us-1/">About Us 1</a></li>
				<li class='mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page mega-menu-item-4007' id='mega-menu-item-4007'><a class="mega-menu-link" href="https://industico.preyantechnosys.com/about-us-2/">About Us 2</a></li>
				<li class='mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page mega-menu-item-4009' id='mega-menu-item-4009'><a class="mega-menu-link" href="https://industico.preyantechnosys.com/services-1/">Services 1</a></li>
				<li class='mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page mega-menu-item-4010' id='mega-menu-item-4010'><a class="mega-menu-link" href="https://industico.preyantechnosys.com/services-2/">Services 2</a></li>
				<li class='mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page mega-menu-item-4837' id='mega-menu-item-4837'><a class="mega-menu-link" href="https://industico.preyantechnosys.com/our-team/">Our Team</a></li>
				<li class='mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-tm_team_member mega-menu-item-4795' id='mega-menu-item-4795'><a class="mega-menu-link" href="https://industico.preyantechnosys.com/team-member/bennett-crosby-2/">Team Details</a></li>
				<li class='mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page mega-menu-item-4796' id='mega-menu-item-4796'><a class="mega-menu-link" href="https://industico.preyantechnosys.com/faq/">FAQ</a></li>
				<li class='mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-tm_service mega-menu-item-6446' id='mega-menu-item-6446'><a class="mega-menu-link" href="https://industico.preyantechnosys.com/service/petroleum-refinery/">Service Left Sidebar</a></li>
				<li class='mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-tm_service mega-menu-item-6445' id='mega-menu-item-6445'><a class="mega-menu-link" href="https://industico.preyantechnosys.com/service/chemical-research-2/">Service Right Sidebar</a></li>
			</ul>
		</li>
		<li class='mega-menu-item mega-menu-item-type-custom mega-menu-item-object-custom mega-menu-item-has-children mega-align-bottom-left mega-menu-flyout mega-menu-item-3933' id='mega-menu-item-3933'>
			<a class="mega-menu-link" href="#" aria-haspopup="true" aria-expanded="false" tabindex="0">services<span class="mega-indicator"></span></a>
			<ul class="mega-sub-menu">
				<li class='mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-tm_service mega-menu-item-4860' id='mega-menu-item-4860'><a class="mega-menu-link" href="https://industico.preyantechnosys.com/service/power-technology/">Power Technology</a></li>
				<li class='mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-tm_service mega-menu-item-4861' id='mega-menu-item-4861'><a class="mega-menu-link" href="https://industico.preyantechnosys.com/service/petroleum-refinery/">Awesome Employers</a></li>
				<li class='mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-tm_service mega-menu-item-4862' id='mega-menu-item-4862'><a class="mega-menu-link" href="https://industico.preyantechnosys.com/service/chemical-research-2/">Chemical Research</a></li>
				<li class='mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-tm_service mega-menu-item-4863' id='mega-menu-item-4863'><a class="mega-menu-link" href="https://industico.preyantechnosys.com/service/chemical-research/">Data Technology</a></li>
				<li class='mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-tm_service mega-menu-item-4864' id='mega-menu-item-4864'><a class="mega-menu-link" href="https://industico.preyantechnosys.com/service/fuel-gas-management/">Fuel &#038; Gas Management</a></li>
				<li class='mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-tm_service mega-menu-item-4865' id='mega-menu-item-4865'><a class="mega-menu-link" href="https://industico.preyantechnosys.com/service/awesome-employers/">Material Engineering</a></li>
			</ul>
		</li>
		<li class='mega-menu-item mega-menu-item-type-custom mega-menu-item-object-custom mega-menu-item-has-children mega-align-bottom-left mega-menu-flyout mega-menu-item-3935' id='mega-menu-item-3935'>
			<a class="mega-menu-link" href="#" aria-haspopup="true" aria-expanded="false" tabindex="0">Project<span class="mega-indicator"></span></a>
			<ul class="mega-sub-menu">
				<li class='mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page mega-menu-item-6239' id='mega-menu-item-6239'><a class="mega-menu-link" href="https://industico.preyantechnosys.com/2-columns-modern/">2 Columns – Modern</a></li>
				<li class='mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page mega-menu-item-6257' id='mega-menu-item-6257'><a class="mega-menu-link" href="https://industico.preyantechnosys.com/3-columns-standard/">3 Columns – Standard</a></li>
				<li class='mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page mega-menu-item-6278' id='mega-menu-item-6278'><a class="mega-menu-link" href="https://industico.preyantechnosys.com/4-columns-full-standard/">4 Columns – Full Standard</a></li>
				<li class='mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page mega-menu-item-6296' id='mega-menu-item-6296'><a class="mega-menu-link" href="https://industico.preyantechnosys.com/4-columns-full-grid/">4 Columns – Full Grid</a></li>
				<li class='mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-tm_portfolio mega-menu-item-4835' id='mega-menu-item-4835'><a class="mega-menu-link" href="https://industico.preyantechnosys.com/portfolio/oil-plant-project/">Project Details</a></li>
			</ul>
		</li>
		<li class='mega-menu-item mega-menu-item-type-custom mega-menu-item-object-custom mega-current-menu-ancestor mega-current-menu-parent mega-menu-item-has-children mega-align-bottom-left mega-menu-flyout mega-menu-item-3936' id='mega-menu-item-3936'>
			<a class="mega-menu-link" href="#" aria-haspopup="true" aria-expanded="false" tabindex="0">Blog<span class="mega-indicator"></span></a>
			<ul class="mega-sub-menu">
				<li class='mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page mega-current-menu-item mega-page_item mega-page-item-3875 mega-current_page_item mega-current_page_parent mega-menu-item-4354' id='mega-menu-item-4354'><a class="mega-menu-link" href="https://industico.preyantechnosys.com/blog/">Blog Classic</a></li>
				<li class='mega-menu-item mega-menu-item-type-custom mega-menu-item-object-custom mega-menu-item-has-children mega-menu-item-7288' id='mega-menu-item-7288'>
					<a class="mega-menu-link" href="#" aria-haspopup="true" aria-expanded="false">Blog Grid<span class="mega-indicator"></span></a>
					<ul class="mega-sub-menu">
						<li class='mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page mega-menu-item-7248' id='mega-menu-item-7248'><a class="mega-menu-link" href="https://industico.preyantechnosys.com/blog-grid-2/">2 Columns</a></li>
						<li class='mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page mega-menu-item-7260' id='mega-menu-item-7260'><a class="mega-menu-link" href="https://industico.preyantechnosys.com/blog-grid-2-column-left-sidebar/">2 Column : Left Sidebar</a></li>
						<li class='mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page mega-menu-item-7270' id='mega-menu-item-7270'><a class="mega-menu-link" href="https://industico.preyantechnosys.com/blog-grid-2-column-right-sidebar/">2 Column : Right Sidebar</a></li>
						<li class='mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page mega-menu-item-7289' id='mega-menu-item-7289'><a class="mega-menu-link" href="https://industico.preyantechnosys.com/blog-grid/">3 Columns</a></li>
						<li class='mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page mega-menu-item-7291' id='mega-menu-item-7291'><a class="mega-menu-link" href="https://industico.preyantechnosys.com/blog-grid-4-column-full-width/">4 Column : Full Width</a></li>
					</ul>
				</li>
				<li class='mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-post mega-menu-item-4880' id='mega-menu-item-4880'><a class="mega-menu-link" href="https://industico.preyantechnosys.com/blog/2022/05/19/risus-commodo-viverra-maecenas-accumsan-lacus-vel-facilisis-5/">Blog Single View</a></li>
				<li class='mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-post mega-menu-item-6436' id='mega-menu-item-6436'><a class="mega-menu-link" href="https://industico.preyantechnosys.com/blog/2022/05/20/risus-commodo-viverra-maecenas-accumsan-lacus-vel-facilisis-4/">Blog Left Sidebar</a></li>
				<li class='mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-post mega-menu-item-4879' id='mega-menu-item-4879'><a class="mega-menu-link" href="https://industico.preyantechnosys.com/blog/2022/06/07/software-may-be-best-bet-to-conquer-final-mile/">Blog Right Sidebar</a></li>
			</ul>
		</li>
		<li class='mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page mega-align-bottom-left mega-menu-flyout mega-menu-item-4008' id='mega-menu-item-4008'><a class="mega-menu-link" href="https://industico.preyantechnosys.com/contact-us/" tabindex="0">Contact Us</a></li>
	</ul>
</div>


 {% endcomment %}