<div class="ttm_floting_customsett">
    <a href="https://support.themetechmount.com/" target="_blank" class="tmtheme_fbar_icons">
        <i class="prt-industico-icon-headphones"></i>
        <span>Support</span>
    </a>
    <a href="https://themetechmount.com/" target="_blank" class="tmtheme_fbar_icons">
        <i class="prt-industico-icon-pencil"></i>
        <span>Customization</span>
    </a>
    <a href="https://1.envato.market/P09L66" target="_blank" class="tmtheme_fbar_icons">
        <i class="prt-industico-icon-shopping-cart"></i>
        <span class="buy_link">Buy<span></span></span>
    </a>
</div>	
	<script>
		var tm_breakpoint = 1200;
	</script>
	
		<script>
	var ajaxurl = 'https://industico.preyantechnosys.com/wp-admin/admin-ajax.php';	
	</script>