{% extends 'crm/accounts/accounts-base.html' %}
{% load static %}


{% block crm_content %}
<!-- list of users -->
<div class="col-xl-12">
    <div class="card">
        <div class="card-body p-0">
            <div class="table-responsive active-projects style-1">
                <div class="tbl-caption">
                    <h4 class="heading mb-0">Groups</h4>
                    <div>
                        <a class="btn btn-primary btn-sm" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample">+ Add Group</a>
                        <button type="button" class="btn btn-secondary btn-sm" data-bs-toggle="modal" data-bs-target="#exampleModal1">
                            + Invite Employee
                        </button>
                </div>
            </div>
            <div class="table-responsive">
                {% comment %} <table hx-indicator="#spinner" class="table table-bordered table-striped verticle-middle table-responsive-sm">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Permission Name</th>
                            <th>Code Name</th>
                            <th>Content Object</th>
                            <th>Content App</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody> {% endcomment %}
                        {% include 'crm/accounts/permissions/partials/loop-list.html' %}
                  {% comment %}  </tbody>
                 </table> {% endcomment %}
            </div>
        </div>
    </div>
</div>
<style>
    .htmx-indicator{
        opacity:0;
        transition: opacity 500ms ease-in;
    }
    .htmx-request .htmx-indicator{
        opacity:1
    }
    .htmx-request.htmx-indicator{
        opacity:1
    }
</style>
{% endblock crm_content %}

{% block offcanvas %}
{% include 'crm/accounts/groups/partials/add-group-offcanvas.html' %}          
{% include 'crm/accounts/groups/partials/add-employee-to-group-offcanvas.html' %}          
{% endblock offcanvas %}