{% extends 'crm/accounts/accounts-base.html' %}
{% load static %}


{% block crm_content %}
<!-- list of users -->
<div class="col-xl-12">
    <div class="card">
        <div class="card-body p-0">
            <div class="table-responsive active-projects style-1">
                <div class="tbl-caption">
                    <h4 class="heading mb-0">Groups</h4>
                    <div>
                        <a class="btn btn-primary btn-sm" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample">+ Add Group</a>
                        <button type="button" class="btn btn-secondary btn-sm" data-bs-toggle="modal" data-bs-target="#exampleModal1">
                            + Invite Employee
                        </button>
                </div>
            </div>
            <table id="empoloyees-tblwrapper" class="table">
                    <thead>
                        <tr>
                            <th>Group ID</th>
                            <th>Group Name</th>
                            <th>User Count</th>
                            <th>Permissions Count</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for group in permissions %}
                        <tr>
                            <td><span>{{ group.id }}</span></td>
                            <td><h6>{{ group.name }}</h6></td>
                            <td>
                            {% if group.user_count > 0 %}
                                <span class="badge badge-success" data-toggle="tooltip" data-html="true" 
                                title="{% for user in group.user_set.all %}{{ user.name }}{% endfor %}"
                                ><i class="fa fa-users" aria-hidden="true"></i> &nbsp;{{ group.user_count }}</span>
                            {% else %}
                            <span class="badge badge-danger" data-toggle="tooltip"><i class="fa fa-users" aria-hidden="true"></i> &nbsp;{{ group.user_count }}</span>
                                {% endif %}
                            </td>
                            <td>
                            {% if group.perms_count > 0 %}
                                <span class="badge badge-success" data-html="true" 
                                title="{% for user in group.permissions.all %}{{ user.name }}||{% endfor %}"
                                ><i class="fa fa-lock" aria-hidden="true"></i> &nbsp;{{ group.perms_count }}</span>
                            {% else %}
                            <span class="badge badge-danger"><i class="fa fa-lock" aria-hidden="true"></i> &nbsp;{{ group.perms_count }}</span>
                                {% endif %}
                            </td>
                            <td>
                                <span class="badge badge-success light border-0">Active</span>
                            </td>
                        </tr>                        
                        {% endfor %}
                    </tbody>
                </table>
                    <div class="dataTables_paginate paging_simple_numbers" 
                    id="example_paginate">
                    index is: {{ permissions.paginator }}
                    <nav>
                        <ul class="pagination">
                            
                            <li class="page-item page-indicator {% if not permissions.has_previous %}disabled {% endif %}" >
                                <a class="page-link" href="?page={{ page|add:'-1' }}">
                                    <i class="la la-angle-left"></i></a>
                                </li>
                            {% for page in num_pages %}
                            <li class="page-item {% if page == permissions.number %} active {% endif %}"><a class="page-link" href="?page={{ page }}">{{ page }}</a>
                            </li>
                            {% endfor %}

                            <li class="page-item"><a class="page-link" href="?page={{ page|add:'1' }}">{{ page|add:"1" }}</a></li>
                            <li class="page-item"><a class="page-link" href="?page={{ page|add:'2' }}">{{ page|add:"2" }}</a></li>
                            <li class="page-item"><a class="page-link" href="javascript:void(0)">4</a></li>
                            {% if permissions.has_next %}
                            <li class="page-item page-indicator">
                                <a class="page-link" href="javascript:void(0)">
                                    <i class="la la-angle-right"></i></a>
                                </li>
                            {% endif %}
                        </ul>
                    </nav>
                    </div>
                </div>
        </div>
    </div>
</div>
{% endblock crm_content %}

{% block offcanvas %}
{% include 'crm/accounts/groups/partials/add-group-offcanvas.html' %}          
{% include 'crm/accounts/groups/partials/add-employee-to-group-offcanvas.html' %}          
{% endblock offcanvas %}