.elementor-2622 .elementor-element.elementor-element-5028fe5>.elementor-container {
    max-width: 1430px;
}

.elementor-2622 .elementor-element.elementor-element-5028fe5>.elementor-background-overlay {
    background-image: url("../../2022/05/row-01.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 1;
}

.elementor-2622 .elementor-element.elementor-element-5028fe5 {
    padding: 100px 0px 85px 0px;
}

.elementor-2622 .elementor-element.elementor-element-7981dff>.elementor-element-populated {
    padding: 0px 0px 0px 0px;
}

.elementor-2622 .elementor-element.elementor-element-ac2f22b .prt-heading-subheading {
    text-align: center;
}

.elementor-2622 .elementor-element.elementor-element-07293bb>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
}

.elementor-2622 .elementor-element.elementor-element-47ddc16 .prt-element-content-desctxt {
    line-height: 32px;
}

.elementor-2622 .elementor-element.elementor-element-dfe98ac:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-2622 .elementor-element.elementor-element-dfe98ac>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-image: url("../../2022/05/contact-img.jpg");
    background-position: center center;
    background-repeat: no-repeat;
}

.elementor-2622 .elementor-element.elementor-element-dfe98ac>.elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: -4px 0px 16px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 11px 15px 14px 15px;
}

.elementor-2622 .elementor-element.elementor-element-dfe98ac>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-2622 .elementor-element.elementor-element-644d118 .elementor-icon-wrapper {
    text-align: center;
}

.elementor-2622 .elementor-element.elementor-element-644d118.elementor-view-stacked .elementor-icon {
    background-color: #FF172D;
    color: #FFFFFF;
}

.elementor-2622 .elementor-element.elementor-element-644d118.elementor-view-framed .elementor-icon,
.elementor-2622 .elementor-element.elementor-element-644d118.elementor-view-default .elementor-icon {
    color: #FF172D;
    border-color: #FF172D;
}

.elementor-2622 .elementor-element.elementor-element-644d118.elementor-view-framed .elementor-icon,
.elementor-2622 .elementor-element.elementor-element-644d118.elementor-view-default .elementor-icon svg {
    fill: #FF172D;
}

.elementor-2622 .elementor-element.elementor-element-644d118.elementor-view-framed .elementor-icon {
    background-color: #FFFFFF;
}

.elementor-2622 .elementor-element.elementor-element-644d118.elementor-view-stacked .elementor-icon svg {
    fill: #FFFFFF;
}

.elementor-2622 .elementor-element.elementor-element-644d118 .elementor-icon {
    font-size: 37px;
    padding: 19px;
}

.elementor-2622 .elementor-element.elementor-element-644d118 .elementor-icon i,
.elementor-2622 .elementor-element.elementor-element-644d118 .elementor-icon svg {
    transform: rotate(0deg);
}

.elementor-2622 .elementor-element.elementor-element-644d118>.elementor-widget-container {
    padding: 14px 0px 0px 0px;
}

.elementor-2622 .elementor-element.elementor-element-ff698fd {
    text-align: center;
}

.elementor-2622 .elementor-element.elementor-element-ff698fd .elementor-heading-title {
    font-size: 22px;
    font-weight: 600;
}

.elementor-2622 .elementor-element.elementor-element-ff698fd>.elementor-widget-container {
    margin: -15px 0px 0px 0px;
}

.elementor-2622 .elementor-element.elementor-element-21acf40 {
    color: #FFFFFF;
}

.elementor-2622 .elementor-element.elementor-element-21acf40>.elementor-widget-container {
    margin: -10px 0px -14px 0px;
}

.elementor-2622 .elementor-element.elementor-element-daf3244 .elementor-button {
    fill: #FFFFFF;
    color: #FFFFFF;
}

.elementor-2622 .elementor-element.elementor-element-daf3244>.elementor-widget-container {
    margin: -3px 0px 0px 0px;
}

.elementor-2622 .elementor-element.elementor-element-6c50fef {
    padding: 100px 0px 100px 0px;
}

.elementor-2622 .elementor-element.elementor-element-add5825 .prt-heading-subheading {
    text-align: left;
}

.elementor-2622 .elementor-element.elementor-element-22aaad2 {
    line-height: 30px;
}

.elementor-2622 .elementor-element.elementor-element-22aaad2>.elementor-widget-container {
    margin: -13px 0px 0px 0px;
}

.elementor-2622 .elementor-element.elementor-element-f7fc8dc .elementor-heading-title {
    font-size: 22px;
    font-weight: 600;
}

.elementor-2622 .elementor-element.elementor-element-f7fc8dc>.elementor-widget-container {
    margin: -9px 0px 0px 0px;
    padding: 0px 0px 28px 0px;
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    border-color: #E7E7E7;
}

.elementor-2622 .elementor-element.elementor-element-6541508 {
    margin-top: -2px;
    margin-bottom: 0px;
    padding: 0px 0px 1px 0px;
}

.elementor-2622 .elementor-element.elementor-element-f64a991>.elementor-element-populated {
    padding: 0px 0px 0px 0px;
}

.elementor-2622 .elementor-element.elementor-element-4bd477b>.elementor-element-populated {
    padding: 0px 0px 0px 0px;
}

.elementor-2622 .elementor-element.elementor-element-d6a0e70 .elementor-icon-wrapper {
    text-align: left;
}

.elementor-2622 .elementor-element.elementor-element-d6a0e70.elementor-view-stacked .elementor-icon {
    background-color: #FF172D;
}

.elementor-2622 .elementor-element.elementor-element-d6a0e70.elementor-view-framed .elementor-icon,
.elementor-2622 .elementor-element.elementor-element-d6a0e70.elementor-view-default .elementor-icon {
    color: #FF172D;
    border-color: #FF172D;
}

.elementor-2622 .elementor-element.elementor-element-d6a0e70.elementor-view-framed .elementor-icon,
.elementor-2622 .elementor-element.elementor-element-d6a0e70.elementor-view-default .elementor-icon svg {
    fill: #FF172D;
}

.elementor-2622 .elementor-element.elementor-element-d6a0e70 .elementor-icon {
    font-size: 20px;
}

.elementor-2622 .elementor-element.elementor-element-d6a0e70 .elementor-icon i,
.elementor-2622 .elementor-element.elementor-element-d6a0e70 .elementor-icon svg {
    transform: rotate(0deg);
}

.elementor-2622 .elementor-element.elementor-element-d6a0e70>.elementor-widget-container {
    padding: 0px 15px 0px 0px;
}

.elementor-2622 .elementor-element.elementor-element-d6a0e70 {
    width: auto;
    max-width: auto;
}

.elementor-2622 .elementor-element.elementor-element-b9a7560 {
    width: auto;
    max-width: auto;
}

.elementor-2622 .elementor-element.elementor-element-034396b {
    border-style: solid;
    border-width: 1px 0px 1px 0px;
    border-color: #E7E7E7;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: 0px;
    margin-bottom: 40px;
    padding: 20px 0px 1px 0px;
}

.elementor-2622 .elementor-element.elementor-element-034396b>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-2622 .elementor-element.elementor-element-2a01dfd>.elementor-element-populated {
    padding: 0px 0px 0px 0px;
}

.elementor-2622 .elementor-element.elementor-element-c953e25>.elementor-element-populated {
    padding: 0px 0px 0px 0px;
}

.elementor-2622 .elementor-element.elementor-element-d49f2da .elementor-icon-wrapper {
    text-align: left;
}

.elementor-2622 .elementor-element.elementor-element-d49f2da.elementor-view-stacked .elementor-icon {
    background-color: #FF172D;
}

.elementor-2622 .elementor-element.elementor-element-d49f2da.elementor-view-framed .elementor-icon,
.elementor-2622 .elementor-element.elementor-element-d49f2da.elementor-view-default .elementor-icon {
    color: #FF172D;
    border-color: #FF172D;
}

.elementor-2622 .elementor-element.elementor-element-d49f2da.elementor-view-framed .elementor-icon,
.elementor-2622 .elementor-element.elementor-element-d49f2da.elementor-view-default .elementor-icon svg {
    fill: #FF172D;
}

.elementor-2622 .elementor-element.elementor-element-d49f2da .elementor-icon {
    font-size: 20px;
}

.elementor-2622 .elementor-element.elementor-element-d49f2da .elementor-icon i,
.elementor-2622 .elementor-element.elementor-element-d49f2da .elementor-icon svg {
    transform: rotate(0deg);
}

.elementor-2622 .elementor-element.elementor-element-d49f2da>.elementor-widget-container {
    padding: 0px 15px 0px 0px;
}

.elementor-2622 .elementor-element.elementor-element-d49f2da {
    width: auto;
    max-width: auto;
}

.elementor-2622 .elementor-element.elementor-element-15a4078 {
    width: auto;
    max-width: auto;
}

.elementor-2622 .elementor-element.elementor-element-0813b3d iframe {
    height: 243px;
}

.elementor-2622 .elementor-element.elementor-element-b3bab9f>.elementor-element-populated {
    box-shadow: 0px 0px 12px 0px rgba(32, 46.00000000000001, 59.99999999999999, 0.06);
    margin: 5px 0px 0px 50px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 50px;
    padding: 45px 40px 0px 40px;
}

.elementor-2622 .elementor-element.elementor-element-3066039 .elementor-heading-title {
    font-size: 28px;
    font-weight: 600;
}

.elementor-2622 .elementor-element.elementor-element-835ce40>.elementor-widget-container {
    margin: -7px 0px 0px 0px;
}

.elementor-2622 .elementor-element.elementor-element-23c66f4 .prt-stretched-div.prt-stretched-right {
    margin: 0px 0px 0px 0px;
}

.elementor-2622 .elementor-element.elementor-element-23c66f4:not(.elementor-motion-effects-element-type-background),
.elementor-2622 .elementor-element.elementor-element-23c66f4>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-image: url("../../2022/06/row-10.jpg");
    background-position: center center;
    background-repeat: no-repeat;
}

.elementor-2622 .elementor-element.elementor-element-23c66f4 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: 0px;
    margin-bottom: 100px;
    padding: 0px 0px 0px 0px;
}

.elementor-2622 .elementor-element.elementor-element-23c66f4>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-2622 .elementor-element.elementor-element-448fac9>.elementor-element-populated {
    padding: 120px 0px 0px 0px;
}

.elementor-2622 .elementor-element.elementor-element-c51e2ff .prt-heading-subheading {
    text-align: left;
}

.elementor-2622 .elementor-element.elementor-element-c51e2ff>.elementor-widget-container {
    padding: 0px 10px 0px 0px;
}

.elementor-2622 .elementor-element.elementor-element-5191c39>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 90px 0px 90px 0px;
}

.elementor-2622 .elementor-element.elementor-element-783676e {
    text-align: left;
}

.elementor-2622 .elementor-element.elementor-element-783676e>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 9px;
    border-style: solid;
    border-width: 0px 0px 0px 5px;
    border-color: #FF172D;
}

@media(max-width:1024px) {
    .elementor-2622 .elementor-element.elementor-element-5028fe5 {
        padding: 50px 0px 30px 0px;
    }

    .elementor-2622 .elementor-element.elementor-element-07293bb>.elementor-element-populated {
        margin: 15px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }

    .elementor-2622 .elementor-element.elementor-element-dfe98ac:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
    .elementor-2622 .elementor-element.elementor-element-dfe98ac>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
        background-size: cover;
    }

    .elementor-2622 .elementor-element.elementor-element-dfe98ac>.elementor-element-populated {
        margin: 30px 15px 14px 15px;
        --e-column-margin-right: 15px;
        --e-column-margin-left: 15px;
        padding: 10px 0px 0px 0px;
    }

    .elementor-2622 .elementor-element.elementor-element-644d118>.elementor-widget-container {
        padding: 15px 0px 0px 0px;
    }

    .elementor-2622 .elementor-element.elementor-element-daf3244>.elementor-widget-container {
        margin: -8px 0px 0px 0px;
    }

    .elementor-2622 .elementor-element.elementor-element-6c50fef {
        padding: 50px 0px 50px 0px;
    }

    .elementor-2622 .elementor-element.elementor-element-b9a7560>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
    }

    .elementor-2622 .elementor-element.elementor-element-15a4078>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
    }

    .elementor-2622 .elementor-element.elementor-element-b3bab9f>.elementor-element-populated {
        margin: 20px 15px 0px 15px;
        --e-column-margin-right: 15px;
        --e-column-margin-left: 15px;
        padding: 20px 0px 20px 0px;
    }

    .elementor-2622 .elementor-element.elementor-element-23c66f4:not(.elementor-motion-effects-element-type-background),
    .elementor-2622 .elementor-element.elementor-element-23c66f4>.elementor-motion-effects-container>.elementor-motion-effects-layer {
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .elementor-2622 .elementor-element.elementor-element-23c66f4 {
        padding: 54px 0px 50px 0px;
    }

    .elementor-2622 .elementor-element.elementor-element-448fac9>.elementor-element-populated {
        padding: 0px 0px 0px 0px;
    }

    .elementor-2622 .elementor-element.elementor-element-5191c39>.elementor-element-populated {
        margin: 0px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
        padding: 0px 0px 0px 0px;
    }

    .elementor-2622 .elementor-element.elementor-element-783676e {
        text-align: left;
    }

    .elementor-2622 .elementor-element.elementor-element-783676e>.elementor-widget-container {
        padding: 0px 0px 0px 0px;
        border-width: 0px 0px 0px 0px;
    }
}

@media(max-width:767px) {
    .elementor-2622 .elementor-element.elementor-element-e065479 {
        margin-top: 0px;
        margin-bottom: 0px;
        padding: 0px 0px 0px 0px;
    }

    .elementor-2622 .elementor-element.elementor-element-bb79e07>.elementor-element-populated {
        padding: 28px 0px 28px 0px;
    }

    .elementor-2622 .elementor-element.elementor-element-dfe98ac>.elementor-element-populated {
        padding: 10px 0px 22px 0px;
    }

    .elementor-2622 .elementor-element.elementor-element-b9a7560>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
    }

    .elementor-2622 .elementor-element.elementor-element-ca23a5c {
        width: 100%;
        max-width: 100%;
    }

    .elementor-2622 .elementor-element.elementor-element-d49f2da {
        width: 30px;
        max-width: 30px;
    }

    .elementor-2622 .elementor-element.elementor-element-15a4078>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
    }

    .elementor-2622 .elementor-element.elementor-element-5191c39>.elementor-element-populated {
        padding: 18px 0px 0px 0px;
    }
}

@media(min-width:768px) {
    .elementor-2622 .elementor-element.elementor-element-256fb1c {
        width: 48.643%;
    }

    .elementor-2622 .elementor-element.elementor-element-b3bab9f {
        width: 51.357%;
    }

    .elementor-2622 .elementor-element.elementor-element-448fac9 {
        width: 53.475%;
    }

    .elementor-2622 .elementor-element.elementor-element-ff10193 {
        width: 18.429%;
    }

    .elementor-2622 .elementor-element.elementor-element-5191c39 {
        width: 27.406%;
    }
}

@media(max-width:1024px) and (min-width:768px) {
    .elementor-2622 .elementor-element.elementor-element-666fbbc {
        width: 50%;
    }

    .elementor-2622 .elementor-element.elementor-element-bb79e07 {
        width: 50%;
    }

    .elementor-2622 .elementor-element.elementor-element-07293bb {
        width: 50%;
    }

    .elementor-2622 .elementor-element.elementor-element-dfe98ac {
        width: 50%;
    }

    .elementor-2622 .elementor-element.elementor-element-448fac9 {
        width: 100%;
    }

    .elementor-2622 .elementor-element.elementor-element-ff10193 {
        width: 100%;
    }

    .elementor-2622 .elementor-element.elementor-element-5191c39 {
        width: 50%;
    }
}

@media(min-width:1025px) {

    .elementor-2622 .elementor-element.elementor-element-23c66f4:not(.elementor-motion-effects-element-type-background),
    .elementor-2622 .elementor-element.elementor-element-23c66f4>.elementor-motion-effects-container>.elementor-motion-effects-layer {
        background-attachment: fixed;
    }
}