.elementor-2047 .elementor-element.elementor-element-9e9a179 {
    padding: 100px 0px 80px 0px;
}

.elementor-2047 .elementor-element.elementor-element-d1d769c>.elementor-element-populated {
    padding: 0px 0px 0px 44px;
}

.elementor-2047 .elementor-element.elementor-element-e241e95 {
    text-align: left;
}

.elementor-2047 .elementor-element.elementor-element-e241e95>.elementor-widget-container {
    padding: 0px 0px 0px 0px;
}

.elementor-2047 .elementor-element.elementor-element-34ea1a0 .elementor-heading-title {
    color: #FFFFFF;
    font-size: 20px;
    line-height: 30px;
}

.elementor-2047 .elementor-element.elementor-element-34ea1a0>.elementor-widget-container {
    padding: 16px 0px 16px 36px;
    background-color: #FF172D;
}

.elementor-2047 .elementor-element.elementor-element-34ea1a0 {
    width: 45%;
    max-width: 45%;
    top: 65px;
}

body:not(.rtl) .elementor-2047 .elementor-element.elementor-element-34ea1a0 {
    left: 0px;
}

body.rtl .elementor-2047 .elementor-element.elementor-element-34ea1a0 {
    right: 0px;
}

.elementor-2047 .elementor-element.elementor-element-0a5babb>.elementor-element-populated {
    padding: 34px 0px 0px 30px;
}

.elementor-2047 .elementor-element.elementor-element-3414501 .prt-heading-subheading {
    text-align: left;
}

.elementor-2047 .elementor-element.elementor-element-3414501>.elementor-widget-container {
    padding: 0px 0px 20px 0px;
}

.elementor-2047 .elementor-element.elementor-element-115e425 {
    width: 50%;
    max-width: 50%;
}

.elementor-2047 .elementor-element.elementor-element-226b6a0>.elementor-widget-container {
    padding: 0px 0px 0px 30px;
}

.elementor-2047 .elementor-element.elementor-element-226b6a0 {
    width: 50%;
    max-width: 50%;
}

.elementor-2047 .elementor-element.elementor-element-40bb679>.elementor-background-overlay {
    background-image: url("../../2022/05/row-01.png");
    opacity: 0.5;
}

.elementor-2047 .elementor-element.elementor-element-40bb679 {
    padding: 100px 0px 100px 0px;
}

.elementor-2047 .elementor-element.elementor-element-94a2f5c .prt-heading-subheading {
    text-align: center;
}

.elementor-2047 .elementor-element.elementor-element-b85ba98>.elementor-element-populated {
    margin: 0px 2px 0px 0px;
    --e-column-margin-right: 2px;
    --e-column-margin-left: 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-2047 .elementor-element.elementor-element-c4e74d3 .prt-heading-subheading {
    text-align: center;
}

.elementor-2047 .elementor-element.elementor-element-9eb75c9>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-2047 .elementor-element.elementor-element-2bee75f {
    text-align: right;
}

.elementor-2047 .elementor-element.elementor-element-2bee75f>.elementor-widget-container {
    padding: 0px 0px 0px 0px;
}

.elementor-2047 .elementor-element.elementor-element-4989236:not(.elementor-motion-effects-element-type-background),
.elementor-2047 .elementor-element.elementor-element-4989236>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #000000;
}

.elementor-2047 .elementor-element.elementor-element-4989236>.elementor-background-overlay {
    background-image: url("../../2022/06/row-11.jpg");
    opacity: 0.5;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-2047 .elementor-element.elementor-element-4989236 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 127px 0px 190px 0px;
}

.elementor-2047 .elementor-element.elementor-element-e976a34 .prt-heading-subheading {
    text-align: center;
}

.elementor-2047 .elementor-element.elementor-element-e976a34 .prt-element-content-heading {
    color: #FFFFFF;
    font-size: 44px;
    font-weight: 700;
}

.elementor-2047 .elementor-element.elementor-element-e976a34 .prt-element-content-heading>a {
    color: #FFFFFF;
}

.elementor-2047 .elementor-element.elementor-element-e976a34 .prt-element-subheading {
    color: #FFFFFF;
}

.elementor-2047 .elementor-element.elementor-element-e976a34 .prt-element-subheading>a {
    color: #FFFFFF;
}

.elementor-2047 .elementor-element.elementor-element-19e2d2e .elementor-icon-wrapper {
    text-align: right;
}

.elementor-2047 .elementor-element.elementor-element-19e2d2e.elementor-view-stacked .elementor-icon {
    background-color: #FF172D;
}

.elementor-2047 .elementor-element.elementor-element-19e2d2e.elementor-view-framed .elementor-icon,
.elementor-2047 .elementor-element.elementor-element-19e2d2e.elementor-view-default .elementor-icon {
    color: #FF172D;
    border-color: #FF172D;
}

.elementor-2047 .elementor-element.elementor-element-19e2d2e.elementor-view-framed .elementor-icon,
.elementor-2047 .elementor-element.elementor-element-19e2d2e.elementor-view-default .elementor-icon svg {
    fill: #FF172D;
}

.elementor-2047 .elementor-element.elementor-element-19e2d2e .elementor-icon {
    font-size: 28px;
    padding: 21px;
}

.elementor-2047 .elementor-element.elementor-element-19e2d2e .elementor-icon i,
.elementor-2047 .elementor-element.elementor-element-19e2d2e .elementor-icon svg {
    transform: rotate(0deg);
}

.elementor-2047 .elementor-element.elementor-element-8698b3a>.elementor-element-populated {
    margin: 0px 0px 0px -16px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: -16px;
}

.elementor-2047 .elementor-element.elementor-element-8768f88 {
    text-align: left;
}

.elementor-2047 .elementor-element.elementor-element-847cfbb>.elementor-element-populated {
    margin: 0px 0px 0px -10px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: -10px;
    padding: 8px 12px 0px 0px;
}

.elementor-2047 .elementor-element.elementor-element-e0bab15 {
    color: #FFFFFF;
    font-size: 17px;
    font-weight: 400;
    line-height: 27px;
}

.elementor-2047 .elementor-element.elementor-element-d1c533d>.elementor-element-populated {
    border-style: solid;
    border-width: 0px 0px 0px 1px;
    border-color: #FFFFFF99;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 7px 0px 0px 48px;
}

.elementor-2047 .elementor-element.elementor-element-d1c533d>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-2047 .elementor-element.elementor-element-c9968cf {
    color: #FFFFFF;
    font-size: 16px;
}

.elementor-2047 .elementor-element.elementor-element-01aa972 .elementor-heading-title {
    color: #FF172D;
    font-size: 26px;
}

.elementor-2047 .elementor-element.elementor-element-01aa972>.elementor-widget-container {
    margin: -31px 0px 0px 0px;
}

.elementor-2047 .elementor-element.elementor-element-010ed19 {
    margin-top: -102px;
    margin-bottom: 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-2047 .elementor-element.elementor-element-e19276f>.elementor-element-populated {
    padding: 35px 120px 40px 0px;
}

.elementor-2047 .elementor-element.elementor-element-ff79803 {
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    border-color: #FF4F60;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: 14px;
    margin-bottom: 20px;
}

.elementor-2047 .elementor-element.elementor-element-ff79803>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-2047 .elementor-element.elementor-element-5feb228>.elementor-element-populated {
    padding: 0px 0px 0px 0px;
}

.elementor-2047 .elementor-element.elementor-element-81d8e24 .elementor-heading-title {
    font-size: 24px;
    font-weight: 600;
}

.elementor-2047 .elementor-element.elementor-element-f5eb465>.elementor-element-populated {
    padding: 0px 0px 0px 0px;
}

.elementor-2047 .elementor-element.elementor-element-bc2b439 {
    text-align: right;
    color: #FFFFFF;
}

.elementor-2047 .elementor-element.elementor-element-e05bbf5 .prt-heading-subheading {
    text-align: left;
}

.elementor-2047 .elementor-element.elementor-element-e05bbf5>.elementor-widget-container {
    margin: 0px 0px 0px -20px;
}

.elementor-2047 .elementor-element.elementor-element-43e4075>.elementor-background-overlay {
    background-image: url("https://industico.preyantechnosys.com/wp-content/uploads/2022/05/row-03.png");
    background-position: top center;
    background-repeat: no-repeat;
    opacity: 1;
}

.elementor-2047 .elementor-element.elementor-element-43e4075 {
    padding: 105px 0px 90px 0px;
}

.elementor-2047 .elementor-element.elementor-element-821079f>.elementor-element-populated {
    padding: 0px 90px 0px 90px;
}

.elementor-2047 .elementor-element.elementor-element-9b3778b .prt-heading-subheading {
    text-align: center;
}

@media(max-width:1024px) {
    .elementor-2047 .elementor-element.elementor-element-9e9a179 {
        padding: 50px 0px 40px 0px;
    }

    .elementor-2047 .elementor-element.elementor-element-e241e95>.elementor-widget-container {
        padding: 0px 0px 0px 44px;
    }

    .elementor-2047 .elementor-element.elementor-element-34ea1a0 {
        width: 270px;
        max-width: 270px;
        top: 50px;
    }

    body:not(.rtl) .elementor-2047 .elementor-element.elementor-element-34ea1a0 {
        left: 15px;
    }

    body.rtl .elementor-2047 .elementor-element.elementor-element-34ea1a0 {
        right: 15px;
    }

    .elementor-2047 .elementor-element.elementor-element-40bb679 {
        padding: 50px 0px 50px 0px;
    }

    .elementor-2047 .elementor-element.elementor-element-9eb75c9>.elementor-element-populated {
        padding: 30px 0px 0px 0px;
    }

    .elementor-2047 .elementor-element.elementor-element-2bee75f {
        text-align: left;
    }

    .elementor-2047 .elementor-element.elementor-element-4989236 {
        padding: 50px 0px 50px 0px;
    }

    .elementor-2047 .elementor-element.elementor-element-8698b3a>.elementor-element-populated {
        margin: 0px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }

    .elementor-2047 .elementor-element.elementor-element-847cfbb>.elementor-element-populated {
        margin: 0px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
        padding: 0px 0px 0px 0px;
    }

    .elementor-2047 .elementor-element.elementor-element-010ed19 {
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .elementor-2047 .elementor-element.elementor-element-43e4075 {
        padding: 50px 0px 50px 0px;
    }
}

@media(max-width:767px) {
    .elementor-2047 .elementor-element.elementor-element-115e425 {
        width: 100%;
        max-width: 100%;
    }

    .elementor-2047 .elementor-element.elementor-element-226b6a0>.elementor-widget-container {
        padding: 30px 0px 0px 0px;
    }

    .elementor-2047 .elementor-element.elementor-element-226b6a0 {
        width: 100%;
        max-width: 100%;
    }

    .elementor-2047 .elementor-element.elementor-element-2bee75f img {
        width: 100%;
    }

    .elementor-2047 .elementor-element.elementor-element-19e2d2e .elementor-icon-wrapper {
        text-align: left;
    }

    .elementor-2047 .elementor-element.elementor-element-8698b3a>.elementor-element-populated {
        margin: -77px 0px 0px 50px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 50px;
        padding: 0px 0px 0px 0px;
    }

    .elementor-2047 .elementor-element.elementor-element-847cfbb>.elementor-element-populated {
        padding: 15px 0px 0px 0px;
    }

    .elementor-2047 .elementor-element.elementor-element-d1c533d>.elementor-element-populated {
        padding: 20px 0px 0px 0px;
    }

    .elementor-2047 .elementor-element.elementor-element-bc2b439 {
        text-align: left;
    }

    .elementor-2047 .elementor-element.elementor-element-bc2b439>.elementor-widget-container {
        padding: 18px 0px 0px 0px;
    }
}

@media(min-width:768px) {
    .elementor-2047 .elementor-element.elementor-element-d1d769c {
        width: 49.143%;
    }

    .elementor-2047 .elementor-element.elementor-element-0a5babb {
        width: 50.857%;
    }

    .elementor-2047 .elementor-element.elementor-element-b85ba98 {
        width: 74.465%;
    }

    .elementor-2047 .elementor-element.elementor-element-9eb75c9 {
        width: 25.5%;
    }

    .elementor-2047 .elementor-element.elementor-element-ba8bad0 {
        width: 21.355%;
    }

    .elementor-2047 .elementor-element.elementor-element-8698b3a {
        width: 6.57%;
    }

    .elementor-2047 .elementor-element.elementor-element-847cfbb {
        width: 40.643%;
    }

    .elementor-2047 .elementor-element.elementor-element-d1c533d {
        width: 31.432%;
    }
}

@media(max-width:1024px) and (min-width:768px) {
    .elementor-2047 .elementor-element.elementor-element-ba8bad0 {
        width: 18%;
    }

    .elementor-2047 .elementor-element.elementor-element-8698b3a {
        width: 11%;
    }

    .elementor-2047 .elementor-element.elementor-element-847cfbb {
        width: 41%;
    }

    .elementor-2047 .elementor-element.elementor-element-d1c533d {
        width: 30%;
    }
}

@media(min-width:1025px) {
    .elementor-2047 .elementor-element.elementor-element-4989236>.elementor-background-overlay {
        background-attachment: fixed;
    }
}