.elementor-4355 .elementor-element.elementor-element-fc4ca85 {
    padding: 90px 0px 70px 0px;
}

.elementor-4355 .elementor-element.elementor-element-2107350 .prt-heading-subheading {
    text-align: left;
}

@media(max-width:1024px) {
    .elementor-4355 .elementor-element.elementor-element-fc4ca85 {
        padding: 50px 0px 40px 0px;
    }
}