.elementor-2299 .elementor-element.elementor-element-96c1fe7:not(.elementor-motion-effects-element-type-background),
.elementor-2299 .elementor-element.elementor-element-96c1fe7>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-image: url("../../2022/05/row-01.png");
}

.elementor-2299 .elementor-element.elementor-element-96c1fe7 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 105px 0px 90px 0px;
    z-index: 11;
}

.elementor-2299 .elementor-element.elementor-element-96c1fe7>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-2299 .elementor-element.elementor-element-e6b97dc>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-2299 .elementor-element.elementor-element-ba40cb9 .prt-heading-subheading {
    text-align: center;
}

.elementor-2299 .elementor-element.elementor-element-4cbf7d7 {
    padding: 100px 0px 100px 0px;
}

.elementor-2299 .elementor-element.elementor-element-9f667ad>.elementor-element-populated {
    margin: 0px 35px 0px 0px;
    --e-column-margin-right: 35px;
    --e-column-margin-left: 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-2299 .elementor-element.elementor-element-bcec94a {
    text-align: left;
}

.elementor-2299 .elementor-element.elementor-element-41ec205 {
    margin-top: -20px;
    margin-bottom: 0px;
    padding: 23px 0px 17px 40px;
}

.elementor-2299 .elementor-element.elementor-element-0271850 .elementor-icon-wrapper {
    text-align: center;
}

.elementor-2299 .elementor-element.elementor-element-0271850.elementor-view-stacked .elementor-icon {
    background-color: #FF172D;
}

.elementor-2299 .elementor-element.elementor-element-0271850.elementor-view-framed .elementor-icon,
.elementor-2299 .elementor-element.elementor-element-0271850.elementor-view-default .elementor-icon {
    color: #FF172D;
    border-color: #FF172D;
}

.elementor-2299 .elementor-element.elementor-element-0271850.elementor-view-framed .elementor-icon,
.elementor-2299 .elementor-element.elementor-element-0271850.elementor-view-default .elementor-icon svg {
    fill: #FF172D;
}

.elementor-2299 .elementor-element.elementor-element-0271850 .elementor-icon {
    font-size: 60px;
}

.elementor-2299 .elementor-element.elementor-element-0271850 .elementor-icon i,
.elementor-2299 .elementor-element.elementor-element-0271850 .elementor-icon svg {
    transform: rotate(0deg);
}

.elementor-2299 .elementor-element.elementor-element-0271850>.elementor-widget-container {
    padding: 0px 0px 30px 0px;
}

.elementor-2299 .elementor-element.elementor-element-0271850 {
    width: auto;
    max-width: auto;
}

.elementor-2299 .elementor-element.elementor-element-4dc776e>.elementor-element-populated {
    padding: 10px 0px 10px 0px;
}

.elementor-2299 .elementor-element.elementor-element-7063db4 .elementor-heading-title {
    font-size: 24px;
    font-weight: 600;
    line-height: 29px;
}

.elementor-2299 .elementor-element.elementor-element-d810399 {
    color: #616161;
}

.elementor-2299 .elementor-element.elementor-element-d810399>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
}

.elementor-2299 .elementor-element.elementor-element-04813f0>.elementor-element-populated {
    padding: 14px 0px 0px 15px;
}

.elementor-2299 .elementor-element.elementor-element-38f0a04 .prt-heading-subheading {
    text-align: left;
}

.elementor-2299 .elementor-element.elementor-element-3b1ab80 {
    border-style: solid;
    border-width: 1px 0px 0px 0px;
    border-color: #E7E7E7;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 30px 0px 0px 0px;
}

.elementor-2299 .elementor-element.elementor-element-3b1ab80>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-2299 .elementor-element.elementor-element-1c58faa>.elementor-element-populated {
    padding: 0px 0px 0px 0px;
}

.elementor-2299 .elementor-element.elementor-element-7da815d .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
    padding-bottom: calc(23px/2);
}

.elementor-2299 .elementor-element.elementor-element-7da815d .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
    margin-top: calc(23px/2);
}

.elementor-2299 .elementor-element.elementor-element-7da815d .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
    margin-right: calc(23px/2);
    margin-left: calc(23px/2);
}

.elementor-2299 .elementor-element.elementor-element-7da815d .elementor-icon-list-items.elementor-inline-items {
    margin-right: calc(-23px/2);
    margin-left: calc(-23px/2);
}

body.rtl .elementor-2299 .elementor-element.elementor-element-7da815d .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    left: calc(-23px/2);
}

body:not(.rtl) .elementor-2299 .elementor-element.elementor-element-7da815d .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    right: calc(-23px/2);
}

.elementor-2299 .elementor-element.elementor-element-7da815d .elementor-icon-list-icon i {
    color: #FF172D;
}

.elementor-2299 .elementor-element.elementor-element-7da815d .elementor-icon-list-icon svg {
    fill: #FF172D;
}

.elementor-2299 .elementor-element.elementor-element-7da815d {
    --e-icon-list-icon-size: 15px;
}

.elementor-2299 .elementor-element.elementor-element-7da815d .elementor-icon-list-text {
    padding-left: 12px;
}

.elementor-2299 .elementor-element.elementor-element-5c568cf>.elementor-element-populated {
    padding: 0px 0px 0px 0px;
}

.elementor-2299 .elementor-element.elementor-element-f65cd3f .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
    padding-bottom: calc(23px/2);
}

.elementor-2299 .elementor-element.elementor-element-f65cd3f .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
    margin-top: calc(23px/2);
}

.elementor-2299 .elementor-element.elementor-element-f65cd3f .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
    margin-right: calc(23px/2);
    margin-left: calc(23px/2);
}

.elementor-2299 .elementor-element.elementor-element-f65cd3f .elementor-icon-list-items.elementor-inline-items {
    margin-right: calc(-23px/2);
    margin-left: calc(-23px/2);
}

body.rtl .elementor-2299 .elementor-element.elementor-element-f65cd3f .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    left: calc(-23px/2);
}

body:not(.rtl) .elementor-2299 .elementor-element.elementor-element-f65cd3f .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    right: calc(-23px/2);
}

.elementor-2299 .elementor-element.elementor-element-f65cd3f .elementor-icon-list-icon i {
    color: #FF172D;
}

.elementor-2299 .elementor-element.elementor-element-f65cd3f .elementor-icon-list-icon svg {
    fill: #FF172D;
}

.elementor-2299 .elementor-element.elementor-element-f65cd3f {
    --e-icon-list-icon-size: 15px;
}

.elementor-2299 .elementor-element.elementor-element-f65cd3f .elementor-icon-list-text {
    padding-left: 12px;
}

.elementor-2299 .elementor-element.elementor-element-014c64a .elementor-progress-wrapper .elementor-progress-bar {
    background-color: #FF172D;
}

.elementor-2299 .elementor-element.elementor-element-014c64a .elementor-progress-bar {
    height: 8px;
    line-height: 8px;
}

.elementor-2299 .elementor-element.elementor-element-014c64a>.elementor-widget-container {
    padding: 35px 0px 0px 0px;
}

.elementor-2299 .elementor-element.elementor-element-cee7f72 .elementor-progress-wrapper .elementor-progress-bar {
    background-color: #FF172D;
}

.elementor-2299 .elementor-element.elementor-element-cee7f72 .elementor-progress-bar {
    height: 8px;
    line-height: 8px;
}

.elementor-2299 .elementor-element.elementor-element-6a9a2cf {
    padding: 0px 0px 0px 0px;
}

.elementor-2299 .elementor-element.elementor-element-6760884:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-2299 .elementor-element.elementor-element-6760884>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #000000;
}

.elementor-2299 .elementor-element.elementor-element-6760884>.elementor-element-populated>.elementor-background-overlay {
    background-image: url("../../2022/06/col-img-11.jpg");
    background-repeat: no-repeat;
    opacity: 0.35;
}

.elementor-2299 .elementor-element.elementor-element-6760884>.elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 80px 0px 77px 0px;
}

.elementor-2299 .elementor-element.elementor-element-6760884>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-2299 .elementor-element.elementor-element-d88b1ba .prt-heading-subheading {
    text-align: center;
}

.elementor-2299 .elementor-element.elementor-element-d88b1ba .prt-element-content-heading {
    color: #FFFFFF;
    font-size: 48px;
    font-weight: 600;
    line-height: 60px;
}

.elementor-2299 .elementor-element.elementor-element-d88b1ba .prt-element-content-heading>a {
    color: #FFFFFF;
}

.elementor-2299 .elementor-element.elementor-element-d88b1ba .prt-element-subheading {
    color: #FF172D;
    font-size: 18px;
    font-weight: 500;
    font-style: normal;
}

.elementor-2299 .elementor-element.elementor-element-d88b1ba .prt-element-subheading>a {
    color: #FF172D;
}

.elementor-2299 .elementor-element.elementor-element-d88b1ba>.elementor-widget-container {
    margin: 60px 0px 0px 0px;
}

.elementor-2299 .elementor-element.elementor-element-d88b1ba {
    z-index: 11;
}

.elementor-2299 .elementor-element.elementor-element-287dbe4>.elementor-widget-container {
    margin: 5px 0px 0px 0px;
}

.elementor-2299 .elementor-element.elementor-element-a25d435>.elementor-element-populated {
    margin: 0px 0px 30px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 0px 30px 0px 30px;
}

.elementor-2299 .elementor-element.elementor-element-ee02db9 .prt-heading-subheading {
    text-align: left;
}

.elementor-2299 .elementor-element.elementor-element-50887fe {
    padding: 0px 0px 0px 0px;
}

.elementor-2299 .elementor-element.elementor-element-611171d>.elementor-element-populated {
    padding: 35px 0px 40px 0px;
}

.elementor-2299 .elementor-element.elementor-element-1c5fb65 {
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    border-color: #FF4F60;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: 14px;
    margin-bottom: 20px;
}

.elementor-2299 .elementor-element.elementor-element-1c5fb65>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-2299 .elementor-element.elementor-element-d985894>.elementor-element-populated {
    padding: 0px 0px 0px 0px;
}

.elementor-2299 .elementor-element.elementor-element-f3a74e6 .elementor-heading-title {
    font-size: 24px;
    font-weight: 600;
}

.elementor-2299 .elementor-element.elementor-element-32cfda3>.elementor-element-populated {
    padding: 0px 0px 0px 0px;
}

.elementor-2299 .elementor-element.elementor-element-63fbed4 {
    text-align: right;
    color: #FFFFFF;
}

.elementor-2299 .elementor-element.elementor-element-73384e4 .prt-heading-subheading {
    text-align: left;
}

.elementor-2299 .elementor-element.elementor-element-73384e4>.elementor-widget-container {
    margin: 0px 0px 0px -20px;
}

.elementor-2299 .elementor-element.elementor-element-5e024db {
    padding: 95px 0px 65px 0px;
}

.elementor-2299 .elementor-element.elementor-element-555373e .prt-heading-subheading {
    text-align: center;
}

@media(max-width:1024px) {
    .elementor-2299 .elementor-element.elementor-element-96c1fe7 {
        margin-top: 0px;
        margin-bottom: 0px;
        padding: 50px 0px 50px 0px;
    }

    .elementor-2299 .elementor-element.elementor-element-4cbf7d7 {
        padding: 50px 0px 50px 0px;
    }

    .elementor-2299 .elementor-element.elementor-element-9f667ad>.elementor-element-populated {
        margin: 0px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }

    .elementor-2299 .elementor-element.elementor-element-bcec94a img {
        width: 100%;
    }

    .elementor-2299 .elementor-element.elementor-element-41ec205 {
        margin-top: 0px;
        margin-bottom: 0px;
        padding: 10px 0px 10px 15px;
    }

    .elementor-2299 .elementor-element.elementor-element-04813f0>.elementor-element-populated {
        padding: 30px 0px 0px 0px;
    }

    .elementor-2299 .elementor-element.elementor-element-6760884>.elementor-element-populated {
        padding: 0px 0px 70px 0px;
    }

    .elementor-2299 .elementor-element.elementor-element-a25d435>.elementor-element-populated {
        padding: 30px 0px 0px 0px;
    }

    .elementor-2299 .elementor-element.elementor-element-63fbed4 {
        text-align: left;
    }

    .elementor-2299 .elementor-element.elementor-element-63fbed4>.elementor-widget-container {
        padding: 18px 0px 0px 0px;
    }

    .elementor-2299 .elementor-element.elementor-element-5e024db {
        padding: 50px 0px 0px 0px;
    }
}

@media(max-width:767px) {
    .elementor-2299 .elementor-element.elementor-element-41ec205 {
        padding: 10px 15px 10px 15px;
    }

    .elementor-2299 .elementor-element.elementor-element-0271850>.elementor-widget-container {
        padding: 0px 0px 0px 0px;
    }

    .elementor-2299 .elementor-element.elementor-element-4dc776e>.elementor-element-populated {
        padding: 0px 0px 0px 0px;
    }

    .elementor-2299 .elementor-element.elementor-element-d810399>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
    }

    .elementor-2299 .elementor-element.elementor-element-1c58faa>.elementor-element-populated {
        padding: 0px 0px 10px 0px;
    }

    .elementor-2299 .elementor-element.elementor-element-7da815d .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
        padding-bottom: calc(10px/2);
    }

    .elementor-2299 .elementor-element.elementor-element-7da815d .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
        margin-top: calc(10px/2);
    }

    .elementor-2299 .elementor-element.elementor-element-7da815d .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
        margin-right: calc(10px/2);
        margin-left: calc(10px/2);
    }

    .elementor-2299 .elementor-element.elementor-element-7da815d .elementor-icon-list-items.elementor-inline-items {
        margin-right: calc(-10px/2);
        margin-left: calc(-10px/2);
    }

    body.rtl .elementor-2299 .elementor-element.elementor-element-7da815d .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
        left: calc(-10px/2);
    }

    body:not(.rtl) .elementor-2299 .elementor-element.elementor-element-7da815d .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
        right: calc(-10px/2);
    }

    .elementor-2299 .elementor-element.elementor-element-f65cd3f .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
        padding-bottom: calc(10px/2);
    }

    .elementor-2299 .elementor-element.elementor-element-f65cd3f .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
        margin-top: calc(10px/2);
    }

    .elementor-2299 .elementor-element.elementor-element-f65cd3f .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
        margin-right: calc(10px/2);
        margin-left: calc(10px/2);
    }

    .elementor-2299 .elementor-element.elementor-element-f65cd3f .elementor-icon-list-items.elementor-inline-items {
        margin-right: calc(-10px/2);
        margin-left: calc(-10px/2);
    }

    body.rtl .elementor-2299 .elementor-element.elementor-element-f65cd3f .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
        left: calc(-10px/2);
    }

    body:not(.rtl) .elementor-2299 .elementor-element.elementor-element-f65cd3f .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
        right: calc(-10px/2);
    }

    .elementor-2299 .elementor-element.elementor-element-63fbed4 {
        text-align: left;
    }

    .elementor-2299 .elementor-element.elementor-element-63fbed4>.elementor-widget-container {
        padding: 18px 0px 0px 0px;
    }
}

@media(min-width:768px) {
    .elementor-2299 .elementor-element.elementor-element-7f13510 {
        width: 15.455%;
    }

    .elementor-2299 .elementor-element.elementor-element-4dc776e {
        width: 84.545%;
    }

    .elementor-2299 .elementor-element.elementor-element-6760884 {
        width: 55.857%;
    }

    .elementor-2299 .elementor-element.elementor-element-a25d435 {
        width: 44.11%;
    }
}

@media(max-width:1024px) and (min-width:768px) {
    .elementor-2299 .elementor-element.elementor-element-9f667ad {
        width: 100%;
    }

    .elementor-2299 .elementor-element.elementor-element-7f13510 {
        width: 11%;
    }

    .elementor-2299 .elementor-element.elementor-element-4dc776e {
        width: 80%;
    }

    .elementor-2299 .elementor-element.elementor-element-04813f0 {
        width: 100%;
    }
}

@media(min-width:1025px) {
    .elementor-2299 .elementor-element.elementor-element-6760884>.elementor-element-populated>.elementor-background-overlay {
        background-attachment: fixed;
    }
}