{% extends 'industico/base_index.html' %}
{% load static %}

{% block additional_head_part1 %}
    <link rel='stylesheet' id='elementor-post-1804-css' href="{% static 'industico/uploads/elementor/css/post-our-team.css' %}"  media='all' />
{% endblock additional_head_part1 %}

{% block additional_head_part2 %}
    <link rel='stylesheet' id='industico-responsive-style-css'  href="{% static 'industico/css/inlines/home1.css' %}" media='all' /> 
{% endblock additional_head_part2 %}

{% block title_1 %}
    <title>Services 2 - Industico</title>
{% endblock title_1 %}

{% block header_1 %}

<div class="prt-titlebar-wrapper prt-bg prt-bgcolor-custom prt-titlebar-align-default prt-textcolor-white prt-bgimage-yes prt-breadcrumb-bgcolor-custom">
	<div class="prt-titlebar-wrapper-bg-layer prt-bg-layer"></div>
	<div class="prt-titlebar entry-header">
		<div class="prt-titlebar-inner-wrapper">
			<div class="prt-titlebar-main">
				<div class="container">
					<div class="prt-titlebar-main-inner">
						<div class="entry-title-wrapper">
							<div class="container">
								<h1 class="entry-title">{{ page_title }}</h1>
							</div>
						</div>
						<div class="breadcrumb-wrapper">
							<div class="container">
								<div class="breadcrumb-wrapper-inner">
									<!-- Breadcrumb NavXT output --><span><a rel="v:url" title="Go to Industico." href="https://industico.preyantechnosys.com" class="home">&nbsp;Home<span class="hide">Industico</span></a></span><span class="tm-bread-sep"> // </span><span><span class="post post-page current-item">Our Team</span></span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- .prt-titlebar-main -->
		</div>
		<!-- .prt-titlebar-inner-wrapper -->
	</div>
	<!-- .prt-titlebar -->
</div>

{% endblock header_1 %}

{% block content %}
<div id="primary" class="content-area  container">
	<main id="main" class="site-main">
		<article id="post-4836" class="post-4836 page type-page status-publish hentry">
			<header class="single-entry-header prt-hide">
				<h2 class="entry-title">Our Team</h2>
			</header>
			<!-- .entry-header -->
			<div class="entry-content">
				<div data-elementor-type="wp-page" data-elementor-id="4836" class="elementor elementor-4836">
					<section class="elementor-section elementor-top-section elementor-element elementor-element-f6b326e prt-column-break-ipad-no prt-col-stretched-none elementor-section-boxed elementor-section-height-default elementor-section-height-default prt-col-stretched-no prt-bgimage-no prt-bgcolor-yes" data-id="f6b326e" data-element_type="section">
						<div class="elementor-container elementor-column-gap-no">
							<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-cf9f201 prt-bgimage-no prt-bgcolor-yes" data-id="cf9f201" data-element_type="column">
								<div class="elementor-widget-wrap elementor-element-populated">
									<div class="elementor-element elementor-element-5a82185 prt-align-left elementor-widget elementor-widget-tm_team_element" data-id="5a82185" data-element_type="widget" data-widget_type="tm_team_element.default">
										<div class="elementor-widget-container">
											<div class="preyantechnosys-boxes preyantechnosys-boxes-team preyantechnosys-element-teambox-style1 preyantechnosys-boxes-view-default preyantechnosys-boxes-col-three preyantechnosys-boxes-gap-30px" data-prt-show="6" data-prt-loop="1" data-prt-autoplay="0" data-prt-centermode="0" data-prt-nav="" data-prt-dots="" data-prt-slidestoscroll="" data-prt-autoplayspeed="4500" data-prt-margin="30px">
												<div class="preyantechnosys-boxes-inner">
													<div class="preyantechnosys-box-heading-wrapper prt-boxwithout-heading">
														<div class="prt-element-heading-content-wrapper left-align  prt-seperator-none  prt-heading-style-vertical ">
															<div class="prt-content-header"></div>
														</div>
													</div>
													<div class="preyantechnosys-boxes-row-wrapper row multi-columns-row">
														<div class="prt-box-col-wrapper   col-lg-4 col-sm-6 col-md-4 col-xs-12">
															<article class="preyantechnosys-box preyantechnosys-box-team preyantechnosys-teambox-style1">
																<div class="preyantechnosys-post-item">
																	<div class="preyantechnosys-content-inner">
																		<div class="preyantechnosys-team-image-box">
																			<span class="preyantechnosys-item-thumbnail">
																			<span class="preyantechnosys-item-thumbnail-inner">
																			<img loading="lazy" width="696" height="586" src="https://industico.preyantechnosys.com/wp-content/uploads/2022/06/01-2-696x586.jpg" class="attachment-preyantechnosys-img-team-member size-preyantechnosys-img-team-member wp-post-image" alt="" data-id="4894">
																			</span>
																			</span>				
																			<div class="preyantechnosys-team-icon"><i class="kw_industico flaticon-email"></i></div>
																		</div>
																	</div>
																	<div class="preyantechnosys-box-content">
																		<div class="preyantechnosys-innercontent-box">
																			<div class="preyantechnosys-team-position">
																				<div class="preyantechnosys-box-title">
																					<h4><a href="https://industico.preyantechnosys.com/team-member/michal-wincent/">Maria Gordian</a></h4>
																				</div>
																				<div class="prt-category">					
																					Senior Technologist
																				</div>
																				<div class="prt-year">
																					WORKING SINCE 2005					
																				</div>
																			</div>
																			<div class="prt-team-profile-btn">
																				<a href="https://industico.preyantechnosys.com/team-member/michal-wincent/"><i class="prt-industico-icon-mail"></i>Contact Us!</a>
																			</div>
																		</div>
																	</div>
																</div>
															</article>
														</div>
														<div class="prt-box-col-wrapper   col-lg-4 col-sm-6 col-md-4 col-xs-12">
															<article class="preyantechnosys-box preyantechnosys-box-team preyantechnosys-teambox-style1">
																<div class="preyantechnosys-post-item">
																	<div class="preyantechnosys-content-inner">
																		<div class="preyantechnosys-team-image-box">
																			<span class="preyantechnosys-item-thumbnail">
																			<span class="preyantechnosys-item-thumbnail-inner">
																			<img loading="lazy" width="696" height="586" src="https://industico.preyantechnosys.com/wp-content/uploads/2022/06/02-min-696x586.jpg" class="attachment-preyantechnosys-img-team-member size-preyantechnosys-img-team-member wp-post-image" alt="" data-id="4895">
																			</span>
																			</span>				
																			<div class="preyantechnosys-team-icon"><i class="kw_industico flaticon-email"></i></div>
																		</div>
																	</div>
																	<div class="preyantechnosys-box-content">
																		<div class="preyantechnosys-innercontent-box">
																			<div class="preyantechnosys-team-position">
																				<div class="preyantechnosys-box-title">
																					<h4><a href="https://industico.preyantechnosys.com/team-member/natalia-zox/">David Kingston</a></h4>
																				</div>
																				<div class="prt-category">					
																					Managing Director
																				</div>
																				<div class="prt-year">
																					WORKING SINCE 2010					
																				</div>
																			</div>
																			<div class="prt-team-profile-btn">
																				<a href="https://industico.preyantechnosys.com/team-member/natalia-zox/"><i class="prt-industico-icon-mail"></i>Contact Us!</a>
																			</div>
																		</div>
																	</div>
																</div>
															</article>
														</div>
														<div class="prt-box-col-wrapper   col-lg-4 col-sm-6 col-md-4 col-xs-12">
															<article class="preyantechnosys-box preyantechnosys-box-team preyantechnosys-teambox-style1">
																<div class="preyantechnosys-post-item">
																	<div class="preyantechnosys-content-inner">
																		<div class="preyantechnosys-team-image-box">
																			<span class="preyantechnosys-item-thumbnail">
																			<span class="preyantechnosys-item-thumbnail-inner">
																			<img loading="lazy" width="696" height="586" src="https://industico.preyantechnosys.com/wp-content/uploads/2022/06/team-06-696x586.jpg" class="attachment-preyantechnosys-img-team-member size-preyantechnosys-img-team-member wp-post-image" alt="" data-id="4907">
																			</span>
																			</span>				
																			<div class="preyantechnosys-team-icon"><i class="kw_industico flaticon-email"></i></div>
																		</div>
																	</div>
																	<div class="preyantechnosys-box-content">
																		<div class="preyantechnosys-innercontent-box">
																			<div class="preyantechnosys-team-position">
																				<div class="preyantechnosys-box-title">
																					<h4><a href="https://industico.preyantechnosys.com/team-member/sarah-rose/">John Martin</a></h4>
																				</div>
																				<div class="prt-category">					
																					Managing Director
																				</div>
																				<div class="prt-year">
																					WORKING SINCE 2015					
																				</div>
																			</div>
																			<div class="prt-team-profile-btn">
																				<a href="https://industico.preyantechnosys.com/team-member/sarah-rose/"><i class="prt-industico-icon-mail"></i>Contact Us!</a>
																			</div>
																		</div>
																	</div>
																</div>
															</article>
														</div>
														<div class="prt-box-col-wrapper   col-lg-4 col-sm-6 col-md-4 col-xs-12">
															<article class="preyantechnosys-box preyantechnosys-box-team preyantechnosys-teambox-style1">
																<div class="preyantechnosys-post-item">
																	<div class="preyantechnosys-content-inner">
																		<div class="preyantechnosys-team-image-box">
																			<span class="preyantechnosys-item-thumbnail">
																			<span class="preyantechnosys-item-thumbnail-inner">
																			<img loading="lazy" width="696" height="586" src="https://industico.preyantechnosys.com/wp-content/uploads/2022/06/03-min-696x586.jpg" class="attachment-preyantechnosys-img-team-member size-preyantechnosys-img-team-member wp-post-image" alt="team-03" data-id="4898">
																			</span>
																			</span>				
																			<div class="preyantechnosys-team-icon"><i class="kw_industico flaticon-email"></i></div>
																		</div>
																	</div>
																	<div class="preyantechnosys-box-content">
																		<div class="preyantechnosys-innercontent-box">
																			<div class="preyantechnosys-team-position">
																				<div class="preyantechnosys-box-title">
																					<h4><a href="https://industico.preyantechnosys.com/team-member/garreth-mills/">Alex Martin</a></h4>
																				</div>
																				<div class="prt-category">					
																					Senior Technologist
																				</div>
																				<div class="prt-year">
																					WORKING SINCE 2018					
																				</div>
																			</div>
																			<div class="prt-team-profile-btn">
																				<a href="https://industico.preyantechnosys.com/team-member/garreth-mills/"><i class="prt-industico-icon-mail"></i>Contact Us!</a>
																			</div>
																		</div>
																	</div>
																</div>
															</article>
														</div>
														<div class="prt-box-col-wrapper   col-lg-4 col-sm-6 col-md-4 col-xs-12">
															<article class="preyantechnosys-box preyantechnosys-box-team preyantechnosys-teambox-style1">
																<div class="preyantechnosys-post-item">
																	<div class="preyantechnosys-content-inner">
																		<div class="preyantechnosys-team-image-box">
																			<span class="preyantechnosys-item-thumbnail">
																			<span class="preyantechnosys-item-thumbnail-inner">
																			<img loading="lazy" width="696" height="586" src="https://industico.preyantechnosys.com/wp-content/uploads/2022/05/04-min-696x586.jpg" class="attachment-preyantechnosys-img-team-member size-preyantechnosys-img-team-member wp-post-image" alt="team-04" data-id="4901">
																			</span>
																			</span>				
																			<div class="preyantechnosys-team-icon"><i class="kw_industico flaticon-email"></i></div>
																		</div>
																	</div>
																	<div class="preyantechnosys-box-content">
																		<div class="preyantechnosys-innercontent-box">
																			<div class="preyantechnosys-team-position">
																				<div class="preyantechnosys-box-title">
																					<h4><a href="https://industico.preyantechnosys.com/team-member/bennett-crosby-2/">Brandon Zender</a></h4>
																				</div>
																				<div class="prt-category">					
																					Managing Director
																				</div>
																				<div class="prt-year">
																					WORKING SINCE 2019					
																				</div>
																			</div>
																			<div class="prt-team-profile-btn">
																				<a href="https://industico.preyantechnosys.com/team-member/bennett-crosby-2/"><i class="prt-industico-icon-mail"></i>Contact Us!</a>
																			</div>
																		</div>
																	</div>
																</div>
															</article>
														</div>
														<div class="prt-box-col-wrapper   col-lg-4 col-sm-6 col-md-4 col-xs-12">
															<article class="preyantechnosys-box preyantechnosys-box-team preyantechnosys-teambox-style1">
																<div class="preyantechnosys-post-item">
																	<div class="preyantechnosys-content-inner">
																		<div class="preyantechnosys-team-image-box">
																			<span class="preyantechnosys-item-thumbnail">
																			<span class="preyantechnosys-item-thumbnail-inner">
																			<img loading="lazy" width="696" height="586" src="https://industico.preyantechnosys.com/wp-content/uploads/2022/05/team-05-696x586.jpg" class="attachment-preyantechnosys-img-team-member size-preyantechnosys-img-team-member wp-post-image" alt="" data-id="4903">
																			</span>
																			</span>				
																			<div class="preyantechnosys-team-icon"><i class="kw_industico flaticon-email"></i></div>
																		</div>
																	</div>
																	<div class="preyantechnosys-box-content">
																		<div class="preyantechnosys-innercontent-box">
																			<div class="preyantechnosys-team-position">
																				<div class="preyantechnosys-box-title">
																					<h4><a href="https://industico.preyantechnosys.com/team-member/bennett-crosby/">Robin Wann</a></h4>
																				</div>
																				<div class="prt-category">					
																					Senior Technologist
																				</div>
																				<div class="prt-year">
																					WORKING SINCE 2011					
																				</div>
																			</div>
																			<div class="prt-team-profile-btn">
																				<a href="https://industico.preyantechnosys.com/team-member/bennett-crosby/"><i class="prt-industico-icon-mail"></i>Contact Us!</a>
																			</div>
																		</div>
																	</div>
																</div>
															</article>
														</div>
													</div>
												</div>
												<!-- .preyantechnosys-boxes-inner -->   
											</div>
											<!-- .preyantechnosys-boxes -->  		
										</div>
									</div>
								</div>
							</div>
						</div>
					</section>
				</div>
			</div>
			<!-- .entry-content -->
		</article>
		<!-- #post-## -->
	</main>
	<!-- #main .site-main -->
</div>
{% endblock content %}