{% extends 'industico/base_index.html' %}
{% load static %}

{% block additional_head_part1 %}
    <link rel='stylesheet' id='elementor-post-1804-css' href="{% static 'industico/uploads/elementor/css/post-services-1.css' %}"  media='all' />
{% endblock additional_head_part1 %}

{% block additional_head_part2 %}
    <link rel='stylesheet' id='industico-responsive-style-css'  href="{% static 'industico/css/inlines/home1.css' %}" media='all' /> 
{% endblock additional_head_part2 %}

{% block title_1 %}
    <title>Services 1 - Industico</title>
{% endblock title_1 %}

{% block page_body_classes %}page-id-2047 elementor-page-2047{% endblock page_body_classes %}

{% block header %}

<div class="prt-titlebar-wrapper prt-bg prt-bgcolor-custom prt-titlebar-align-default prt-textcolor-white prt-bgimage-yes prt-breadcrumb-bgcolor-custom"
style="background-image: url({% static 'industico/uploads/2022/07/title-02.jpg' %});">
	<div class="prt-titlebar-wrapper-bg-layer prt-bg-layer"></div>
	<div class="prt-titlebar entry-header">
		<div class="prt-titlebar-inner-wrapper">
			<div class="prt-titlebar-main">
				<div class="container">
					<div class="prt-titlebar-main-inner">
						<div class="entry-title-wrapper">
							<div class="container">
								<h1 class="entry-title"> {{ page_title }}</h1>
							</div>
						</div>
						<div class="breadcrumb-wrapper">
							<div class="container">
								<div class="breadcrumb-wrapper-inner">
									<!-- Breadcrumb NavXT output --><span><a rel="v:url" title="Go to Industico." href="/industico/" class="home">&nbsp;Home<span class="hide">Industico</span></a></span><span class="tm-bread-sep"> // </span><span><span class="post post-page current-item">Services 1</span></span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- .prt-titlebar-main -->
		</div>
		<!-- .prt-titlebar-inner-wrapper -->
	</div>
	<!-- .prt-titlebar -->
</div>

{% endblock header %}

{% block content %}
<div id="primary" class="content-area  container">
	<main id="main" class="site-main">
		<article id="post-2047" class="post-2047 page type-page status-publish hentry">
			<header class="single-entry-header prt-hide">
				<h2 class="entry-title">Services 1</h2>
			</header>
			<!-- .entry-header -->
			<div class="entry-content">
				<div data-elementor-type="wp-page" data-elementor-id="2047" class="elementor elementor-2047">
					<section class="elementor-section elementor-top-section elementor-element elementor-element-9e9a179 elementor-section-stretched prt-column-break-ipad-yes prt-col-stretched-none elementor-section-boxed elementor-section-height-default elementor-section-height-default prt-col-stretched-no prt-bgimage-no prt-bgcolor-yes" data-id="9e9a179" data-element_type="section" data-settings="{&quot;stretch_section&quot;:&quot;section-stretched&quot;}" style="width: 1903px; left: -251.5px;">
						<div class="elementor-container elementor-column-gap-no">
							<div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-d1d769c prt-bgimage-no prt-bgcolor-yes" data-id="d1d769c" data-element_type="column">
								<div class="elementor-widget-wrap elementor-element-populated">
									<div class="elementor-element elementor-element-e241e95 elementor-widget elementor-widget-image" data-id="e241e95" data-element_type="widget" data-widget_type="image.default">
										<div class="elementor-widget-container">
											<style>/*! elementor - v3.6.6 - 08-06-2022 */
												.elementor-widget-image{text-align:center}.elementor-widget-image a{display:inline-block}.elementor-widget-image a img[src$=".svg' %}"]{width:48px}.elementor-widget-image img{vertical-align:middle;display:inline-block}
											</style>
											<img width="620" height="532" src="{% static 'industico/uploads/2022/05/service-col-01.jpg' %}" class="attachment-full size-full" alt="" loading="lazy"  sizes="(max-width: 620px) 100vw, 620px" data-id="2049">															
										</div>
									</div>
									<div class="elementor-element elementor-element-34ea1a0 elementor-absolute prt-head elementor-widget__width-initial elementor-widget-tablet__width-initial elementor-widget elementor-widget-heading" data-id="34ea1a0" data-element_type="widget" data-settings="{&quot;_position&quot;:&quot;absolute&quot;}" data-widget_type="heading.default">
										<div class="elementor-widget-container">
											<style>/*! elementor - v3.6.6 - 08-06-2022 */
												.elementor-heading-title{padding:0;margin:0;line-height:1}.elementor-widget-heading .elementor-heading-title[class*=elementor-size-]>a{color:inherit;font-size:inherit;line-height:inherit}.elementor-widget-heading .elementor-heading-title.elementor-size-small{font-size:15px}.elementor-widget-heading .elementor-heading-title.elementor-size-medium{font-size:19px}.elementor-widget-heading .elementor-heading-title.elementor-size-large{font-size:29px}.elementor-widget-heading .elementor-heading-title.elementor-size-xl{font-size:39px}.elementor-widget-heading .elementor-heading-title.elementor-size-xxl{font-size:59px}
											</style>
											<h2 class="elementor-heading-title elementor-size-default">20+ Years Of Experience</h2>
										</div>
									</div>
								</div>
							</div>
							<div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-0a5babb prt-bgimage-no prt-bgcolor-yes" data-id="0a5babb" data-element_type="column">
								<div class="elementor-widget-wrap elementor-element-populated">
									<div class="elementor-element elementor-element-3414501 prt-align-left elementor-widget elementor-widget-tm_heading" data-id="3414501" data-element_type="widget" data-widget_type="tm_heading.default">
										<div class="elementor-widget-container">
											<div class="prt-element-heading-content-wrapper left-align prt-reverse-heading-yes prt-seperator-solid prt-content-with-desc prt-heading-style-vertical ">
												<div class="prt-content-header">
													<h4 class="prt-element-subheading">
														About Us
													</h4>
													<h2 class="prt-element-content-heading">
														Providing Full Range of High Services 
														Solution Worldwide
													</h2>
												</div>
												<div class="prt-element-content-desctxt">Indistoco with a long list of products and never ending customer support we are able to guarantee a very high level of satisfaction for our clients. We’ve very good strength in innovative technology and tools with over 35 years </div>
											</div>
										</div>
									</div>
									<div class="elementor-element elementor-element-115e425 elementor-widget__width-initial elementor-widget-mobile__width-inherit elementor-widget elementor-widget-tm_icon_heading" data-id="115e425" data-element_type="widget" data-widget_type="tm_icon_heading.default">
										<div class="elementor-widget-container">
											<div class="preyantechnosys-iconbox preyantechnosys-iconbox-styleone preyantechnosys-iconcolor-skincolor">
												<div class="preyantechnosys-iconbox-inner">
													<div class="prt-iconbox-wrapper">
														<div class="preyantechnosys-iconbox-heading">
															<h2 class="prt-custom-heading">
																Mechanical Engineering
															</h2>
															<div class="prt-cta3-content-wrapper">Industico will provide to different industry with a full suite of mechanical engineering services and solutions.</div>
															<div class="prt-icon">
																<div class="prt-box-icon"><i class="kw_fabiflex flaticon-technical-support-1"></i></div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="elementor-element elementor-element-226b6a0 elementor-widget__width-initial elementor-widget-mobile__width-inherit elementor-widget elementor-widget-tm_icon_heading" data-id="226b6a0" data-element_type="widget" data-widget_type="tm_icon_heading.default">
										<div class="elementor-widget-container">
											<div class="preyantechnosys-iconbox preyantechnosys-iconbox-styleone preyantechnosys-iconcolor-skincolor">
												<div class="preyantechnosys-iconbox-inner">
													<div class="prt-iconbox-wrapper">
														<div class="preyantechnosys-iconbox-heading">
															<h2 class="prt-custom-heading">
																Engineering &amp; Construction
															</h2>
															<div class="prt-cta3-content-wrapper">Delivers efficient and responsive solutions at any time and in any place, thanks to qualified teams</div>
															<div class="prt-icon">
																<div class="prt-box-icon"><i class="kw_industico flaticon-oil-refinery-2"></i></div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</section>
					<section class="elementor-section elementor-top-section elementor-element elementor-element-40bb679 prt-bgcolor-grey elementor-section-stretched prt-column-break-ipad-yes prt-responsive-padding prt-col-stretched-none elementor-section-boxed elementor-section-height-default elementor-section-height-default prt-col-stretched-no prt-bgimage-no prt-bgcolor-yes" data-id="40bb679" data-element_type="section" data-settings="{&quot;stretch_section&quot;:&quot;section-stretched&quot;}" style="width: 1903px; left: -251.5px;">
						<div class="elementor-background-overlay"></div>
						<div class="elementor-container elementor-column-gap-no">
							<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-ba6aa49 prt-bgimage-no prt-bgcolor-yes" data-id="ba6aa49" data-element_type="column">
								<div class="elementor-widget-wrap elementor-element-populated">
									<div class="elementor-element elementor-element-94a2f5c prt-align-center elementor-widget elementor-widget-tm_heading" data-id="94a2f5c" data-element_type="widget" data-widget_type="tm_heading.default">
										<div class="elementor-widget-container">
											<div class="prt-element-heading-content-wrapper center-align prt-reverse-heading-yes prt-seperator-solid  prt-heading-style-vertical ">
												<div class="prt-content-header">
													<h4 class="prt-element-subheading">
														Our Awesome Services
													</h4>
													<h2 class="prt-element-content-heading">
														Industrial Oil &amp; Gas Manufacture<br>
														Services Sectors
													</h2>
												</div>
											</div>
										</div>
									</div>
									<div class="elementor-section elementor-inner-section elementor-element elementor-element-6f1c48c elementor-section-full_width prt-column-break-ipad-no prt-col-stretched-none elementor-section-height-default elementor-section-height-default prt-bgimage-no prt-bgcolor-yes" data-id="6f1c48c" data-element_type="section">
										<div class="elementor-container elementor-column-gap-no">
											<div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-b85ba98 prt-bgimage-no prt-bgcolor-yes" data-id="b85ba98" data-element_type="column">
												<div class="elementor-widget-wrap elementor-element-populated">
													<div class="elementor-element elementor-element-c4e74d3 prt-align-center elementor-widget elementor-widget-tm_staticbox_element" data-id="c4e74d3" data-element_type="widget" data-widget_type="tm_staticbox_element.default">
														<div class="elementor-widget-container">
															<div class="prt-element-heading-content-wrapper center-align prt-reverse-heading-yes prt-seperator-solid  prt-heading-style-vertical ">
																<div class="prt-content-header"></div>
															</div>
															<div class="preyantechnosys-stepboxes-wrapper prt-staticbox-style1 row multi-columns-row">
																<div class="prt-stepbox col-md-4">
																	<div class="prt-stepbox-content">
																		<div class="prt-top-contentbox">
																			<div class="prt-stepbox-main-icon">
																				<div class="prt-ptable-icon-wrapper"><i class="kw_fabiflex flaticon-oil-drill"></i></div>
																			</div>
																			<div class="process-num"><span class="number">01</span></div>
																		</div>
																		<div class="prt-bottom-contentbox">
																			<div class="prt-box-title">
																				<h4>Oil &amp; Gas Engineering</h4>
																			</div>
																			<div class="preyantechnosys-static-box-desc">Heavily involved with every stage in the process which results in the extraction of oil and gas from reservoirs</div>
																			<a class="prt-staticbox-more-link prt-more-button" href="/industico/services-2/" target="_self">Read More</a>	
																		</div>
																	</div>
																</div>
																<div class="prt-stepbox col-md-4">
																	<div class="prt-stepbox-content">
																		<div class="prt-top-contentbox">
																			<div class="prt-stepbox-main-icon">
																				<div class="prt-ptable-icon-wrapper"><i class="kw_fabiflex flaticon-factory"></i></div>
																			</div>
																			<div class="process-num"><span class="number">02</span></div>
																		</div>
																		<div class="prt-bottom-contentbox">
																			<div class="prt-box-title">
																				<h4>Mechanical Engineering</h4>
																			</div>
																			<div class="preyantechnosys-static-box-desc">A comprehensive design &amp; engineering service within the infrastructure sector &amp; major experience</div>
																			<a class="prt-staticbox-more-link prt-more-button" href="/industico/services-2/" target="_self">Read More</a>	
																		</div>
																	</div>
																</div>
																<div class="prt-stepbox col-md-4">
																	<div class="prt-stepbox-content">
																		<div class="prt-top-contentbox">
																			<div class="prt-stepbox-main-icon">
																				<div class="prt-ptable-icon-wrapper"><i class="kw_fabiflex flaticon-oil-refinery"></i></div>
																			</div>
																			<div class="process-num"><span class="number">03</span></div>
																		</div>
																		<div class="prt-bottom-contentbox">
																			<div class="prt-box-title">
																				<h4>Construction &amp; Engineering</h4>
																			</div>
																			<div class="preyantechnosys-static-box-desc">To meet the rigorous quality standards set by the oil and gas industry. With a highly skilled team</div>
																			<a class="prt-staticbox-more-link prt-more-button" href="/industico/services-2/" target="_self">Read More</a>	
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-9eb75c9 prt-bgimage-no prt-bgcolor-yes" data-id="9eb75c9" data-element_type="column">
												<div class="elementor-widget-wrap elementor-element-populated">
													<div class="elementor-element elementor-element-2bee75f elementor-widget elementor-widget-image" data-id="2bee75f" data-element_type="widget" data-widget_type="image.default">
														<div class="elementor-widget-container">
															<img width="328" height="407" src="{% static 'industico/uploads/2022/05/stepbox-01.jpg' %}" class="attachment-full size-full" alt="" loading="lazy"  sizes="(max-width: 328px) 100vw, 328px" data-id="2147">															
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</section>
					<section class="elementor-section elementor-top-section elementor-element elementor-element-4989236 elementor-section-stretched prt-seprator-skincolor prt-column-break-ipad-no prt-col-stretched-none elementor-section-boxed elementor-section-height-default elementor-section-height-default prt-col-stretched-no prt-bgimage-no prt-bgcolor-yes" data-id="4989236" data-element_type="section" data-settings="{&quot;stretch_section&quot;:&quot;section-stretched&quot;,&quot;background_background&quot;:&quot;classic&quot;}" style="width: 1903px; left: -251.5px;">
						<div class="elementor-background-overlay"></div>
						<div class="elementor-container elementor-column-gap-no">
							<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-ce2e77b prt-1025-1200 prt-bgimage-no prt-bgcolor-yes" data-id="ce2e77b" data-element_type="column">
								<div class="elementor-widget-wrap elementor-element-populated">
									<div class="elementor-element elementor-element-e976a34 prt-align-center elementor-widget elementor-widget-tm_heading" data-id="e976a34" data-element_type="widget" data-widget_type="tm_heading.default">
										<div class="elementor-widget-container">
											<div class="prt-element-heading-content-wrapper center-align prt-reverse-heading-yes prt-seperator-solid  prt-heading-style-vertical ">
												<div class="prt-content-header">
													<h2 class="prt-element-content-heading">
														Industrial oil gas services manufacture <br>
														found in <span class="prt-font-style">1996 </span>still working
													</h2>
												</div>
											</div>
										</div>
									</div>
									<div class="elementor-section elementor-inner-section elementor-element elementor-element-e555147 elementor-section-full_width prt-column-break-ipad-no prt-col-stretched-none elementor-section-height-default elementor-section-height-default prt-bgimage-no prt-bgcolor-yes" data-id="e555147" data-element_type="section">
										<div class="elementor-container elementor-column-gap-no">
											<div class="elementor-column elementor-col-25 elementor-inner-column elementor-element elementor-element-ba8bad0 prt-bgimage-no prt-bgcolor-yes" data-id="ba8bad0" data-element_type="column">
												<div class="elementor-widget-wrap elementor-element-populated">
													<div class="elementor-element elementor-element-19e2d2e elementor-view-stacked elementor-shape-circle elementor-widget elementor-widget-icon" data-id="19e2d2e" data-element_type="widget" data-widget_type="icon.default">
														<div class="elementor-widget-container">
															<div class="elementor-icon-wrapper">
																<div class="elementor-icon">
																	<i aria-hidden="true" class="kw_industico flaticon-phone"></i>			
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="elementor-column elementor-col-25 elementor-inner-column elementor-element elementor-element-8698b3a prt-bgimage-no prt-bgcolor-yes" data-id="8698b3a" data-element_type="column">
												<div class="elementor-widget-wrap elementor-element-populated">
													<div class="elementor-element elementor-element-8768f88 elementor-widget elementor-widget-image" data-id="8768f88" data-element_type="widget" data-widget_type="image.default">
														<div class="elementor-widget-container">
															<img width="70" height="70" src="{% static 'industico/uploads/2022/06/single-img-01.png' %}" class="attachment-large size-large" alt="" loading="lazy" data-id="5576">															
														</div>
													</div>
												</div>
											</div>
											<div class="elementor-column elementor-col-25 elementor-inner-column elementor-element elementor-element-847cfbb prt-bgimage-no prt-bgcolor-yes" data-id="847cfbb" data-element_type="column">
												<div class="elementor-widget-wrap elementor-element-populated">
													<div class="elementor-element elementor-element-e0bab15 elementor-widget elementor-widget-text-editor" data-id="e0bab15" data-element_type="widget" data-widget_type="text-editor.default">
														<div class="elementor-widget-container">
															<style>/*! elementor - v3.6.6 - 08-06-2022 */
																.elementor-widget-text-editor.elementor-drop-cap-view-stacked .elementor-drop-cap{background-color:#818a91;color:#fff}.elementor-widget-text-editor.elementor-drop-cap-view-framed .elementor-drop-cap{color:#818a91;border:3px solid;background-color:transparent}.elementor-widget-text-editor:not(.elementor-drop-cap-view-default) .elementor-drop-cap{margin-top:8px}.elementor-widget-text-editor:not(.elementor-drop-cap-view-default) .elementor-drop-cap-letter{width:1em;height:1em}.elementor-widget-text-editor .elementor-drop-cap{float:left;text-align:center;line-height:1;font-size:50px}.elementor-widget-text-editor .elementor-drop-cap-letter{display:inline-block}
															</style>
															industico infrastructure will benefit all by creating millions of jobs, improving global competitiveness						
														</div>
													</div>
												</div>
											</div>
											<div class="elementor-column elementor-col-25 elementor-inner-column elementor-element elementor-element-d1c533d prt-bgimage-no prt-bgcolor-yes" data-id="d1c533d" data-element_type="column">
												<div class="elementor-widget-wrap elementor-element-populated">
													<div class="elementor-element elementor-element-c9968cf elementor-widget elementor-widget-text-editor" data-id="c9968cf" data-element_type="widget" data-widget_type="text-editor.default">
														<div class="elementor-widget-container">
															<p>Help Support 24h/7</p>
														</div>
													</div>
													<div class="elementor-element elementor-element-01aa972 elementor-widget elementor-widget-heading" data-id="01aa972" data-element_type="widget" data-widget_type="heading.default">
														<div class="elementor-widget-container">
															<h2 class="elementor-heading-title elementor-size-default"><a href="/industico/contact-us/">+123 456 7890</a></h2>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</section>
					<section class="elementor-section elementor-top-section elementor-element elementor-element-010ed19 prt-col-stretched-left prt-textcolor-white elementor-section-stretched prt-column-break-ipad-no elementor-section-boxed elementor-section-height-default elementor-section-height-default prt-col-stretched-yes prt-bgimage-no prt-bgcolor-yes" data-id="010ed19" data-element_type="section" data-settings="{&quot;stretch_section&quot;:&quot;section-stretched&quot;}" style="width: 1903px; left: -251.5px;">
						<div class="elementor-container elementor-column-gap-no">
							<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-e19276f prt-bgcolor-yes prt-col-bgcolor-skincolor prt-textcolor-white prt-col-stretched-yes prt-col-stretched-left prt-bgimage-no" data-id="e19276f" data-element_type="column">
								<div class="elementor-widget-wrap elementor-element-populated" style="border-radius: 0px; background-color: transparent;">
									<div class="prt-stretched-div prt-stretched-left" style="border-radius: 0px; background-color: rgba(0, 0, 0, 0); background-position: 0% 0%; background-repeat: repeat; background-size: auto; margin-left: -251.5px;"></div>
									<div class="elementor-section elementor-inner-section elementor-element elementor-element-ff79803 prt-column-break-ipad-no prt-col-stretched-none elementor-section-boxed elementor-section-height-default elementor-section-height-default prt-bgimage-no prt-bgcolor-yes" data-id="ff79803" data-element_type="section">
										<div class="elementor-container elementor-column-gap-default">
											<div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-5feb228 prt-bgimage-no prt-bgcolor-yes" data-id="5feb228" data-element_type="column">
												<div class="elementor-widget-wrap elementor-element-populated">
													<div class="elementor-element elementor-element-81d8e24 elementor-widget elementor-widget-heading" data-id="81d8e24" data-element_type="widget" data-widget_type="heading.default">
														<div class="elementor-widget-container">
															<h2 class="elementor-heading-title elementor-size-default">Our Partners</h2>
														</div>
													</div>
												</div>
											</div>
											<div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-f5eb465 prt-textcolor-white prt-bgimage-no prt-bgcolor-yes" data-id="f5eb465" data-element_type="column">
												<div class="elementor-widget-wrap elementor-element-populated">
													<div class="elementor-element elementor-element-bc2b439 elementor-widget elementor-widget-text-editor" data-id="bc2b439" data-element_type="widget" data-widget_type="text-editor.default">
														<div class="elementor-widget-container">
															<p>Trusted by over 38k+ Ambitious Brands Across the World</p>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="elementor-element elementor-element-e05bbf5 prt-align-left elementor-widget elementor-widget-tm_client_element" data-id="e05bbf5" data-element_type="widget" data-widget_type="tm_client_element.default">
										<div class="elementor-widget-container">
											<div class="preyantechnosys-boxes preyantechnosys-boxes-client preyantechnosys-element-clientbox-simple-logo preyantechnosys-boxes-view-carousel preyantechnosys-boxes-col-six prt-boxes-carousel-arrow- prt-boxes-carousel-arrows-0 preyantechnosys-boxes-gap-30px" data-prt-show="7" data-prt-loop="1" data-prt-autoplay="1" data-prt-centermode="0" data-prt-nav="" data-prt-dots="" data-prt-slidestoscroll="1" data-prt-autoplayspeed="4500" data-prt-margin="30px">
												<div class="preyantechnosys-boxes-inner">
													<div class="preyantechnosys-box-heading-wrapper prt-boxwithout-heading">
														<div class="prt-element-heading-content-wrapper left-align  prt-seperator-none  prt-heading-style-vertical ">
															<div class="prt-content-header"></div>
														</div>
													</div>
													<div class="preyantechnosys-boxes-row-wrapper row multi-columns-row slick-initialized slick-slider">
														<div aria-live="polite" class="slick-list draggable">
															<div class="slick-track" style="opacity: 1; width: 4218px; transform: translate3d(-2220px, 0px, 0px);" role="listbox">
																<div class="prt-box-col-wrapper slick-slide slick-cloned" data-slick-index="-6" id="" aria-hidden="true" style="width: 222px;" tabindex="-1"><span class="preyantechnosys-box preyantechnosys-box-client preyantechnosys-box-view-simple-logo preyantechnosys-client-box-view-simple-logo">
																	<span class="preyantechnosys-item-thumbnail">
																	<span class="preyantechnosys-item-thumbnail-inner">
																	<img loading="lazy" width="126" height="55" src="{% static 'industico/uploads/2022/05/01.png' %}" class="attachment-full size-full wp-post-image" alt=""  sizes="(max-width: 126px) 100vw, 126px" data-id="4764">
																	</span>
																	</span></span>
																</div>
																<div class="prt-box-col-wrapper slick-slide slick-cloned" data-slick-index="-5" id="" aria-hidden="true" style="width: 222px;" tabindex="-1"><span class="preyantechnosys-box preyantechnosys-box-client preyantechnosys-box-view-simple-logo preyantechnosys-client-box-view-simple-logo">
																	<span class="preyantechnosys-item-thumbnail">
																	<span class="preyantechnosys-item-thumbnail-inner">
																	<img loading="lazy" width="134" height="55" src="{% static 'industico/uploads/2022/05/02.png' %}" class="attachment-full size-full wp-post-image" alt=""  sizes="(max-width: 134px) 100vw, 134px" data-id="4765">
																	</span>
																	</span></span>
																</div>
																<div class="prt-box-col-wrapper slick-slide slick-cloned" data-slick-index="-4" id="" aria-hidden="true" style="width: 222px;" tabindex="-1"><span class="preyantechnosys-box preyantechnosys-box-client preyantechnosys-box-view-simple-logo preyantechnosys-client-box-view-simple-logo">
																	<span class="preyantechnosys-item-thumbnail">
																	<span class="preyantechnosys-item-thumbnail-inner">
																	<img loading="lazy" width="134" height="55" src="{% static 'industico/uploads/2022/05/03.png' %}" class="attachment-full size-full wp-post-image" alt=""  sizes="(max-width: 134px) 100vw, 134px" data-id="4766">
																	</span>
																	</span></span>
																</div>
																<div class="prt-box-col-wrapper slick-slide slick-cloned" data-slick-index="-3" id="" aria-hidden="true" style="width: 222px;" tabindex="-1"><span class="preyantechnosys-box preyantechnosys-box-client preyantechnosys-box-view-simple-logo preyantechnosys-client-box-view-simple-logo">
																	<span class="preyantechnosys-item-thumbnail">
																	<span class="preyantechnosys-item-thumbnail-inner">
																	<img loading="lazy" width="155" height="55" src="{% static 'industico/uploads/2022/05/04.png' %}" class="attachment-full size-full wp-post-image" alt=""  sizes="(max-width: 155px) 100vw, 155px" data-id="4768">
																	</span>
																	</span></span>
																</div>
																<div class="prt-box-col-wrapper slick-slide slick-cloned" data-slick-index="-2" id="" aria-hidden="true" style="width: 222px;" tabindex="-1"><span class="preyantechnosys-box preyantechnosys-box-client preyantechnosys-box-view-simple-logo preyantechnosys-client-box-view-simple-logo">
																	<span class="preyantechnosys-item-thumbnail">
																	<span class="preyantechnosys-item-thumbnail-inner">
																	<img loading="lazy" width="136" height="44" src="{% static 'industico/uploads/2022/05/client-05.png' %}" class="attachment-full size-full wp-post-image" alt=""  sizes="(max-width: 136px) 100vw, 136px" data-id="708">
																	</span>
																	</span></span>
																</div>
																<div class="prt-box-col-wrapper slick-slide slick-cloned" data-slick-index="-1" id="" aria-hidden="true" style="width: 222px;" tabindex="-1"><span class="preyantechnosys-box preyantechnosys-box-client preyantechnosys-box-view-simple-logo preyantechnosys-client-box-view-simple-logo">
																	<span class="preyantechnosys-item-thumbnail">
																	<span class="preyantechnosys-item-thumbnail-inner">
																	<img loading="lazy" width="151" height="50" src="{% static 'industico/uploads/2022/05/client-06.png' %}" class="attachment-full size-full wp-post-image" alt=""  sizes="(max-width: 151px) 100vw, 151px" data-id="703">
																	</span>
																	</span></span>
																</div>
																<div class="prt-box-col-wrapper slick-slide" data-slick-index="0" aria-hidden="true" style="width: 222px;" tabindex="-1" role="option" aria-describedby="slick-slide00"><span class="preyantechnosys-box preyantechnosys-box-client preyantechnosys-box-view-simple-logo preyantechnosys-client-box-view-simple-logo">
																	<span class="preyantechnosys-item-thumbnail">
																	<span class="preyantechnosys-item-thumbnail-inner">
																	<img loading="lazy" width="151" height="50" src="{% static 'industico/uploads/2022/05/client-06.png' %}" class="attachment-full size-full wp-post-image" alt=""  sizes="(max-width: 151px) 100vw, 151px" data-id="703">
																	</span>
																	</span></span>
																</div>
																<div class="prt-box-col-wrapper slick-slide" data-slick-index="1" aria-hidden="true" style="width: 222px;" tabindex="-1" role="option" aria-describedby="slick-slide01"><span class="preyantechnosys-box preyantechnosys-box-client preyantechnosys-box-view-simple-logo preyantechnosys-client-box-view-simple-logo">
																	<span class="preyantechnosys-item-thumbnail">
																	<span class="preyantechnosys-item-thumbnail-inner">
																	<img loading="lazy" width="126" height="55" src="{% static 'industico/uploads/2022/05/01.png' %}" class="attachment-full size-full wp-post-image" alt=""  sizes="(max-width: 126px) 100vw, 126px" data-id="4764">
																	</span>
																	</span></span>
																</div>
																<div class="prt-box-col-wrapper slick-slide" data-slick-index="2" aria-hidden="true" style="width: 222px;" tabindex="-1" role="option" aria-describedby="slick-slide02"><span class="preyantechnosys-box preyantechnosys-box-client preyantechnosys-box-view-simple-logo preyantechnosys-client-box-view-simple-logo">
																	<span class="preyantechnosys-item-thumbnail">
																	<span class="preyantechnosys-item-thumbnail-inner">
																	<img loading="lazy" width="134" height="55" src="{% static 'industico/uploads/2022/05/02.png' %}" class="attachment-full size-full wp-post-image" alt=""  sizes="(max-width: 134px) 100vw, 134px" data-id="4765">
																	</span>
																	</span></span>
																</div>
																<div class="prt-box-col-wrapper slick-slide" data-slick-index="3" aria-hidden="true" style="width: 222px;" tabindex="-1" role="option" aria-describedby="slick-slide03"><span class="preyantechnosys-box preyantechnosys-box-client preyantechnosys-box-view-simple-logo preyantechnosys-client-box-view-simple-logo">
																	<span class="preyantechnosys-item-thumbnail">
																	<span class="preyantechnosys-item-thumbnail-inner">
																	<img loading="lazy" width="134" height="55" src="{% static 'industico/uploads/2022/05/03.png' %}" class="attachment-full size-full wp-post-image" alt=""  sizes="(max-width: 134px) 100vw, 134px" data-id="4766">
																	</span>
																	</span></span>
																</div>
																<div class="prt-box-col-wrapper slick-slide slick-current slick-active" data-slick-index="4" aria-hidden="false" style="width: 222px;" tabindex="-1" role="option" aria-describedby="slick-slide04"><span class="preyantechnosys-box preyantechnosys-box-client preyantechnosys-box-view-simple-logo preyantechnosys-client-box-view-simple-logo">
																	<span class="preyantechnosys-item-thumbnail">
																	<span class="preyantechnosys-item-thumbnail-inner">
																	<img loading="lazy" width="155" height="55" src="{% static 'industico/uploads/2022/05/04.png' %}" class="attachment-full size-full wp-post-image" alt=""  sizes="(max-width: 155px) 100vw, 155px" data-id="4768">
																	</span>
																	</span></span>
																</div>
																<div class="prt-box-col-wrapper slick-slide slick-active" data-slick-index="5" aria-hidden="false" style="width: 222px;" tabindex="-1" role="option" aria-describedby="slick-slide05"><span class="preyantechnosys-box preyantechnosys-box-client preyantechnosys-box-view-simple-logo preyantechnosys-client-box-view-simple-logo">
																	<span class="preyantechnosys-item-thumbnail">
																	<span class="preyantechnosys-item-thumbnail-inner">
																	<img loading="lazy" width="136" height="44" src="{% static 'industico/uploads/2022/05/client-05.png' %}" class="attachment-full size-full wp-post-image" alt=""  sizes="(max-width: 136px) 100vw, 136px" data-id="708">
																	</span>
																	</span></span>
																</div>
																<div class="prt-box-col-wrapper slick-slide slick-active" data-slick-index="6" aria-hidden="false" style="width: 222px;" tabindex="-1" role="option" aria-describedby="slick-slide06"><span class="preyantechnosys-box preyantechnosys-box-client preyantechnosys-box-view-simple-logo preyantechnosys-client-box-view-simple-logo">
																	<span class="preyantechnosys-item-thumbnail">
																	<span class="preyantechnosys-item-thumbnail-inner">
																	<img loading="lazy" width="151" height="50" src="{% static 'industico/uploads/2022/05/client-06.png' %}" class="attachment-full size-full wp-post-image" alt=""  sizes="(max-width: 151px) 100vw, 151px" data-id="703">
																	</span>
																	</span></span>
																</div>
																<div class="prt-box-col-wrapper slick-slide slick-cloned slick-active" data-slick-index="7" id="" aria-hidden="false" style="width: 222px;" tabindex="-1"><span class="preyantechnosys-box preyantechnosys-box-client preyantechnosys-box-view-simple-logo preyantechnosys-client-box-view-simple-logo">
																	<span class="preyantechnosys-item-thumbnail">
																	<span class="preyantechnosys-item-thumbnail-inner">
																	<img loading="lazy" width="151" height="50" src="{% static 'industico/uploads/2022/05/client-06.png' %}" class="attachment-full size-full wp-post-image" alt=""  sizes="(max-width: 151px) 100vw, 151px" data-id="703">
																	</span>
																	</span></span>
																</div>
																<div class="prt-box-col-wrapper slick-slide slick-cloned slick-active" data-slick-index="8" id="" aria-hidden="false" style="width: 222px;" tabindex="-1"><span class="preyantechnosys-box preyantechnosys-box-client preyantechnosys-box-view-simple-logo preyantechnosys-client-box-view-simple-logo">
																	<span class="preyantechnosys-item-thumbnail">
																	<span class="preyantechnosys-item-thumbnail-inner">
																	<img loading="lazy" width="126" height="55" src="{% static 'industico/uploads/2022/05/01.png' %}" class="attachment-full size-full wp-post-image" alt=""  sizes="(max-width: 126px) 100vw, 126px" data-id="4764">
																	</span>
																	</span></span>
																</div>
																<div class="prt-box-col-wrapper slick-slide slick-cloned slick-active" data-slick-index="9" id="" aria-hidden="false" style="width: 222px;" tabindex="-1"><span class="preyantechnosys-box preyantechnosys-box-client preyantechnosys-box-view-simple-logo preyantechnosys-client-box-view-simple-logo">
																	<span class="preyantechnosys-item-thumbnail">
																	<span class="preyantechnosys-item-thumbnail-inner">
																	<img loading="lazy" width="134" height="55" src="{% static 'industico/uploads/2022/05/02.png' %}" class="attachment-full size-full wp-post-image" alt=""  sizes="(max-width: 134px) 100vw, 134px" data-id="4765">
																	</span>
																	</span></span>
																</div>
																<div class="prt-box-col-wrapper slick-slide slick-cloned" data-slick-index="10" id="" aria-hidden="true" style="width: 222px;" tabindex="-1"><span class="preyantechnosys-box preyantechnosys-box-client preyantechnosys-box-view-simple-logo preyantechnosys-client-box-view-simple-logo">
																	<span class="preyantechnosys-item-thumbnail">
																	<span class="preyantechnosys-item-thumbnail-inner">
																	<img loading="lazy" width="134" height="55" src="{% static 'industico/uploads/2022/05/03.png' %}" class="attachment-full size-full wp-post-image" alt=""  sizes="(max-width: 134px) 100vw, 134px" data-id="4766">
																	</span>
																	</span></span>
																</div>
																<div class="prt-box-col-wrapper slick-slide slick-cloned" data-slick-index="11" id="" aria-hidden="true" style="width: 222px;" tabindex="-1"><span class="preyantechnosys-box preyantechnosys-box-client preyantechnosys-box-view-simple-logo preyantechnosys-client-box-view-simple-logo">
																	<span class="preyantechnosys-item-thumbnail">
																	<span class="preyantechnosys-item-thumbnail-inner">
																	<img loading="lazy" width="155" height="55" src="{% static 'industico/uploads/2022/05/04.png' %}" class="attachment-full size-full wp-post-image" alt=""  sizes="(max-width: 155px) 100vw, 155px" data-id="4768">
																	</span>
																	</span></span>
																</div>
																<div class="prt-box-col-wrapper slick-slide slick-cloned" data-slick-index="12" id="" aria-hidden="true" style="width: 222px;" tabindex="-1"><span class="preyantechnosys-box preyantechnosys-box-client preyantechnosys-box-view-simple-logo preyantechnosys-client-box-view-simple-logo">
																	<span class="preyantechnosys-item-thumbnail">
																	<span class="preyantechnosys-item-thumbnail-inner">
																	<img loading="lazy" width="136" height="44" src="{% static 'industico/uploads/2022/05/client-05.png' %}" class="attachment-full size-full wp-post-image" alt=""  sizes="(max-width: 136px) 100vw, 136px" data-id="708">
																	</span>
																	</span></span>
																</div>
															</div>
														</div>
													</div>
												</div>
												<!-- .preyantechnosys-boxes-inner -->   
											</div>
											<!-- .preyantechnosys-boxes -->  		
										</div>
									</div>
								</div>
							</div>
						</div>
					</section>
					<section class="elementor-section elementor-top-section elementor-element elementor-element-43e4075 elementor-section-stretched prt-column-break-ipad-no prt-col-stretched-none elementor-section-boxed elementor-section-height-default elementor-section-height-default prt-col-stretched-no prt-bgimage-no prt-bgcolor-yes" data-id="43e4075" data-element_type="section" data-settings="{&quot;stretch_section&quot;:&quot;section-stretched&quot;}" style="width: 1903px; left: -251.5px;">
						<div class="elementor-background-overlay"></div>
						<div class="elementor-container elementor-column-gap-no">
							<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-821079f tm-section-five prt-bgimage-no prt-bgcolor-yes" data-id="821079f" data-element_type="column">
								<div class="elementor-widget-wrap elementor-element-populated">
									<div class="elementor-element elementor-element-9b3778b prt-align-center prt-section-box elementor-widget elementor-widget-tm_testimonial_element" data-id="9b3778b" data-element_type="widget" data-widget_type="tm_testimonial_element.default">
										<div class="elementor-widget-container">
											<div class="preyantechnosys-boxes preyantechnosys-boxes-testimonial preyantechnosys-element-testimonialbox-style-2 preyantechnosys-boxes-view-carousel preyantechnosys-boxes-col-one prt-boxes-carousel-arrow- prt-boxes-carousel-arrows-0 preyantechnosys-boxes-gap-30px" data-prt-show="3" data-prt-loop="1" data-prt-autoplay="0" data-prt-centermode="0" data-prt-nav="" data-prt-dots="" data-prt-slidestoscroll="1" data-prt-autoplayspeed="4500" data-prt-margin="30px">
												<div class="preyantechnosys-boxes-inner">
													<div class="preyantechnosys-box-heading-wrapper ">
														<div class="prt-element-heading-content-wrapper center-align prt-reverse-heading-yes prt-seperator-solid  prt-heading-style-vertical ">
															<div class="prt-content-header">
																<h4 class="prt-element-subheading">
																	Our Testimonial 
																</h4>
																<h2 class="prt-element-content-heading">
																	2k+ Customer Say About Our Support
																</h2>
															</div>
														</div>
													</div>
													<div class="preyantechnosys-boxes-row-wrapper row multi-columns-row slick-initialized slick-slider">
														<div aria-live="polite" class="slick-list draggable">
															<div class="slick-track" style="opacity: 1; width: 3076px; transform: translate3d(-769px, 0px, 0px);" role="listbox">
																<div class="prt-box-col-wrapper group-01 slick-slide slick-cloned" data-slick-index="-1" id="" aria-hidden="true" style="width: 769px;" tabindex="-1">
																	<article class="preyantechnosys-box preyantechnosys-box-testimonial preyantechnosys-testimonialbox-styletwo">
																		<div class="preyantechnosys-post-item">
																			<div class="preyantechnosys-box-content">
																				<div class="preyantechnosys-box-desc">
																					<div class="prt-icon-testimonial">
																						<i class="kw_fabiflex flaticon-quotes"></i>
																					</div>
																					<blockquote class="preyantechnosys-testimonial-text">I just wanted to say we used the Industico personal gas monitor for the first time official last week, and we are all extremely impressed with it. I hope it will provide us with a much safer working environment into the future, especially with the emerging electric vehicle market!</blockquote>
																					<div class="preyantechnosys-ratting-star"> <i class="prt-industico-icon-star-1 prt-active"></i>  <i class="prt-industico-icon-star-1 prt-active"></i>  <i class="prt-industico-icon-star-1 prt-active"></i>  <i class="prt-industico-icon-star-1 prt-active"></i>  <i class="prt-industico-icon-star-empty-1"></i> </div>
																				</div>
																				<div class="prt-box-footer">
																					<div class="preyantechnosys-box-title">
																						<h3 class="preyantechnosys-author-name">Cheryl Dunye</h3>
																						<span class="preyantechnosys-box-footer">Marketing manager</span>
																					</div>
																				</div>
																			</div>
																		</div>
																	</article>
																</div>
																<div class="prt-box-col-wrapper group-01 slick-slide slick-current slick-active" data-slick-index="0" aria-hidden="false" style="width: 769px;" tabindex="-1" role="option" aria-describedby="slick-slide10">
																	<article class="preyantechnosys-box preyantechnosys-box-testimonial preyantechnosys-testimonialbox-styletwo">
																		<div class="preyantechnosys-post-item">
																			<div class="preyantechnosys-box-content">
																				<div class="preyantechnosys-box-desc">
																					<div class="prt-icon-testimonial">
																						<i class="kw_fabiflex flaticon-quotes"></i>
																					</div>
																					<blockquote class="preyantechnosys-testimonial-text">We as group takes an opportunity to thank all the Industico crew &amp; the personnel have shown a high-quality job… with respect of QHJS procedures both in the field and in the office were very vigilant and shown an excellent attitude. The unit proved to be very well equipped.</blockquote>
																					<div class="preyantechnosys-ratting-star"> <i class="prt-industico-icon-star-1 prt-active"></i>  <i class="prt-industico-icon-star-1 prt-active"></i>  <i class="prt-industico-icon-star-1 prt-active"></i>  <i class="prt-industico-icon-star-1 prt-active"></i>  <i class="prt-industico-icon-star-1 prt-active"></i> </div>
																				</div>
																				<div class="prt-box-footer">
																					<div class="preyantechnosys-box-title">
																						<h3 class="preyantechnosys-author-name">Victor Williamson</h3>
																						<span class="preyantechnosys-box-footer">CEO Of Bussiness</span>
																					</div>
																				</div>
																			</div>
																		</div>
																	</article>
																</div>
																<div class="prt-box-col-wrapper group-01 slick-slide" data-slick-index="1" aria-hidden="true" style="width: 769px;" tabindex="-1" role="option" aria-describedby="slick-slide11">
																	<article class="preyantechnosys-box preyantechnosys-box-testimonial preyantechnosys-testimonialbox-styletwo">
																		<div class="preyantechnosys-post-item">
																			<div class="preyantechnosys-box-content">
																				<div class="preyantechnosys-box-desc">
																					<div class="prt-icon-testimonial">
																						<i class="kw_fabiflex flaticon-quotes"></i>
																					</div>
																					<blockquote class="preyantechnosys-testimonial-text">I just wanted to say we used the Industico personal gas monitor for the first time official last week, and we are all extremely impressed with it. I hope it will provide us with a much safer working environment into the future, especially with the emerging electric vehicle market!</blockquote>
																					<div class="preyantechnosys-ratting-star"> <i class="prt-industico-icon-star-1 prt-active"></i>  <i class="prt-industico-icon-star-1 prt-active"></i>  <i class="prt-industico-icon-star-1 prt-active"></i>  <i class="prt-industico-icon-star-1 prt-active"></i>  <i class="prt-industico-icon-star-empty-1"></i> </div>
																				</div>
																				<div class="prt-box-footer">
																					<div class="preyantechnosys-box-title">
																						<h3 class="preyantechnosys-author-name">Cheryl Dunye</h3>
																						<span class="preyantechnosys-box-footer">Marketing manager</span>
																					</div>
																				</div>
																			</div>
																		</div>
																	</article>
																</div>
																<div class="prt-box-col-wrapper group-01 slick-slide slick-cloned" data-slick-index="2" id="" aria-hidden="true" style="width: 769px;" tabindex="-1">
																	<article class="preyantechnosys-box preyantechnosys-box-testimonial preyantechnosys-testimonialbox-styletwo">
																		<div class="preyantechnosys-post-item">
																			<div class="preyantechnosys-box-content">
																				<div class="preyantechnosys-box-desc">
																					<div class="prt-icon-testimonial">
																						<i class="kw_fabiflex flaticon-quotes"></i>
																					</div>
																					<blockquote class="preyantechnosys-testimonial-text">We as group takes an opportunity to thank all the Industico crew &amp; the personnel have shown a high-quality job… with respect of QHJS procedures both in the field and in the office were very vigilant and shown an excellent attitude. The unit proved to be very well equipped.</blockquote>
																					<div class="preyantechnosys-ratting-star"> <i class="prt-industico-icon-star-1 prt-active"></i>  <i class="prt-industico-icon-star-1 prt-active"></i>  <i class="prt-industico-icon-star-1 prt-active"></i>  <i class="prt-industico-icon-star-1 prt-active"></i>  <i class="prt-industico-icon-star-1 prt-active"></i> </div>
																				</div>
																				<div class="prt-box-footer">
																					<div class="preyantechnosys-box-title">
																						<h3 class="preyantechnosys-author-name">Victor Williamson</h3>
																						<span class="preyantechnosys-box-footer">CEO Of Bussiness</span>
																					</div>
																				</div>
																			</div>
																		</div>
																	</article>
																</div>
															</div>
														</div>
													</div>
												</div>
												<!-- .preyantechnosys-boxes-inner -->   
											</div>
											<!-- .preyantechnosys-boxes -->  		
										</div>
									</div>
								</div>
							</div>
						</div>
					</section>
				</div>
			</div>
			<!-- .entry-content -->
		</article>
		<!-- #post-## -->
	</main>
	<!-- #main .site-main -->
</div>
{% endblock content %}