{% load static custom_tags component_tags %}
<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
	<head>
		<meta charset="utf-8">
		<title>HUD | POS - Customer Order System</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content>
		<meta name="author" content>
		<!-- favicon -->
		<link rel="icon" href="{% static 'hud/img/icons/favicon.ico' %}" sizes="32x32" type="image/png">
		<link rel="apple-touch-icon" href="{% static 'hud/img/icons/favicon-16x16.png' %}" sizes="16x16">
		<link rel="icon" href="{% static 'hud/img/icons/favicon-32x32.png' %}" sizes="32x32" type="image/png">
		<!-- favicon sizes 
		-->
		<link href="{% static 'hud/css/vendor.min.css' %}" rel="stylesheet">
		<link href="{% static 'hud/css/vendor.min.css' %}" rel="stylesheet">
		<link href="{% static 'hud/css/app.min.css' %}" rel="stylesheet">
		{% for htmx_url in dz_array.crm.htmx %}
		<script src="{% static htmx_url %}" defer></script>
		{% endfor %}
	</head>
	<body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}' 
	hx-on::load="bInput=htmx.find('#barcode-input');bInput.value= '';bInput.focus();" class="pace-top">
		<div id="app" class="app app-content-full-height app-without-sidebar app-without-header">
			<div id="content" class="app-content p-1 ps-xl-4 pe-xl-4 pt-xl-3 pb-xl-3">
				<div class="pos card" id="pos">
					<div class="pos-container card-body">
						<div class="pos-menu">
							<div class="logo">
								<a href="{% url 'hud:hud-index' %}">
									<div class="logo-img">
									{% comment %} <i class="bi bi-x-diamond" style="font-size: 2.1rem;"></i> {% endcomment %}
									<img class="" src="{% static 'hud/img/icons/zeneon-icon-white-02.svg' %}" style="width: 3.1rem;" />
									</div>
									<div class="logo-text">Zeneon LLC.</div>
								</a>
							</div>
							<div class="nav-container">
								<div data-scrollbar="true" data-height="100%" data-skip-mobile="true">
									<ul class="nav nav-tabs">
										<li class="nav-item">
											<a class="nav-link active" href="#" data-filter="all">
												<div class="card">
													<div class="card-body">
														<i class="fa fa-fw fa-utensils"></i> All Dishes
													</div>
													<div class="card-arrow">
														<div class="card-arrow-top-left"></div>
														<div class="card-arrow-top-right"></div>
														<div class="card-arrow-bottom-left"></div>
														<div class="card-arrow-bottom-right"></div>
													</div>
												</div>
											</a>
										</li>
										{% comment %} {% for item in gettotals %}
											{{ item.number }}111
										{% endfor %} {% endcomment %}
										{% for group in groups %}
										<li class="nav-item">
											<a class="nav-link" href="#" data-filter="{{ group.id }}">
												<div class="card">
													<div class="card-body">
														<i class="fa fa-fw fa-shopping-basket"></i> {{ group.name }}
													</div>
													<div class="card-arrow">
														<div class="card-arrow-top-left"></div>
														<div class="card-arrow-top-right"></div>
														<div class="card-arrow-bottom-left"></div>
														<div class="card-arrow-bottom-right"></div>
													</div>
												</div>
											</a>
										</li>
										{% endfor %}

									</ul>
								</div>
							</div>
						</div>
						<div class="pos-content">
							<div class="pos-content-container h-100 p-4" data-scrollbar="true" data-height="100%">
								<div class="row">
									<div class="col-xxl-12">
										{% include 'hud/pos/partials/barcode-input.html' %}
									</div>
								</div>
								<div class="row gx-4">
									{% for product in products%}
										{% include 'hud/pos/partials/product-card.html' %}
									{% endfor %}
								</div>
							</div>
						</div>
						<div class="pos-sidebar" id="pos-sidebar">
							{% include 'hud/pos/order-detail.html' %}
						</div>
					</div>
					<div class="card-arrow">
						<div class="card-arrow-top-left"></div>
						<div class="card-arrow-top-right"></div>
						<div class="card-arrow-bottom-left"></div>
						<div class="card-arrow-bottom-right"></div>
					</div>
				</div>
				<a href="#" class="pos-mobile-sidebar-toggler" data-toggle-class="pos-mobile-sidebar-toggled"
					data-toggle-target="#pos">
				<i class="bi bi-bag"></i>
				<span class="badge">5</span>
				</a>
			</div>
			<a href="#" data-toggle="scroll-to-top" class="btn-scroll-top fade"><i class="fa fa-arrow-up"></i></a>
		</div>
		{% include 'hud/pos/renders/modal-search-cover.html' %}
		<div class="modal modal-pos fade" id="modal-product">
			{% include 'hud/pos/modals/product-modal2.html' %}
		</div>
		<div class="modal modal-cover modal-pos fade" id="modal-calculator">
			{% include 'hud/pos/modals/calculator-modal.html' %} 
		</div>
		

		{% load django_htmx %}
		{% django_htmx_script %}
		<script src="{% static 'hud/js/vendor.min.js' %}" type="6a9f65d44ad9696aba2f6178-text/javascript"></script>
		<script src="{% static 'hud/js/app.min.js' %}" type="6a9f65d44ad9696aba2f6178-text/javascript"></script>
		<script src="{% static 'hud/js/demo/pos-customer-order.demo.js' %}" type="6a9f65d44ad9696aba2f6178-text/javascript"></script>
		<script src="{% static 'hud/js/rocket-loader.min.js' %}" data-cf-settings="6a9f65d44ad9696aba2f6178-|49" defer></script>
	</body>
</html>