{% if item %}
<div class="pos-order">
    <div class="pos-order-product">
        <div class="img"
        style="background-image: url({{ item.product.image.url }})"></div>
        <!-- item details will be updated here -->
        {% include 'hud/pos/partials/order-item-detail.html' %}
    </div>
    <div id="pos-order-price-{{ item.number }}" class="pos-order-price">
        <div>{{ item.product.currency.name }} {{ item.subtotal|floatformat:"0" }}</div>
        <div class="mt-4">Some</div>
    </div>
    <div id="placeholder-remove">
        <!-- Confirm remove will be rendered here -->
    </div>
</div>
{% endif %}