{% if item %}
<div class="pos-order border-bottom" id="order-item-{{ item.number }}">
    <div class="pos-order-product">
        <div class="img"
        style="background-image: url({{ item.product.image.url }})"></div>
        <!-- item details will be updated here -->
        {% include 'hud/pos/partials/order-item-detail.html' %}
    </div>
    <div id="pos-order-price-{{ item.number }}" class="pos-order-price">
        <div>
        <span  class="small">{{ item.product.currency.name }}</span> {{ item.subtotal|floatformat:"0" }}</div>
        <div id='message-received'></div>
        {% comment %} <div class="">
        {{ item.product.currency.name }} {{ item.subtotal|floatformat:"0" }}
        </div>
        <div class="">
        {{ item.product.currency.name }} {{ item.subtotal|floatformat:"0" }}
        </div> {% endcomment %}
        <div class="btn-group position-absolute end-0 bottom-0">
            {% comment %} hx-delete="{% url 'hud:remove-item' item.number True %}"
            hx-target="#active-order-tab-{{ active_order.id }}" {% endcomment %}
            {% include 'hud/pos/buttons/calculator.html' with el_id="message-received" %}

        <button 
            hx-delete="{% url 'hud:remove-button-confirm' item.number %}"
            hx-target="#order-item-{{ item.number }}"
            class="btn text-danger">
            <i class="far fa-fw fa-trash-alt col"></i>
            </button>
        </div>
    </div>
    <div id="placeholder-remove">
        <!-- Confirm remove will be rendered here -->
    </div>
</div>

{% endif %}
