{% extends 'industico/base_index.html' %}
{% load static %}

{% block additional_head_part1 %}
    <link rel='stylesheet' id='elementor-post-1804-css' href="{% static 'industico/uploads/elementor/css/post-service-no-sidebar.css' %}"  media='all' />
{% endblock additional_head_part1 %}

{% block additional_head_part2 %}
    <link rel='stylesheet' id='industico-responsive-style-css'  href="{% static 'industico/css/inlines/home1.css' %}" media='all' /> 
{% endblock additional_head_part2 %}

{% block title_1 %}
    <title>{{ object.title }} - Industico</title>
{% endblock title_1 %}

{% block page_body_classes %}tm_service-template-default single single-tm_service postid-4844 elementor-page-4844 preyantechnosys-page-full-width prt-empty-sidebar{% endblock page_body_classes %}
{% block extra_content_class %}container prt-container-for-content{% endblock extra_content_class %}
{% block header_1 %}

<div class="prt-titlebar-wrapper prt-bg prt-bgcolor-custom prt-titlebar-align-default prt-textcolor-white prt-bgimage-yes prt-breadcrumb-bgcolor-custom"
style="background-image: url({% static 'industico/uploads/2022/06/titlebar-01.jpg' %});">
	<div class="prt-titlebar-wrapper-bg-layer prt-bg-layer"></div>
	<div class="prt-titlebar entry-header">
		<div class="prt-titlebar-inner-wrapper">
			<div class="prt-titlebar-main">
				<div class="container">
					<div class="prt-titlebar-main-inner">
						<div class="entry-title-wrapper">
							<div class="container">
								<h1 class="entry-title">{{ object.title }}</h1>
							</div>
						</div>
						<div class="breadcrumb-wrapper">
							<div class="container">
								<div class="breadcrumb-wrapper-inner">
									<!-- Breadcrumb NavXT output -->
								<span><a rel="v:url" title="Go to Industico." href="https://industico.preyantechnosys.com" class="home">&nbsp;Home<span class="hide">Industico</span></a></span>
									<span class="tm-bread-sep"> // </span>
									<span><a title="Go to Services 1." href="https://industico.preyantechnosys.com/services-1/" class="tm_service-root post post-tm_service"><span>Services 1</span></a></span>
									<span class="tm-bread-sep"> // </span>
									<span><span class="post post-tm_service current-item">{{ object.title }}</span>
								</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- .prt-titlebar-main -->
		</div>
		<!-- .prt-titlebar-inner-wrapper -->
	</div>
	<!-- .prt-titlebar -->
</div>

{% endblock header_1 %}

{% block content %}
<div id="primary" class="content-area ">
	<main id="main" class="site-main">
		<div class="prt-service-single-content-wrapper">
			<div class="preyantechnosys-common-box-shadow prt-service-single-content-wrapper-innerbox">
				<div class="preyantechnosys-service-single-content-area">
					<div class="prt-service-description">
						<div data-elementor-type="wp-post" data-elementor-id="4844" class="elementor elementor-4844">
							<section class="elementor-section elementor-top-section elementor-element elementor-element-3ee3d592 prt-column-break-ipad-no prt-col-stretched-none elementor-section-boxed elementor-section-height-default elementor-section-height-default prt-col-stretched-no prt-bgimage-no prt-bgcolor-yes" data-id="3ee3d592" data-element_type="section">
								<div class="elementor-container elementor-column-gap-no">
									<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-2e4a6f22 prt-bgimage-no prt-bgcolor-yes" data-id="2e4a6f22" data-element_type="column">
										<div class="elementor-widget-wrap elementor-element-populated">
											<div class="elementor-element elementor-element-26283ea2 elementor-widget elementor-widget-image" data-id="26283ea2" data-element_type="widget" data-widget_type="image.default">
												<div class="elementor-widget-container">
													<style>/*! elementor - v3.6.6 - 08-06-2022 */
														.elementor-widget-image{text-align:center}.elementor-widget-image a{display:inline-block}.elementor-widget-image a img[src$=".svg"]{width:48px}.elementor-widget-image img{vertical-align:middle;display:inline-block}
													</style>
													<img width="1200" height="660" src="https://industico.preyantechnosys.com/wp-content/uploads/2022/06/service-detail-1.jpg" class="attachment-full size-full" alt="" loading="lazy" srcset="https://industico.preyantechnosys.com/wp-content/uploads/2022/06/service-detail-1.jpg 1200w, https://industico.preyantechnosys.com/wp-content/uploads/2022/06/service-detail-1-300x165.jpg 300w, https://industico.preyantechnosys.com/wp-content/uploads/2022/06/service-detail-1-1024x563.jpg 1024w, https://industico.preyantechnosys.com/wp-content/uploads/2022/06/service-detail-1-768x422.jpg 768w, https://industico.preyantechnosys.com/wp-content/uploads/2022/06/service-detail-1-85x47.jpg 85w, https://industico.preyantechnosys.com/wp-content/uploads/2022/06/service-detail-1-650x358.jpg 650w" sizes="(max-width: 1200px) 100vw, 1200px" data-id="4992">															
												</div>
											</div>
											<div class="elementor-element elementor-element-6d230ff6 elementor-widget elementor-widget-heading" data-id="6d230ff6" data-element_type="widget" data-widget_type="heading.default">
												<div class="elementor-widget-container">
													<style>/*! elementor - v3.6.6 - 08-06-2022 */
														.elementor-heading-title{padding:0;margin:0;line-height:1}.elementor-widget-heading .elementor-heading-title[class*=elementor-size-]>a{color:inherit;font-size:inherit;line-height:inherit}.elementor-widget-heading .elementor-heading-title.elementor-size-small{font-size:15px}.elementor-widget-heading .elementor-heading-title.elementor-size-medium{font-size:19px}.elementor-widget-heading .elementor-heading-title.elementor-size-large{font-size:29px}.elementor-widget-heading .elementor-heading-title.elementor-size-xl{font-size:39px}.elementor-widget-heading .elementor-heading-title.elementor-size-xxl{font-size:59px}
													</style>
													<h2 class="elementor-heading-title elementor-size-default">Automotive Manufacturing</h2>
												</div>
											</div>
											<div class="elementor-element elementor-element-53b33057 elementor-widget elementor-widget-text-editor" data-id="53b33057" data-element_type="widget" data-widget_type="text-editor.default">
												<div class="elementor-widget-container">
													<style>/*! elementor - v3.6.6 - 08-06-2022 */
														.elementor-widget-text-editor.elementor-drop-cap-view-stacked .elementor-drop-cap{background-color:#818a91;color:#fff}.elementor-widget-text-editor.elementor-drop-cap-view-framed .elementor-drop-cap{color:#818a91;border:3px solid;background-color:transparent}.elementor-widget-text-editor:not(.elementor-drop-cap-view-default) .elementor-drop-cap{margin-top:8px}.elementor-widget-text-editor:not(.elementor-drop-cap-view-default) .elementor-drop-cap-letter{width:1em;height:1em}.elementor-widget-text-editor .elementor-drop-cap{float:left;text-align:center;line-height:1;font-size:50px}.elementor-widget-text-editor .elementor-drop-cap-letter{display:inline-block}
													</style>
													<p>Oil and natural gas are major industries in the energy market and play an influential role in the global economy as the world’s primary fuel sources. The require state-of-the-art the latest oil technology. industico offers a broad set of coordinated service solutions for critical to process equipment across of industrial markets.</p>
												</div>
											</div>
										</div>
									</div>
								</div>
							</section>
							<section class="elementor-section elementor-top-section elementor-element elementor-element-36928a20 prt-column-break-ipad-yes prt-col-stretched-none elementor-section-boxed elementor-section-height-default elementor-section-height-default prt-col-stretched-no prt-bgimage-no prt-bgcolor-yes" data-id="36928a20" data-element_type="section">
								<div class="elementor-container elementor-column-gap-default">
									<div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-7f20a7b3 prt-bgimage-no prt-bgcolor-yes" data-id="7f20a7b3" data-element_type="column">
										<div class="elementor-widget-wrap elementor-element-populated">
											<div class="elementor-element elementor-element-59243aa8 elementor-widget elementor-widget-tm_icon_heading" data-id="59243aa8" data-element_type="widget" data-widget_type="tm_icon_heading.default">
												<div class="elementor-widget-container">
													<div class="preyantechnosys-iconbox preyantechnosys-iconbox-stylefive preyantechnosys-iconcolor-skincolor">
														<div class="preyantechnosys-iconbox-inner">
															<div class="prt-iconbox-wrapper prt-wrap">
																<div class="preyantechnosys-iconbox-icon prt-wrap-cell">
																	<div class="prt-icon-type-image"><img src="https://industico.preyantechnosys.com/wp-content/uploads/2022/05/img-03.jpg" alt="Icon"></div>
																</div>
																<div class="preyantechnosys-iconbox-heading prt-wrap-cell">
																	<h2 class="prt-custom-heading">
																		Advanced Technology
																	</h2>
																	<div class="prt-cta3-content-wrapper">To be recognised as a Company and partner of choice.</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-1b8cd34c prt-bgimage-no prt-bgcolor-yes" data-id="1b8cd34c" data-element_type="column">
										<div class="elementor-widget-wrap elementor-element-populated">
											<div class="elementor-element elementor-element-6499ac6 elementor-widget elementor-widget-tm_icon_heading" data-id="6499ac6" data-element_type="widget" data-widget_type="tm_icon_heading.default">
												<div class="elementor-widget-container">
													<div class="preyantechnosys-iconbox preyantechnosys-iconbox-stylefive preyantechnosys-iconcolor-skincolor">
														<div class="preyantechnosys-iconbox-inner">
															<div class="prt-iconbox-wrapper prt-wrap">
																<div class="preyantechnosys-iconbox-icon prt-wrap-cell">
																	<div class="prt-icon-type-image"><img src="https://industico.preyantechnosys.com/wp-content/uploads/2022/05/img-04.jpg" alt="Icon"></div>
																</div>
																<div class="preyantechnosys-iconbox-heading prt-wrap-cell">
																	<h2 class="prt-custom-heading">
																		Manufacture Product
																	</h2>
																	<div class="prt-cta3-content-wrapper">Continuous Investment In Tech Is An Essential Enabler.</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</section>
							<section class="elementor-section elementor-top-section elementor-element elementor-element-4b21c621 prt-column-break-ipad-no prt-col-stretched-none elementor-section-boxed elementor-section-height-default elementor-section-height-default prt-col-stretched-no prt-bgimage-no prt-bgcolor-yes" data-id="4b21c621" data-element_type="section">
								<div class="elementor-container elementor-column-gap-no">
									<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-33df9fe6 prt-bgimage-no prt-bgcolor-yes" data-id="33df9fe6" data-element_type="column">
										<div class="elementor-widget-wrap elementor-element-populated">
											<div class="elementor-element elementor-element-6cb94fdf elementor-widget elementor-widget-heading" data-id="6cb94fdf" data-element_type="widget" data-widget_type="heading.default">
												<div class="elementor-widget-container">
													<h2 class="elementor-heading-title elementor-size-default">What we can Do</h2>
												</div>
											</div>
											<div class="elementor-element elementor-element-18490d2e elementor-widget elementor-widget-text-editor" data-id="18490d2e" data-element_type="widget" data-widget_type="text-editor.default">
												<div class="elementor-widget-container">
													<p>An Operational modeling impacts integral part of modern manufacturing processes and play an essential are fully integrated into income statement. This collection draws together articles and reports that lay out a pathway.</p>
												</div>
											</div>
											<div class="elementor-section elementor-inner-section elementor-element elementor-element-4c25887 prt-list3 prt-column-break-ipad-no prt-col-stretched-none elementor-section-boxed elementor-section-height-default elementor-section-height-default prt-bgimage-no prt-bgcolor-yes" data-id="4c25887" data-element_type="section">
												<div class="elementor-container elementor-column-gap-default">
													<div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-9e39e41 prt-bgimage-no prt-bgcolor-yes" data-id="9e39e41" data-element_type="column">
														<div class="elementor-widget-wrap elementor-element-populated">
															<div class="elementor-element elementor-element-0a441bb elementor-icon-list--layout-traditional elementor-list-item-link-full_width elementor-widget elementor-widget-icon-list" data-id="0a441bb" data-element_type="widget" data-widget_type="icon-list.default">
																<div class="elementor-widget-container">
																	<link rel="stylesheet" href="https://industico.preyantechnosys.com/wp-content/plugins/elementor/assets/css/widget-icon-list.min.css">
																	<ul class="elementor-icon-list-items">
																		<li class="elementor-icon-list-item">
																			<span class="elementor-icon-list-icon">
																			<i aria-hidden="true" class="fas fa-check"></i>						</span>
																			<span class="elementor-icon-list-text">Words is roughly being maintained.</span>
																		</li>
																	</ul>
																</div>
															</div>
														</div>
													</div>
													<div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-f6fe7cc prt-bgimage-no prt-bgcolor-yes" data-id="f6fe7cc" data-element_type="column">
														<div class="elementor-widget-wrap elementor-element-populated">
															<div class="elementor-element elementor-element-c961846 elementor-icon-list--layout-traditional elementor-list-item-link-full_width elementor-widget elementor-widget-icon-list" data-id="c961846" data-element_type="widget" data-widget_type="icon-list.default">
																<div class="elementor-widget-container">
																	<ul class="elementor-icon-list-items">
																		<li class="elementor-icon-list-item">
																			<span class="elementor-icon-list-icon">
																			<i aria-hidden="true" class="fas fa-check"></i>						</span>
																			<span class="elementor-icon-list-text">How I can contact with your handyman?</span>
																		</li>
																	</ul>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="elementor-section elementor-inner-section elementor-element elementor-element-b59cf91 prt-list3 prt-column-break-ipad-no prt-col-stretched-none elementor-section-boxed elementor-section-height-default elementor-section-height-default prt-bgimage-no prt-bgcolor-yes" data-id="b59cf91" data-element_type="section">
												<div class="elementor-container elementor-column-gap-default">
													<div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-e6efdc3 prt-bgimage-no prt-bgcolor-yes" data-id="e6efdc3" data-element_type="column">
														<div class="elementor-widget-wrap elementor-element-populated">
															<div class="elementor-element elementor-element-01748aa elementor-icon-list--layout-traditional elementor-list-item-link-full_width elementor-widget elementor-widget-icon-list" data-id="01748aa" data-element_type="widget" data-widget_type="icon-list.default">
																<div class="elementor-widget-container">
																	<ul class="elementor-icon-list-items">
																		<li class="elementor-icon-list-item">
																			<span class="elementor-icon-list-icon">
																			<i aria-hidden="true" class="fas fa-check"></i>						</span>
																			<span class="elementor-icon-list-text">How much time the service will take?</span>
																		</li>
																	</ul>
																</div>
															</div>
														</div>
													</div>
													<div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-7972013 prt-bgimage-no prt-bgcolor-yes" data-id="7972013" data-element_type="column">
														<div class="elementor-widget-wrap elementor-element-populated">
															<div class="elementor-element elementor-element-0249f4f elementor-icon-list--layout-traditional elementor-list-item-link-full_width elementor-widget elementor-widget-icon-list" data-id="0249f4f" data-element_type="widget" data-widget_type="icon-list.default">
																<div class="elementor-widget-container">
																	<ul class="elementor-icon-list-items">
																		<li class="elementor-icon-list-item">
																			<span class="elementor-icon-list-icon">
																			<i aria-hidden="true" class="fas fa-check"></i>						</span>
																			<span class="elementor-icon-list-text">A process equipments across the industrial.</span>
																		</li>
																	</ul>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</section>
							<section class="elementor-section elementor-top-section elementor-element elementor-element-718875b8 prt-column-break-ipad-no prt-col-stretched-none elementor-section-boxed elementor-section-height-default elementor-section-height-default prt-col-stretched-no prt-bgimage-no prt-bgcolor-yes" data-id="718875b8" data-element_type="section">
								<div class="elementor-container elementor-column-gap-no">
									<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-706af829 prt-bgimage-no prt-bgcolor-yes" data-id="706af829" data-element_type="column">
										<div class="elementor-widget-wrap elementor-element-populated">
											<div class="elementor-element elementor-element-4e52bd69 elementor-widget elementor-widget-heading" data-id="4e52bd69" data-element_type="widget" data-widget_type="heading.default">
												<div class="elementor-widget-container">
													<h2 class="elementor-heading-title elementor-size-default">Our Services Include</h2>
												</div>
											</div>
											<div class="elementor-element elementor-element-60f7a9a9 elementor-widget elementor-widget-text-editor" data-id="60f7a9a9" data-element_type="widget" data-widget_type="text-editor.default">
												<div class="elementor-widget-container">
													<p>The sectors that produce the majority of global greenhouse-gas emissions steep challenge to decarbonize, but our research shows that solutions are within reach. Transformation is well underway We Believe In Power Of Energy.</p>
												</div>
											</div>
										</div>
									</div>
								</div>
							</section>
							<section class="elementor-section elementor-top-section elementor-element elementor-element-68e9a965 prt-column-break-ipad-no prt-col-stretched-none elementor-section-boxed elementor-section-height-default elementor-section-height-default prt-col-stretched-no prt-bgimage-no prt-bgcolor-yes" data-id="68e9a965" data-element_type="section">
								<div class="elementor-container elementor-column-gap-no">
									<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-23305ad3 prt-bgimage-no prt-bgcolor-yes" data-id="23305ad3" data-element_type="column">
										<div class="elementor-widget-wrap elementor-element-populated">
											<div class="elementor-element elementor-element-60958925 prt-align-left elementor-widget elementor-widget-tm_service_element" data-id="60958925" data-element_type="widget" data-widget_type="tm_service_element.default">
												<div class="elementor-widget-container">
													<div class="preyantechnosys-boxes preyantechnosys-boxes-service preyantechnosys-element-servicebox-styletwo preyantechnosys-boxes-view-carousel preyantechnosys-boxes-col-one prt-boxes-carousel-arrow-square prt-boxes-carousel-arrows-1 preyantechnosys-boxes-gap-30px" data-prt-show="2" data-prt-loop="1" data-prt-autoplay="0" data-prt-centermode="0" data-prt-nav="1" data-prt-dots="" data-prt-slidestoscroll="1" data-prt-autoplayspeed="4500" data-prt-margin="30px">
														<div class="preyantechnosys-boxes-inner">
															<div class="preyantechnosys-box-heading-wrapper prt-boxwithout-heading">
																<div class="prt-element-heading-content-wrapper left-align  prt-seperator-none  prt-heading-style-vertical ">
																	<div class="prt-content-header"></div>
																</div>
															</div>
															<div class="preyantechnosys-boxes-row-wrapper row multi-columns-row slick-initialized slick-slider">
																<button type="button" data-role="none" class="slick-prev slick-arrow" aria-label="Previous" role="button" style="">Previous</button>
																<div aria-live="polite" class="slick-list draggable">
																	<div class="slick-track" style="opacity: 1; width: 3572px; transform: translate3d(-893px, 0px, 0px);" role="listbox">
																		<div class="prt-box-col-wrapper refinery slick-slide slick-cloned" data-slick-index="-1" id="" aria-hidden="true" style="width: 893px;" tabindex="-1">
																			<article class="preyantechnosys-box preyantechnosys-box-service preyantechnosys-servicebox-styletwo ">
																				<div class="preyantechnosys-post-item prt-wrap">
																					<div class="item-figure prt-wrap-cell">
																						<div class="prt-featured-wrapper prt-tm_service-featured-wrapper"><img loading="lazy" width="411" height="315" src="https://industico.preyantechnosys.com/wp-content/uploads/2022/05/01-1-411x315.jpg" class="attachment-preyantechnosys-img-service2 size-preyantechnosys-img-service2 wp-post-image" alt="" data-id="3957"></div>
																					</div>
																					<div class="prt-servicebox-detials prt-wrap-cell">
																						<div class="item-content prt-wrap">
																							<div class="prt-box-icon prt-wrap-cell">						<i class="kw_industico flaticon-maintenance"></i>
																							</div>
																							<div class="prt-title prt-wrap-cell">
																								<div class="preyantechnosys-box-title">
																									<h4><a href="https://industico.preyantechnosys.com/service/petroleum-refinery/" tabindex="-1">Awesome Employers</a></h4>
																								</div>
																							</div>
																						</div>
																						<div class="preyantechnosys-box-desc">
																							<div class="prt-short-desc">
																								<p>industico with a long list of products and never ending customer support we are able to guarantee a very high level of satisfaction for our clients.</p>
																							</div>
																						</div>
																					</div>
																				</div>
																			</article>
																		</div>
																		<div class="prt-box-col-wrapper machinery slick-slide slick-current slick-active" data-slick-index="0" aria-hidden="false" style="width: 893px;" tabindex="-1" role="option" aria-describedby="slick-slide00">
																			<article class="preyantechnosys-box preyantechnosys-box-service preyantechnosys-servicebox-styletwo ">
																				<div class="preyantechnosys-post-item prt-wrap">
																					<div class="item-figure prt-wrap-cell">
																						<div class="prt-featured-wrapper prt-tm_service-featured-wrapper"><img loading="lazy" width="411" height="315" src="https://industico.preyantechnosys.com/wp-content/uploads/2022/06/04-411x315.jpg" class="attachment-preyantechnosys-img-service2 size-preyantechnosys-img-service2 wp-post-image" alt="" data-id="3991"></div>
																					</div>
																					<div class="prt-servicebox-detials prt-wrap-cell">
																						<div class="item-content prt-wrap">
																							<div class="prt-box-icon prt-wrap-cell">						<i class="kw_industico flaticon-biofuel"></i>
																							</div>
																							<div class="prt-title prt-wrap-cell">
																								<div class="preyantechnosys-box-title">
																									<h4><a href="https://industico.preyantechnosys.com/service/power-technology/" tabindex="0">Power Technology</a></h4>
																								</div>
																							</div>
																						</div>
																						<div class="preyantechnosys-box-desc">
																							<div class="prt-short-desc">
																								<p>industico with a long list of products and never ending customer support we are able to guarantee a very high level of satisfaction for our clients.</p>
																							</div>
																						</div>
																					</div>
																				</div>
																			</article>
																		</div>
																		<div class="prt-box-col-wrapper refinery slick-slide" data-slick-index="1" aria-hidden="true" style="width: 893px;" tabindex="-1" role="option" aria-describedby="slick-slide01">
																			<article class="preyantechnosys-box preyantechnosys-box-service preyantechnosys-servicebox-styletwo ">
																				<div class="preyantechnosys-post-item prt-wrap">
																					<div class="item-figure prt-wrap-cell">
																						<div class="prt-featured-wrapper prt-tm_service-featured-wrapper"><img loading="lazy" width="411" height="315" src="https://industico.preyantechnosys.com/wp-content/uploads/2022/05/01-1-411x315.jpg" class="attachment-preyantechnosys-img-service2 size-preyantechnosys-img-service2 wp-post-image" alt="" data-id="3957"></div>
																					</div>
																					<div class="prt-servicebox-detials prt-wrap-cell">
																						<div class="item-content prt-wrap">
																							<div class="prt-box-icon prt-wrap-cell">						<i class="kw_industico flaticon-maintenance"></i>
																							</div>
																							<div class="prt-title prt-wrap-cell">
																								<div class="preyantechnosys-box-title">
																									<h4><a href="https://industico.preyantechnosys.com/service/petroleum-refinery/" tabindex="-1">Awesome Employers</a></h4>
																								</div>
																							</div>
																						</div>
																						<div class="preyantechnosys-box-desc">
																							<div class="prt-short-desc">
																								<p>industico with a long list of products and never ending customer support we are able to guarantee a very high level of satisfaction for our clients.</p>
																							</div>
																						</div>
																					</div>
																				</div>
																			</article>
																		</div>
																		<div class="prt-box-col-wrapper machinery slick-slide slick-cloned" data-slick-index="2" id="" aria-hidden="true" style="width: 893px;" tabindex="-1">
																			<article class="preyantechnosys-box preyantechnosys-box-service preyantechnosys-servicebox-styletwo ">
																				<div class="preyantechnosys-post-item prt-wrap">
																					<div class="item-figure prt-wrap-cell">
																						<div class="prt-featured-wrapper prt-tm_service-featured-wrapper"><img loading="lazy" width="411" height="315" src="https://industico.preyantechnosys.com/wp-content/uploads/2022/06/04-411x315.jpg" class="attachment-preyantechnosys-img-service2 size-preyantechnosys-img-service2 wp-post-image" alt="" data-id="3991"></div>
																					</div>
																					<div class="prt-servicebox-detials prt-wrap-cell">
																						<div class="item-content prt-wrap">
																							<div class="prt-box-icon prt-wrap-cell">						<i class="kw_industico flaticon-biofuel"></i>
																							</div>
																							<div class="prt-title prt-wrap-cell">
																								<div class="preyantechnosys-box-title">
																									<h4><a href="https://industico.preyantechnosys.com/service/power-technology/" tabindex="-1">Power Technology</a></h4>
																								</div>
																							</div>
																						</div>
																						<div class="preyantechnosys-box-desc">
																							<div class="prt-short-desc">
																								<p>industico with a long list of products and never ending customer support we are able to guarantee a very high level of satisfaction for our clients.</p>
																							</div>
																						</div>
																					</div>
																				</div>
																			</article>
																		</div>
																	</div>
																</div>
																<button type="button" data-role="none" class="slick-next slick-arrow" aria-label="Next" role="button" style="">Next</button>
															</div>
														</div>
														<!-- .preyantechnosys-boxes-inner -->   
													</div>
													<!-- .preyantechnosys-boxes -->  		
												</div>
											</div>
										</div>
									</div>
								</div>
							</section>
						</div>
					</div>
					<!-- .prt-service-description -->		
				</div>
				<!-- .preyantechnosys-service-single-content-area -->
			</div>
		</div>
	</main>
	<!-- .site-main -->
</div>
{% endblock content %}