{% extends 'industico/base_index.html' %}
{% load static %}

{% block additional_head_part1 %}
    <link rel='stylesheet' id='elementor-post-1804-css' href="{% static 'industico/uploads/elementor/css/post-service-right-sidebar.css' %}"  media='all' />
{% endblock additional_head_part1 %}

{% block additional_head_part2 %}
    <link rel='stylesheet' id='industico-responsive-style-css'  href="{% static 'industico/css/inlines/home1.css' %}" media='all' /> 
{% endblock additional_head_part2 %}

{% block title_1 %}
    <title>{{ object.title }} - Industico</title>
{% endblock title_1 %}

{% block page_body_classes %}tm_service-template-default single single-tm_service postid-111 elementor-page-111 preyantechnosys-sidebar-true preyantechnosys-sidebar-right{% endblock page_body_classes %}
{% block extra_content_class %}container prt-container-for-content{% endblock extra_content_class %}
{% block extra_inner_class %}row multi-columns-row{% endblock extra_inner_class %}
{% block header_1 %}

<div class="prt-titlebar-wrapper prt-bg prt-bgcolor-custom prt-titlebar-align-default prt-textcolor-white prt-bgimage-yes prt-breadcrumb-bgcolor-custom"
	style="background-image: url({% static 'industico/uploads/2022/06/titlebar-01.jpg' %});">
	<div class="prt-titlebar-wrapper-bg-layer prt-bg-layer"></div>
	<div class="prt-titlebar entry-header">
		<div class="prt-titlebar-inner-wrapper">
			<div class="prt-titlebar-main">
				<div class="container">
					<div class="prt-titlebar-main-inner">
						<div class="entry-title-wrapper">
							<div class="container">
								<h1 class="entry-title">{{ object.title }}</h1>
							</div>
						</div>
						<div class="breadcrumb-wrapper">
							<div class="container">
								<div class="breadcrumb-wrapper-inner">
									<!-- Breadcrumb NavXT output --><span><a rel="v:url" title="Go to Industico." href="/industico/" class="home">&nbsp;Home<span class="hide">Industico</span></a></span><span class="tm-bread-sep"> // </span><span><a title="Go to Services 1." href="/industico/services-1/" class="tm_service-root post post-tm_service"><span>Services 1</span></a></span><span class="tm-bread-sep"> // </span><span><span class="post post-tm_service current-item">{{ object.title }}</span></span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- .prt-titlebar-main -->
		</div>
		<!-- .prt-titlebar-inner-wrapper -->
	</div>
	<!-- .prt-titlebar -->
</div>

{% endblock header_1 %}

{% block content %}
<div id="primary" class="content-area col-md-9 col-lg-9 col-xs-12">
	<main id="main" class="site-main">
		<div class="prt-service-single-content-wrapper">
			<div class="preyantechnosys-common-box-shadow prt-service-single-content-wrapper-innerbox">
				<div class="preyantechnosys-service-single-content-area">
					<div class="prt-service-description">
						<div data-elementor-type="wp-post" data-elementor-id="111" class="elementor elementor-111">
							<section class="elementor-section elementor-top-section elementor-element elementor-element-5dd20b90 prt-column-break-ipad-no prt-col-stretched-none elementor-section-boxed elementor-section-height-default elementor-section-height-default prt-col-stretched-no prt-bgimage-no prt-bgcolor-yes" data-id="5dd20b90" data-element_type="section">
								<div class="elementor-container elementor-column-gap-no">
									<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-d508b39 prt-bgimage-no prt-bgcolor-yes" data-id="d508b39" data-element_type="column">
										<div class="elementor-widget-wrap elementor-element-populated">
											<div class="elementor-element elementor-element-1f5c9cc5 elementor-widget elementor-widget-image" data-id="1f5c9cc5" data-element_type="widget" data-widget_type="image.default">
												<div class="elementor-widget-container">
													<style>/*! elementor - v3.6.6 - 08-06-2022 */
														.elementor-widget-image{text-align:center}.elementor-widget-image a{display:inline-block}.elementor-widget-image a img[src$=".svg"]{width:48px}.elementor-widget-image img{vertical-align:middle;display:inline-block}
													</style>
													<img width="923" height="470" src="https://industico.preyantechnosys.com/wp-content/uploads/2022/05/ser-03.jpg" class="attachment-full size-full" alt="" loading="lazy" srcset="https://industico.preyantechnosys.com/wp-content/uploads/2022/05/ser-03.jpg 923w, https://industico.preyantechnosys.com/wp-content/uploads/2022/05/ser-03-300x153.jpg 300w, https://industico.preyantechnosys.com/wp-content/uploads/2022/05/ser-03-768x391.jpg 768w, https://industico.preyantechnosys.com/wp-content/uploads/2022/05/ser-03-85x43.jpg 85w, https://industico.preyantechnosys.com/wp-content/uploads/2022/05/ser-03-650x331.jpg 650w" sizes="(max-width: 923px) 100vw, 923px" data-id="7329">															
												</div>
											</div>
											<div class="elementor-element elementor-element-156c0c55 elementor-widget elementor-widget-heading" data-id="156c0c55" data-element_type="widget" data-widget_type="heading.default">
												<div class="elementor-widget-container">
													<style>/*! elementor - v3.6.6 - 08-06-2022 */
														.elementor-heading-title{padding:0;margin:0;line-height:1}.elementor-widget-heading .elementor-heading-title[class*=elementor-size-]>a{color:inherit;font-size:inherit;line-height:inherit}.elementor-widget-heading .elementor-heading-title.elementor-size-small{font-size:15px}.elementor-widget-heading .elementor-heading-title.elementor-size-medium{font-size:19px}.elementor-widget-heading .elementor-heading-title.elementor-size-large{font-size:29px}.elementor-widget-heading .elementor-heading-title.elementor-size-xl{font-size:39px}.elementor-widget-heading .elementor-heading-title.elementor-size-xxl{font-size:59px}
													</style>
													<h2 class="elementor-heading-title elementor-size-default">Automotive Manufacturing</h2>
												</div>
											</div>
											<div class="elementor-element elementor-element-356413e5 elementor-widget elementor-widget-text-editor" data-id="356413e5" data-element_type="widget" data-widget_type="text-editor.default">
												<div class="elementor-widget-container">
													<style>/*! elementor - v3.6.6 - 08-06-2022 */
														.elementor-widget-text-editor.elementor-drop-cap-view-stacked .elementor-drop-cap{background-color:#818a91;color:#fff}.elementor-widget-text-editor.elementor-drop-cap-view-framed .elementor-drop-cap{color:#818a91;border:3px solid;background-color:transparent}.elementor-widget-text-editor:not(.elementor-drop-cap-view-default) .elementor-drop-cap{margin-top:8px}.elementor-widget-text-editor:not(.elementor-drop-cap-view-default) .elementor-drop-cap-letter{width:1em;height:1em}.elementor-widget-text-editor .elementor-drop-cap{float:left;text-align:center;line-height:1;font-size:50px}.elementor-widget-text-editor .elementor-drop-cap-letter{display:inline-block}
													</style>
													<p>Oil and natural gas are major industries in the energy market and play an influential role in the global economy as the world’s primary fuel sources. The require state-of-the-art the latest oil technology. industico offers a broad set of coordinated service solutions for critical to process equipment across of industrial markets.</p>
												</div>
											</div>
										</div>
									</div>
								</div>
							</section>
							<section class="elementor-section elementor-top-section elementor-element elementor-element-3923641c prt-column-break-ipad-yes prt-col-stretched-none elementor-section-boxed elementor-section-height-default elementor-section-height-default prt-col-stretched-no prt-bgimage-no prt-bgcolor-yes" data-id="3923641c" data-element_type="section">
								<div class="elementor-container elementor-column-gap-default">
									<div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-1acf51ee prt-bgimage-no prt-bgcolor-yes" data-id="1acf51ee" data-element_type="column">
										<div class="elementor-widget-wrap elementor-element-populated">
											<div class="elementor-element elementor-element-109b3143 elementor-widget elementor-widget-tm_icon_heading" data-id="109b3143" data-element_type="widget" data-widget_type="tm_icon_heading.default">
												<div class="elementor-widget-container">
													<div class="preyantechnosys-iconbox preyantechnosys-iconbox-stylefive preyantechnosys-iconcolor-skincolor">
														<div class="preyantechnosys-iconbox-inner">
															<div class="prt-iconbox-wrapper prt-wrap">
																<div class="preyantechnosys-iconbox-icon prt-wrap-cell">
																	<div class="prt-icon-type-image"><img src="https://industico.preyantechnosys.com/wp-content/uploads/2022/05/img-03.jpg" alt="Icon"></div>
																</div>
																<div class="preyantechnosys-iconbox-heading prt-wrap-cell">
																	<h2 class="prt-custom-heading">
																		Advanced Technology
																	</h2>
																	<div class="prt-cta3-content-wrapper">To be recognised as a Company and partner of choice.</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-5a8729f1 prt-bgimage-no prt-bgcolor-yes" data-id="5a8729f1" data-element_type="column">
										<div class="elementor-widget-wrap elementor-element-populated">
											<div class="elementor-element elementor-element-64f08381 elementor-widget elementor-widget-tm_icon_heading" data-id="64f08381" data-element_type="widget" data-widget_type="tm_icon_heading.default">
												<div class="elementor-widget-container">
													<div class="preyantechnosys-iconbox preyantechnosys-iconbox-stylefive preyantechnosys-iconcolor-skincolor">
														<div class="preyantechnosys-iconbox-inner">
															<div class="prt-iconbox-wrapper prt-wrap">
																<div class="preyantechnosys-iconbox-icon prt-wrap-cell">
																	<div class="prt-icon-type-image"><img src="https://industico.preyantechnosys.com/wp-content/uploads/2022/05/img-04.jpg" alt="Icon"></div>
																</div>
																<div class="preyantechnosys-iconbox-heading prt-wrap-cell">
																	<h2 class="prt-custom-heading">
																		Manufacture Product
																	</h2>
																	<div class="prt-cta3-content-wrapper">Continuous Investment In Tech Is An Essential Enabler.</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</section>
							<section class="elementor-section elementor-top-section elementor-element elementor-element-75c0ca00 prt-column-break-ipad-no prt-col-stretched-none elementor-section-boxed elementor-section-height-default elementor-section-height-default prt-col-stretched-no prt-bgimage-no prt-bgcolor-yes" data-id="75c0ca00" data-element_type="section">
								<div class="elementor-container elementor-column-gap-no">
									<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-19608af1 prt-bgimage-no prt-bgcolor-yes" data-id="19608af1" data-element_type="column">
										<div class="elementor-widget-wrap elementor-element-populated">
											<div class="elementor-element elementor-element-2ba4a9b8 elementor-widget elementor-widget-heading" data-id="2ba4a9b8" data-element_type="widget" data-widget_type="heading.default">
												<div class="elementor-widget-container">
													<h2 class="elementor-heading-title elementor-size-default">What we can Do</h2>
												</div>
											</div>
											<div class="elementor-element elementor-element-30a7d9a5 elementor-widget elementor-widget-text-editor" data-id="30a7d9a5" data-element_type="widget" data-widget_type="text-editor.default">
												<div class="elementor-widget-container">
													<p>An Operational modeling impacts integral part of modern manufacturing processes and play an essential are fully integrated into income statement. This collection draws together articles and reports that lay out a pathway.</p>
												</div>
											</div>
											<section class="elementor-section elementor-inner-section elementor-element elementor-element-4d337bde prt-list3 prt-column-break-ipad-no prt-col-stretched-none elementor-section-boxed elementor-section-height-default elementor-section-height-default prt-bgimage-no prt-bgcolor-yes" data-id="4d337bde" data-element_type="section">
												<div class="elementor-container elementor-column-gap-default">
													<div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-66b0a09f prt-bgimage-no prt-bgcolor-yes" data-id="66b0a09f" data-element_type="column">
														<div class="elementor-widget-wrap elementor-element-populated">
															<div class="elementor-element elementor-element-7438961e elementor-icon-list--layout-traditional elementor-list-item-link-full_width elementor-widget elementor-widget-icon-list" data-id="7438961e" data-element_type="widget" data-widget_type="icon-list.default">
																<div class="elementor-widget-container">
																	<link rel="stylesheet" href="https://industico.preyantechnosys.com/wp-content/plugins/elementor/assets/css/widget-icon-list.min.css">
																	<ul class="elementor-icon-list-items">
																		<li class="elementor-icon-list-item">
																			<span class="elementor-icon-list-icon">
																			<i aria-hidden="true" class="fas fa-check"></i>						</span>
																			<span class="elementor-icon-list-text">Words is roughly being maintained.</span>
																		</li>
																	</ul>
																</div>
															</div>
														</div>
													</div>
													<div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-5c5cf prt-bgimage-no prt-bgcolor-yes" data-id="5c5cf" data-element_type="column">
														<div class="elementor-widget-wrap elementor-element-populated">
															<div class="elementor-element elementor-element-19f7792d elementor-icon-list--layout-traditional elementor-list-item-link-full_width elementor-widget elementor-widget-icon-list" data-id="19f7792d" data-element_type="widget" data-widget_type="icon-list.default">
																<div class="elementor-widget-container">
																	<ul class="elementor-icon-list-items">
																		<li class="elementor-icon-list-item">
																			<span class="elementor-icon-list-icon">
																			<i aria-hidden="true" class="fas fa-check"></i>						</span>
																			<span class="elementor-icon-list-text">How I can contact with your handyman?</span>
																		</li>
																	</ul>
																</div>
															</div>
														</div>
													</div>
												</div>
											</section>
											<section class="elementor-section elementor-inner-section elementor-element elementor-element-5048d70c prt-list3 prt-column-break-ipad-no prt-col-stretched-none elementor-section-boxed elementor-section-height-default elementor-section-height-default prt-bgimage-no prt-bgcolor-yes" data-id="5048d70c" data-element_type="section">
												<div class="elementor-container elementor-column-gap-default">
													<div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-4181847a prt-bgimage-no prt-bgcolor-yes" data-id="4181847a" data-element_type="column">
														<div class="elementor-widget-wrap elementor-element-populated">
															<div class="elementor-element elementor-element-9029b63 elementor-icon-list--layout-traditional elementor-list-item-link-full_width elementor-widget elementor-widget-icon-list" data-id="9029b63" data-element_type="widget" data-widget_type="icon-list.default">
																<div class="elementor-widget-container">
																	<ul class="elementor-icon-list-items">
																		<li class="elementor-icon-list-item">
																			<span class="elementor-icon-list-icon">
																			<i aria-hidden="true" class="fas fa-check"></i>						</span>
																			<span class="elementor-icon-list-text">How much time the service will take?</span>
																		</li>
																	</ul>
																</div>
															</div>
														</div>
													</div>
													<div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-51de076 prt-bgimage-no prt-bgcolor-yes" data-id="51de076" data-element_type="column">
														<div class="elementor-widget-wrap elementor-element-populated">
															<div class="elementor-element elementor-element-491c76a1 elementor-icon-list--layout-traditional elementor-list-item-link-full_width elementor-widget elementor-widget-icon-list" data-id="491c76a1" data-element_type="widget" data-widget_type="icon-list.default">
																<div class="elementor-widget-container">
																	<ul class="elementor-icon-list-items">
																		<li class="elementor-icon-list-item">
																			<span class="elementor-icon-list-icon">
																			<i aria-hidden="true" class="fas fa-check"></i>						</span>
																			<span class="elementor-icon-list-text">A process equipments across the industrial.</span>
																		</li>
																	</ul>
																</div>
															</div>
														</div>
													</div>
												</div>
											</section>
										</div>
									</div>
								</div>
							</section>
							<section class="elementor-section elementor-top-section elementor-element elementor-element-c049d6c prt-column-break-ipad-no prt-col-stretched-none elementor-section-boxed elementor-section-height-default elementor-section-height-default prt-col-stretched-no prt-bgimage-no prt-bgcolor-yes" data-id="c049d6c" data-element_type="section">
								<div class="elementor-container elementor-column-gap-no">
									<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-5bbc3ca3 prt-bgimage-no prt-bgcolor-yes" data-id="5bbc3ca3" data-element_type="column">
										<div class="elementor-widget-wrap elementor-element-populated">
											<div class="elementor-element elementor-element-31302774 elementor-widget elementor-widget-heading" data-id="31302774" data-element_type="widget" data-widget_type="heading.default">
												<div class="elementor-widget-container">
													<h2 class="elementor-heading-title elementor-size-default">Our Services Include</h2>
												</div>
											</div>
											<div class="elementor-element elementor-element-30c8355b elementor-widget elementor-widget-text-editor" data-id="30c8355b" data-element_type="widget" data-widget_type="text-editor.default">
												<div class="elementor-widget-container">
													<p>The sectors that produce the majority of global greenhouse-gas emissions steep challenge to decarbonize, but our research shows that solutions are within reach. Transformation is well underway We Believe In Power Of Energy.</p>
												</div>
											</div>
										</div>
									</div>
								</div>
							</section>
							<section class="elementor-section elementor-top-section elementor-element elementor-element-2973f45e prt-column-break-ipad-no prt-col-stretched-none elementor-section-boxed elementor-section-height-default elementor-section-height-default prt-col-stretched-no prt-bgimage-no prt-bgcolor-yes" data-id="2973f45e" data-element_type="section">
								<div class="elementor-container elementor-column-gap-no">
									<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-1adada14 prt-bgimage-no prt-bgcolor-yes" data-id="1adada14" data-element_type="column">
										<div class="elementor-widget-wrap elementor-element-populated">
											<div class="elementor-element elementor-element-505dc00f prt-align-left elementor-widget elementor-widget-tm_service_element" data-id="505dc00f" data-element_type="widget" data-widget_type="tm_service_element.default">
												<div class="elementor-widget-container">
													<div class="preyantechnosys-boxes preyantechnosys-boxes-service preyantechnosys-element-servicebox-styletwo preyantechnosys-boxes-view-carousel preyantechnosys-boxes-col-one prt-boxes-carousel-arrow-square prt-boxes-carousel-arrows-1 preyantechnosys-boxes-gap-30px" data-prt-show="2" data-prt-loop="1" data-prt-autoplay="0" data-prt-centermode="0" data-prt-nav="1" data-prt-dots="" data-prt-slidestoscroll="1" data-prt-autoplayspeed="4500" data-prt-margin="30px">
														<div class="preyantechnosys-boxes-inner">
															<div class="preyantechnosys-box-heading-wrapper prt-boxwithout-heading">
																<div class="prt-element-heading-content-wrapper left-align  prt-seperator-none  prt-heading-style-vertical ">
																	<div class="prt-content-header"></div>
																</div>
															</div>
															<div class="preyantechnosys-boxes-row-wrapper row multi-columns-row slick-initialized slick-slider">
																<button type="button" data-role="none" class="slick-prev slick-arrow" aria-label="Previous" role="button" style="">Previous</button>
																<div aria-live="polite" class="slick-list draggable">
																	<div class="slick-track" style="opacity: 1; width: 3232px; transform: translate3d(-808px, 0px, 0px);" role="listbox">
																		<div class="prt-box-col-wrapper refinery slick-slide slick-cloned" data-slick-index="-1" id="" aria-hidden="true" style="width: 808px;" tabindex="-1">
																			<article class="preyantechnosys-box preyantechnosys-box-service preyantechnosys-servicebox-styletwo ">
																				<div class="preyantechnosys-post-item prt-wrap">
																					<div class="item-figure prt-wrap-cell">
																						<div class="prt-featured-wrapper prt-tm_service-featured-wrapper"><img loading="lazy" width="411" height="315" src="https://industico.preyantechnosys.com/wp-content/uploads/2022/05/01-1-411x315.jpg" class="attachment-preyantechnosys-img-service2 size-preyantechnosys-img-service2 wp-post-image" alt="" data-id="3957"></div>
																					</div>
																					<div class="prt-servicebox-detials prt-wrap-cell">
																						<div class="item-content prt-wrap">
																							<div class="prt-box-icon prt-wrap-cell">						<i class="kw_industico flaticon-maintenance"></i>
																							</div>
																							<div class="prt-title prt-wrap-cell">
																								<div class="preyantechnosys-box-title">
																									<h4><a href="https://industico.preyantechnosys.com/service/petroleum-refinery/" tabindex="-1">Awesome Employers</a></h4>
																								</div>
																							</div>
																						</div>
																						<div class="preyantechnosys-box-desc">
																							<div class="prt-short-desc">
																								<p>industico with a long list of products and never ending customer support we are able to guarantee a very high level of satisfaction for our clients.</p>
																							</div>
																						</div>
																					</div>
																				</div>
																			</article>
																		</div>
																		<div class="prt-box-col-wrapper machinery slick-slide slick-current slick-active" data-slick-index="0" aria-hidden="false" style="width: 808px;" tabindex="-1" role="option" aria-describedby="slick-slide00">
																			<article class="preyantechnosys-box preyantechnosys-box-service preyantechnosys-servicebox-styletwo ">
																				<div class="preyantechnosys-post-item prt-wrap">
																					<div class="item-figure prt-wrap-cell">
																						<div class="prt-featured-wrapper prt-tm_service-featured-wrapper"><img loading="lazy" width="411" height="315" src="https://industico.preyantechnosys.com/wp-content/uploads/2022/06/04-411x315.jpg" class="attachment-preyantechnosys-img-service2 size-preyantechnosys-img-service2 wp-post-image" alt="" data-id="3991"></div>
																					</div>
																					<div class="prt-servicebox-detials prt-wrap-cell">
																						<div class="item-content prt-wrap">
																							<div class="prt-box-icon prt-wrap-cell">						<i class="kw_industico flaticon-biofuel"></i>
																							</div>
																							<div class="prt-title prt-wrap-cell">
																								<div class="preyantechnosys-box-title">
																									<h4><a href="https://industico.preyantechnosys.com/service/power-technology/" tabindex="0">Power Technology</a></h4>
																								</div>
																							</div>
																						</div>
																						<div class="preyantechnosys-box-desc">
																							<div class="prt-short-desc">
																								<p>industico with a long list of products and never ending customer support we are able to guarantee a very high level of satisfaction for our clients.</p>
																							</div>
																						</div>
																					</div>
																				</div>
																			</article>
																		</div>
																		<div class="prt-box-col-wrapper refinery slick-slide" data-slick-index="1" aria-hidden="true" style="width: 808px;" tabindex="-1" role="option" aria-describedby="slick-slide01">
																			<article class="preyantechnosys-box preyantechnosys-box-service preyantechnosys-servicebox-styletwo ">
																				<div class="preyantechnosys-post-item prt-wrap">
																					<div class="item-figure prt-wrap-cell">
																						<div class="prt-featured-wrapper prt-tm_service-featured-wrapper"><img loading="lazy" width="411" height="315" src="https://industico.preyantechnosys.com/wp-content/uploads/2022/05/01-1-411x315.jpg" class="attachment-preyantechnosys-img-service2 size-preyantechnosys-img-service2 wp-post-image" alt="" data-id="3957"></div>
																					</div>
																					<div class="prt-servicebox-detials prt-wrap-cell">
																						<div class="item-content prt-wrap">
																							<div class="prt-box-icon prt-wrap-cell">						<i class="kw_industico flaticon-maintenance"></i>
																							</div>
																							<div class="prt-title prt-wrap-cell">
																								<div class="preyantechnosys-box-title">
																									<h4><a href="https://industico.preyantechnosys.com/service/petroleum-refinery/" tabindex="-1">Awesome Employers</a></h4>
																								</div>
																							</div>
																						</div>
																						<div class="preyantechnosys-box-desc">
																							<div class="prt-short-desc">
																								<p>industico with a long list of products and never ending customer support we are able to guarantee a very high level of satisfaction for our clients.</p>
																							</div>
																						</div>
																					</div>
																				</div>
																			</article>
																		</div>
																		<div class="prt-box-col-wrapper machinery slick-slide slick-cloned" data-slick-index="2" id="" aria-hidden="true" style="width: 808px;" tabindex="-1">
																			<article class="preyantechnosys-box preyantechnosys-box-service preyantechnosys-servicebox-styletwo ">
																				<div class="preyantechnosys-post-item prt-wrap">
																					<div class="item-figure prt-wrap-cell">
																						<div class="prt-featured-wrapper prt-tm_service-featured-wrapper"><img loading="lazy" width="411" height="315" src="https://industico.preyantechnosys.com/wp-content/uploads/2022/06/04-411x315.jpg" class="attachment-preyantechnosys-img-service2 size-preyantechnosys-img-service2 wp-post-image" alt="" data-id="3991"></div>
																					</div>
																					<div class="prt-servicebox-detials prt-wrap-cell">
																						<div class="item-content prt-wrap">
																							<div class="prt-box-icon prt-wrap-cell">						<i class="kw_industico flaticon-biofuel"></i>
																							</div>
																							<div class="prt-title prt-wrap-cell">
																								<div class="preyantechnosys-box-title">
																									<h4><a href="https://industico.preyantechnosys.com/service/power-technology/" tabindex="-1">Power Technology</a></h4>
																								</div>
																							</div>
																						</div>
																						<div class="preyantechnosys-box-desc">
																							<div class="prt-short-desc">
																								<p>industico with a long list of products and never ending customer support we are able to guarantee a very high level of satisfaction for our clients.</p>
																							</div>
																						</div>
																					</div>
																				</div>
																			</article>
																		</div>
																	</div>
																</div>
																<button type="button" data-role="none" class="slick-next slick-arrow" aria-label="Next" role="button" style="">Next</button>
															</div>
														</div>
														<!-- .preyantechnosys-boxes-inner -->   
													</div>
													<!-- .preyantechnosys-boxes -->  		
												</div>
											</div>
										</div>
									</div>
								</div>
							</section>
						</div>
					</div>
					<!-- .prt-service-description -->		
				</div>
				<!-- .preyantechnosys-service-single-content-area -->
			</div>
		</div>
	</main>
	<!-- .site-main -->
</div>
<aside id="sidebar-right" class="widget-area col-md-3 col-lg-3 col-xs-12 sidebar">
	<aside id="search-5" class="widget widget_search">
		<form role="search" method="get" class="search-form" action="https://industico.preyantechnosys.com/">
			<label>
			<span class="screen-reader-text">Search for:</span>
			<input type="search" class="search-field" placeholder="Search …" value="" name="s">
			</label>
			<input type="submit" class="search-submit" value="Search">
		</form>
	</aside>
	<aside id="categories-5" class="widget widget_categories">
		<h3 class="widget-title">Categories</h3>
		<ul>
			<li class="cat-item cat-item-9"><a href="https://industico.preyantechnosys.com/blog/category/event/">Event</a> (2)</li>
			<li class="cat-item cat-item-19"><a href="https://industico.preyantechnosys.com/blog/category/manufacturing/">Manufacturing</a> (3)</li>
			<li class="cat-item cat-item-20"><a href="https://industico.preyantechnosys.com/blog/category/smart-factory/">Smart Factory</a> (1)</li>
		</ul>
	</aside>
	<aside id="preyantechnosys-recent-posts-5" class="widget preyantechnosys_widget_recent_entries">
		<h3 class="widget-title">Recent Posts</h3>
		<ul class="prt-recent-post-list">
			<li class="prt-recent-post-list-li">
				<a href="https://industico.preyantechnosys.com/blog/2022/06/07/software-may-be-best-bet-to-conquer-final-mile/"><img width="1200" height="800" src="https://industico.preyantechnosys.com/wp-content/uploads/2022/06/04.jpg" class="attachment-full size-full wp-post-image" alt="" loading="lazy" srcset="https://industico.preyantechnosys.com/wp-content/uploads/2022/06/04.jpg 1200w, https://industico.preyantechnosys.com/wp-content/uploads/2022/06/04-300x200.jpg 300w, https://industico.preyantechnosys.com/wp-content/uploads/2022/06/04-1024x683.jpg 1024w, https://industico.preyantechnosys.com/wp-content/uploads/2022/06/04-768x512.jpg 768w, https://industico.preyantechnosys.com/wp-content/uploads/2022/06/04-85x57.jpg 85w, https://industico.preyantechnosys.com/wp-content/uploads/2022/06/04-650x433.jpg 650w" sizes="(max-width: 1200px) 100vw, 1200px" data-id="3991"></a>
				<div class="post-detail"><span class="post-date"><i class="kw_industico flaticon-calendar"></i>7 June, 2022</span><a href="https://industico.preyantechnosys.com/blog/2022/06/07/software-may-be-best-bet-to-conquer-final-mile/">The 9 Best Guideline For The industry and Petrolium and Oil Refinery</a></div>
			</li>
			<li class="prt-recent-post-list-li">
				<a href="https://industico.preyantechnosys.com/blog/2022/05/20/risus-commodo-viverra-maecenas-accumsan-lacus-vel-facilisis-4/"><img width="1200" height="800" src="https://industico.preyantechnosys.com/wp-content/uploads/2022/05/05.jpg" class="attachment-full size-full wp-post-image" alt="" loading="lazy" srcset="https://industico.preyantechnosys.com/wp-content/uploads/2022/05/05.jpg 1200w, https://industico.preyantechnosys.com/wp-content/uploads/2022/05/05-300x200.jpg 300w, https://industico.preyantechnosys.com/wp-content/uploads/2022/05/05-1024x683.jpg 1024w, https://industico.preyantechnosys.com/wp-content/uploads/2022/05/05-768x512.jpg 768w, https://industico.preyantechnosys.com/wp-content/uploads/2022/05/05-85x57.jpg 85w, https://industico.preyantechnosys.com/wp-content/uploads/2022/05/05-650x433.jpg 650w" sizes="(max-width: 1200px) 100vw, 1200px" data-id="3976"></a>
				<div class="post-detail"><span class="post-date"><i class="kw_industico flaticon-calendar"></i>20 May, 2022</span><a href="https://industico.preyantechnosys.com/blog/2022/05/20/risus-commodo-viverra-maecenas-accumsan-lacus-vel-facilisis-4/">Why is the topic of new mobility retail important now?</a></div>
			</li>
			<li class="prt-recent-post-list-li">
				<a href="https://industico.preyantechnosys.com/blog/2022/05/19/risus-commodo-viverra-maecenas-accumsan-lacus-vel-facilisis-5/"><img width="1200" height="800" src="https://industico.preyantechnosys.com/wp-content/uploads/2022/05/02-1.jpg" class="attachment-full size-full wp-post-image" alt="" loading="lazy" srcset="https://industico.preyantechnosys.com/wp-content/uploads/2022/05/02-1.jpg 1200w, https://industico.preyantechnosys.com/wp-content/uploads/2022/05/02-1-300x200.jpg 300w, https://industico.preyantechnosys.com/wp-content/uploads/2022/05/02-1-1024x683.jpg 1024w, https://industico.preyantechnosys.com/wp-content/uploads/2022/05/02-1-768x512.jpg 768w, https://industico.preyantechnosys.com/wp-content/uploads/2022/05/02-1-85x57.jpg 85w, https://industico.preyantechnosys.com/wp-content/uploads/2022/05/02-1-650x433.jpg 650w" sizes="(max-width: 1200px) 100vw, 1200px" data-id="3975"></a>
				<div class="post-detail"><span class="post-date"><i class="kw_industico flaticon-calendar"></i>19 May, 2022</span><a href="https://industico.preyantechnosys.com/blog/2022/05/19/risus-commodo-viverra-maecenas-accumsan-lacus-vel-facilisis-5/">A Reflecting on 2022 global LNG and European pipeline flows</a></div>
			</li>
		</ul>
	</aside>
	<aside id="tag_cloud-5" class="widget widget_tag_cloud">
		<h3 class="widget-title">Useful Tag</h3>
		<div class="tagcloud"><a href="https://industico.preyantechnosys.com/blog/tag/art-craft/" class="tag-cloud-link tag-link-17 tag-link-position-1" style="font-size: 8pt;" aria-label="Art &amp; Craft (5 items)">Art &amp; Craft</a>
			<a href="https://industico.preyantechnosys.com/blog/tag/decoration/" class="tag-cloud-link tag-link-16 tag-link-position-2" style="font-size: 22pt;" aria-label="Decoration (6 items)">Decoration</a>
			<a href="https://industico.preyantechnosys.com/blog/tag/insects-bugs/" class="tag-cloud-link tag-link-18 tag-link-position-3" style="font-size: 8pt;" aria-label="Insects &amp; Bugs (5 items)">Insects &amp; Bugs</a>
		</div>
	</aside>
	<aside id="enhancedtextwidget-7" class="prt-banner widget widget_text enhanced-text-widget">
		<div class="textwidget widget-text">
			<div class="prt-banner-blog">
				<div class="prt-img-blog">
					<img src="https://industico.preyantechnosys.com/wp-content/uploads/2022/05/p7.jpg">
				</div>
				<div class="prt-full-round">
					<div class="prt-head-sidebar">
						25+
					</div>
					<div class="prt-text-sidebar">
						Experience
					</div>
				</div>
			</div>
		</div>
	</aside>
</aside>
{% endblock content %}