{% extends 'industico/base_index.html' %}
{% load static %}

{% block additional_head_part1 %}
    <link rel='stylesheet' id='elementor-post-1804-css' href="{% static 'industico/uploads/elementor/css/post-service-left-sidebar.css' %}"  media='all' />
{% endblock additional_head_part1 %}

{% block additional_head_part2 %}
    <link rel='stylesheet' id='industico-responsive-style-css'  href="{% static 'industico/css/inlines/home1.css' %}" media='all' /> 
{% endblock additional_head_part2 %}

{% block title_1 %}
    <title>{{ object.title }} - Industico</title>
{% endblock title_1 %}

{% block page_body_classes %}tm_service-template-default single single-tm_service postid-3776 elementor-page-3776 preyantechnosys-sidebar-true preyantechnosys-sidebar-left{% endblock page_body_classes %}
{% block extra_content_class %}container prt-container-for-content{% endblock extra_content_class %}
{% block extra_inner_class %}row multi-columns-row{% endblock extra_inner_class %}
{% block header %}

<div class="prt-titlebar-wrapper prt-bg prt-bgcolor-custom prt-titlebar-align-default prt-textcolor-white prt-bgimage-yes prt-breadcrumb-bgcolor-custom"
style="background-image: url({% static 'industico/uploads/2022/06/titlebar-01.jpg' %});">
	<div class="prt-titlebar-wrapper-bg-layer prt-bg-layer"></div>
	<div class="prt-titlebar entry-header">
		<div class="prt-titlebar-inner-wrapper">
			<div class="prt-titlebar-main">
				<div class="container">
					<div class="prt-titlebar-main-inner">
						<div class="entry-title-wrapper">
							<div class="container">
								<h1 class="entry-title">{{ object.title }}</h1>
							</div>
						</div>
						<div class="breadcrumb-wrapper">
							<div class="container">
								<div class="breadcrumb-wrapper-inner">
									<!-- Breadcrumb NavXT output -->
								<span><a rel="v:url" title="Go to Industico." href="/industico/" class="home">&nbsp;Home<span class="hide">Industico</span></a></span>
									<span class="tm-bread-sep"> // </span>
									<span><a title="Go to Services 1." href="/industico/services-1/" class="tm_service-root post post-tm_service"><span>Services 1</span></a></span>
									<span class="tm-bread-sep"> // </span>
									<span><span class="post post-tm_service current-item">{{ object.title }}</span>
								</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- .prt-titlebar-main -->
		</div>
		<!-- .prt-titlebar-inner-wrapper -->
	</div>
	<!-- .prt-titlebar -->
</div>

{% endblock header %}

{% block content %}
<div id="primary" class="content-area col-md-9 col-lg-9 col-xs-12">
	<main id="main" class="site-main">
		<div class="prt-service-single-content-wrapper">
			<div class="preyantechnosys-common-box-shadow prt-service-single-content-wrapper-innerbox">
				<div class="preyantechnosys-service-single-content-area">
					<div class="prt-service-description">
						<div data-elementor-type="wp-post" data-elementor-id="3776" class="elementor elementor-3776">
							<section class="elementor-section elementor-top-section elementor-element elementor-element-617215fe prt-column-break-ipad-no prt-col-stretched-none elementor-section-boxed elementor-section-height-default elementor-section-height-default prt-col-stretched-no prt-bgimage-no prt-bgcolor-yes" data-id="617215fe" data-element_type="section">
								<div class="elementor-container elementor-column-gap-no">
									<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-1556ad7a prt-bgimage-no prt-bgcolor-yes" data-id="1556ad7a" data-element_type="column">
										<div class="elementor-widget-wrap elementor-element-populated">
											<div class="elementor-element elementor-element-3b67d3a3 elementor-widget elementor-widget-image" data-id="3b67d3a3" data-element_type="widget" data-widget_type="image.default">
												<div class="elementor-widget-container">
													<style>/*! elementor - v3.6.6 - 08-06-2022 */
														.elementor-widget-image{text-align:center}.elementor-widget-image a{display:inline-block}.elementor-widget-image a img[src$=".svg' %}"]{width:48px}.elementor-widget-image img{vertical-align:middle;display:inline-block}
													</style>
													<img width="923" height="470" src="{% static 'industico/uploads/2022/05/ser-02.jpg' %}" class="attachment-full size-full" alt="" loading="lazy" srcset="{% static 'industico/uploads/2022/05/ser-02.jpg 923w, {% static 'industico/uploads/2022/05/ser-02-300x153.jpg 300w, {% static 'industico/uploads/2022/05/ser-02-768x391.jpg 768w, {% static 'industico/uploads/2022/05/ser-02-85x43.jpg 85w, {% static 'industico/uploads/2022/05/ser-02-650x331.jpg 650w" sizes="(max-width: 923px) 100vw, 923px" data-id="7325">															
												</div>
											</div>
											<section class="elementor-section elementor-inner-section elementor-element elementor-element-f52e58d prt-column-break-ipad-no prt-col-stretched-none elementor-section-boxed elementor-section-height-default elementor-section-height-default prt-bgimage-no prt-bgcolor-yes" data-id="f52e58d" data-element_type="section">
												<div class="elementor-container elementor-column-gap-default">
													<div class="elementor-column elementor-col-100 elementor-inner-column elementor-element elementor-element-98864d7 prt-bgcolor-yes prt-col-bgcolor-white prt-bgimage-no" data-id="98864d7" data-element_type="column">
														<div class="elementor-widget-wrap elementor-element-populated">
															<div class="elementor-element elementor-element-4ff5b9ff elementor-widget elementor-widget-heading" data-id="4ff5b9ff" data-element_type="widget" data-widget_type="heading.default">
																<div class="elementor-widget-container">
																	<style>/*! elementor - v3.6.6 - 08-06-2022 */
																		.elementor-heading-title{padding:0;margin:0;line-height:1}.elementor-widget-heading .elementor-heading-title[class*=elementor-size-]>a{color:inherit;font-size:inherit;line-height:inherit}.elementor-widget-heading .elementor-heading-title.elementor-size-small{font-size:15px}.elementor-widget-heading .elementor-heading-title.elementor-size-medium{font-size:19px}.elementor-widget-heading .elementor-heading-title.elementor-size-large{font-size:29px}.elementor-widget-heading .elementor-heading-title.elementor-size-xl{font-size:39px}.elementor-widget-heading .elementor-heading-title.elementor-size-xxl{font-size:59px}
																	</style>
																	<h2 class="elementor-heading-title elementor-size-default">Fuel &amp; Gas Management</h2>
																</div>
															</div>
															<div class="elementor-element elementor-element-393cd6c3 elementor-widget elementor-widget-text-editor" data-id="393cd6c3" data-element_type="widget" data-widget_type="text-editor.default">
																<div class="elementor-widget-container">
																	<style>/*! elementor - v3.6.6 - 08-06-2022 */
																		.elementor-widget-text-editor.elementor-drop-cap-view-stacked .elementor-drop-cap{background-color:#818a91;color:#fff}.elementor-widget-text-editor.elementor-drop-cap-view-framed .elementor-drop-cap{color:#818a91;border:3px solid;background-color:transparent}.elementor-widget-text-editor:not(.elementor-drop-cap-view-default) .elementor-drop-cap{margin-top:8px}.elementor-widget-text-editor:not(.elementor-drop-cap-view-default) .elementor-drop-cap-letter{width:1em;height:1em}.elementor-widget-text-editor .elementor-drop-cap{float:left;text-align:center;line-height:1;font-size:50px}.elementor-widget-text-editor .elementor-drop-cap-letter{display:inline-block}
																	</style>
																	<p style="text-align: center;">industico offers a broad set of coordinated service solutions for critical to process equipment across diverse set of industrial markets.</p>
																</div>
															</div>
														</div>
													</div>
												</div>
											</section>
										</div>
									</div>
								</div>
							</section>
							<section class="elementor-section elementor-top-section elementor-element elementor-element-7eadd884 prt-column-break-ipad-no prt-col-stretched-none elementor-section-boxed elementor-section-height-default elementor-section-height-default prt-col-stretched-no prt-bgimage-no prt-bgcolor-yes" data-id="7eadd884" data-element_type="section">
								<div class="elementor-container elementor-column-gap-no">
									<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-2f7b622d prt-bgimage-no prt-bgcolor-yes" data-id="2f7b622d" data-element_type="column">
										<div class="elementor-widget-wrap elementor-element-populated">
											<div class="elementor-element elementor-element-2280201c elementor-widget elementor-widget-heading" data-id="2280201c" data-element_type="widget" data-widget_type="heading.default">
												<div class="elementor-widget-container">
													<h2 class="elementor-heading-title elementor-size-default">Industries We Served</h2>
												</div>
											</div>
											<div class="elementor-element elementor-element-697634bc elementor-widget elementor-widget-text-editor" data-id="697634bc" data-element_type="widget" data-widget_type="text-editor.default">
												<div class="elementor-widget-container">
													<p>An Operational modeling impacts integral part of modern manufacturing processes and play an essential are fully integrated into income statement. This collection draws together articles and reports that lay out a pathway.</p>
												</div>
											</div>
										</div>
									</div>
								</div>
							</section>
							<section class="elementor-section elementor-top-section elementor-element elementor-element-308f5b04 prt-column-break-ipad-yes prt-col-stretched-none elementor-section-boxed elementor-section-height-default elementor-section-height-default prt-col-stretched-no prt-bgimage-no prt-bgcolor-yes" data-id="308f5b04" data-element_type="section">
								<div class="elementor-container elementor-column-gap-default">
									<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-24367b65 prt-bgimage-no prt-bgcolor-yes" data-id="24367b65" data-element_type="column">
										<div class="elementor-widget-wrap elementor-element-populated">
											<div class="elementor-element elementor-element-c782f3b prt-align-left elementor-widget elementor-widget-tm_service_element" data-id="c782f3b" data-element_type="widget" data-widget_type="tm_service_element.default">
												<div class="elementor-widget-container">
													<div class="preyantechnosys-boxes preyantechnosys-boxes-service preyantechnosys-element-servicebox-stylethree preyantechnosys-boxes-view-carousel preyantechnosys-boxes-col-two prt-boxes-carousel-arrow-square prt-boxes-carousel-arrows-1 preyantechnosys-boxes-gap-0px" data-prt-show="3" data-prt-loop="1" data-prt-autoplay="0" data-prt-centermode="0" data-prt-nav="1" data-prt-dots="" data-prt-slidestoscroll="1" data-prt-autoplayspeed="4500" data-prt-margin="0px">
														<div class="preyantechnosys-boxes-inner">
															<div class="preyantechnosys-box-heading-wrapper prt-boxwithout-heading">
																<div class="prt-element-heading-content-wrapper left-align  prt-seperator-none  prt-heading-style-vertical ">
																	<div class="prt-content-header"></div>
																</div>
															</div>
															<div class="preyantechnosys-boxes-row-wrapper row multi-columns-row slick-initialized slick-slider">
																<button type="button" data-role="none" class="slick-prev slick-arrow" aria-label="Previous" role="button" style="">Previous</button>
																<div aria-live="polite" class="slick-list draggable">
																	<div class="slick-track" style="opacity: 1; width: 3234px; transform: translate3d(-924px, 0px, 0px);" role="listbox">
																		<div class="prt-box-col-wrapper drilling slick-slide slick-cloned" data-slick-index="-2" id="" aria-hidden="true" style="width: 462px;" tabindex="-1">
																			<article class="preyantechnosys-box preyantechnosys-box-service preyantechnosys-servicebox-stylethree ">
																				<div class="preyantechnosys-post-item prt-wrap">
																					<div class="item-figure prt-wrap-cell">
																						<div class="prt-featured-wrapper prt-tm_service-featured-wrapper"><img loading="lazy" width="130" height="130" src="{% static 'industico/uploads/2022/05/02-130x130.jpg' %}" class="attachment-preyantechnosys-img-service3 size-preyantechnosys-img-service3 wp-post-image" alt="" srcset="{% static 'industico/uploads/2022/05/02-130x130.jpg 130w, {% static 'industico/uploads/2022/05/02-150x150.jpg 150w, {% static 'industico/uploads/2022/05/02-85x85.jpg 85w" sizes="(max-width: 130px) 100vw, 130px" data-id="3954"></div>
																					</div>
																					<div class="prt-servicebox-detials prt-wrap-cell">
																						<div class="item-content prt-wrap">
																							<div class="prt-title prt-wrap-cell">
																								<div class="preyantechnosys-box-title">
																									<h4><a href="/industico/service/chemical-research/" tabindex="-1">Data Technology</a></h4>
																								</div>
																							</div>
																						</div>
																						<div class="preyantechnosys-box-desc">
																							<div class="prt-short-desc">
																								<p>industico with a long list of products and never ending customer support we are able to guarantee a very high level of satisfaction for our clients.</p>
																							</div>
																						</div>
																					</div>
																				</div>
																			</article>
																		</div>
																		<div class="prt-box-col-wrapper machinery slick-slide slick-cloned" data-slick-index="-1" id="" aria-hidden="true" style="width: 462px;" tabindex="-1">
																			<article class="preyantechnosys-box preyantechnosys-box-service preyantechnosys-servicebox-stylethree ">
																				<div class="preyantechnosys-post-item prt-wrap">
																					<div class="item-figure prt-wrap-cell">
																						<div class="prt-featured-wrapper prt-tm_service-featured-wrapper"><img loading="lazy" width="130" height="130" src="{% static 'industico/uploads/2022/05/03-1-130x130.jpg' %}" class="attachment-preyantechnosys-img-service3 size-preyantechnosys-img-service3 wp-post-image" alt="" srcset="{% static 'industico/uploads/2022/05/03-1-130x130.jpg 130w, {% static 'industico/uploads/2022/05/03-1-150x150.jpg 150w, {% static 'industico/uploads/2022/05/03-1-85x85.jpg 85w" sizes="(max-width: 130px) 100vw, 130px" data-id="3955"></div>
																					</div>
																					<div class="prt-servicebox-detials prt-wrap-cell">
																						<div class="item-content prt-wrap">
																							<div class="prt-title prt-wrap-cell">
																								<div class="preyantechnosys-box-title">
																									<h4><a href="/industico/service/awesome-employers/" tabindex="-1">Material Engineering</a></h4>
																								</div>
																							</div>
																						</div>
																						<div class="preyantechnosys-box-desc">
																							<div class="prt-short-desc">
																								<p>industico with a long list of products and never ending customer support we are able to guarantee a very high level of satisfaction for our clients.</p>
																							</div>
																						</div>
																					</div>
																				</div>
																			</article>
																		</div>
																		<div class="prt-box-col-wrapper machinery slick-slide slick-current slick-active" data-slick-index="0" aria-hidden="false" style="width: 462px;" tabindex="-1" role="option" aria-describedby="slick-slide00">
																			<article class="preyantechnosys-box preyantechnosys-box-service preyantechnosys-servicebox-stylethree ">
																				<div class="preyantechnosys-post-item prt-wrap">
																					<div class="item-figure prt-wrap-cell">
																						<div class="prt-featured-wrapper prt-tm_service-featured-wrapper"><img loading="lazy" width="130" height="130" src="{% static 'industico/uploads/2022/06/04-130x130.jpg' %}" class="attachment-preyantechnosys-img-service3 size-preyantechnosys-img-service3 wp-post-image" alt="" srcset="{% static 'industico/uploads/2022/06/04-130x130.jpg 130w, {% static 'industico/uploads/2022/06/04-150x150.jpg 150w, {% static 'industico/uploads/2022/06/04-85x85.jpg 85w" sizes="(max-width: 130px) 100vw, 130px" data-id="3991"></div>
																					</div>
																					<div class="prt-servicebox-detials prt-wrap-cell">
																						<div class="item-content prt-wrap">
																							<div class="prt-title prt-wrap-cell">
																								<div class="preyantechnosys-box-title">
																									<h4><a href="/industico/service/power-technology/" tabindex="0">Power Technology</a></h4>
																								</div>
																							</div>
																						</div>
																						<div class="preyantechnosys-box-desc">
																							<div class="prt-short-desc">
																								<p>industico with a long list of products and never ending customer support we are able to guarantee a very high level of satisfaction for our clients.</p>
																							</div>
																						</div>
																					</div>
																				</div>
																			</article>
																		</div>
																		<div class="prt-box-col-wrapper drilling slick-slide slick-active" data-slick-index="1" aria-hidden="false" style="width: 462px;" tabindex="-1" role="option" aria-describedby="slick-slide01">
																			<article class="preyantechnosys-box preyantechnosys-box-service preyantechnosys-servicebox-stylethree ">
																				<div class="preyantechnosys-post-item prt-wrap">
																					<div class="item-figure prt-wrap-cell">
																						<div class="prt-featured-wrapper prt-tm_service-featured-wrapper"><img loading="lazy" width="130" height="130" src="{% static 'industico/uploads/2022/05/02-130x130.jpg' %}" class="attachment-preyantechnosys-img-service3 size-preyantechnosys-img-service3 wp-post-image" alt="" srcset="{% static 'industico/uploads/2022/05/02-130x130.jpg 130w, {% static 'industico/uploads/2022/05/02-150x150.jpg 150w, {% static 'industico/uploads/2022/05/02-85x85.jpg 85w" sizes="(max-width: 130px) 100vw, 130px" data-id="3954"></div>
																					</div>
																					<div class="prt-servicebox-detials prt-wrap-cell">
																						<div class="item-content prt-wrap">
																							<div class="prt-title prt-wrap-cell">
																								<div class="preyantechnosys-box-title">
																									<h4><a href="/industico/service/chemical-research/" tabindex="0">Data Technology</a></h4>
																								</div>
																							</div>
																						</div>
																						<div class="preyantechnosys-box-desc">
																							<div class="prt-short-desc">
																								<p>industico with a long list of products and never ending customer support we are able to guarantee a very high level of satisfaction for our clients.</p>
																							</div>
																						</div>
																					</div>
																				</div>
																			</article>
																		</div>
																		<div class="prt-box-col-wrapper machinery slick-slide" data-slick-index="2" aria-hidden="true" style="width: 462px;" tabindex="-1" role="option" aria-describedby="slick-slide02">
																			<article class="preyantechnosys-box preyantechnosys-box-service preyantechnosys-servicebox-stylethree ">
																				<div class="preyantechnosys-post-item prt-wrap">
																					<div class="item-figure prt-wrap-cell">
																						<div class="prt-featured-wrapper prt-tm_service-featured-wrapper"><img loading="lazy" width="130" height="130" src="{% static 'industico/uploads/2022/05/03-1-130x130.jpg' %}" class="attachment-preyantechnosys-img-service3 size-preyantechnosys-img-service3 wp-post-image" alt="" srcset="{% static 'industico/uploads/2022/05/03-1-130x130.jpg 130w, {% static 'industico/uploads/2022/05/03-1-150x150.jpg 150w, {% static 'industico/uploads/2022/05/03-1-85x85.jpg 85w" sizes="(max-width: 130px) 100vw, 130px" data-id="3955"></div>
																					</div>
																					<div class="prt-servicebox-detials prt-wrap-cell">
																						<div class="item-content prt-wrap">
																							<div class="prt-title prt-wrap-cell">
																								<div class="preyantechnosys-box-title">
																									<h4><a href="/industico/service/awesome-employers/" tabindex="-1">Material Engineering</a></h4>
																								</div>
																							</div>
																						</div>
																						<div class="preyantechnosys-box-desc">
																							<div class="prt-short-desc">
																								<p>industico with a long list of products and never ending customer support we are able to guarantee a very high level of satisfaction for our clients.</p>
																							</div>
																						</div>
																					</div>
																				</div>
																			</article>
																		</div>
																		<div class="prt-box-col-wrapper machinery slick-slide slick-cloned" data-slick-index="3" id="" aria-hidden="true" style="width: 462px;" tabindex="-1">
																			<article class="preyantechnosys-box preyantechnosys-box-service preyantechnosys-servicebox-stylethree ">
																				<div class="preyantechnosys-post-item prt-wrap">
																					<div class="item-figure prt-wrap-cell">
																						<div class="prt-featured-wrapper prt-tm_service-featured-wrapper"><img loading="lazy" width="130" height="130" src="{% static 'industico/uploads/2022/06/04-130x130.jpg' %}" class="attachment-preyantechnosys-img-service3 size-preyantechnosys-img-service3 wp-post-image" alt="" srcset="{% static 'industico/uploads/2022/06/04-130x130.jpg 130w, {% static 'industico/uploads/2022/06/04-150x150.jpg 150w, {% static 'industico/uploads/2022/06/04-85x85.jpg 85w" sizes="(max-width: 130px) 100vw, 130px" data-id="3991"></div>
																					</div>
																					<div class="prt-servicebox-detials prt-wrap-cell">
																						<div class="item-content prt-wrap">
																							<div class="prt-title prt-wrap-cell">
																								<div class="preyantechnosys-box-title">
																									<h4><a href="/industico/service/power-technology/" tabindex="-1">Power Technology</a></h4>
																								</div>
																							</div>
																						</div>
																						<div class="preyantechnosys-box-desc">
																							<div class="prt-short-desc">
																								<p>industico with a long list of products and never ending customer support we are able to guarantee a very high level of satisfaction for our clients.</p>
																							</div>
																						</div>
																					</div>
																				</div>
																			</article>
																		</div>
																		<div class="prt-box-col-wrapper drilling slick-slide slick-cloned" data-slick-index="4" id="" aria-hidden="true" style="width: 462px;" tabindex="-1">
																			<article class="preyantechnosys-box preyantechnosys-box-service preyantechnosys-servicebox-stylethree ">
																				<div class="preyantechnosys-post-item prt-wrap">
																					<div class="item-figure prt-wrap-cell">
																						<div class="prt-featured-wrapper prt-tm_service-featured-wrapper"><img loading="lazy" width="130" height="130" src="{% static 'industico/uploads/2022/05/02-130x130.jpg' %}" class="attachment-preyantechnosys-img-service3 size-preyantechnosys-img-service3 wp-post-image" alt="" srcset="{% static 'industico/uploads/2022/05/02-130x130.jpg 130w, {% static 'industico/uploads/2022/05/02-150x150.jpg 150w, {% static 'industico/uploads/2022/05/02-85x85.jpg 85w" sizes="(max-width: 130px) 100vw, 130px" data-id="3954"></div>
																					</div>
																					<div class="prt-servicebox-detials prt-wrap-cell">
																						<div class="item-content prt-wrap">
																							<div class="prt-title prt-wrap-cell">
																								<div class="preyantechnosys-box-title">
																									<h4><a href="/industico/service/chemical-research/" tabindex="-1">Data Technology</a></h4>
																								</div>
																							</div>
																						</div>
																						<div class="preyantechnosys-box-desc">
																							<div class="prt-short-desc">
																								<p>industico with a long list of products and never ending customer support we are able to guarantee a very high level of satisfaction for our clients.</p>
																							</div>
																						</div>
																					</div>
																				</div>
																			</article>
																		</div>
																	</div>
																</div>
																<button type="button" data-role="none" class="slick-next slick-arrow" aria-label="Next" role="button" style="">Next</button>
															</div>
														</div>
														<!-- .preyantechnosys-boxes-inner -->   
													</div>
													<!-- .preyantechnosys-boxes -->  		
												</div>
											</div>
										</div>
									</div>
								</div>
							</section>
							<section class="elementor-section elementor-top-section elementor-element elementor-element-3101f029 prt-column-break-ipad-no prt-col-stretched-none elementor-section-boxed elementor-section-height-default elementor-section-height-default prt-col-stretched-no prt-bgimage-no prt-bgcolor-yes" data-id="3101f029" data-element_type="section">
								<div class="elementor-container elementor-column-gap-no">
									<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-5782b2b7 prt-bgimage-no prt-bgcolor-yes" data-id="5782b2b7" data-element_type="column">
										<div class="elementor-widget-wrap elementor-element-populated">
											<div class="elementor-element elementor-element-dbeed86 elementor-widget elementor-widget-heading" data-id="dbeed86" data-element_type="widget" data-widget_type="heading.default">
												<div class="elementor-widget-container">
													<h2 class="elementor-heading-title elementor-size-default">What we can Do</h2>
												</div>
											</div>
											<div class="elementor-element elementor-element-7a5a63f6 elementor-widget elementor-widget-text-editor" data-id="7a5a63f6" data-element_type="widget" data-widget_type="text-editor.default">
												<div class="elementor-widget-container">
													<p>The sectors that produce the majority of global greenhouse-gas emissions steep challenge to decarbonize, but our research shows that solutions are within reach. Transformation is well underway We Believe In Power Of Energy.</p>
												</div>
											</div>
											<section class="elementor-section elementor-inner-section elementor-element elementor-element-5e65150e prt-list3 prt-column-break-ipad-no prt-col-stretched-none elementor-section-boxed elementor-section-height-default elementor-section-height-default prt-bgimage-no prt-bgcolor-yes" data-id="5e65150e" data-element_type="section">
												<div class="elementor-container elementor-column-gap-default">
													<div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-1ad4c4f8 prt-bgimage-no prt-bgcolor-yes" data-id="1ad4c4f8" data-element_type="column">
														<div class="elementor-widget-wrap elementor-element-populated">
															<div class="elementor-element elementor-element-3ae719ed elementor-icon-list--layout-traditional elementor-list-item-link-full_width elementor-widget elementor-widget-icon-list" data-id="3ae719ed" data-element_type="widget" data-widget_type="icon-list.default">
																<div class="elementor-widget-container">
																	<link rel="stylesheet" href="{% static 'industico/plugins/elementor/assets/css/widget-icon-list.min.css' %}">
																	<ul class="elementor-icon-list-items">
																		<li class="elementor-icon-list-item">
																			<span class="elementor-icon-list-icon">
																			<i aria-hidden="true" class="fas fa-check"></i>						</span>
																			<span class="elementor-icon-list-text">Words is roughly being maintained.</span>
																		</li>
																	</ul>
																</div>
															</div>
														</div>
													</div>
													<div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-58291326 prt-bgimage-no prt-bgcolor-yes" data-id="58291326" data-element_type="column">
														<div class="elementor-widget-wrap elementor-element-populated">
															<div class="elementor-element elementor-element-5de87480 elementor-icon-list--layout-traditional elementor-list-item-link-full_width elementor-widget elementor-widget-icon-list" data-id="5de87480" data-element_type="widget" data-widget_type="icon-list.default">
																<div class="elementor-widget-container">
																	<ul class="elementor-icon-list-items">
																		<li class="elementor-icon-list-item">
																			<span class="elementor-icon-list-icon">
																			<i aria-hidden="true" class="fas fa-check"></i>						</span>
																			<span class="elementor-icon-list-text">How I can contact with your handyman?</span>
																		</li>
																	</ul>
																</div>
															</div>
														</div>
													</div>
												</div>
											</section>
											<section class="elementor-section elementor-inner-section elementor-element elementor-element-50b4717 prt-list3 prt-column-break-ipad-no prt-col-stretched-none elementor-section-boxed elementor-section-height-default elementor-section-height-default prt-bgimage-no prt-bgcolor-yes" data-id="50b4717" data-element_type="section">
												<div class="elementor-container elementor-column-gap-default">
													<div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-6bddfb7f prt-bgimage-no prt-bgcolor-yes" data-id="6bddfb7f" data-element_type="column">
														<div class="elementor-widget-wrap elementor-element-populated">
															<div class="elementor-element elementor-element-646a9301 elementor-icon-list--layout-traditional elementor-list-item-link-full_width elementor-widget elementor-widget-icon-list" data-id="646a9301" data-element_type="widget" data-widget_type="icon-list.default">
																<div class="elementor-widget-container">
																	<ul class="elementor-icon-list-items">
																		<li class="elementor-icon-list-item">
																			<span class="elementor-icon-list-icon">
																			<i aria-hidden="true" class="fas fa-check"></i>						</span>
																			<span class="elementor-icon-list-text">How much time the service will take?</span>
																		</li>
																	</ul>
																</div>
															</div>
														</div>
													</div>
													<div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-6d51bcf8 prt-bgimage-no prt-bgcolor-yes" data-id="6d51bcf8" data-element_type="column">
														<div class="elementor-widget-wrap elementor-element-populated">
															<div class="elementor-element elementor-element-1d700563 elementor-icon-list--layout-traditional elementor-list-item-link-full_width elementor-widget elementor-widget-icon-list" data-id="1d700563" data-element_type="widget" data-widget_type="icon-list.default">
																<div class="elementor-widget-container">
																	<ul class="elementor-icon-list-items">
																		<li class="elementor-icon-list-item">
																			<span class="elementor-icon-list-icon">
																			<i aria-hidden="true" class="fas fa-check"></i>						</span>
																			<span class="elementor-icon-list-text">Words is roughly being maintained.</span>
																		</li>
																	</ul>
																</div>
															</div>
														</div>
													</div>
												</div>
											</section>
										</div>
									</div>
								</div>
							</section>
							<section class="elementor-section elementor-top-section elementor-element elementor-element-249b1139 prt-column-break-ipad-no prt-col-stretched-none elementor-section-boxed elementor-section-height-default elementor-section-height-default prt-col-stretched-no prt-bgimage-no prt-bgcolor-yes" data-id="249b1139" data-element_type="section">
								<div class="elementor-container elementor-column-gap-no">
									<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-d39e12c prt-bgimage-no prt-bgcolor-yes" data-id="d39e12c" data-element_type="column">
										<div class="elementor-widget-wrap elementor-element-populated">
											<div class="elementor-element elementor-element-6a3c53b8 elementor-widget elementor-widget-heading" data-id="6a3c53b8" data-element_type="widget" data-widget_type="heading.default">
												<div class="elementor-widget-container">
													<h2 class="elementor-heading-title elementor-size-default">Quality Industrial Working</h2>
												</div>
											</div>
											<div class="elementor-element elementor-element-1b982971 elementor-widget elementor-widget-text-editor" data-id="1b982971" data-element_type="widget" data-widget_type="text-editor.default">
												<div class="elementor-widget-container">
													<p>We know we can achieve far more as a Company than we can as individuals. Our collegial culture and flat hierarchy Means we consider different points of view and approaches to deliver the best.The protective function of these technical gases is probably the most frequent use and covers almost all sectors &amp; Industrial gases.</p>
												</div>
											</div>
										</div>
									</div>
								</div>
							</section>
							<section class="elementor-section elementor-top-section elementor-element elementor-element-6dd7d661 prt-column-break-ipad-no prt-col-stretched-none elementor-section-boxed elementor-section-height-default elementor-section-height-default prt-col-stretched-no prt-bgimage-no prt-bgcolor-yes" data-id="6dd7d661" data-element_type="section">
								<div class="elementor-container elementor-column-gap-no">
									<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-1889fd0b prt-bgimage-no prt-bgcolor-yes" data-id="1889fd0b" data-element_type="column">
										<div class="elementor-widget-wrap elementor-element-populated e-swiper-container">
											<div class="elementor-element elementor-element-3e578091 elementor-widget elementor-widget-image-carousel e-widget-swiper" data-id="3e578091" data-element_type="widget" data-settings="{&quot;slides_to_show&quot;:&quot;2&quot;,&quot;slides_to_scroll&quot;:&quot;1&quot;,&quot;navigation&quot;:&quot;none&quot;,&quot;autoplay&quot;:&quot;no&quot;,&quot;image_spacing_custom&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;size&quot;:30,&quot;sizes&quot;:[]},&quot;infinite&quot;:&quot;yes&quot;,&quot;speed&quot;:500}" data-widget_type="image-carousel.default">
												<div class="elementor-widget-container">
													<style>/*! elementor - v3.6.6 - 08-06-2022 */
														.elementor-widget-image-carousel .swiper-container{position:static}.elementor-widget-image-carousel .swiper-container .swiper-slide figure{line-height:inherit}.elementor-widget-image-carousel .swiper-slide{text-align:center}.elementor-image-carousel-wrapper:not(.swiper-container-initialized) .swiper-slide{max-width:calc(100% / var(--e-image-carousel-slides-to-show, 3))}
													</style>
													<div class="elementor-image-carousel-wrapper swiper-container swiper-container-initialized swiper-container-horizontal" dir="ltr">
														<div class="elementor-image-carousel swiper-wrapper" style="transform: translate3d(-952px, 0px, 0px); transition-duration: 0ms;">
															<div class="swiper-slide swiper-slide-duplicate swiper-slide-duplicate-active" data-swiper-slide-index="0" style="width: 446px; margin-right: 30px;">
																<figure class="swiper-slide-inner"><img class="swiper-slide-image" src="{% static 'industico/uploads/2022/05/01.jpg' %}" alt="01"></figure>
															</div>
															<div class="swiper-slide swiper-slide-duplicate swiper-slide-prev swiper-slide-duplicate-next" data-swiper-slide-index="1" style="width: 446px; margin-right: 30px;">
																<figure class="swiper-slide-inner"><img class="swiper-slide-image" src="{% static 'industico/uploads/2022/05/portfolio-03.jpg' %}" alt="portfolio-03"></figure>
															</div>
															<div class="swiper-slide swiper-slide-active" data-swiper-slide-index="0" style="width: 446px; margin-right: 30px;">
																<figure class="swiper-slide-inner"><img class="swiper-slide-image" src="{% static 'industico/uploads/2022/05/01.jpg' %}" alt="01"></figure>
															</div>
															<div class="swiper-slide swiper-slide-next swiper-slide-duplicate-prev" data-swiper-slide-index="1" style="width: 446px; margin-right: 30px;">
																<figure class="swiper-slide-inner"><img class="swiper-slide-image" src="{% static 'industico/uploads/2022/05/portfolio-03.jpg' %}" alt="portfolio-03"></figure>
															</div>
															<div class="swiper-slide swiper-slide-duplicate swiper-slide-duplicate-active" data-swiper-slide-index="0" style="width: 446px; margin-right: 30px;">
																<figure class="swiper-slide-inner"><img class="swiper-slide-image" src="{% static 'industico/uploads/2022/05/01.jpg' %}" alt="01"></figure>
															</div>
															<div class="swiper-slide swiper-slide-duplicate swiper-slide-duplicate-next" data-swiper-slide-index="1" style="width: 446px; margin-right: 30px;">
																<figure class="swiper-slide-inner"><img class="swiper-slide-image" src="{% static 'industico/uploads/2022/05/portfolio-03.jpg' %}" alt="portfolio-03"></figure>
															</div>
														</div>
														<span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</section>
						</div>
					</div>
					<!-- .prt-service-description -->		
				</div>
				<!-- .preyantechnosys-service-single-content-area -->
			</div>
		</div>
	</main>
	<!-- .site-main -->
</div>
<aside id="sidebar-left" class="widget-area col-md-3 col-lg-3 col-xs-12 sidebar">
	<aside id="search-4" class="widget widget_search">
		<form role="search" method="get" class="search-form" action="/industico/">
			<label>
			<span class="screen-reader-text">Search for:</span>
			<input type="search" class="search-field" placeholder="Search …" value="" name="s">
			</label>
			<input type="submit" class="search-submit" value="Search">
		</form>
	</aside>
	<aside id="categories-4" class="widget widget_categories">
		<h3 class="widget-title">Categories</h3>
		<ul>
			<li class="cat-item cat-item-9"><a href="/industico/blog/category/event/">Event</a> (2)</li>
			<li class="cat-item cat-item-19"><a href="/industico/blog/category/manufacturing/">Manufacturing</a> (3)</li>
			<li class="cat-item cat-item-20"><a href="/industico/blog/category/smart-factory/">Smart Factory</a> (1)</li>
		</ul>
	</aside>
	<aside id="preyantechnosys-recent-posts-4" class="widget preyantechnosys_widget_recent_entries">
		<h3 class="widget-title">Recent Posts</h3>
		<ul class="prt-recent-post-list">
			<li class="prt-recent-post-list-li">
				<a href="/industico/blog/right/2024/04/15/the-9-best-guideline-for-the-industry-and-petrolium-and-oil-refinery/"><img width="1200" height="800" src="{% static 'industico/uploads/2022/06/04.jpg' %}" class="attachment-full size-full wp-post-image" alt="" loading="lazy" srcset="{% static 'industico/uploads/2022/06/04.jpg 1200w, {% static 'industico/uploads/2022/06/04-300x200.jpg 300w, {% static 'industico/uploads/2022/06/04-1024x683.jpg 1024w, {% static 'industico/uploads/2022/06/04-768x512.jpg 768w, {% static 'industico/uploads/2022/06/04-85x57.jpg 85w, {% static 'industico/uploads/2022/06/04-650x433.jpg 650w" sizes="(max-width: 1200px) 100vw, 1200px" data-id="3991"></a>
				<div class="post-detail"><span class="post-date"><i class="kw_industico flaticon-calendar"></i>7 June, 2022</span><a href="/industico/blog/right/2024/04/15/the-9-best-guideline-for-the-industry-and-petrolium-and-oil-refinery/">The 9 Best Guideline For The industry and Petrolium and Oil Refinery</a></div>
			</li>
			<li class="prt-recent-post-list-li">
				<a href="/industico/blog/left/2024/04/16/why-is-the-topic-of-new-mobility-retail-important-now/"><img width="1200" height="800" src="{% static 'industico/uploads/2022/05/05.jpg' %}" class="attachment-full size-full wp-post-image" alt="" loading="lazy" srcset="{% static 'industico/uploads/2022/05/05.jpg 1200w, {% static 'industico/uploads/2022/05/05-300x200.jpg 300w, {% static 'industico/uploads/2022/05/05-1024x683.jpg 1024w, {% static 'industico/uploads/2022/05/05-768x512.jpg 768w, {% static 'industico/uploads/2022/05/05-85x57.jpg 85w, {% static 'industico/uploads/2022/05/05-650x433.jpg 650w" sizes="(max-width: 1200px) 100vw, 1200px" data-id="3976"></a>
				<div class="post-detail"><span class="post-date"><i class="kw_industico flaticon-calendar"></i>20 May, 2022</span><a href="/industico/blog/left/2024/04/16/why-is-the-topic-of-new-mobility-retail-important-now/">Why is the topic of new mobility retail important now?</a></div>
			</li>
			<li class="prt-recent-post-list-li">
				<a href="/industico/blog/2022/05/19/a-reflecting-on-2022-global-lng-and-european-pipeline-flows/"><img width="1200" height="800" src="{% static 'industico/uploads/2022/05/02-1.jpg' %}" class="attachment-full size-full wp-post-image" alt="" loading="lazy" srcset="{% static 'industico/uploads/2022/05/02-1.jpg 1200w, {% static 'industico/uploads/2022/05/02-1-300x200.jpg 300w, {% static 'industico/uploads/2022/05/02-1-1024x683.jpg 1024w, {% static 'industico/uploads/2022/05/02-1-768x512.jpg 768w, {% static 'industico/uploads/2022/05/02-1-85x57.jpg 85w, {% static 'industico/uploads/2022/05/02-1-650x433.jpg 650w" sizes="(max-width: 1200px) 100vw, 1200px" data-id="3975"></a>
				<div class="post-detail"><span class="post-date"><i class="kw_industico flaticon-calendar"></i>19 May, 2022</span><a href="/industico/blog/2022/05/19/a-reflecting-on-2022-global-lng-and-european-pipeline-flows/">A Reflecting on 2022 global LNG and European pipeline flows</a></div>
			</li>
		</ul>
	</aside>
	<aside id="tag_cloud-4" class="widget widget_tag_cloud">
		<h3 class="widget-title">Useful Tag</h3>
		<div class="tagcloud"><a href="/industico/blog/tag/art-craft/" class="tag-cloud-link tag-link-17 tag-link-position-1" style="font-size: 8pt;" aria-label="Art &amp; Craft (5 items)">Art &amp; Craft</a>
			<a href="/industico/blog/tag/decoration/" class="tag-cloud-link tag-link-16 tag-link-position-2" style="font-size: 22pt;" aria-label="Decoration (6 items)">Decoration</a>
			<a href="/industico/blog/tag/insects-bugs/" class="tag-cloud-link tag-link-18 tag-link-position-3" style="font-size: 8pt;" aria-label="Insects &amp; Bugs (5 items)">Insects &amp; Bugs</a>
		</div>
	</aside>
	<aside id="enhancedtextwidget-6" class="prt-banner widget widget_text enhanced-text-widget">
		<div class="textwidget widget-text">
			<div class="prt-banner-blog">
				<div class="prt-img-blog">
					<img src="{% static 'industico/uploads/2022/05/p7.jpg' %}">
				</div>
				<div class="prt-full-round">
					<div class="prt-head-sidebar">
						25+
					</div>
					<div class="prt-text-sidebar">
						Experience
					</div>
				</div>
			</div>
		</div>
	</aside>
</aside>
{% endblock content %}