{% extends 'crm/shop/shop-base.html' %}
{% load static %}
{% block crm_content %}
<div class="col-xl-12">
	<div class="row">
		<div class="col-xl-6 col-lg-8">
			<div class="row">
				<div class="col-md-12">
					<div class="input-group mb-3 input-primary gap-1">
						<input type="text" class="form-control">
						<button class="btn btn-primary" type="button">Options</button>
						<button class="btn btn-primary" type="button">Add</button>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12 overflow-auto">
					<div class="card table-responsive border border-success">
						<div class="card-header">
						<div class="profile-skills offset-1 gap-3">
							<a href="javascript:void();;" class="btn btn-primary light btn-sm mb-1 p-3">Admin</a>
							<a href="javascript:void();;" class="btn btn-primary light btn-sm mb-1 p-3">Dashboard</a>
							<a href="javascript:void();;" class="btn btn-primary light btn-sm mb-1 p-3">Photoshop</a>
							<a href="javascript:void();;" class="btn btn-primary light btn-sm mb-1 p-3">Crypto</a>
						</div>
						</div>
						<div class="card-body table-responsive overflow-auto">
							<div class="table-responsive" style="height: 35rem;">
                                <table class="table table-responsive-md">
                                    <thead>
                                        <tr>
                                            <th>
                                                <div class="form-check custom-checkbox checkbox-success check-lg me-3">
                                                    <input type="checkbox" class="form-check-input" id="checkAll" required="">
                                                    <label class="form-check-label" for="checkAll"></label>
                                                </div>
                                            </th>
                                            <th><strong>ID</strong></th>
                                            <th><strong>NAME</strong></th>
                                            <th><strong>Qty</strong></th>
                                            <th><strong>Unit</strong></th>
                                            <th><strong>Subtotal</strong></th>
                                            <th><strong></strong></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for item in items %}
                                        {% include 'crm/shop/orders/order-item.html' %}
                                        {% endfor %}
                                        <tr>
                                            <td>
                                                <div class="form-check custom-checkbox checkbox-success check-lg me-3">
                                                    <input type="checkbox" class="form-check-input" id="customCheckBox2" required="">
                                                    <label class="form-check-label" for="customCheckBox2"></label>
                                                </div>
                                            </td>
                                            <td><strong>542</strong></td>
                                            <td>
                                                <div class="d-flex align-items-center">
                                                    <img src="{% static 'crm/images/avatar/1.jpg' %}" class="rounded-lg me-2" width="24" alt="">
                                                    <span class="w-space-no">Dr. Jackson</span>
                                                </div>
                                            </td>
                                            <td>2	</td>
                                            <td>IQD 2500</td>
                                            <td><div class="d-flex align-items-center"><i class="fa fa-circle text-success me-1"></i>IQD 5000</div></td>
                                            <td>
                                                <div class="d-flex">
                                                    <a href="#" class="btn btn-primary shadow btn-xs sharp me-1"><i class="fa fa-pencil"></i></a>
                                                    <a href="#" class="btn btn-danger shadow btn-xs sharp"><i class="fa fa-trash"></i></a>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="form-check custom-checkbox checkbox-success check-lg me-3">
                                                    <input type="checkbox" class="form-check-input" id="customCheckBox3" required="">
                                                    <label class="form-check-label" for="customCheckBox3"></label>
                                                </div>
                                            </td>
                                            <td><strong>542</strong></td>
                                            <td><div class="d-flex align-items-center"><img src="{% static 'crm/images/avatar/2.jpg' %}" class="rounded-lg me-2" width="24" alt=""> <span class="w-space-no">Dr. Jackson</span></div></td>
                                            <td>2	</td>
                                            <td>IQD 2500</td>
                                            <td><div class="d-flex align-items-center"><i class="fa fa-circle text-danger me-1"></i>IQD 5000</div></td>
                                            <td>
                                                <div class="d-flex">
                                                    <a href="#" class="btn btn-primary shadow btn-xs sharp me-1"><i class="fa fa-pencil"></i></a>
                                                    <a href="#" class="btn btn-danger shadow btn-xs sharp"><i class="fa fa-trash"></i></a>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="form-check custom-checkbox checkbox-success check-lg me-3">
                                                    <input type="checkbox" class="form-check-input" id="customCheckBox4" required="">
                                                    <label class="form-check-label" for="customCheckBox4"></label>
                                                </div>
                                            </td>
                                            <td><strong>542</strong></td>
                                            <td><div class="d-flex align-items-center"><img src="{% static 'crm/images/avatar/3.jpg' %}" class="rounded-lg me-2" width="24" alt=""> <span class="w-space-no">Dr. Jackson</span></div></td>
                                            <td>2	</td>
                                            <td>IQD 2500</td>
                                            <td><div class="d-flex align-items-center"><i class="fa fa-circle text-warning me-1"></i>IQD 5000</div></td>
                                            <td>
                                                <div class="d-flex">
                                                    <a href="#" class="btn btn-primary shadow btn-xs sharp me-1"><i class="fa fa-pencil"></i></a>
                                                    <a href="#" class="btn btn-danger shadow btn-xs sharp"><i class="fa fa-trash"></i></a>
                                                </div>
                                            </td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
							</div>
						<div class="card-footer">
							<div class="row">
									<div class="col-4 pt-1 pb-1 border-end">
										<h3 class="mb-1 text-primary">150</h3>
										<span>Projects</span>
									</div>
									<div class="col-4 pt-1 pb-1 border-end">
										<h3 class="mb-1 text-primary">140</h3>
										<span>Uploads</span>
									</div>
									<div class="col-4 pt-1 pb-1">
										<h3 class="mb-1 text-primary">45</h3>
										<span>Tasks</span>
                                    </div>
                                </div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xl-6 col-lg-4">
            <div class="row">
                <ul class="nav nav-tabs style-1 mb-2" id="pills-tab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <a href="auto-write.html" class="nav-link">Auto Writer</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a href="scheduled.html" class="nav-link active border-s-1">Scheduler</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a href="repurpose.html" class="nav-link">Repurpose</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a href="rss.html" class="nav-link">RSS</a>
                    </li>
                </ul>
            </div>
			<div class="right-sidebar-sticky">
                <div class="row mb-3 ml-2 overflow-y-auto overflow-x-hidden">
                    <div class="file-list row dz-scroll gap-2">
                        <div class="text-center col-xl-2 col-4 filie-l-icon border border-success">
                            <img src="{% static 'crm/images/iconly/light/Calendar.svg' %}"/>
                            <h6 class="mt-2">document</h6>
                        </div>
                        <div class="text-center col-xl-2 col-4 filie-l-icon border border-success">
                            <img src="{% static 'crm/images/chat/play-button1.png' %}" alt="">
                            <h6 class="mt-2">document</h6>
                        </div>
                        <div class="text-center col-xl-2 col-4 filie-l-icon border border-success">
                            <img src="{% static 'crm/images/chat/music-notes1.png' %}" alt="">
                            <h6 class="mt-2">document</h6>
                        </div>
                        <div class="text-center col-xl-2 col-4 filie-l-icon  border border-success">
                            <img src="{% static 'crm/images/chat/pdf.png' %}" alt="">
                            <h6 class="mt-2">Project 01</h6>
                        </div>
                        <div class="text-center col-xl-2 col-4 filie-l-icon  border border-success">
                            <img src="{% static 'crm/images/chat/music-notes1.png' %}" alt="">
                            <h6 class="mt-2">document</h6>
                        </div>
                        <div class="text-center col-xl-2 col-4 filie-l-icon  border border-success">
                            <img src="{% static 'crm/images/chat/google-docs1.png' %}" alt="">
                            <h6 class="mt-2">document</h6>
                        </div>
                        <div class="text-center col-xl-2 col-4 filie-l-icon  border border-success">
                            <img src="{% static 'crm/images/chat/music-notes1.png' %}" alt="">
                            <h6 class="mt-2">document</h6>
                        </div>
                        <div class="text-center col-xl-2 col-4 filie-l-icon  border border-success">
                            <img src="{% static 'crm/images/chat/pdf.png' %}" alt="">
                            <h6 class="mt-2">Project 01</h6>
                        </div>
                        <div class="text-center col-xl-2 col-4 filie-l-icon  border border-success">
                            <img src="{% static 'crm/images/chat/music-notes1.png' %}" alt="">
                            <h6 class="mt-2">document</h6>
                        </div>
                        <div class="text-center col-xl-2 col-4 filie-l-icon  border border-success">
                            <img src="{% static 'crm/images/chat/pdf.png' %}" alt="">
                            <h6 class="mt-2">Project 01</h6>
                        </div>
                    </div>
                </div>
				<div class="row">
					<div class="col-xl-6">
						<div class="card">
							<div class="card-header border-0 pb-0">
								<h2 class="card-title">Order Summary</h2>
							</div>
							<div class="card-body pb-0">
								<ul class="list-group list-group-flush">
									<li class="list-group-item d-flex px-0 justify-content-between">
										<strong>Sub Total</strong>
										<span class="mb-0">IQD 34500</span>
									</li>
									<li class="list-group-item d-flex px-0 justify-content-between">
										<strong>VAT - 5%</strong>
										<span class="mb-0">IQD 1725</span>
									</li>
								</ul>
							</div>
							<div class="card-footer pt-0 pb-0 text-center">
								<div class="row">
									<div class="col-4 pt-3 pb-3 border-end">
										<h5 class="mb-1 text-primary">IQD 37500</h5>
										<span>Subtotal</span>
									</div>
									<div class="col-4 pt-3 pb-3 border-end">
										<h5 class="mb-1 text-primary">IQD 2500</h5>
										<span>Discount</span>
									</div>
									<div class="col-4 pt-3 pb-3">
										<h5 class="mb-1 text-primary">IQD 33250</h5>
										<span>Total</span>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xl-6">
						<div class="card overflow-hidden">
							<div class="card-body">
								<div class="text-center">
									<div class="profile-photo">
										<img src="{% static 'crm/images/profile/profile.png' %}" width="100" class="img-fluid rounded-circle" alt="">
									</div>
									<h3 class="mt-4 mb-1">Deangelo Sena</h3>
								</div>
							</div>
							<div class="card-footer pt-0 pb-0 text-center">
								<div class="row">
									<div class="col-4 pt-3 pb-3 border-end">
										<h4 class="mb-1">150</h4>
										<span>Follower</span>
									</div>
									<div class="col-4 pt-3 pb-3 border-end">
										<h4 class="mb-1">140</h4>
										<span>Place Stay</span>
									</div>
									<div class="col-4 pt-3 pb-3">
										<h4 class="mb-1">45</h4>
										<span>Reviews</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>

		</div>
	</div>
</div>
{% endblock crm_content %}
{% block additional_js%}
<script src="https://unpkg.com/ag-grid-community/dist/ag-grid-community.js"></script>
<script>
	document.addEventListener('DOMContentLoaded', function () {
	    var gridDiv = document.querySelector('#myGrid');
	
	    var columnDefs = [
	        { headerName: 'Make', field: 'make' },
	        { headerName: 'Model', field: 'model' },
	        { headerName: 'Price', field: 'price' }
	    ];
	
	    var rowData = [
	        { make: 'Toyota', model: 'Celica', price: 35000 },
	        { make: 'Ford', model: 'Mondeo', price: 32000 },
	        { make: 'Porsche', model: 'Boxster', price: 72000 }
	    ];
	
	    var gridOptions = {
	        columnDefs: columnDefs,
	        rowData: rowData
	    };
	
	    new agGrid.Grid(gridDiv);
	});
</script>
{% endblock additional_js%}