<div class="d-flex {{ div_class }}">
    <button hx-get="{% url 'hud:subtract-quantity' item.number %}" hx-target="#item-detail-{{ item.number }}"
        hx-swap="outerHTML" class="btn btn-outline-theme {{ btn_class }}"><i class="fa fa-minus"></i></button>
    <input id="qty-input-{{ item.number }}" value="{{ item.quantity }}" type="text"
        class="form-control w-50px text-center mx-2 {{ input_class }}" name="qty">
    <button hx-get="{% url 'hud:add-quantity' item.number %}" hx-target="#item-detail-{{ item.number }}"
        hx-swap="outerHTML" class="btn btn-outline-theme {{ btn_class }}"><i class="fa fa-plus"></i></button>
</div>
<script>
    /*
    var increaseBtn = document.getElementById('increase')
    var decreaseBtn = document.getElementById('decrease')
    increaseBtn.addEventListener("click", function () {
        var qtyInput = document.getElementById('qty-input');
        var value = parseInt(qtyInput.value, 10);
        value++;
        qtyInput.value = value
        htmx.ajax(
            'POST',
            '{% url "hud:add-quantity" item.number %}',
            {
                target: '#qty-input',
                swap: 'none',
                values: { "quantity": value }
            }
        )
        
    });
    decreaseBtn.addEventListener("click", function () {
        var qtyInput = document.getElementById('qty-input');
        var value = parseInt(qtyInput.value, 10);
        value--;
        if (value > 0) {
            qtyInput.value = value
            htmx.ajax(
                    'POST',
                    '{% url "hud:add-quantity" item.number %}',
                    {
                        target: '#qty-input',
                        swap: 'none',
                        values: { "quantity": value }
                    }
                )
            } else {
                var confirmRemove = document.getElementById('confirm-remove');
                confirmRemove.style.display = 'block';
                confirmRemove.classList.add('d-flex');
            }
            
        });
        
        */
</script>

<!-- form-control w-50px text-center mx-2    fw-bold  bg-inverse bg-opacity-15 border-0  -->
<!-- form-control w-50px text-center mx-2    form-control-sm  bg-white bg-opacity-25  -->