{% extends 'crm/crm_base.html' %}
{% load static mptt_tags widget_tweaks custom_tags %}


{% block page_title %}
Blog Categories
{% endblock page_title %}


{% block crm_content %}
<div class="col-xl-12">
    <div class="row">
    {% if left_side_view  %}
        <div class="col-xl-4">
            <div class="filter cm-content-box box-primary">
                <div class="content-title">
                    <div class="cpa">
                        {% if edit %}Edit{% else %}Add{% endif %} Categories
                    </div>
                    <div class="tools">
                        <a href="javascript:void(0);" class="expand SlideToolHeader"><i class="fal fa-angle-down"></i></a>
                    </div>
                </div>
                <form method="post"
                {% if edit %}
                 action="{% url 'crm:blog:blog-category-edit' category.id  %}"
                 {% else %}
                 action="{% url 'crm:blog:blog-category-add'  %}"
                 {% endif %}
                 >{% csrf_token %}
                    <div class="cm-content-body  form excerpt">
                        <div class="card-body">
                            <div class="mb-3">
                                <label  class="form-label">Parent</label>
                                <select name="parent" class="default-select form-control wide mb-3">
                                    <option value="">Select The Parent</option>
                                    {% recursetree categories_for_select %}
                                        {% if node.is_child_node %}
                                        <option value="{{node.id}}" {% if node.id == category_form.parent.value %}selected{% endif %}>{{'+--'|multiply:node.level}}{{node.title}}</option>
                                        {% else %}  
                                        <option value="{{node.id}}"  {% if node.id == category_form.parent.value %}selected{% endif %}>{{node.title}}</option> 
                                        {% endif %}
                                    {% if not node.is_leaf_node %}
                                        {{ children }}
                                        {% endif %}
                                    {% endrecursetree %} 
                                </select>
                            </div>
                            <div class="mb-3">
                                <label  class="form-label">Name</label>
                                {{ category_form.title|attr:"name:title"|attr:"class:form-control"|attr:"type:text"|attr:"placeholder:Name" }} 
                            </div>
                            <div class="mb-3">
                                <label  class="form-label">Slug</label>
                                {{ category_form.slug|attr:"class:form-control slug"|attr:"type:text"|attr:"placeholder:Slug" }} 
                            </div>
                            <div class="mb-3">
                                <label for="exampleFormControlTextarea1" class="form-label">Example textarea</label>
                                <textarea class="form-control" id="exampleFormControlTextarea1" rows="8"></textarea>
                            </div>
                            <div>
                                <button type="submit" class="btn btn-primary">Save</button>
                             {% if edit %}
                                    <a type="button" href="{% url 'crm:blog:blog-category' %}" class="btn btn-primary">Cancel</a>
                            {% endif %}
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        {% endif %}
        <div class="col-xl-8">
            <div class="filter cm-content-box box-primary">
                <div class="content-title">
                    <div class="cpa">
                        Blog List
                    </div>
                    <div class="tools">
                        <a href="javascript:void(0);" class="expand SlideToolHeader"><i class="fal fa-angle-down"></i></a>
                    </div>
                </div>
                <div class="cm-content-body publish-content form excerpt">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered table-striped verticle-middle table-responsive-sm">
                                <thead>
                                    <tr>
                                        <th scope="col" class="text-black">Name</th>
                                        <th scope="col" class="text-black">Created</th>
                                        <th scope="col" class="text-black">Slug</th>
                                        {% if perms.blog.delete_categories or perms.blog.change_categories  %}
                                        <th scope="col" class="text-black text-end">Actions</th>
                                        {% endif %}
                                    </tr>
                                </thead>
                                <tbody>
                                {% recursetree categories %}
                                    <tr>
                                        <td>
                                        {% if node.is_child_node %}
                                            {{'+--'|multiply:node.level}}{{node.title}}
                                        {% else %}  
                                            {{node.title}}  
                                        {% endif %}
                                        </td>
                                        <td>{{node.created|date}}</td>
                                        <td>{{node.slug}}</td>
                                        {% if perms.blog.change_categories or perms.blog.delete_categories%}
                                        <td class="text-end">
                                        {% if  perms.blog.change_categories %}
                                            <a href="{% url 'crm:blog:blog-category-edit' id=node.id %}">Edit</a>
                                            <span>|</span>
                                            {% endif %}
                                            <a href="javascript:void(0);">Up</a>
                                            <span>|</span>
                                            <a href="javascript:void(0);">down</a>
                                            <span>|</span>
                                            {% if  perms.blog.delete_categories %}
                                            <a href="{% url 'crm:blog:blog-category-delete' id=node.id %}">delete</a>
                                            <span>|</span>
                                            {% endif %}
                                        </td>
                                        {% endif %}
                                    </tr>
                                    {% if not node.is_leaf_node %}
                                        {{ children }}
                                    {% endif %}
                                {% endrecursetree %} 
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock crm_content %}

{% block crm_additional_js %}

{% endblock crm_additional_js %}