{% load static %}
<!DOCTYPE html>
<html lang="en-AU" prefix="og: https://ogp.me/ns#" class="no-js">

<head>
	<meta charset="UTF-8">
	<link rel="profile" href="//gmpg.org/xfn/11">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="keywords"
		content="Industico - Industry and Manufacturers WordPress Theme, Industico - Industry and Manufacturers HTML Template, themes & template,wordpress theme, html5 template,unlimited colors available, ui/ux,ui/ix designs,best wordpress themes,html template, html,javascript,best css theme, css3,elementor theme,latest premium themes 2023,latest premium templates 2023,preyan technosys Pvt.Ltd,cymol themes,themetech mount,multi-theme,website theme and template, woocommerce, bootstrap template,web templates, responsive theme,services,web design and development, business,chemicals, elementor page builder, engineering, factory, factory business, industrial business, industry, manufacturers, manufacturing business, industry, factory, GIDC, engineer">
	<link rel="alternate" href="/" hreflang="en" />
	<link rel="alternate" href="/nl/" hreflang="nl" />
	<link rel="alternate" href="/fr/" hreflang="fr" />

	<!-- Search Engine Optimization by Rank Math - https://rankmath.com/ -->
	<title>Industico - Industry &amp; Manufacturers Popular WordPress Theme - Home 1</title>
	<meta name="description"
		content="Industico, Iconic WordPress Theme is specially structured for Industries, Factory, Manufacturing Industries, Oil, Gas, Engineering services website" />
	<meta name="robots" content="index, follow, max-snippet:-1, max-video-preview:-1, max-image-preview:large" />
	<link rel="canonical" href="/" />
	<meta property="og:locale" content="en_US" />
	<meta property="og:type" content="website" />
	<meta property="og:title" content="Industico - Industry &amp; Manufacturers Popular WordPress Theme - Home 1" />
	<meta property="og:description"
		content="Industico, Iconic WordPress Theme is specially structured for Industries, Factory, Manufacturing Industries, Oil, Gas, Engineering services website" />
	<meta property="og:url" content="/" />
	<meta property="og:site_name" content="Industico" />
	<meta property="og:updated_time" content="2024-02-14T12:29:31+00:00" />
	<meta property="article:published_time" content="2022-05-16T03:58:57+00:00" />
	<meta property="article:modified_time" content="2024-02-14T12:29:31+00:00" />
	<meta name="twitter:card" content="summary_large_image" />
	<meta name="twitter:title" content="Industico - Industry &amp; Manufacturers Popular WordPress Theme - Home 1" />
	<meta name="twitter:description"
		content="Industico, Iconic WordPress Theme is specially structured for Industries, Factory, Manufacturing Industries, Oil, Gas, Engineering services website" />
	<meta name="twitter:label1" content="Written by" />
	<meta name="twitter:data1" content="John Doe" />
	<meta name="twitter:label2" content="Time to read" />
	<meta name="twitter:data2" content="3 minutes" />

	{% include './includes/head.html' %}


	
</head>


<body
	class="home page-template-default page page-id-263 mega-menu-preyantechnosys-main-menu prt-headerstyle-classic-overlay preyantechnosys-topbar-yes preyantechnosys-fullwide preyantechnosys-page-full-width prt-empty-sidebar preyantechnosys-maxmegamenu-active elementor-default elementor-kit-6 elementor-page elementor-page-263">
	<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 0 0" width="0" height="0" focusable="false" role="none"
		style="visibility: hidden; position: absolute; left: -9999px; overflow: hidden;">
		<defs>
			<filter id="wp-duotone-dark-grayscale">
				<feColorMatrix color-interpolation-filters="sRGB" type="matrix"
					values=" .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 " />
				<feComponentTransfer color-interpolation-filters="sRGB">
					<feFuncR type="table" tableValues="0 0.49803921568627" />
					<feFuncG type="table" tableValues="0 0.49803921568627" />
					<feFuncB type="table" tableValues="0 0.49803921568627" />
					<feFuncA type="table" tableValues="1 1" />
				</feComponentTransfer>
				<feComposite in2="SourceGraphic" operator="in" />
			</filter>
		</defs>
	</svg><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 0 0" width="0" height="0" focusable="false" role="none"
		style="visibility: hidden; position: absolute; left: -9999px; overflow: hidden;">
		<defs>
			<filter id="wp-duotone-grayscale">
				<feColorMatrix color-interpolation-filters="sRGB" type="matrix"
					values=" .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 " />
				<feComponentTransfer color-interpolation-filters="sRGB">
					<feFuncR type="table" tableValues="0 1" />
					<feFuncG type="table" tableValues="0 1" />
					<feFuncB type="table" tableValues="0 1" />
					<feFuncA type="table" tableValues="1 1" />
				</feComponentTransfer>
				<feComposite in2="SourceGraphic" operator="in" />
			</filter>
		</defs>
	</svg><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 0 0" width="0" height="0" focusable="false" role="none"
		style="visibility: hidden; position: absolute; left: -9999px; overflow: hidden;">
		<defs>
			<filter id="wp-duotone-purple-yellow">
				<feColorMatrix color-interpolation-filters="sRGB" type="matrix"
					values=" .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 " />
				<feComponentTransfer color-interpolation-filters="sRGB">
					<feFuncR type="table" tableValues="0.54901960784314 0.98823529411765" />
					<feFuncG type="table" tableValues="0 1" />
					<feFuncB type="table" tableValues="0.71764705882353 0.25490196078431" />
					<feFuncA type="table" tableValues="1 1" />
				</feComponentTransfer>
				<feComposite in2="SourceGraphic" operator="in" />
			</filter>
		</defs>
	</svg><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 0 0" width="0" height="0" focusable="false" role="none"
		style="visibility: hidden; position: absolute; left: -9999px; overflow: hidden;">
		<defs>
			<filter id="wp-duotone-blue-red">
				<feColorMatrix color-interpolation-filters="sRGB" type="matrix"
					values=" .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 " />
				<feComponentTransfer color-interpolation-filters="sRGB">
					<feFuncR type="table" tableValues="0 1" />
					<feFuncG type="table" tableValues="0 0.27843137254902" />
					<feFuncB type="table" tableValues="0.5921568627451 0.27843137254902" />
					<feFuncA type="table" tableValues="1 1" />
				</feComponentTransfer>
				<feComposite in2="SourceGraphic" operator="in" />
			</filter>
		</defs>
	</svg><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 0 0" width="0" height="0" focusable="false" role="none"
		style="visibility: hidden; position: absolute; left: -9999px; overflow: hidden;">
		<defs>
			<filter id="wp-duotone-midnight">
				<feColorMatrix color-interpolation-filters="sRGB" type="matrix"
					values=" .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 " />
				<feComponentTransfer color-interpolation-filters="sRGB">
					<feFuncR type="table" tableValues="0 0" />
					<feFuncG type="table" tableValues="0 0.64705882352941" />
					<feFuncB type="table" tableValues="0 1" />
					<feFuncA type="table" tableValues="1 1" />
				</feComponentTransfer>
				<feComposite in2="SourceGraphic" operator="in" />
			</filter>
		</defs>
	</svg><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 0 0" width="0" height="0" focusable="false" role="none"
		style="visibility: hidden; position: absolute; left: -9999px; overflow: hidden;">
		<defs>
			<filter id="wp-duotone-magenta-yellow">
				<feColorMatrix color-interpolation-filters="sRGB" type="matrix"
					values=" .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 " />
				<feComponentTransfer color-interpolation-filters="sRGB">
					<feFuncR type="table" tableValues="0.78039215686275 1" />
					<feFuncG type="table" tableValues="0 0.94901960784314" />
					<feFuncB type="table" tableValues="0.35294117647059 0.47058823529412" />
					<feFuncA type="table" tableValues="1 1" />
				</feComponentTransfer>
				<feComposite in2="SourceGraphic" operator="in" />
			</filter>
		</defs>
	</svg><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 0 0" width="0" height="0" focusable="false" role="none"
		style="visibility: hidden; position: absolute; left: -9999px; overflow: hidden;">
		<defs>
			<filter id="wp-duotone-purple-green">
				<feColorMatrix color-interpolation-filters="sRGB" type="matrix"
					values=" .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 " />
				<feComponentTransfer color-interpolation-filters="sRGB">
					<feFuncR type="table" tableValues="0.65098039215686 0.40392156862745" />
					<feFuncG type="table" tableValues="0 1" />
					<feFuncB type="table" tableValues="0.44705882352941 0.4" />
					<feFuncA type="table" tableValues="1 1" />
				</feComponentTransfer>
				<feComposite in2="SourceGraphic" operator="in" />
			</filter>
		</defs>
	</svg><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 0 0" width="0" height="0" focusable="false" role="none"
		style="visibility: hidden; position: absolute; left: -9999px; overflow: hidden;">
		<defs>
			<filter id="wp-duotone-blue-orange">
				<feColorMatrix color-interpolation-filters="sRGB" type="matrix"
					values=" .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 " />
				<feComponentTransfer color-interpolation-filters="sRGB">
					<feFuncR type="table" tableValues="0.098039215686275 1" />
					<feFuncG type="table" tableValues="0 0.66274509803922" />
					<feFuncB type="table" tableValues="0.84705882352941 0.41960784313725" />
					<feFuncA type="table" tableValues="1 1" />
				</feComponentTransfer>
				<feComposite in2="SourceGraphic" operator="in" />
			</filter>
		</defs>
	</svg>
	<div id="prt-home"></div>
	<div class="main-holder">

		<div id="page" class="hfeed site">

			<header id="masthead"
				class=" prt-header-style-classic prt-header-overlay prt-main-menu-total-7 prt-main-menu-more-than-six">
				<div
					class="prt-header-block  prt-mmenu-active-color-skin prt-dmenu-active-color-skin prt-dmenu-sep-no prt-header-hastextarea">
					<div id="prt-stickable-header-w" class="prt-stickable-header-w prt-bgcolor-custom"
						style="height:100px">

						<div class="preyantechnosys-topbar-wrapper prt-bgcolor-custom prt-textcolor-white">
							<div class="preyantechnosys-topbar-inner">
								<div class="prt-topbar">
									<div class="prt-wrap prt-topbar-content">
										<div class="prt-wrap-cell prt-align-left"><span><i
													class="prt-industico-icon-info-circled-1"></i> Our industry sees
												over 10,000 plants implantation every year.</span><span
												class="prt-text-white"><a href="/service/chemical-research-2/">Chemical
													waste management policy<i
														class="prt-industico-icon-right-thin"></i></a></span></div>
										<div class="prt-wrap-cell prt-align-right">
											<ul class="top-contact">
												<li><i class="prt-industico-icon-location"></i><span
														class="prt-text-white-right">Location:</span>45 Shadow Brook Dr.
													Plymouth, MA 02360</li>
												<li><i class="prt-industico-icon-clock-3"></i><span
														class="prt-text-white-right">Time:</span>Mon - Fri: 8.00am -
													7.00pm</li>
											</ul>
											<div class="prt-language"> <span class="language-title">Language </span>
												<ul class="polylang_langswitcher">
													<li
														class="lang-item lang-item-23 lang-item-en current-lang lang-item-first">
														<a href="#"><img src="{% static 'industico/uploads/2022/06/english-flag.png' %}"
																title="English" alt="English">English</a>
													</li>
													<li class="lang-item lang-item-26 lang-item-nl"><a href="#"><img
																src="{% static 'industico/uploads/2022/06/netharland-flag.png' %}"
																title="Nederlands" alt="Nederlands">Nederlands</a></li>
													<li class="lang-item lang-item-30 lang-item-fr"><a href="#"><img
																src="{% static 'industico/uploads/2022/06/france-flag.png' %}" title="Français"
																alt="Français">Français</a></li>
												</ul>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div id="site-header"
							class="site-header prt-bgcolor-custom prt-sticky-bgcolor-darkgrey prt-responsive-icon-white prt-header-menu-position-left prt-mmmenu-override-yes prt-above-content-yes  prt-stickable-header">

							<div class="site-header-main prt-wrap">

								<div class="site-branding prt-wrap-cell">
									<div class="headerlogo preyantechnosys-logotype-image prt-stickylogo-no">
										<h1 class="site-title"><a class="home-link" href="/" title="Industico"
												rel="home"><span class="prt-sc-logo prt-sc-logo-type-image"><img
														class="preyantechnosys-logo-img standardlogo" alt="Industico"
														src="{% static 'industico/uploads/2022/06/logo-icon.png' %}"></span></a>
										</h1>
										<h2 class="site-description">Industry and Manufacturers WordPress Theme</h2>
									</div>
								</div><!-- .site-branding -->

								<div id="site-header-menu" class="site-header-menu prt-wrap-cell">
									<nav id="site-navigation" class="main-navigation" aria-label="Primary Menu"
										data-sticky-height="95">
										<div class="prt-header-text-area">
											<div class="header-info-widget">
												<div class="top-contact">
													<ul>
														<li class="prt-text-white">
															<p>Call Us on</p><i class="prt-industico-icon-whatsapp"></i>
															<h4><span class="prt-call"><a href="tel:+123457899">(222)
																		400-630</a></span></h4>
														</li>
													</ul>
												</div>
												<div class="elementor-widget-container">
													<div class="elementor-button-wrapper">
														<a href="/contact-us/"
															class="elementor-button-link elementor-button elementor-size-sm">
															<span class="elementor-button-content-wrapper"><span
																	class="elementor-button-text">Get Free
																	Quote!</span></span></a>
													</div>
												</div>
											</div>
										</div>

										<!-- Max Mega Menu is enabled so we are not showing our toggle menu -->


										<div id="mega-menu-wrap-preyantechnosys-main-menu" class="mega-menu-wrap">
											<div class="mega-menu-toggle">
												<div class="mega-toggle-blocks-left"></div>
												<div class="mega-toggle-blocks-center"></div>
												<div class="mega-toggle-blocks-right">
													<div class='mega-toggle-block mega-menu-toggle-block mega-toggle-block-1'
														id='mega-toggle-block-1' tabindex='0'><span
															class='mega-toggle-label' role='button'
															aria-expanded='false'><span
																class='mega-toggle-label-closed'></span><span
																class='mega-toggle-label-open'></span></span></div>
												</div>
											</div>
											<ul id="mega-menu-preyantechnosys-main-menu"
												class="mega-menu max-mega-menu mega-menu-horizontal mega-no-js"
												data-event="hover_intent" data-effect="fade_up" data-effect-speed="200"
												data-effect-mobile="disabled" data-effect-speed-mobile="0"
												data-mobile-force-width="false" data-second-click="go"
												data-document-click="collapse" data-vertical-behaviour="standard"
												data-breakpoint="1200" data-unbind="true"
												data-mobile-state="collapse_all" data-hover-intent-timeout="300"
												data-hover-intent-interval="100">
												<li class='mega-prt-menu-border mega-menu-item mega-menu-item-type-custom mega-menu-item-object-custom mega-menu-megamenu mega-menu-item-has-children mega-align-bottom-left mega-menu-megamenu mega-menu-item-3950'
													id='mega-menu-item-3950'><a class="mega-menu-link" href="#"
														aria-haspopup="true" aria-expanded="false"
														tabindex="0">Departments<span class="mega-indicator"></span></a>
													<ul class="mega-sub-menu">
														<li class='mega-menu-item mega-menu-item-type-widget widget_nav_menu mega-menu-columns-2-of-4 mega-menu-item-nav_menu-3'
															id='mega-menu-item-nav_menu-3'>
															<h4 class="mega-block-title">Gas &#038; Oil Industry</h4>
															<div class="menu-service-menu-container">
																<ul id="menu-service-menu-1" class="menu">
																	<li
																		class="menu-item menu-item-type-post_type menu-item-object-tm_service menu-item-5817">
																		<a href="/service/power-technology/">Power
																			Technology</a>
																	</li>
																	<li
																		class="menu-item menu-item-type-post_type menu-item-object-tm_service menu-item-5818">
																		<a href="/service/petroleum-refinery/">Awesome
																			Employers</a>
																	</li>
																	<li
																		class="menu-item menu-item-type-post_type menu-item-object-tm_service menu-item-5819">
																		<a href="/service/chemical-research-2/">Chemical
																			Research</a>
																	</li>
																	<li
																		class="menu-item menu-item-type-post_type menu-item-object-tm_service menu-item-5820">
																		<a href="/service/chemical-research/">Data
																			Technology</a>
																	</li>
																	<li
																		class="menu-item menu-item-type-post_type menu-item-object-tm_service menu-item-5821">
																		<a href="/service/fuel-gas-management/">Fuel
																			&#038; Gas Management</a>
																	</li>
																	<li
																		class="menu-item menu-item-type-post_type menu-item-object-tm_service menu-item-5822">
																		<a href="/service/awesome-employers/">Material
																			Engineering</a>
																	</li>
																</ul>
															</div>
														</li>
														<li class='mega-menu-item mega-menu-item-type-widget widget_nav_menu mega-menu-columns-2-of-4 mega-menu-item-nav_menu-4'
															id='mega-menu-item-nav_menu-4'>
															<h4 class="mega-block-title">Our Industry Projects</h4>
															<div class="menu-portfolio-menu-container">
																<ul id="menu-portfolio-menu-1" class="menu">
																	<li
																		class="menu-item menu-item-type-post_type menu-item-object-tm_portfolio menu-item-5823">
																		<a href="/portfolio/industrial-complex/">Industrial
																			Complex</a>
																	</li>
																	<li
																		class="menu-item menu-item-type-post_type menu-item-object-tm_portfolio menu-item-5824">
																		<a href="/portfolio/construction-architecture/">Successful
																			Venture</a>
																	</li>
																	<li
																		class="menu-item menu-item-type-post_type menu-item-object-tm_portfolio menu-item-5825">
																		<a href="/portfolio/oil-plant-project/">Oil
																			Plant Project</a>
																	</li>
																	<li
																		class="menu-item menu-item-type-post_type menu-item-object-tm_portfolio menu-item-5826">
																		<a href="/portfolio/citrus-battery/">Citrus
																			Battery</a>
																	</li>
																	<li
																		class="menu-item menu-item-type-post_type menu-item-object-tm_portfolio menu-item-5827">
																		<a href="/portfolio/al-zour-refinery/">Al
																			Zour Refinery</a>
																	</li>
																	<li
																		class="menu-item menu-item-type-post_type menu-item-object-tm_portfolio menu-item-5828">
																		<a href="/portfolio/industrial-installation/">Industrial
																			Installation</a>
																	</li>
																</ul>
															</div>
														</li>
														<li class='mega-menu-item mega-menu-item-type-widget widget_custom_html mega-menu-columns-2-of-4 mega-menu-clear mega-menu-item-custom_html-2'
															id='mega-menu-item-custom_html-2'>
															<div class="textwidget custom-html-widget">
																<div class="prt-mega-title">
																	<h4>

																		Oil and gas industry assets are global, complex,
																		with a limited life cycle
																	</h4>
																	<div class="elementor-widget-container">
																		<div class="elementor-button-wrapper">
																			<a href="/contact-us/"
																				class="elementor-button-link elementor-button elementor-size-sm">
																				<span
																					class="elementor-button-content-wrapper"><span
																						class="elementor-button-text">Get
																						Free Quote!</span></span></a>
																		</div>
																	</div>
																</div>
															</div>
														</li>
														<li class='mega-menu-item mega-menu-item-type-widget widget_custom_html mega-menu-columns-2-of-4 mega-menu-item-custom_html-3'
															id='mega-menu-item-custom_html-3'>
															<div class="textwidget custom-html-widget">
																<div class="prt-box-megamenu">
																	<div class="prt-img-mega">
																		<img src="{% static 'industico/uploads/2022/07/mega-img-01.jpg' %}"
																			alt="mega-img">
																	</div>
																	<div class="prt-box-iconbox">
																		<div class="prt-featured-mega-wrapper">
																			<img src="{% static 'industico/uploads/2022/06/left-img.png' %}"
																				alt="left-img">
																		</div>
																		<div class="prt-box-desc">
																			<h4> Best Quality </h4>
																			<p>Industico taking into account the impact
																				to Mother Earth’s Ecological systems</p>
																		</div>
																	</div>
																</div>
															</div>
														</li>
													</ul>
												</li>
												<li class='mega-menu-item mega-menu-item-type-custom mega-menu-item-object-custom mega-current-menu-ancestor mega-current-menu-parent mega-menu-item-has-children mega-align-bottom-left mega-menu-flyout mega-menu-item-4305'
													id='mega-menu-item-4305'><a class="mega-menu-link" href="#"
														aria-haspopup="true" aria-expanded="false"
														tabindex="0">Home<span class="mega-indicator"></span></a>
													<ul class="mega-sub-menu">
														<li class='mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page mega-menu-item-home mega-current-menu-item mega-page_item mega-page-item-263 mega-current_page_item mega-menu-item-4017'
															id='mega-menu-item-4017'><a class="mega-menu-link"
																href="/">Home
																One</a></li>
														<li class='mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page mega-menu-item-3931'
															id='mega-menu-item-3931'><a class="mega-menu-link"
																href="/home-two/">Home
																Two</a></li>
														<li class='mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page mega-menu-item-7925'
															id='mega-menu-item-7925'><a class="mega-menu-link"
																href="/home-three/">Home
																Three</a></li>
													</ul>
												</li>
												<li class='mega-menu-item mega-menu-item-type-custom mega-menu-item-object-custom mega-menu-item-has-children mega-align-bottom-left mega-menu-flyout mega-menu-item-3932'
													id='mega-menu-item-3932'><a class="mega-menu-link" href="#"
														aria-haspopup="true" aria-expanded="false"
														tabindex="0">Pages<span class="mega-indicator"></span></a>
													<ul class="mega-sub-menu">
														<li class='mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page mega-menu-item-6710'
															id='mega-menu-item-6710'><a class="mega-menu-link"
																href="/about-us-1/">About
																Us 1</a></li>
														<li class='mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page mega-menu-item-4007'
															id='mega-menu-item-4007'><a class="mega-menu-link"
																href="/about-us-2/">About
																Us 2</a></li>
														<li class='mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page mega-menu-item-4009'
															id='mega-menu-item-4009'><a class="mega-menu-link"
																href="/services-1/">Services
																1</a></li>
														<li class='mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page mega-menu-item-4010'
															id='mega-menu-item-4010'><a class="mega-menu-link"
																href="/services-2/">Services
																2</a></li>
														<li class='mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page mega-menu-item-4837'
															id='mega-menu-item-4837'><a class="mega-menu-link"
																href="/our-team/">Our
																Team</a></li>
														<li class='mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-tm_team_member mega-menu-item-4795'
															id='mega-menu-item-4795'><a class="mega-menu-link"
																href="/team-member/bennett-crosby-2/">Team
																Details</a></li>
														<li class='mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page mega-menu-item-4796'
															id='mega-menu-item-4796'><a class="mega-menu-link"
																href="/faq/">FAQ</a>
														</li>
														<li class='mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-tm_service mega-menu-item-6446'
															id='mega-menu-item-6446'><a class="mega-menu-link"
																href="/service/petroleum-refinery/">Service
																Left Sidebar</a></li>
														<li class='mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-tm_service mega-menu-item-6445'
															id='mega-menu-item-6445'><a class="mega-menu-link"
																href="/service/chemical-research-2/">Service
																Right Sidebar</a></li>
													</ul>
												</li>
												<li class='mega-menu-item mega-menu-item-type-custom mega-menu-item-object-custom mega-menu-item-has-children mega-align-bottom-left mega-menu-flyout mega-menu-item-3933'
													id='mega-menu-item-3933'><a class="mega-menu-link" href="#"
														aria-haspopup="true" aria-expanded="false"
														tabindex="0">services<span class="mega-indicator"></span></a>
													<ul class="mega-sub-menu">
														<li class='mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-tm_service mega-menu-item-4860'
															id='mega-menu-item-4860'><a class="mega-menu-link"
																href="/service/power-technology/">Power
																Technology</a></li>
														<li class='mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-tm_service mega-menu-item-4861'
															id='mega-menu-item-4861'><a class="mega-menu-link"
																href="/service/petroleum-refinery/">Awesome
																Employers</a></li>
														<li class='mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-tm_service mega-menu-item-4862'
															id='mega-menu-item-4862'><a class="mega-menu-link"
																href="/service/chemical-research-2/">Chemical
																Research</a></li>
														<li class='mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-tm_service mega-menu-item-4863'
															id='mega-menu-item-4863'><a class="mega-menu-link"
																href="/service/chemical-research/">Data
																Technology</a></li>
														<li class='mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-tm_service mega-menu-item-4864'
															id='mega-menu-item-4864'><a class="mega-menu-link"
																href="/service/fuel-gas-management/">Fuel
																&#038; Gas Management</a></li>
														<li class='mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-tm_service mega-menu-item-4865'
															id='mega-menu-item-4865'><a class="mega-menu-link"
																href="/service/awesome-employers/">Material
																Engineering</a></li>
													</ul>
												</li>
												<li class='mega-menu-item mega-menu-item-type-custom mega-menu-item-object-custom mega-menu-item-has-children mega-align-bottom-left mega-menu-flyout mega-menu-item-3935'
													id='mega-menu-item-3935'><a class="mega-menu-link" href="#"
														aria-haspopup="true" aria-expanded="false"
														tabindex="0">Project<span class="mega-indicator"></span></a>
													<ul class="mega-sub-menu">
														<li class='mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page mega-menu-item-6239'
															id='mega-menu-item-6239'><a class="mega-menu-link"
																href="/2-columns-modern/">2
																Columns – Modern</a></li>
														<li class='mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page mega-menu-item-6257'
															id='mega-menu-item-6257'><a class="mega-menu-link"
																href="/3-columns-standard/">3
																Columns – Standard</a></li>
														<li class='mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page mega-menu-item-6278'
															id='mega-menu-item-6278'><a class="mega-menu-link"
																href="/4-columns-full-standard/">4
																Columns – Full Standard</a></li>
														<li class='mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page mega-menu-item-6296'
															id='mega-menu-item-6296'><a class="mega-menu-link"
																href="/4-columns-full-grid/">4
																Columns – Full Grid</a></li>
														<li class='mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-tm_portfolio mega-menu-item-4835'
															id='mega-menu-item-4835'><a class="mega-menu-link"
																href="/portfolio/oil-plant-project/">Project
																Details</a></li>
													</ul>
												</li>
												<li class='mega-menu-item mega-menu-item-type-custom mega-menu-item-object-custom mega-menu-item-has-children mega-align-bottom-left mega-menu-flyout mega-menu-item-3936'
													id='mega-menu-item-3936'><a class="mega-menu-link" href="#"
														aria-haspopup="true" aria-expanded="false"
														tabindex="0">Blog<span class="mega-indicator"></span></a>
													<ul class="mega-sub-menu">
														<li class='mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page mega-menu-item-4354'
															id='mega-menu-item-4354'><a class="mega-menu-link"
																href="/blog/">Blog
																Classic</a></li>
														<li class='mega-menu-item mega-menu-item-type-custom mega-menu-item-object-custom mega-menu-item-has-children mega-menu-item-7288'
															id='mega-menu-item-7288'><a class="mega-menu-link" href="#"
																aria-haspopup="true" aria-expanded="false">Blog
																Grid<span class="mega-indicator"></span></a>
															<ul class="mega-sub-menu">
																<li class='mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page mega-menu-item-7248'
																	id='mega-menu-item-7248'><a class="mega-menu-link"
																		href="/blog-grid-2/">2
																		Columns</a></li>
																<li class='mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page mega-menu-item-7260'
																	id='mega-menu-item-7260'><a class="mega-menu-link"
																		href="/blog-grid-2-column-left-sidebar/">2
																		Column : Left Sidebar</a></li>
																<li class='mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page mega-menu-item-7270'
																	id='mega-menu-item-7270'><a class="mega-menu-link"
																		href="/blog-grid-2-column-right-sidebar/">2
																		Column : Right Sidebar</a></li>
																<li class='mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page mega-menu-item-7289'
																	id='mega-menu-item-7289'><a class="mega-menu-link"
																		href="/blog-grid/">3
																		Columns</a></li>
																<li class='mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page mega-menu-item-7291'
																	id='mega-menu-item-7291'><a class="mega-menu-link"
																		href="/blog-grid-4-column-full-width/">4
																		Column : Full Width</a></li>
															</ul>
														</li>
														<li class='mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-post mega-menu-item-4880'
															id='mega-menu-item-4880'><a class="mega-menu-link"
																href="/blog/2022/05/19/risus-commodo-viverra-maecenas-accumsan-lacus-vel-facilisis-5/">Blog
																Single View</a></li>
														<li class='mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-post mega-menu-item-6436'
															id='mega-menu-item-6436'><a class="mega-menu-link"
																href="/blog/2022/05/20/risus-commodo-viverra-maecenas-accumsan-lacus-vel-facilisis-4/">Blog
																Left Sidebar</a></li>
														<li class='mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-post mega-menu-item-4879'
															id='mega-menu-item-4879'><a class="mega-menu-link"
																href="/blog/2022/06/07/software-may-be-best-bet-to-conquer-final-mile/">Blog
																Right Sidebar</a></li>
													</ul>
												</li>
												<li class='mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page mega-align-bottom-left mega-menu-flyout mega-menu-item-4008'
													id='mega-menu-item-4008'><a class="mega-menu-link"
														href="/contact-us/" tabindex="0">Contact Us</a></li>
											</ul>
										</div>
									</nav><!-- .main-navigation -->
								</div><!-- .site-header-menu -->


							</div><!-- .site-header-main -->
						</div>
					</div>
















				</div>
			</header><!-- .site-header -->


			<div id="content-wrapper" class="site-content-wrapper">
				<div id="content" class="site-content ">
				{% block base_content %}
{% endblock base_content %}
					<!-- .site-content-inner -->
				</div><!-- .site-content -->
			</div><!-- .site-content-wrapper -->

			<footer id="colophon" class="site-footer">
				<div class="footer_inner_wrapper footer prt-bg prt-bgcolor-custom prt-bgimage-yes">
					<div class="site-footer-bg-layer prt-bg-layer"></div>
					<div class="site-footer-w">
						<div class="footer-rows">
							<div class="footer-rows-inner">



								<div id="first-footer"
									class="sidebar-container first-footer  prt-bg prt-bgcolor-transparent prt-textcolor-white prt-bgimage-no prt-footerrow-sepnone prt-widgetsep-no"
									role="complementary">
									<div class="first-footer-bg-layer prt-bg-layer"></div>
									<div class="container prt-container-for-footer">
										<div class="first-footer-inner">
											<div class="row multi-columns-row">

												<div
													class="widget-area col-xs-12 col-sm-3 col-md-3 col-lg-3 first-widget-area">
													<aside id="enhancedtextwidget-3"
														class="widget widget_text enhanced-text-widget">
														<div class="textwidget widget-text">
															<div class="footer_logo"><img
																	src="{% static 'industico/uploads/2022/06/final-logo-light.svg' %}" alt="">
															</div>
															<p>Industico is widely considered as the largest
																global providers of oil & gas refineries for the
																energy industries.
															</p>
															<div class=tm-colorstyle-social-link>
																<h3 style="font-size: 18px; font-weight:600;">Social
																	Info:</h3>
																<div class="themetechmount-social-links-wrapper">
																	<div class="preyantechnosys-social-links-wrapper">
																		<ul class="social-icons">
																			<li class="prt-social-facebook"><a
																					class=" tooltip-top" target="_blank"
																					href="https://www.facebook.com/preyantechnosys19"
																					data-tooltip="Facebook"><span
																						class="prt-ss">facebook</span><i
																						class="prt-industico-icon-facebook"></i></a>
																			</li>
																			<li class="prt-social-twitter"><a
																					class=" tooltip-top" target="_blank"
																					href="https://twitter.com/PreyanTechnosys"
																					data-tooltip="Twitter"><span
																						class="prt-ss">twitter</span><i
																						class="prt-industico-icon-twitter"></i></a>
																			</li>
																			<li class="prt-social-pinterest"><a
																					class=" tooltip-top" target="_blank"
																					href="https://in.pinterest.com/preyan_technosys/"
																					data-tooltip="Pinterest"><span
																						class="prt-ss">pinterest</span><i
																						class="prt-industico-icon-pinterest"></i></a>
																			</li>
																			<li class="prt-social-linkedin"><a
																					class=" tooltip-top" target="_blank"
																					href="https://www.instagram.com/preyan_technosys/"
																					data-tooltip="LinkedIn"><span
																						class="prt-ss">linkedin</span><i
																						class="prt-industico-icon-linkedin"></i></a>
																			</li>
																			<li class="prt-social-dribbble"><a
																					class=" tooltip-top" target="_blank"
																					href="https://dribbble.com/PreyanTechnosys"
																					data-tooltip="Dribbble"><span
																						class="prt-ss">dribbble</span><i
																						class="prt-industico-icon-dribbble"></i></a>
																			</li>
																		</ul>
																	</div>
																</div>
															</div>
														</div>
													</aside>
												</div><!-- .widget-area -->
												<div
													class="widget-area col-xs-12 col-sm-3 col-md-3 col-lg-3 first-widget-area">
													<aside id="nav_menu-2" class="widget widget_nav_menu">
														<h3 class="widget-title">Useful Links</h3>
														<div class="menu-useful-links-container">
															<ul id="menu-useful-links-1" class="menu">
																<li
																	class="prt-2column-menu menu-item menu-item-type-custom menu-item-object-custom menu-item-3914">
																	<a href="#">Wind Turbines</a>
																</li>
																<li
																	class="prt-2column-menu menu-item menu-item-type-custom menu-item-object-custom menu-item-3915">
																	<a href="#">Solar Panels</a>
																</li>
																<li
																	class="prt-2column-menu menu-item menu-item-type-custom menu-item-object-custom menu-item-3916">
																	<a href="#">Fossil Resources</a>
																</li>
																<li
																	class="prt-2column-menu menu-item menu-item-type-custom menu-item-object-custom menu-item-3917">
																	<a href="#">Hydropower Plants</a>
																</li>
																<li
																	class="prt-2column-menu menu-item menu-item-type-custom menu-item-object-custom menu-item-3918">
																	<a href="#">Fuel Resources</a>
																</li>
																<li
																	class="prt-2column-menu menu-item menu-item-type-custom menu-item-object-custom menu-item-3919">
																	<a href="#">Battery Materials</a>
																</li>
																<li
																	class="prt-2column-menu menu-item menu-item-type-custom menu-item-object-custom menu-item-3920">
																	<a href="#">Charge Controllers</a>
																</li>
																<li
																	class="prt-2column-menu menu-item menu-item-type-custom menu-item-object-custom menu-item-3921">
																	<a href="#">Wind Turbines</a>
																</li>
																<li
																	class="prt-2column-menu menu-item menu-item-type-custom menu-item-object-custom menu-item-3922">
																	<a href="#">Solar Panels</a>
																</li>
																<li
																	class="prt-2column-menu menu-item menu-item-type-custom menu-item-object-custom menu-item-3923">
																	<a href="#">Fossil Resources</a>
																</li>
																<li
																	class="prt-2column-menu menu-item menu-item-type-custom menu-item-object-custom menu-item-3924">
																	<a href="#">Hydropower Plants</a>
																</li>
																<li
																	class="prt-2column-menu menu-item menu-item-type-custom menu-item-object-custom menu-item-3925">
																	<a href="#">Chemical Research</a>
																</li>
																<li
																	class="prt-2column-menu menu-item menu-item-type-custom menu-item-object-custom menu-item-3926">
																	<a href="#">Battery Materials</a>
																</li>
															</ul>
														</div>
													</aside>
												</div><!-- .widget-area -->
												<div
													class="widget-area col-xs-12 col-sm-6 col-md-6 col-lg-6 first-widget-area">
													<aside id="enhancedtextwidget-4"
														class="prt-third-widget widget widget_text enhanced-text-widget">
														<h3 class="widget-title">Contact Us</h3>
														<div class="textwidget widget-text">
															<div class="cmt-full-box">
																<div class="prt-lefticon-box">
																	114 W. Elmwood Court Oakland Gardens,<br> NY 11364
																</div>
																<div class="prt-righticon-box">
																	<h3>Get Free Estimate</h3>
																	<h4>(222) 400-630</h4>
																	<i aria-hidden="true"
																		class="kw_fabiflex flaticon-24-hours"></i>
																</div>
															</div>
															<div class="prt-mailchimp-head">
																<h3 class="widget-title">Signup For Our Newsletter</h3>
															</div>
															<div class="prt-mailchimp">
																<script>(function () {
																		window.mc4wp = window.mc4wp || {
																			listeners: [],
																			forms: {
																				on: function (evt, cb) {
																					window.mc4wp.listeners.push(
																						{
																							event: evt,
																							callback: cb
																						}
																					);
																				}
																			}
																		}
																	})();
																</script><!-- Mailchimp for WordPress v4.8.7 - https://wordpress.org/plugins/mailchimp-for-wp/ -->
																<form id="mc4wp-form-2"
																	class="mc4wp-form mc4wp-form-3930" method="post"
																	data-id="3930" data-name="form">
																	<div class="mc4wp-form-fields">
																		<div class="mailchimp-inputbox tm-mailchimp">
																			<div class="mailchimp-email">
																				<input type="email" name="EMAIL"
																					placeholder="Your email address">
																			</div>
																			<button class="btn" type="submit">
																				<i
																					class="prt-industico-icon-paper-plane-1"></i>
																			</button>
																		</div>

																	</div><label style="display: none !important;">Leave
																		this field empty if you're human: <input
																			type="text" name="_mc4wp_honeypot" value=""
																			tabindex="-1"
																			autocomplete="off" /></label><input
																		type="hidden" name="_mc4wp_timestamp"
																		value="1712517990" /><input type="hidden"
																		name="_mc4wp_form_id" value="3930" /><input
																		type="hidden" name="_mc4wp_form_element_id"
																		value="mc4wp-form-2" />
																	<div class="mc4wp-response"></div>
																</form><!-- / Mailchimp for WordPress Plugin -->
															</div>
														</div>
													</aside>
												</div><!-- .widget-area -->



											</div><!-- .row.multi-columns-row -->
										</div><!-- .first-footer-inner -->
									</div><!--  -->
								</div><!-- #secondary -->


							</div><!-- .footer-inner -->
						</div><!-- .footer -->

						<div id="bottom-footer-text"
							class="bottom-footer-text prt-bottom-footer-text site-info  prt-bg prt-bgcolor-transparent prt-textcolor-white prt-bgimage-no prt-bordercolor-none">
							<div class="bottom-footer-bg-layer prt-bg-layer"></div>
							<div class="container prt-container-for-footer">
								<div class="bottom-footer-inner">
									<div class="row multi-columns-row">
										<div class="col-xs-12 col-sm-7 prt-footer2-left ">
											Copyright © 2024 Industico. Designed and Developed by <span
												class="prt-skincolor u1"><a href="https://preyantechnosys.com/">Preyan
													Technosys</a> </span>only on <span class="prt-green u1"><a
													href="https://themeforest.net/user/themetechmount">Envato
													Market.</a></span> </div><!--.footer menu -->

										<div class="col-xs-12 col-sm-5 prt-footer2-right ">
											<ul class="footer-nav-menu">
												<li
													class="menu-item menu-item-type-custom menu-item-object-custom menu-item-4544">
													<a href="/about-us-1-2/">About</a>
												</li>
												<li
													class="menu-item menu-item-type-custom menu-item-object-custom menu-item-4545">
													<a href="/blog/">Blog</a>
												</li>
												<li
													class="menu-item menu-item-type-custom menu-item-object-custom menu-item-4546">
													<a href="/contact-us/">Contact</a>
												</li>
												<li
													class="menu-item menu-item-type-custom menu-item-object-custom menu-item-4547">
													<a href="/faq/">Privacy
														Policy</a>
												</li>
											</ul>
										</div><!--.copyright -->

									</div><!-- .row.multi-columns-row -->
								</div><!-- .bottom-footer-inner -->
							</div><!--  -->
						</div><!-- .footer-text -->
					</div><!-- .footer-inner-wrapper -->
				</div><!-- .site-footer-inner -->
			</footer><!-- .site-footer -->

		</div><!-- #page .site -->

	</div><!-- .main-holder -->

	<!-- To Top -->
	<a id="totop" href="#top"><i class="prt-industico-icon-angle-up"></i></a>

{% include './includes/bottom.html' %}
</body>

</html>