.elementor-475 .elementor-element.elementor-element-aedcbfe {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 105px 0px 0px 0px;
    z-index: 11;
}

.elementor-475 .elementor-element.elementor-element-0da9b6f>.elementor-element-populated {
    margin: 0px 0px -169px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-475 .elementor-element.elementor-element-c67082c .prt-heading-subheading {
    text-align: center;
}

.elementor-475 .elementor-element.elementor-element-c780294>.elementor-widget-container {
    padding: 0px 0px 0px 0px;
}

.elementor-475 .elementor-element.elementor-element-299c0a9>.elementor-background-overlay {
    background-image: url("../../uploads/2022/05/row-01.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.5;
}

.elementor-475 .elementor-element.elementor-element-299c0a9 {
    margin-top: 0px;
    margin-bottom: -60px;
    padding: 270px 0px 160px 0px;
}

.elementor-475 .elementor-element.elementor-element-fdae73c>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 0px 50px 0px 0px;
}

.elementor-475 .elementor-element.elementor-element-5c5c5d2 .prt-heading-subheading {
    text-align: left;
}

.elementor-475 .elementor-element.elementor-element-3bc05bc {
    padding: 30px 0px 22px 0px;
}

.elementor-475 .elementor-element.elementor-element-4cf0510>.elementor-element-populated {
    margin: -9px 0px 0px -5px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: -5px;
    padding: 0px 0px 0px 0px;
}

.elementor-475 .elementor-element.elementor-element-7b54649 .elementor-heading-title {
    color: #FF172D;
    font-size: 64px;
    font-weight: 700;
}

.elementor-475 .elementor-element.elementor-element-bf1b739>.elementor-element-populated {
    padding: 0px 0px 0px 0px;
}

.elementor-475 .elementor-element.elementor-element-348b3e4 {
    color: #282B2D;
    font-size: 18px;
    font-weight: 600;
}

.elementor-475 .elementor-element.elementor-element-89b1d9c {
    --divider-border-style: solid;
    --divider-color: #D6D7D8;
    --divider-border-width: 1px;
}

.elementor-475 .elementor-element.elementor-element-89b1d9c .elementor-divider-separator {
    width: 97%;
}

.elementor-475 .elementor-element.elementor-element-89b1d9c .elementor-divider {
    padding-top: 0px;
    padding-bottom: 0px;
}

.elementor-475 .elementor-element.elementor-element-db80959 {
    padding: 29px 0px 0px 0px;
}

.elementor-475 .elementor-element.elementor-element-ce1d4b5>.elementor-element-populated {
    border-style: solid;
    border-width: 0px 1px 0px 0px;
    border-color: #D6D7D8;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 0px 0px 0px 5px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 5px;
    padding: 0px 10px 0px 0px;
}

.elementor-475 .elementor-element.elementor-element-ce1d4b5>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-475 .elementor-element.elementor-element-84c06dd .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
    padding-bottom: calc(10px/2);
}

.elementor-475 .elementor-element.elementor-element-84c06dd .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
    margin-top: calc(10px/2);
}

.elementor-475 .elementor-element.elementor-element-84c06dd .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
    margin-right: calc(10px/2);
    margin-left: calc(10px/2);
}

.elementor-475 .elementor-element.elementor-element-84c06dd .elementor-icon-list-items.elementor-inline-items {
    margin-right: calc(-10px/2);
    margin-left: calc(-10px/2);
}

body.rtl .elementor-475 .elementor-element.elementor-element-84c06dd .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    left: calc(-10px/2);
}

body:not(.rtl) .elementor-475 .elementor-element.elementor-element-84c06dd .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    right: calc(-10px/2);
}

.elementor-475 .elementor-element.elementor-element-84c06dd .elementor-icon-list-icon i {
    color: #FF172D;
}

.elementor-475 .elementor-element.elementor-element-84c06dd .elementor-icon-list-icon svg {
    fill: #FF172D;
}

.elementor-475 .elementor-element.elementor-element-84c06dd {
    --e-icon-list-icon-size: 15px;
}

.elementor-475 .elementor-element.elementor-element-84c06dd .elementor-icon-list-text {
    padding-left: 12px;
}

.elementor-475 .elementor-element.elementor-element-74273d9>.elementor-element-populated {
    margin: 0px 0px 0px 5px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 5px;
    padding: 0px 0px 0px 50px;
}

.elementor-475 .elementor-element.elementor-element-4d0663a {
    text-align: left;
}

.elementor-475 .elementor-element.elementor-element-fdc566e .elementor-heading-title {
    font-size: 18px;
}

.elementor-475 .elementor-element.elementor-element-0f24e03 {
    text-align: right;
}

.elementor-475 .elementor-element.elementor-element-6609d10 .prt-stretched-div.prt-stretched-right {
    margin: 0px 0px 0px -80px;
}

.elementor-475 .elementor-element.elementor-element-6609d10 {
    padding: 0px 0px 0px 0px;
}

.elementor-475 .elementor-element.elementor-element-8262b1b:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-475 .elementor-element.elementor-element-8262b1b>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-image: url("../../uploads/2022/05/col-02.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.elementor-475 .elementor-element.elementor-element-8262b1b>.elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-475 .elementor-element.elementor-element-8262b1b>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-475 .elementor-element.elementor-element-8262b1b {
    z-index: 2;
}

.elementor-475 .elementor-element.elementor-element-fade5ca .elementor-spacer-inner {
    --spacer-size: 490px;
}

.elementor-475 .elementor-element.elementor-element-6f3fca3:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-475 .elementor-element.elementor-element-6f3fca3>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #FF172D;
    background-image: url("../../uploads/2022/05/col-03.png");
}

.elementor-475 .elementor-element.elementor-element-6f3fca3>.elementor-element-populated>.elementor-background-overlay {
    opacity: 1;
}

.elementor-475 .elementor-element.elementor-element-6f3fca3>.elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 60px 0px -60px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 0px 0px 45px 65px;
}

.elementor-475 .elementor-element.elementor-element-6f3fca3>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-475 .elementor-element.elementor-element-6f3fca3 {
    z-index: 1;
}

.elementor-475 .elementor-element.elementor-element-9916960 .prt-heading-subheading {
    text-align: left;
}

.elementor-475 .elementor-element.elementor-element-3803541 {
    padding: 165px 0px 0px 0px;
}

.elementor-475 .elementor-element.elementor-element-ff26971>.elementor-element-populated {
    padding: 0px 0px 0px 0px;
}

.elementor-475 .elementor-element.elementor-element-ff26971 {
    z-index: 11;
}

.elementor-475 .elementor-element.elementor-element-19f778e .prt-heading-subheading {
    text-align: left;
}

.elementor-475 .elementor-element.elementor-element-5c4aaa7 {
    margin-top: -270px;
    margin-bottom: 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-475 .elementor-element.elementor-element-31cec3f .elementor-spacer-inner {
    --spacer-size: 270px;
}

.elementor-475 .elementor-element.elementor-element-f9100b9>.elementor-background-overlay {
    background-image: url("../../uploads/2022/05/row-01.png");
    opacity: 0.5;
}

.elementor-475 .elementor-element.elementor-element-f9100b9 {
    padding: 55px 0px 200px 0px;
}

.elementor-475 .elementor-element.elementor-element-b6fc3fa>.elementor-element-populated {
    padding: 0px 0px 0px 0px;
}

.elementor-475 .elementor-element.elementor-element-cb03310 .tm-heading-subheading {
    text-align: center;
}

.elementor-475 .elementor-element.elementor-element-bcf5405 {
    padding: 0px 0px 0px 0px;
}

.elementor-475 .elementor-element.elementor-element-bac33c2>.elementor-element-populated {
    margin: -100px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 35px 100px 40px 120px;
}

.elementor-475 .elementor-element.elementor-element-432cfb8 {
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    border-color: #FF4F60;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: 14px;
    margin-bottom: 20px;
}

.elementor-475 .elementor-element.elementor-element-432cfb8>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-475 .elementor-element.elementor-element-430d67e>.elementor-element-populated {
    padding: 0px 0px 0px 0px;
}

.elementor-475 .elementor-element.elementor-element-f4be166 .elementor-heading-title {
    font-size: 24px;
    font-weight: 600;
}

.elementor-475 .elementor-element.elementor-element-f5f831e>.elementor-element-populated {
    padding: 0px 0px 0px 0px;
}

.elementor-475 .elementor-element.elementor-element-af538ca {
    text-align: right;
    color: #FFFFFF;
}

.elementor-475 .elementor-element.elementor-element-97e4749 .prt-heading-subheading {
    text-align: left;
}

.elementor-475 .elementor-element.elementor-element-97e4749>.elementor-widget-container {
    margin: 0px 0px 0px -25px;
}

.elementor-475 .elementor-element.elementor-element-f383bae {
    padding: 100px 0px 90px 0px;
}

.elementor-475 .elementor-element.elementor-element-f7b7587>.elementor-element-populated {
    padding: 0px 0px 0px 0px;
}

.elementor-475 .elementor-element.elementor-element-2d2b725 .prt-heading-subheading {
    text-align: center;
}

@media(max-width:1024px) {
    .elementor-475 .elementor-element.elementor-element-aedcbfe {
        margin-top: 0px;
        margin-bottom: 0px;
        padding: 50px 0px 50px 0px;
    }

    .elementor-475 .elementor-element.elementor-element-0da9b6f>.elementor-element-populated {
        margin: 0px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }

    .elementor-475 .elementor-element.elementor-element-c780294>.elementor-widget-container {
        padding: 0px 0px 0px 0px;
    }

    .elementor-475 .elementor-element.elementor-element-299c0a9 {
        margin-top: 0px;
        margin-bottom: 0px;
        padding: 50px 0px 50px 0px;
    }

    .elementor-475 .elementor-element.elementor-element-3bc05bc {
        padding: 0px 0px 22px 0px;
    }

    .elementor-475 .elementor-element.elementor-element-bf1b739>.elementor-element-populated {
        padding: 20px 0px 0px 0px;
    }

    .elementor-475 .elementor-element.elementor-element-db80959 {
        padding: 0px 0px 0px 0px;
    }

    .elementor-475 .elementor-element.elementor-element-36e83bc>.elementor-element-populated {
        padding: 30px 0px 0px 0px;
    }

    .elementor-475 .elementor-element.elementor-element-0f24e03 {
        text-align: center;
    }

    .elementor-475 .elementor-element.elementor-element-8262b1b>.elementor-element-populated {
        padding: 15px 0px 15px 0px;
    }

    .elementor-475 .elementor-element.elementor-element-6f3fca3>.elementor-element-populated {
        margin: 0px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
        padding: 0px 0px 25px 0px;
    }

    .elementor-475 .elementor-element.elementor-element-3803541 {
        padding: 50px 0px 20px 0px;
    }

    .elementor-475 .elementor-element.elementor-element-5c4aaa7 {
        margin-top: 0px;
        margin-bottom: 0px;
        padding: 0px 0px 0px 0px;
    }

    .elementor-475 .elementor-element.elementor-element-31cec3f .elementor-spacer-inner {
        --spacer-size: 35px;
    }

    .elementor-475 .elementor-element.elementor-element-f9100b9 {
        margin-top: 0px;
        margin-bottom: 0px;
        padding: 0px 0px 50px 0px;
    }

    .elementor-475 .elementor-element.elementor-element-bac33c2>.elementor-element-populated {
        margin: 0px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }

    .elementor-475 .elementor-element.elementor-element-f383bae {
        padding: 50px 0px 40px 0px;
    }
}

@media(max-width:767px) {
    .elementor-475 .elementor-element.elementor-element-ce1d4b5>.elementor-element-populated {
        border-width: 0px 0px 0px 0px;
    }

    .elementor-475 .elementor-element.elementor-element-74273d9>.elementor-element-populated {
        padding: 25px 0px 0px 0px;
    }

    .elementor-475 .elementor-element.elementor-element-af538ca {
        text-align: left;
    }

    .elementor-475 .elementor-element.elementor-element-af538ca>.elementor-widget-container {
        padding: 8px 0px 0px 0px;
    }
}

@media(min-width:768px) {
    .elementor-475 .elementor-element.elementor-element-4cf0510 {
        width: 26.56%;
    }

    .elementor-475 .elementor-element.elementor-element-bf1b739 {
        width: 73.44%;
    }

    .elementor-475 .elementor-element.elementor-element-ce1d4b5 {
        width: 49.813%;
    }

    .elementor-475 .elementor-element.elementor-element-74273d9 {
        width: 50.187%;
    }

    .elementor-475 .elementor-element.elementor-element-8262b1b {
        width: 48.637%;
    }

    .elementor-475 .elementor-element.elementor-element-6f3fca3 {
        width: 51.363%;
    }
}

@media(max-width:1024px) and (min-width:768px) {
    .elementor-475 .elementor-element.elementor-element-fdae73c {
        width: 100%;
    }

    .elementor-475 .elementor-element.elementor-element-36e83bc {
        width: 100%;
    }
}