.elementor-263 .elementor-element.elementor-element-6a2af90 {
    padding: 0px 0px 0px 0px;
}

.elementor-263 .elementor-element.elementor-element-f8e366f>.elementor-element-populated {
    padding: 0px 0px 0px 0px;
}

.elementor-263 .elementor-element.elementor-element-9abe1c1 .prt-heading-subheading {
    text-align: left;
}

.elementor-263 .elementor-element.elementor-element-81af401 {
    padding: 112px 0px 45px 0px;
}

.elementor-263 .elementor-element.elementor-element-b9caf74>.elementor-element-populated {
    padding: 74px 30px 0px 0px;
}

.elementor-263 .elementor-element.elementor-element-633b1ff .prt-heading-subheading {
    text-align: left;
}

.elementor-263 .elementor-element.elementor-element-6345806>.elementor-widget-container {
    padding: 18px 0px 0px 0px;
}

.elementor-263 .elementor-element.elementor-element-85b1c04:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-263 .elementor-element.elementor-element-85b1c04>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-image: url("../../uploads/2022/06/img-02.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 45% auto;
}

.elementor-263 .elementor-element.elementor-element-85b1c04>.elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: -11px 0px 0px 8px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 8px;
    padding: 70px 0px 0px 200px;
}

.elementor-263 .elementor-element.elementor-element-85b1c04>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-263 .elementor-element.elementor-element-fdd2edc>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 50px 0px 0px 46px;
}

.elementor-263 .elementor-element.elementor-element-0395a8c .elementor-heading-title {
    font-size: 38px;
    line-height: 48px;
}

.elementor-263 .elementor-element.elementor-element-f8eba45 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
    padding-bottom: calc(11px/2);
}

.elementor-263 .elementor-element.elementor-element-f8eba45 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
    margin-top: calc(11px/2);
}

.elementor-263 .elementor-element.elementor-element-f8eba45 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
    margin-right: calc(11px/2);
    margin-left: calc(11px/2);
}

.elementor-263 .elementor-element.elementor-element-f8eba45 .elementor-icon-list-items.elementor-inline-items {
    margin-right: calc(-11px/2);
    margin-left: calc(-11px/2);
}

body.rtl .elementor-263 .elementor-element.elementor-element-f8eba45 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    left: calc(-11px/2);
}

body:not(.rtl) .elementor-263 .elementor-element.elementor-element-f8eba45 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    right: calc(-11px/2);
}

.elementor-263 .elementor-element.elementor-element-f8eba45 .elementor-icon-list-icon i {
    color: #FF172D;
}

.elementor-263 .elementor-element.elementor-element-f8eba45 .elementor-icon-list-icon svg {
    fill: #FF172D;
}

.elementor-263 .elementor-element.elementor-element-f8eba45 {
    --e-icon-list-icon-size: 15px;
}

.elementor-263 .elementor-element.elementor-element-f8eba45 .elementor-icon-list-text {
    color: #222429;
    padding-left: 13px;
}

.elementor-263 .elementor-element.elementor-element-f8eba45>.elementor-widget-container {
    padding: 0px 0px 0px 0px;
}

.elementor-263 .elementor-element.elementor-element-c879c78 {
    text-align: left;
}

.elementor-263 .elementor-element.elementor-element-c879c78>.elementor-widget-container {
    margin: 0px 0px 30px 0px;
    padding: 10px 0px 10px 0px;
}

.elementor-263 .elementor-element.elementor-element-4e7bb95 {
    padding: 15px 0px 70px 0px;
}

.elementor-263 .elementor-element.elementor-element-f6c5f84 {
    padding: 0px 40px 0px 40px;
}

.elementor-263 .elementor-element.elementor-element-c089fb2 .prt-heading-subheading {
    text-align: left;
}

.elementor-263 .elementor-element.elementor-element-3d433d6 {
    padding: 92px 0px 100px 0px;
}

.elementor-263 .elementor-element.elementor-element-471eb79:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-263 .elementor-element.elementor-element-471eb79>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-image: url("../../uploads/uploads/2022/06/col-img-02.jpg");
    background-position: 100px 78px;
    background-repeat: no-repeat;
    background-size: auto;
}

.elementor-263 .elementor-element.elementor-element-471eb79>.elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-263 .elementor-element.elementor-element-471eb79>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-263 .elementor-element.elementor-element-3529072 .elementor-spacer-inner {
    --spacer-size: 50px;
}

.elementor-263 .elementor-element.elementor-element-f3a7391>.elementor-element-populated {
    padding: 29px 0px 0px 45px;
}

.elementor-263 .elementor-element.elementor-element-0c0ecee .prt-heading-subheading {
    text-align: left;
}

.elementor-263 .elementor-element.elementor-element-6f5d75e {
    border-style: solid;
    border-width: 1px 0px 0px 0px;
    border-color: #E5E5E5;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: 15px;
    margin-bottom: 0px;
    padding: 41px 0px 44px 0px;
}

.elementor-263 .elementor-element.elementor-element-6f5d75e>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-263 .elementor-element.elementor-element-a1f715a>.elementor-element-populated {
    padding: 0px 0px 0px 0px;
}

.elementor-263 .elementor-element.elementor-element-ee2b144 {
    text-align: left;
}

.elementor-263 .elementor-element.elementor-element-ee2b144>.elementor-widget-container {
    padding: 0px 30px 0px 0px;
}

.elementor-263 .elementor-element.elementor-element-de70e3e>.elementor-element-populated {
    padding: 4px 0px 0px 5px;
}

.elementor-263 .elementor-element.elementor-element-a86476e .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
    padding-bottom: calc(13px/2);
}

.elementor-263 .elementor-element.elementor-element-a86476e .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
    margin-top: calc(13px/2);
}

.elementor-263 .elementor-element.elementor-element-a86476e .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
    margin-right: calc(13px/2);
    margin-left: calc(13px/2);
}

.elementor-263 .elementor-element.elementor-element-a86476e .elementor-icon-list-items.elementor-inline-items {
    margin-right: calc(-13px/2);
    margin-left: calc(-13px/2);
}

body.rtl .elementor-263 .elementor-element.elementor-element-a86476e .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    left: calc(-13px/2);
}

body:not(.rtl) .elementor-263 .elementor-element.elementor-element-a86476e .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    right: calc(-13px/2);
}

.elementor-263 .elementor-element.elementor-element-a86476e .elementor-icon-list-icon i {
    color: #FF172D;
}

.elementor-263 .elementor-element.elementor-element-a86476e .elementor-icon-list-icon svg {
    fill: #FF172D;
}

.elementor-263 .elementor-element.elementor-element-a86476e {
    --e-icon-list-icon-size: 15px;
}

.elementor-263 .elementor-element.elementor-element-a86476e .elementor-icon-list-text {
    padding-left: 12px;
}

.elementor-263 .elementor-element.elementor-element-a074f49>.elementor-background-overlay {
    background-image: url("../../uploads/2022/05/row-01.png");
    opacity: 0.5;
}

.elementor-263 .elementor-element.elementor-element-a074f49 {
    padding: 105px 50px 0px 50px;
}

.elementor-263 .elementor-element.elementor-element-d7bec6f>.elementor-element-populated {
    margin: 0px 0px -140px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-263 .elementor-element.elementor-element-c7d0c64 .prt-heading-subheading {
    text-align: left;
}

.elementor-263 .elementor-element.elementor-element-c7d0c64 {
    z-index: 11;
}

.elementor-263 .elementor-element.elementor-element-ff23b37 {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px 0px 0px 0px;
    z-index: 0;
}

.elementor-263 .elementor-element.elementor-element-67a8e29 .elementor-spacer-inner {
    --spacer-size: 154px;
}

.elementor-263 .elementor-element.elementor-element-cc06b62>.elementor-background-overlay {
    background-image: url("../../uploads/2022/06/row-02.png");
    background-position: center center;
    background-repeat: no-repeat;
    opacity: 1;
}

.elementor-263 .elementor-element.elementor-element-cc06b62 {
    padding: 0px 0px 0px 0px;
}

.elementor-263 .elementor-element.elementor-element-655c58e:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-263 .elementor-element.elementor-element-655c58e>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-image: url("../../uploads/2022/06/row-testimonial-img.png");
    background-position: center center;
}

.elementor-263 .elementor-element.elementor-element-655c58e>.elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 71px 90px 90px 90px;
}

.elementor-263 .elementor-element.elementor-element-655c58e>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-263 .elementor-element.elementor-element-cbda280 .prt-heading-subheading {
    text-align: center;
}

.elementor-263 .elementor-element.elementor-element-c739cc1:not(.elementor-motion-effects-element-type-background),
.elementor-263 .elementor-element.elementor-element-c739cc1>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-image: url("../../uploads/2022/06/row-10.jpg");
    background-position: center center;
    background-repeat: no-repeat;
}

.elementor-263 .elementor-element.elementor-element-c739cc1 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 80px 0px 80px 0px;
}

.elementor-263 .elementor-element.elementor-element-c739cc1>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-263 .elementor-element.elementor-element-ce8a0da {
    text-align: left;
}

.elementor-263 .elementor-element.elementor-element-ce8a0da>.elementor-widget-container {
    padding: 0px 30px 0px 9px;
    border-style: solid;
    border-width: 0px 0px 0px 5px;
    border-color: #FF172D;
}

.elementor-263 .elementor-element.elementor-element-d0eadd7>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 21px 0px 0px 0px;
}

.elementor-263 .elementor-element.elementor-element-b7221f2 .elementor-heading-title {
    font-size: 38px;
}

.elementor-263 .elementor-element.elementor-element-3dad99c {
    color: #FFFFFFEB;
}

.elementor-263 .elementor-element.elementor-element-3dad99c>.elementor-widget-container {
    margin: -4px 0px 0px 0px;
}

.elementor-263 .elementor-element.elementor-element-6ed3ea9 {
    padding: 105px 0px 0px 0px;
}

.elementor-263 .elementor-element.elementor-element-49723b0 .prt-heading-subheading {
    text-align: left;
}

.elementor-263 .elementor-element.elementor-element-04c7cd8>.elementor-widget-container {
    padding: 18px 0px 0px 0px;
}

.elementor-263 .elementor-element.elementor-element-f3d6a65 {
    padding: 20px 0px 100px 0px;
}

.elementor-263 .elementor-element.elementor-element-a2a9253>.elementor-element-populated {
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #E5E5E5;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 0px 30px 0px 0px;
    --e-column-margin-right: 30px;
    --e-column-margin-left: 0px;
    padding: 32px 29px 0px 29px;
}

.elementor-263 .elementor-element.elementor-element-a2a9253>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-263 .elementor-element.elementor-element-293c633 .prt-heading-subheading {
    text-align: left;
}

.elementor-263 .elementor-element.elementor-element-2649fe7>.elementor-element-populated {
    margin: 0px 0px -10px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-263 .elementor-element.elementor-element-4cafc43 .prt-heading-subheading {
    text-align: left;
}

@media(max-width:1024px) {
    .elementor-263 .elementor-element.elementor-element-6a2af90 {
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .elementor-263 .elementor-element.elementor-element-81af401 {
        padding: 0px 0px 0px 0px;
    }

    .elementor-263 .elementor-element.elementor-element-b9caf74>.elementor-element-populated {
        padding: 50px 0px 0px 0px;
    }

    .elementor-263 .elementor-element.elementor-element-85b1c04>.elementor-element-populated {
        margin: 0px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
        padding: 0px 0px 0px 0px;
    }

    .elementor-263 .elementor-element.elementor-element-9b240e0 {
        padding: 0px 0px 0px 0px;
    }

    .elementor-263 .elementor-element.elementor-element-fdd2edc>.elementor-element-populated {
        margin: 0px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
        padding: 20px 0px 0px 0px;
    }

    .elementor-263 .elementor-element.elementor-element-c879c78>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
    }

    .elementor-263 .elementor-element.elementor-element-4e7bb95 {
        padding: 0px 0px 0px 0px;
    }

    .elementor-263 .elementor-element.elementor-element-f6c5f84 {
        padding: 0px 0px 0px 0px;
    }

    .elementor-263 .elementor-element.elementor-element-f9bc762>.elementor-element-populated {
        padding: 0px 0px 0px 0px;
    }

    .elementor-263 .elementor-element.elementor-element-3d433d6 {
        padding: 50px 0px 50px 0px;
    }

    .elementor-263 .elementor-element.elementor-element-471eb79:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
    .elementor-263 .elementor-element.elementor-element-471eb79>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
        background-position: 0px 0px;
        background-size: cover;
    }

    .elementor-263 .elementor-element.elementor-element-471eb79>.elementor-element-populated {
        padding: 0px 0px 0px 0px;
    }

    .elementor-263 .elementor-element.elementor-element-3529072 .elementor-spacer-inner {
        --spacer-size: 589px;
    }

    .elementor-263 .elementor-element.elementor-element-f3a7391>.elementor-element-populated {
        padding: 40px 0px 0px 0px;
    }

    .elementor-263 .elementor-element.elementor-element-6f5d75e {
        padding: 41px 0px 0px 0px;
    }

    .elementor-263 .elementor-element.elementor-element-ee2b144>.elementor-widget-container {
        padding: 0px 0px 0px 0px;
    }

    .elementor-263 .elementor-element.elementor-element-a074f49 {
        margin-top: 0px;
        margin-bottom: 0px;
        padding: 50px 0px 50px 0px;
    }

    .elementor-263 .elementor-element.elementor-element-d7bec6f>.elementor-element-populated {
        margin: 0px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }

    .elementor-263 .elementor-element.elementor-element-67a8e29 .elementor-spacer-inner {
        --spacer-size: 0px;
    }

    .elementor-263 .elementor-element.elementor-element-cc06b62 {
        padding: 50px 0px 50px 0px;
    }

    .elementor-263 .elementor-element.elementor-element-655c58e>.elementor-element-populated {
        padding: 0px 0px 0px 0px;
    }

    .elementor-263 .elementor-element.elementor-element-c739cc1 {
        padding: 50px 0px 30px 0px;
    }

    .elementor-263 .elementor-element.elementor-element-6ed3ea9 {
        padding: 50px 0px 0px 0px;
    }

    .elementor-263 .elementor-element.elementor-element-3480b93>.elementor-element-populated {
        margin: 0px 0px -10px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
        padding: 0px 0px 0px 0px;
    }

    .elementor-263 .elementor-element.elementor-element-69880a6>.elementor-element-populated {
        margin: 0px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
        padding: 0px 0px 0px 0px;
    }

    .elementor-263 .elementor-element.elementor-element-f3d6a65 {
        padding: 30px 0px 40px 0px;
    }

    .elementor-263 .elementor-element.elementor-element-a2a9253>.elementor-element-populated {
        margin: 0px 15px 30px 15px;
        --e-column-margin-right: 15px;
        --e-column-margin-left: 15px;
        padding: 30px 0px 30px 0px;
    }

    .elementor-263 .elementor-element.elementor-element-293c633>.elementor-widget-container {
        padding: 0px 15px 0px 15px;
    }

    .elementor-263 .elementor-element.elementor-element-2649fe7>.elementor-element-populated {
        margin: 0px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }
}

@media(max-width:767px) {
    .elementor-263 .elementor-element.elementor-element-fdd2edc>.elementor-element-populated {
        padding: 20px 10px 20px 10px;
    }

    .elementor-263 .elementor-element.elementor-element-0395a8c>.elementor-widget-container {
        padding: 0px 15px 0px 0px;
    }

    .elementor-263 .elementor-element.elementor-element-d77a905>.elementor-widget-container {
        padding: 0px 15px 0px 0px;
    }

    .elementor-263 .elementor-element.elementor-element-f8eba45>.elementor-widget-container {
        padding: 4px 15px 0px 0px;
    }

    .elementor-263 .elementor-element.elementor-element-c879c78>.elementor-widget-container {
        padding: 10px 15px 0px 0px;
    }

    .elementor-263 .elementor-element.elementor-element-471eb79:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
    .elementor-263 .elementor-element.elementor-element-471eb79>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
        background-position: 0px 0px;
        background-size: cover;
    }

    .elementor-263 .elementor-element.elementor-element-3529072 .elementor-spacer-inner {
        --spacer-size: 314px;
    }

    .elementor-263 .elementor-element.elementor-element-ee2b144 img {
        width: 100%;
    }

    .elementor-263 .elementor-element.elementor-element-de70e3e>.elementor-element-populated {
        padding: 20px 0px 0px 0px;
    }

    .elementor-263 .elementor-element.elementor-element-a074f49 {
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .elementor-263 .elementor-element.elementor-element-d7bec6f>.elementor-element-populated {
        margin: 0px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }

    .elementor-263 .elementor-element.elementor-element-c739cc1:not(.elementor-motion-effects-element-type-background),
    .elementor-263 .elementor-element.elementor-element-c739cc1>.elementor-motion-effects-container>.elementor-motion-effects-layer {
        background-position: center center;
        background-size: cover;
    }

    .elementor-263 .elementor-element.elementor-element-c739cc1 {
        padding: 0px 0px 0px 0px;
    }

    .elementor-263 .elementor-element.elementor-element-aba96ab>.elementor-element-populated {
        padding: 50px 0px 0px 0px;
    }

    .elementor-263 .elementor-element.elementor-element-ce8a0da img {
        width: 100%;
    }

    .elementor-263 .elementor-element.elementor-element-ce8a0da>.elementor-widget-container {
        border-width: 0px 0px 0px 5px;
    }

    .elementor-263 .elementor-element.elementor-element-d0eadd7>.elementor-element-populated {
        padding: 30px 0px 25px 0px;
    }
}

@media(min-width:768px) {
    .elementor-263 .elementor-element.elementor-element-b9caf74 {
        width: 41.366%;
    }

    .elementor-263 .elementor-element.elementor-element-85b1c04 {
        width: 58.634%;
    }

    .elementor-263 .elementor-element.elementor-element-a1f715a {
        width: 31.324%;
    }

    .elementor-263 .elementor-element.elementor-element-de70e3e {
        width: 68.676%;
    }

    .elementor-263 .elementor-element.elementor-element-aba96ab {
        width: 22.425%;
    }

    .elementor-263 .elementor-element.elementor-element-d0eadd7 {
        width: 77.575%;
    }

    .elementor-263 .elementor-element.elementor-element-a2a9253 {
        width: 32.856%;
    }

    .elementor-263 .elementor-element.elementor-element-2649fe7 {
        width: 67.144%;
    }
}

@media(max-width:1024px) and (min-width:768px) {
    .elementor-263 .elementor-element.elementor-element-ae2295c {
        width: 50%;
    }

    .elementor-263 .elementor-element.elementor-element-7c87d93 {
        width: 50%;
    }

    .elementor-263 .elementor-element.elementor-element-071f69a {
        width: 50%;
    }

    .elementor-263 .elementor-element.elementor-element-7bec3e0 {
        width: 50%;
    }

    .elementor-263 .elementor-element.elementor-element-471eb79 {
        width: 100%;
    }

    .elementor-263 .elementor-element.elementor-element-f3a7391 {
        width: 100%;
    }

    .elementor-263 .elementor-element.elementor-element-a1f715a {
        width: 21.324%;
    }
}

@media(min-width:1025px) {

    .elementor-263 .elementor-element.elementor-element-85b1c04:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
    .elementor-263 .elementor-element.elementor-element-85b1c04>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
        background-attachment: fixed;
    }

    .elementor-263 .elementor-element.elementor-element-471eb79:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
    .elementor-263 .elementor-element.elementor-element-471eb79>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
        background-attachment: fixed;
    }

    .elementor-263 .elementor-element.elementor-element-c739cc1:not(.elementor-motion-effects-element-type-background),
    .elementor-263 .elementor-element.elementor-element-c739cc1>.elementor-motion-effects-container>.elementor-motion-effects-layer {
        background-attachment: fixed;
    }
}