.elementor-7425 .elementor-element.elementor-element-2776e9b9>.elementor-background-overlay {
    opacity: 0.5;
}

.elementor-7425 .elementor-element.elementor-element-2776e9b9 {
    padding: 100px 0px 100px 0px;
}

.elementor-7425 .elementor-element.elementor-element-b2fae38 .prt-heading-subheading {
    text-align: center;
}

.elementor-7425 .elementor-element.elementor-element-215d417a>.elementor-element-populated {
    padding: 0px 0px 0px 0px;
}

.elementor-7425 .elementor-element.elementor-element-8f4060a .prt-heading-subheading {
    text-align: center;
}

.elementor-7425 .elementor-element.elementor-element-17597d73>.elementor-element-populated {
    padding: 0px 0px 0px 0px;
}

.elementor-7425 .elementor-element.elementor-element-24f7cc52 {
    text-align: right;
}

.elementor-7425 .elementor-element.elementor-element-1c9f90b5 {
    padding: 100px 0px 0px 0px;
}

.elementor-7425 .elementor-element.elementor-element-21bac739>.elementor-element-populated>.elementor-background-overlay {
    background-image: url("../../2022/06/parralax-img.jpg");
    background-position: -75px 36px;
    background-repeat: no-repeat;
    opacity: 0.5;
}

.elementor-7425 .elementor-element.elementor-element-21bac739>.elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 0px 0px 0px 0px;
}

.elementor-7425 .elementor-element.elementor-element-21bac739>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-7425 .elementor-element.elementor-element-78d02bf6>.elementor-element-populated {
    padding: 50px 0px 100px 30px;
}

.elementor-7425 .elementor-element.elementor-element-62e25b87 .prt-heading-subheading {
    text-align: left;
}

.elementor-7425 .elementor-element.elementor-element-42241fe0>.elementor-element-populated {
    padding: 0px 0px 0px 0px;
}

.elementor-7425 .elementor-element.elementor-element-7605361a>.elementor-element-populated {
    padding: 0px 0px 0px 0px;
}

.elementor-7425 .elementor-element.elementor-element-da592b7 {
    margin-top: -1px;
    margin-bottom: 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-7425 .elementor-element.elementor-element-3694c408>.elementor-element-populated {
    margin: -104px 0px -35px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 30px 30px 33px 45px;
}

.elementor-7425 .elementor-element.elementor-element-15524ea8 {
    color: #FFFFFF;
    font-size: 17px;
    line-height: 20px;
}

.elementor-7425 .elementor-element.elementor-element-51560132 .elementor-heading-title {
    font-size: 25px;
    font-weight: 600;
}

.elementor-7425 .elementor-element.elementor-element-51560132>.elementor-widget-container {
    margin: -8px 0px 0px 0px;
}

.elementor-7425 .elementor-element.elementor-element-1bbb43d9>.elementor-background-overlay {
    background-image: url("../../uploads/2022/05/row-01.png");
    opacity: 0.5;
}

.elementor-7425 .elementor-element.elementor-element-1bbb43d9 {
    padding: 100px 0px 0px 0px;
}

.elementor-7425 .elementor-element.elementor-element-33a61bc3>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
}

.elementor-7425 .elementor-element.elementor-element-33a61bc3 {
    z-index: 11;
}

.elementor-7425 .elementor-element.elementor-element-74ba4fcb .prt-heading-subheading {
    text-align: left;
}

.elementor-7425 .elementor-element.elementor-element-74ba4fcb {
    width: 39%;
    max-width: 39%;
}

.elementor-7425 .elementor-element.elementor-element-34971878>.elementor-widget-container {
    padding: 40px 0px 0px 0px;
}

.elementor-7425 .elementor-element.elementor-element-34971878 {
    width: 61%;
    max-width: 61%;
}

.elementor-7425 .elementor-element.elementor-element-25de237 .prt-stretched-div.prt-stretched-right {
    margin: 0px 0px 0px -25px;
}

.elementor-7425 .elementor-element.elementor-element-25de237>.elementor-background-overlay {
    background-image: url("../../uploads/2022/05/row-01.png");
    background-position: center center;
    background-repeat: no-repeat;
    opacity: 0.5;
}

.elementor-7425 .elementor-element.elementor-element-25de237 {
    padding: 0px 0px 0px 0px;
    z-index: 99;
}

.elementor-7425 .elementor-element.elementor-element-c479600>.elementor-element-populated {
    margin: 0px 0px -140px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-7425 .elementor-element.elementor-element-ae3a601 .prt-heading-subheading {
    text-align: center;
}

.elementor-7425 .elementor-element.elementor-element-ae3a601>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
}

.elementor-7425 .elementor-element.elementor-element-1da0920b {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px 0px 0px 0px;
    z-index: 11;
}

.elementor-7425 .elementor-element.elementor-element-57ef002e>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 228px 0px 80px 0px;
}

.elementor-7425 .elementor-element.elementor-element-2e47e337 .prt-heading-subheading {
    text-align: left;
}

.elementor-7425 .elementor-element.elementor-element-2808a0ca .prt-stretched-div.prt-stretched-right {
    margin: 0px 0px 0px 0px;
}

.elementor-7425 .elementor-element.elementor-element-2808a0ca:not(.elementor-motion-effects-element-type-background),
.elementor-7425 .elementor-element.elementor-element-2808a0ca>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-image: url("../../uploads/2022/06/row-10.jpg");
    background-position: center center;
    background-repeat: no-repeat;
}

.elementor-7425 .elementor-element.elementor-element-2808a0ca {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px 0px 0px 0px;
    z-index: 1;
}

.elementor-7425 .elementor-element.elementor-element-2808a0ca>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-7425 .elementor-element.elementor-element-7cfd6e10>.elementor-element-populated {
    padding: 144px 0px 0px 0px;
}

.elementor-7425 .elementor-element.elementor-element-469ef8d7 .prt-heading-subheading {
    text-align: left;
}

.elementor-7425 .elementor-element.elementor-element-469ef8d7>.elementor-widget-container {
    padding: 0px 10px 0px 0px;
}

.elementor-7425 .elementor-element.elementor-element-5e25e084>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 117px 0px 174px 0px;
}

.elementor-7425 .elementor-element.elementor-element-350a4291 {
    text-align: left;
}

.elementor-7425 .elementor-element.elementor-element-350a4291>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 9px;
    border-style: solid;
    border-width: 0px 0px 0px 5px;
    border-color: #FF172D;
}

.elementor-7425 .elementor-element.elementor-element-57572bb8 {
    margin-top: -200px;
    margin-bottom: 0px;
    padding: 200px 0px 0px 0px;
}

.elementor-7425 .elementor-element.elementor-element-5074f272>.elementor-element-populated {
    margin: -70px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 0px 15px 0px 0px;
}

.elementor-7425 .elementor-element.elementor-element-70f64797>.elementor-element-populated {
    margin: -70px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 0px 15px 0px 15px;
}

.elementor-7425 .elementor-element.elementor-element-5c1aca81>.elementor-element-populated {
    margin: -70px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 0px 15px 0px 15px;
}

.elementor-7425 .elementor-element.elementor-element-357e32e0>.elementor-element-populated {
    margin: -70px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 0px 0px 0px 15px;
}

.elementor-7425 .elementor-element.elementor-element-4d629147>.elementor-background-overlay {
    background-image: url("../../uploads/2022/06/row-02.png");
    background-position: center center;
    background-repeat: no-repeat;
    opacity: 1;
}

.elementor-7425 .elementor-element.elementor-element-4d629147 {
    margin-top: -5px;
    margin-bottom: 0px;
    padding: 40px 0px 0px 0px;
}

.elementor-7425 .elementor-element.elementor-element-38365099>.elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 71px 90px 0px 90px;
}

.elementor-7425 .elementor-element.elementor-element-38365099>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-7425 .elementor-element.elementor-element-7e7b2e47 .prt-heading-subheading {
    text-align: center;
}

.elementor-7425 .elementor-element.elementor-element-b1b3895 {
    padding: 100px 0px 82px 0px;
}

.elementor-7425 .elementor-element.elementor-element-b0e09ef>.elementor-element-populated {
    padding: 0px 50px 0px 0px;
}

.elementor-7425 .elementor-element.elementor-element-569af0a .prt-heading-subheading {
    text-align: left;
}

.elementor-7425 .elementor-element.elementor-element-c8fa8e5 {
    border-style: solid;
    border-width: 1px 0px 0px 0px;
    border-color: #E5E5E5;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: 14px;
    margin-bottom: 0px;
    padding: 40px 0px 44px 0px;
}

.elementor-7425 .elementor-element.elementor-element-c8fa8e5>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-7425 .elementor-element.elementor-element-c629e8b>.elementor-element-populated {
    padding: 0px 0px 0px 0px;
}

.elementor-7425 .elementor-element.elementor-element-d9defba {
    text-align: left;
}

.elementor-7425 .elementor-element.elementor-element-d9defba>.elementor-widget-container {
    padding: 0px 30px 0px 0px;
}

.elementor-7425 .elementor-element.elementor-element-0f4e342>.elementor-element-populated {
    padding: 4px 0px 0px 5px;
}

.elementor-7425 .elementor-element.elementor-element-1f3aa19 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
    padding-bottom: calc(13px/2);
}

.elementor-7425 .elementor-element.elementor-element-1f3aa19 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
    margin-top: calc(13px/2);
}

.elementor-7425 .elementor-element.elementor-element-1f3aa19 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
    margin-right: calc(13px/2);
    margin-left: calc(13px/2);
}

.elementor-7425 .elementor-element.elementor-element-1f3aa19 .elementor-icon-list-items.elementor-inline-items {
    margin-right: calc(-13px/2);
    margin-left: calc(-13px/2);
}

body.rtl .elementor-7425 .elementor-element.elementor-element-1f3aa19 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    left: calc(-13px/2);
}

body:not(.rtl) .elementor-7425 .elementor-element.elementor-element-1f3aa19 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    right: calc(-13px/2);
}

.elementor-7425 .elementor-element.elementor-element-1f3aa19 .elementor-icon-list-icon i {
    color: #FF172D;
}

.elementor-7425 .elementor-element.elementor-element-1f3aa19 .elementor-icon-list-icon svg {
    fill: #FF172D;
}

.elementor-7425 .elementor-element.elementor-element-1f3aa19 {
    --e-icon-list-icon-size: 15px;
}

.elementor-7425 .elementor-element.elementor-element-1f3aa19 .elementor-icon-list-text {
    padding-left: 12px;
}

.elementor-7425 .elementor-element.elementor-element-e88b87f .elementor-progress-wrapper .elementor-progress-bar {
    background-color: #FF172D;
}

.elementor-7425 .elementor-element.elementor-element-e88b87f .elementor-progress-bar {
    height: 8px;
    line-height: 8px;
}

.elementor-7425 .elementor-element.elementor-element-d88c125 .elementor-progress-wrapper .elementor-progress-bar {
    background-color: #FF172D;
}

.elementor-7425 .elementor-element.elementor-element-d88c125 .elementor-progress-bar {
    height: 8px;
    line-height: 8px;
}

.elementor-7425 .elementor-element.elementor-element-d88c125>.elementor-widget-container {
    padding: 10px 0px 0px 0px;
}

.elementor-7425 .elementor-element.elementor-element-44febce>.elementor-element-populated {
    padding: 0px 0px 0px 5px;
}

.elementor-7425 .elementor-element.elementor-element-b30a2e5 .prt-heading-subheading {
    text-align: left;
}

@media(max-width:1024px) {
    .elementor-7425 .elementor-element.elementor-element-2776e9b9 {
        padding: 50px 0px 50px 0px;
    }

    .elementor-7425 .elementor-element.elementor-element-17597d73>.elementor-element-populated {
        padding: 30px 0px 0px 0px;
    }

    .elementor-7425 .elementor-element.elementor-element-24f7cc52 {
        text-align: left;
    }

    .elementor-7425 .elementor-element.elementor-element-1c9f90b5 {
        margin-top: 0px;
        margin-bottom: 0px;
        padding: 30px 0px 50px 0px;
    }

    .elementor-7425 .elementor-element.elementor-element-21bac739:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
    .elementor-7425 .elementor-element.elementor-element-21bac739>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
        background-position: 375px 0px;
    }

    .elementor-7425 .elementor-element.elementor-element-21bac739>.elementor-element-populated>.elementor-background-overlay {
        background-position: 0px 0px;
    }

    .elementor-7425 .elementor-element.elementor-element-78d02bf6>.elementor-element-populated {
        padding: 30px 0px 0px 0px;
    }

    .elementor-7425 .elementor-element.elementor-element-64236cde {
        padding: 0px 0px 0px 0px;
    }

    .elementor-7425 .elementor-element.elementor-element-da592b7 {
        margin-top: 0px;
        margin-bottom: 0px;
        padding: 0px 0px 0px 0px;
    }

    .elementor-7425 .elementor-element.elementor-element-3ac3a00d>.elementor-element-populated {
        margin: 0px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
        padding: 0px 0px 0px 0px;
    }

    .elementor-7425 .elementor-element.elementor-element-11bdac3f {
        margin-top: 0px;
        margin-bottom: 0px;
        padding: 0px 0px 0px 0px;
    }

    .elementor-7425 .elementor-element.elementor-element-3694c408>.elementor-element-populated {
        margin: 0px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }

    .elementor-7425 .elementor-element.elementor-element-1bbb43d9 {
        padding: 50px 0px 20px 0px;
    }

    .elementor-7425 .elementor-element.elementor-element-33a61bc3>.elementor-element-populated {
        margin: 0px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }

    .elementor-7425 .elementor-element.elementor-element-74ba4fcb {
        width: 100%;
        max-width: 100%;
    }

    .elementor-7425 .elementor-element.elementor-element-34971878>.elementor-widget-container {
        padding: 10px 0px 0px 0px;
    }

    .elementor-7425 .elementor-element.elementor-element-34971878 {
        width: 100%;
        max-width: 100%;
    }

    .elementor-7425 .elementor-element.elementor-element-c479600>.elementor-element-populated {
        margin: 0px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
        padding: 0px 0px 40px 0px;
    }

    .elementor-7425 .elementor-element.elementor-element-57ef002e>.elementor-element-populated {
        padding: 50px 0px 50px 0px;
    }

    .elementor-7425 .elementor-element.elementor-element-2808a0ca:not(.elementor-motion-effects-element-type-background),
    .elementor-7425 .elementor-element.elementor-element-2808a0ca>.elementor-motion-effects-container>.elementor-motion-effects-layer {
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .elementor-7425 .elementor-element.elementor-element-2808a0ca {
        padding: 54px 0px 50px 0px;
    }

    .elementor-7425 .elementor-element.elementor-element-7cfd6e10>.elementor-element-populated {
        padding: 0px 0px 0px 0px;
    }

    .elementor-7425 .elementor-element.elementor-element-5e25e084>.elementor-element-populated {
        margin: 0px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
        padding: 0px 0px 0px 0px;
    }

    .elementor-7425 .elementor-element.elementor-element-350a4291 {
        text-align: left;
    }

    .elementor-7425 .elementor-element.elementor-element-350a4291>.elementor-widget-container {
        padding: 0px 0px 0px 0px;
        border-width: 0px 0px 0px 0px;
    }

    .elementor-7425 .elementor-element.elementor-element-57572bb8 {
        margin-top: 0px;
        margin-bottom: 0px;
        padding: 50px 0px 50px 0px;
    }

    .elementor-7425 .elementor-element.elementor-element-5074f272>.elementor-element-populated {
        margin: 0px 0px 30px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }

    .elementor-7425 .elementor-element.elementor-element-70f64797>.elementor-element-populated {
        margin: 0px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }

    .elementor-7425 .elementor-element.elementor-element-5c1aca81>.elementor-element-populated {
        margin: 0px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }

    .elementor-7425 .elementor-element.elementor-element-357e32e0>.elementor-element-populated {
        margin: 0px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }

    .elementor-7425 .elementor-element.elementor-element-4d629147 {
        padding: 20px 0px 50px 0px;
    }

    .elementor-7425 .elementor-element.elementor-element-38365099>.elementor-element-populated {
        padding: 0px 0px 0px 0px;
    }

    .elementor-7425 .elementor-element.elementor-element-b1b3895 {
        padding: 50px 0px 50px 0px;
    }

    .elementor-7425 .elementor-element.elementor-element-44febce>.elementor-element-populated {
        padding: 50px 0px 0px 0px;
    }
}

@media(max-width:767px) {

    .elementor-7425 .elementor-element.elementor-element-21bac739:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
    .elementor-7425 .elementor-element.elementor-element-21bac739>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
        background-position: 0px 0px;
    }

    .elementor-7425 .elementor-element.elementor-element-21bac739>.elementor-element-populated>.elementor-background-overlay {
        background-position: 0px 0px;
    }

    .elementor-7425 .elementor-element.elementor-element-5e25e084>.elementor-element-populated {
        padding: 18px 0px 0px 0px;
    }

    .elementor-7425 .elementor-element.elementor-element-5074f272>.elementor-element-populated {
        margin: 0px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }

    .elementor-7425 .elementor-element.elementor-element-b1b3895 {
        padding: 50px 0px 0px 0px;
    }

    .elementor-7425 .elementor-element.elementor-element-0f4e342>.elementor-element-populated {
        padding: 20px 0px 0px 0px;
    }
}

@media(min-width:768px) {
    .elementor-7425 .elementor-element.elementor-element-215d417a {
        width: 74.465%;
    }

    .elementor-7425 .elementor-element.elementor-element-17597d73 {
        width: 25.5%;
    }

    .elementor-7425 .elementor-element.elementor-element-21bac739 {
        width: 49.782%;
    }

    .elementor-7425 .elementor-element.elementor-element-78d02bf6 {
        width: 50.183%;
    }

    .elementor-7425 .elementor-element.elementor-element-1b62ebee {
        width: 59.127%;
    }

    .elementor-7425 .elementor-element.elementor-element-3ac3a00d {
        width: 40.806%;
    }

    .elementor-7425 .elementor-element.elementor-element-7cfd6e10 {
        width: 53.475%;
    }

    .elementor-7425 .elementor-element.elementor-element-f0317e4 {
        width: 18.429%;
    }

    .elementor-7425 .elementor-element.elementor-element-5e25e084 {
        width: 27.406%;
    }

    .elementor-7425 .elementor-element.elementor-element-c629e8b {
        width: 31.324%;
    }

    .elementor-7425 .elementor-element.elementor-element-0f4e342 {
        width: 68.676%;
    }
}

@media(max-width:1024px) and (min-width:768px) {
    .elementor-7425 .elementor-element.elementor-element-7cfd6e10 {
        width: 100%;
    }

    .elementor-7425 .elementor-element.elementor-element-f0317e4 {
        width: 100%;
    }

    .elementor-7425 .elementor-element.elementor-element-5e25e084 {
        width: 50%;
    }

    .elementor-7425 .elementor-element.elementor-element-5074f272 {
        width: 50%;
    }

    .elementor-7425 .elementor-element.elementor-element-70f64797 {
        width: 50%;
    }

    .elementor-7425 .elementor-element.elementor-element-5c1aca81 {
        width: 50%;
    }

    .elementor-7425 .elementor-element.elementor-element-357e32e0 {
        width: 50%;
    }

    .elementor-7425 .elementor-element.elementor-element-b0e09ef {
        width: 100%;
    }

    .elementor-7425 .elementor-element.elementor-element-44febce {
        width: 100%;
    }
}

@media(min-width:1025px) {
    .elementor-7425 .elementor-element.elementor-element-21bac739>.elementor-element-populated>.elementor-background-overlay {
        background-attachment: fixed;
    }

    .elementor-7425 .elementor-element.elementor-element-2808a0ca:not(.elementor-motion-effects-element-type-background),
    .elementor-7425 .elementor-element.elementor-element-2808a0ca>.elementor-motion-effects-container>.elementor-motion-effects-layer {
        background-attachment: fixed;
    }
}