{% load static mptt_tags custom_tags %}
{% with menu_items=slug|getMenu %}

<div class="dd" id="nestable">
    <ol class="dd-list">
        {% recursetree menu_items %}
        
        <li class="dd-item menu-ac-item" data-id="{{node.id}}">
            <!-- <div class="dd-handle"></div> -->
            <div class="accordion" id="accordion-{{node.id}}">
                <div class="accordion-item">
                    <div class="accordion-header p-0" id="heading-{{node.id}}">
                        <div class="move-media dd-handle">
                            <i class="fa-solid fa-arrows-up-down-left-right"></i>
                        </div>
                        <button class="accordion-button contact collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-{{node.id}}" aria-expanded="false" aria-controls="collapse-{{node.id}}">
                        {{ node.title}}
                        </button>
                    </div>
                    <div id="collapse-{{node.id}}" class="accordion-collapse collapse" aria-labelledby="heading-{{node.id}}" data-bs-parent="#accordion-{{node.id}}">
                        <div class="accordion-body">
                            <div class="row">
                                <div class="col-xl-12">
                                    <form>
                                        <div class="mb-3">
                                            <label class="form-label">URL</label>
                                            <input type="text" class="form-control" placeholder="https://bodyclub.dexignzone.com/xhtml/about-us.html">
                                        </div>
                                    </form>
                                </div>
                                <div class="col-xl-6">
                                    <form>
                                        <div class="mb-3">
                                            <label class="form-label">Navigation Label</label>
                                            <input type="text" class="form-control" placeholder="Contact Us">
                                        </div>
                                    </form>
                                </div>
                                <div class="col-xl-6">
                                    <form>
                                        <div class="mb-3">
                                            <label class="form-label">Title Attribute</label>
                                            <input type="text" class="form-control" placeholder="Contact Us">
                                        </div>
                                    </form>
                                </div>
                                <div class="d-flex align-items-center">
                                    <a href="javascript:void(0);">Remove</a><span class="mx-2">|</span>
                                    <a href="javascript:void(0);" data-bs-toggle="collapse" data-bs-target="#collapse-1" aria-expanded="false" aria-controls="collapse-1">
                                    Cancel
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Accordion body -->
            </div>
        </li>
        {% endrecursetree %} 
    </ol>
</div>
{% endwith %}