{% extends 'crm/crm_base.html' %}
{% load static mptt_tags custom_tags %}

{% block page_title %}
Menu Setup
{% endblock page_title %}

{% block crm_content %}
{% url '_htmx:menu-structure-save' %}
<div class="col-xl-12">
    <div class="filter cm-content-box box-primary">
        <div class="content-title">
            <div class="cpa">
                <i class="fa fa-list-alt me-1"></i>Menus
            </div>
            <div class="tools">
                <a href="javascript:void(0);" class="expand SlideToolHeader"><i class="fal fa-angle-down"></i></a>
            </div>
        </div>
        <div class="cm-content-body form excerpt">
            <div class="card-body">
                <div class="row align-items-center p-3">
                    <div class="col-xl-3 col-xxl-3 mb-xl-0 mb-3">
                        <h6 class="mb-0">Select a menu to edit: <span class="required">* </span></h6>
                    </div>
                    <div id="menu-select-div" class="col-xl-6 col-xxl-5 mb-xl-0 mb-3 MenuSelectDiv">
                        <select 
                            name="MenuSelect" id="MenuSelect"
                            class="form-control default-select dashboard-select-2 h-auto wide">
                            {% if not menu_obj %}
                            <option value="" selected>Choose Menu</option>
                            {% endif %}
                            {% for menu in menus %}
                            <option 
                            {% if menu_obj %}
                                {% if menu.id == menu_obj.id %}
                                    selected
                                {% endif %}
                            {% endif %}
                            value="{{menu.id}}">{{menu.title}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-xl-3 col-xxl-4">
                        <a href="javascript:void(0);" class="btn btn-primary">Select</a>
                        <span class="mx-2">or</span>
                        <a href="javascript:void(0);" class="text-primary">create new menu</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-4">
            <div class="filter cm-content-box box-primary">
                <div class="content-title">
                    <div class="cpa">
                        Menus
                    </div>
                    <div class="tools">
                        <a href="javascript:void(0);" class="expand SlideToolHeader"><i class="fal fa-angle-down"></i></a>
                    </div>
                </div>
                <div class="cm-content-body form excerpt">
                    <div class="card-body">
                        {% include 'crm/cms/menu/includes/menu-types-tree.html' %}
                        <div class="filter cm-content-box box-primary border">
                            <div class="content-title border-0">
                                <div class="cpa">
                                    page
                                </div>
                                <div class="tools">
                                    <a href="javascript:void(0);" class="expand SlideToolHeader"><i class="fal fa-angle-down"></i></a>
                                </div>
                            </div>
                            <div class="cm-content-body form excerpt border-top">
                                <div class="card-body ItemsCheckboxSec">
                                    <ul class=" tab-my nav nav-tabs" id="myTab" role="tablist">
                                        <li class="nav-item" role="presentation">
                                            <button class="nav-link active" id="Viewall-tab" data-bs-toggle="tab" data-bs-target="#Viewall-tab-pane" type="button" role="tab" aria-controls="Viewall-tab-pane" aria-selected="true">View All</button>
                                        </li>
                                        <li class="nav-item" role="presentation">
                                            <button class="nav-link" id="Search-tab" data-bs-toggle="tab" data-bs-target="#Search-tab-pane" type="button" role="tab" aria-controls="Search-tab-pane" aria-selected="false">Search</button>
                                        </li>
                                    </ul>
                                    <div class="tab-content" id="myTabContent">
                                        <div class="tab-pane fade show active" id="Viewall-tab-pane" role="tabpanel" aria-labelledby="Viewall-tab" tabindex="0">
                                            <div class="menu-tabs">
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                                    <label class="form-check-label" for="flexCheckDefault">
                                                    Privacy Policy 
                                                    </label>
                                                </div>
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault-1">
                                                    <label class="form-check-label" for="flexCheckDefault-1">
                                                    Contact Us 
                                                    </label>
                                                </div>
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault-2">
                                                    <label class="form-check-label" for="flexCheckDefault-2">
                                                    Important Information 
                                                    </label>
                                                </div>
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault-3">
                                                    <label class="form-check-label" for="flexCheckDefault-3">
                                                    About Us 
                                                    </label>
                                                </div>
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault-4">
                                                    <label class="form-check-label" for="flexCheckDefault-4">
                                                    Dummy Co 
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="Search-tab-pane" role="tabpanel" aria-labelledby="Search-tab" tabindex="0">
                                            <div class="menu-tabs">
                                                <label for="exampleFormControlInput{{ menu_obj.id }}" class="form-label">Search</label>
                                                <input type="text" class="form-control" id="{{ menu_obj.id }}" placeholder="Enter Page Name">
                                            </div>
                                        </div>
                                        <div class="d-flex align-items-center flex-wrap">
                                            <a href="javascript:void(0);" class="checkAllInput">Select All</a><span class="mx-2">|</span>
                                            <a href="javascript:void(0);" class="unCheckAllInput">Deselect All</a>
                                        </div>
                                        <a  class="btn btn-primary btn-sm dz-menu-btn">Add to Menu</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="filter cm-content-box box-primary border">
                            <div class="content-title border-0">
                                <div class="cpa">
                                    Links 
                                </div>
                                <div class="tools">
                                    <a href="javascript:void(0);" class="expand SlideToolHeader"><i class="fal fa-angle-down"></i></a>
                                </div>
                            </div>
                            <div class="cm-content-body form excerpt border-top">
                                <div class="card-body">
                                    <div class="row align-items-center">
                                        <div class="col-xl-4">
                                            <h6>URL</h6>
                                        </div>
                                        <div class="col-xl-8">
                                            <input type="text" class="form-control mb-2" placeholder="">
                                        </div>
                                        <div class="col-xl-4">
                                            <h6 class="mb-xl-0 text-nowrap ">Link Text</h6>
                                        </div>
                                        <div class="col-xl-8">
                                            <input type="text" class="form-control" placeholder="Menu items">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-8">
            <div class="filter cm-content-box box-primary">
            
                <form
                    hx-post="{% url '_htmx:crm-menu-update-name' menu_obj.id %}"
                    hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
                    hx-target="#menu_name"
                    >
                <div class="content-title flex-wrap">
                        <div class="cpa d-flex align-items-center flex-wrap">
                            Menu Name:
                            {% include 'crm/cms/menu/includes/menu-name-input.html' %}
                        </div>
                        {% if perms.menu.change_items and perms.menu.change_menus %}
                        <button type="submit" class="btn btn-secondary light ms-sm-auto mb-2 mb-sm-0">Save Menu Name</button>
                        {% endif %}
                    </div>
                </form>
                <div class="cm-content-body form excerpt rounded-0">
                    <div id="menu_items" class="card-body">
                        <h6 class="mb-0">Menus Structure</h6>
                        <p>Add Menus items from the column on the left.</p>
                        {% with menu_items=menu_obj.slug|getMenu %}
                        {% include 'crm/cms/menu/partials/menu-nestable.html' with menu_items=menu_items slug=menu_obj.slug %}
                        {% endwith %}
                    </div>
                </div>
                <div class="filter cm-content-box box-primary style-1 mb-0 border-0">
                    <div class="content-title">
                        <div class="cpa">
                            Delete Menu
                        </div>
                        <button 
                        type="button" class="SaveMenu btn btn-secondary light my-2">Save Menu</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
	var CSRF_TOKEN = 'dFtj1lGUXrVlotX2RZtq2q7fcbQe6TF5L6XDCpblIZGDJlynAHoV8DOyq7IVxXWe';

	var screenOptionArray = JSON.stringify({"Page": {"visibility": true}, "Blog": {"visibility": true}, "CustomLink": {"visibility": true}, "TitleAttribute": {"visibility": true}, "ClassAttribute": {"visibility": true}, "TargetAttribute": {"visibility": true}, "Description": {"visibility": true}});
	console.log(screenOptionArray);

	var search_menus_url = '/en/dashboard/menus/search_menu/';
	var menu_item_update_url = '/dashboard/menus/menu_item_update/';
	var menu_item_delete_url = '/en/dashboard/menus/menu_item_delete/'; 
	var custom_link_add_to_menu_url = '/dashboard/menus/custom_link_add_to_menu/';
	var category_add_to_menu_url = '/dashboard/menus/category_add_to_menu/';
	var blog_add_to_menu_url = '/dashboard/menus/blog_add_to_menu/';
	var page_add_to_menu_url = '/dashboard/menus/page_add_to_menu/';
	var menu_structure_save_url = '{% url '_htmx:menu-structure-save' %}';
	var menu_delete_url = '/en/dashboard/menus/menu_delete/';

   
</script>
<script>
var saveStructureURL = '{% url '_htmx:menu-structure-save' %}'
var CSRF_TOKEN = '{{ csrf_token }}';
var menu_id = '{{ menu_obj.id }}';
let menu_data = JSON.stringify({
            "menu_id": '{{ menu_obj.id }}',
            "menu_name": '{{ menu_obj.title }}'
        });
</script>

{% endblock crm_content %}

 {% block additional_data %}
    <script>
    "use strict";
    console.log("Additional Head DATA loaded!");
    </script>
{% endblock %} 

{% block additional_js %}
{% endblock %} 