{% extends 'crm/crm_base.html' %}
{% load static mptt_tags custom_tags %}

{% block page_title %}
Menu Setup
{% endblock page_title %}

{% block crm_content %}
{% url '_htmx:menu-structure-save' %}
<div class="col-xl-12">
    <div class="filter cm-content-box box-primary">
        <div class="content-title">
            <div class="cpa">
                <i class="fa fa-list-alt me-1"></i>Menus
            </div>
            <div class="tools">
                <a href="javascript:void(0);" class="expand SlideToolHeader"><i class="fal fa-angle-down"></i></a>
            </div>
        </div>
        <div class="cm-content-body form excerpt">
            <div class="card-body">
                <div class="row align-items-center p-3">
                    <div class="col-xl-3 col-xxl-3 mb-xl-0 mb-3">
                        <h6 class="mb-0">Select a menu to edit: <span class="required">* </span></h6>
                    </div>
                    <div class="col-xl-6 col-xxl-5 mb-xl-0 mb-3">
                        <select 
                         name="MenuSelect" id="MenuSelect"
                        class="form-control default-select dashboard-select-2 h-auto wide">
                            {% if not menu_obj %}
                            <option value="" selected>Choose Menu</option>
						    {% endif %}
                            {% for menu in menus %}
                            <option 
                            {% if menu_obj %}
                                {% if menu.id == menu_obj.id %}
                                    selected
                                {% endif %}
                            {% endif %}
                            value="{{menu.id}}">{{menu.title}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-xl-3 col-xxl-4">
                        <a href="javascript:void(0);" class="btn btn-primary">Select</a>
                        <span class="mx-2">or</span>
                        <a href="javascript:void(0);" class="text-primary">create new menu</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-4">
            <div class="filter cm-content-box box-primary">
                <div class="content-title">
                    <div class="cpa">
                        Menus
                    </div>
                    <div class="tools">
                        <a href="javascript:void(0);" class="expand SlideToolHeader"><i class="fal fa-angle-down"></i></a>
                    </div>
                </div>
                <div class="cm-content-body form excerpt">
                    <div class="card-body">
                        <div class="filter cm-content-box box-primary border">
                            <div class="content-title border-0">
                                <div class="cpa">
                                    page
                                </div>
                                <div class="tools">
                                    <a href="javascript:void(0);" class="expand SlideToolHeader"><i class="fal fa-angle-down"></i></a>
                                </div>
                            </div>
                            <div class="cm-content-body form excerpt border-top">
                                <div class="card-body ItemsCheckboxSec">
                                    <ul class=" tab-my nav nav-tabs" id="myTab" role="tablist">
                                        <li class="nav-item" role="presentation">
                                            <button class="nav-link active" id="Viewall-tab" data-bs-toggle="tab" data-bs-target="#Viewall-tab-pane" type="button" role="tab" aria-controls="Viewall-tab-pane" aria-selected="true">View All</button>
                                        </li>
                                        <li class="nav-item" role="presentation">
                                            <button class="nav-link" id="Search-tab" data-bs-toggle="tab" data-bs-target="#Search-tab-pane" type="button" role="tab" aria-controls="Search-tab-pane" aria-selected="false">Search</button>
                                        </li>
                                    </ul>
                                    <div class="tab-content" id="myTabContent">
                                        <div class="tab-pane fade show active" id="Viewall-tab-pane" role="tabpanel" aria-labelledby="Viewall-tab" tabindex="0">
                                            <div class="menu-tabs">
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                                    <label class="form-check-label" for="flexCheckDefault">
                                                    Privacy Policy 
                                                    </label>
                                                </div>
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault-1">
                                                    <label class="form-check-label" for="flexCheckDefault-1">
                                                    Contact Us 
                                                    </label>
                                                </div>
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault-2">
                                                    <label class="form-check-label" for="flexCheckDefault-2">
                                                    Important Information 
                                                    </label>
                                                </div>
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault-3">
                                                    <label class="form-check-label" for="flexCheckDefault-3">
                                                    About Us 
                                                    </label>
                                                </div>
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault-4">
                                                    <label class="form-check-label" for="flexCheckDefault-4">
                                                    Dummy Co 
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="Search-tab-pane" role="tabpanel" aria-labelledby="Search-tab" tabindex="0">
                                            <div class="menu-tabs">
                                                <label for="exampleFormControlInput{{ menu_obj.id }}" class="form-label">Search</label>
                                                <input type="text" class="form-control" id="{{ menu_obj.id }}" placeholder="Enter Page Name">
                                            </div>
                                        </div>
                                        <div class="d-flex align-items-center flex-wrap">
                                            <a href="javascript:void(0);" class="checkAllInput">Select All</a><span class="mx-2">|</span>
                                            <a href="javascript:void(0);" class="unCheckAllInput">Deselect All</a>
                                        </div>
                                        <a  class="btn btn-primary btn-sm dz-menu-btn">Add to Menu</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="filter cm-content-box box-primary border">
                            <div class="content-title border-0">
                                <div class="cpa">
                                    Links 
                                </div>
                                <div class="tools">
                                    <a href="javascript:void(0);" class="expand SlideToolHeader"><i class="fal fa-angle-down"></i></a>
                                </div>
                            </div>
                            <div class="cm-content-body form excerpt border-top">
                                <div class="card-body">
                                    <div class="row align-items-center">
                                        <div class="col-xl-4">
                                            <h6>URL</h6>
                                        </div>
                                        <div class="col-xl-8">
                                            <input type="text" class="form-control mb-2" placeholder="">
                                        </div>
                                        <div class="col-xl-4">
                                            <h6 class="mb-xl-0 text-nowrap ">Link Text</h6>
                                        </div>
                                        <div class="col-xl-8">
                                            <input type="text" class="form-control" placeholder="Menu items">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-8">
            <div class="filter cm-content-box box-primary">
            
                <div class="content-title flex-wrap">
                    <div class="cpa d-flex align-items-center flex-wrap">
                        Menu Name
                        <input type="text" class="form-control w-auto ms-2" placeholder="{{ menu_obj.title }}">
                    </div>
                    <button type="button" class="btn btn-secondary light ms-sm-auto mb-2 mb-sm-0">Save Menu</button>
                </div>
                <div class="cm-content-body form excerpt rounded-0">
                    <div class="card-body">
                        <h6 class="mb-0">Menus Structure</h6>
                        <p>Add Menus items from the column on the left.</p>
                            <div id="menu_nestable" class="col-xl-7">
                                <div class="dd" id="nestable">

                        <form
                            hx-post="{% url '_htmx:menu-structure-save' %}"
                            hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
                            hx-target="#menu_nestable"
                            hx-vals='
                            {
                                "menu_id": {{ menu_obj.id }}, 
                                "key2": "value2"}
                            '
                            id="MenuItem{{menu_obj.id}}Form"
                            hx-trigger="end"
                            rel="{{menu_obj.id}}"
                            >
                                {% if slug and not done %}
                                <input type="hidden" name="menu_data" value="{{slug}}">
                                {% else %}
                                <input type="hidden" name="menu_data" value="{{menu_slug}}">
                                {% endif %}
                                {% with menu_items=menu_obj.slug|getMenu %}
                                    <div class="htmx-indicator" style="cursor: default">Updating...</div>
                                    <ol class="dd-list">
                                        {% recursetree menu_items %}
                                        <li class="dd-item menu-ac-item" data-id="{{node.id}}">
                                            <input type="hidden" name="item[]" value="{{node.id}}">
                                            <!-- <div class="dd-handle"></div> -->
                                            <div class="accordion" id="accordion-{{node.id}}">
                                                <div class="accordion-item">
                                                    <div class="accordion-header p-0" id="heading-{{node.id}}">
                                                        <div class="move-media dd-handle">
                                                            <i class="fa-solid fa-arrows-up-down-left-right"></i>
                                                        </div>
                                                        <button class="accordion-button contact collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-{{node.id}}" aria-expanded="true" aria-controls="collapse-{{node.id}}">
                                                        {{ node.title}}
                                                        </button>
                                                    </div>
                                                    <div id="collapse-{{node.id}}" class="accordion-collapse collapse" aria-labelledby="heading-{{node.id}}" data-bs-parent="#accordion-{{node.id}}">
                                                        <div class="accordion-body">
                                                            <div class="row">
                                                                <div class="col-xl-12">
                                                                    <form>
                                                                        <div class="mb-3">
                                                                            <label  class="form-label">URL</label>
                                                                            <input type="text" class="form-control" value="{{ node.link }}">
                                                                        </div>
                                                                    </form>
                                                                </div>
                                                                <div class="col-xl-6">
                                                                    <form>
                                                                        <div class="mb-3">
                                                                            <label  class="form-label">Navigation Label</label>
                                                                            <input type="text" class="form-control" value="{{ node.title }}">
                                                                        </div>
                                                                    </form>
                                                                </div>
                                                                <div class="col-xl-6">
                                                                    <form>
                                                                        <div class="mb-3">
                                                                            <label  class="form-label">Title Attribute</label>
                                                                            <input type="text" class="form-control" value="{{ node.attributes }}" >
                                                                        </div>
                                                                    </form>
                                                                </div>
                                                                <div class="d-flex align-items-center">
                                                                    <a href="javascript:void(0);">Remove</a><span class="mx-2">|</span>
                                                                    <a href="javascript:void(0);" data-bs-toggle="collapse" data-bs-target="#collapse-1" aria-expanded="false" aria-controls="collapse-1">
                                                                    Cancel
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            {% if not node.is_leaf_node %}
                                            <ol class="dd-list">
                                                {{ children }}
                                            </ol>
                                            {% endif %}
                                        </li>
                                        {% endrecursetree %}
                                    </ol>
                                </div>
                                {% endwith %}
                        </form>
                            </div>
                    </div>
                </div>
                <div class="filter cm-content-box box-primary style-1 mb-0 border-0">
                    <div class="content-title">
                        <div class="cpa">
                            Delete Menu
                        </div>
                        <button 
                        type="button" class="btn btn-secondary light my-2">Save Menu</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<script>
var CSRF_TOKEN = '{{ csrf_token }}';
var menu_id = '{{ menu_obj.id }}';
let menu_data = {
            "menu_id": '{{ menu_obj.id }}',
            "menu_name": '{{ menu_obj.title }}'
        };
</script>
{% endblock crm_content %}

 {% block additional_data %}
{% endblock %} 

{% block additional_js %}
<script>
var saveStructureURL = '{% url '_htmx:menu-structure-save' %}'

</script>
{% endblock %} 