{% load static %}
<!DOCTYPE html>
<html lang="en-AU" prefix="og: https://ogp.me/ns#" class="no-js">
	<head>
		<link rel="canonical" href="/" />
		<link rel="profile" href="//gmpg.org/xfn/11">
		{% include './includes/metas.html' %}
		{% include './includes/common_head_top.html' %}
		{% block additional_head_part1 %}
		<link rel='stylesheet' id='industico-responsive-style-css'  href="{% static 'industico/theme/css/home2-theme.css' %}" media='all' />
		{% endblock additional_head_part1 %}
		{% include './includes/common_head_middle.html' %}
		{% block additional_head_part2 %}
		<link rel='stylesheet' id='industico-responsive-style-css'  href="{% static 'industico/css/inlines/home2.css' %}" media='all' />
		{% endblock additional_head_part2 %}
		<script>
			var tm_breakpoint = 1200;
		</script>
		{% include './includes/common_head_down.html' %}
		<!-- Inline CSS Start --><!-- Inline CSS End -->
		{% block title_1 %}
		<title>Industico - Industry &amp; Manufacturers Popular WordPress Theme - Home 2</title>
		{% endblock title_1 %}
	</head>
	<body class="{% block page_body_classes %}home page-template-default page page-id-475 preyantechnosys-topbar-no mega-menu-preyantechnosys-main-menu prt-headerstyle-toplogo preyantechnosys-wide preyantechnosys-topbar-yes preyantechnosys-fullwide preyantechnosys-page-full-width prt-empty-sidebar preyantechnosys-maxmegamenu-active elementor-default elementor-kit-6 elementor-page elementor-page-475{% endblock page_body_classes %}">
		<div id="prt-home"></div>
		<div class="main-holder">
			<div id="page" class="hfeed site">
				{% block header %}
				{% endblock header %}
				<!-- .site-header -->		
				<div id="content-wrapper" class="site-content-wrapper">
					<div id="content" class="site-content ">
						<div id="content-inner" class="site-content-inner ">
							{% block content %}
							{% endblock content %}
							<!-- #primary .content-area -->
						</div>
						<!-- .site-content-inner -->
					</div>
					<!-- .site-content -->
				</div>
				<!-- .site-content-wrapper -->
				{% include './elements/footer.html' %}
				<!-- .site-footer -->
			</div>
			<!-- #page .site -->
		</div>
		<!-- .main-holder -->
		<!-- To Top -->
		<a id="totop" href="#top"><i class="prt-industico-icon-angle-up"></i></a>
		{% include './includes/common_script_top.html' %}
		<script id="rs-initialisation-scripts">
			var	tpj = jQuery;
			
			var	revapi2;
			
			if(window.RS_MODULES === undefined) window.RS_MODULES = {};
			if(RS_MODULES.modules === undefined) RS_MODULES.modules = {};
			RS_MODULES.modules["revslider21"] = {init:function() {
				revapi2 = jQuery("#rev_slider_2_1");
				if(revapi2==undefined || revapi2.revolution==undefined){ revslider_showDoubleJqueryError("rev_slider_2_1"); return;}
				revapi2.revolutionInit({
						DPR:"dpr",
						sliderLayout:"fullwidth",
						visibilityLevels:"1240,1240,778,480",
						gridwidth:"1400,1400,778,480",
						gridheight:"760,760,350,300",
						lazyType:"smart",
						perspective:600,
						perspectiveType:"global",
						editorheight:"760,768,350,300",
						responsiveLevels:"1240,1240,778,480",
						progressBar:{disableProgressBar:true},
						navigation: {
							onHoverStop:false
						},
						viewPort: {
							global:true,
							globalDist:"-200px",
							enable:false
						},
						fallbacks: {
							allowHTML5AutoPlayOnAndroid:true
						},
				});
				
			}} // End of RevInitScript
			
			if (window.RS_MODULES.checkMinimal!==undefined) { window.RS_MODULES.checkMinimal();};
		</script>
	</body>