{% include 'crm/cms/menu/includes/menu-name-input.html' %}

<div hx-swap-oob="true"  id="menu-select-div" class="col-xl-6 col-xxl-5 mb-xl-0 mb-3 MenuSelectDiv">
    <select 
     name="MenuSelect" id="MenuSelect"
    class="form-control default-select dashboard-select-2 h-auto wide">
        {% if not menu_obj %}
        <option value="" selected>Choose Menu</option>
        {% endif %}
        {% for menu in menus %}
        <option 
        {% if menu_obj %}
            {% if menu.id == menu_obj.id %}
                selected
            {% endif %}
        {% endif %}
        value="{{menu.id}}">{{menu.title}}</option>
        {% endfor %}
    </select>
</div>