<div class="custome-accordion">
    <div class="accordion" id="accordionExample">
        <div class="accordion-item card">
            <h2 class="accordion-header border-0" id="headingOne">
                <button class="accordion-button d-flex justify-content-between align-items-center collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                        <span class="acc-heading">Screen Options</span>
                        {% comment %} <span class="ms-auto">(1/110)</span> {% endcomment %}
                </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample" style="">
                <div class="accordion-body card-body pt-0">
                    <div class="row">
                        <div class="col-md-2">
                            <div class="form-check custom-checkbox mb-3">
                                <input type="checkbox" class="form-check-input  allowField AllowPageAttributes" id="AllowPageAttributes" rel="PageAttributes" disabled>
                                <label class="form-check-label" for="AllowPageAttributes">PageAttributes</label>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-check custom-checkbox mb-3">
                                <input type="checkbox" class="form-check-input allowField AllowPageType" id="AllowPageType" rel="PageType" disabled>
                                <label class="form-check-label" for="AllowPageType">PageType</label>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-check custom-checkbox mb-3">
                                <input type="checkbox" class="form-check-input allowField AllowFeaturedImage" id="AllowFeaturedImage" rel="FeaturedImage" >
                                <label class="form-check-label" for="AllowFeaturedImage">FeaturedImage</label>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-check custom-checkbox mb-3">
                                <input type="checkbox" class="form-check-input  allowField AllowSlug" id="AllowSlug" rel="Slug" >
                                <label class="form-check-label" for="AllowSlug">Slug</label>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-check custom-checkbox mb-3">
                                <input type="checkbox" class="form-check-input allowField AllowExcerpt" id="AllowExcerpt" rel="Excerpt">
                                <label class="form-check-label" for="AllowExcerpt">Excerpt</label>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-check custom-checkbox mb-3">
                                <input type="checkbox" class="form-check-input allowField AllowCustomFields" id="AllowCustomFields" rel="CustomFields" disabled>
                                <label class="form-check-label" for="AllowCustomFields">CustomFields</label>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-check custom-checkbox mb-3">
                                <input type="checkbox" class="form-check-input allowField AllowDiscussion" id="AllowDiscussion" rel="Discussion" disabled>
                                <label class="form-check-label" for="AllowDiscussion">Discussion</label>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-check custom-checkbox mb-3">
                                <input type="checkbox" class="form-check-input allowField AllowAuthor" id="AllowAuthor" rel="Author" >
                                <label class="form-check-label" for="AllowAuthor">Author</label>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-check custom-checkbox mb-3">
                                <input type="checkbox" class="form-check-input allowField AllowSeo" id="AllowSeo" rel="Seo"  >
                                <label class="form-check-label" for="AllowSeo">SEO</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>  
        </div>
    </div>
</div>