{% extends 'dashboard/dashboard_base.html' %}
{% load static mptt_tags custom_tags humanize %}
{% block additional_css %}
<style>
    #team-members {
        display: flex;
        flex-direction: column;
        gap: 16px;
        width: 100%;
        max-width: 550px;
        margin: auto;
        padding: 50px;
        background: rgba(255, 255, 255, 0.25);
        -webkit-backdrop-filter: blur(var(--blur));
                backdrop-filter: blur(var(--blur));
        border-radius: 10px;
        border: 1px solid rgba(255, 255, 255, 0.08);
        filter: drop-shadow(0px 20px 10px rgba(0, 0, 0, var(--shadow-opacity)));
        }
        
        .team-member {
        position: relative;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 16px;
        min-height: 60px;
        padding: 16px;
        background-color: var(--white);
        border-radius: 24px;
        font-size: 16px;
        z-index: 1;
        }
        .team-member:hover {
        cursor: -webkit-grab;
        cursor: grab;
        }
        .team-member-avatar {
        width: 3.75rem;
        height: 3.75rem;
        -o-object-fit: cover;
            object-fit: cover;
        border-radius: 50%;
        }
        .team-member-name {
        display: grid;
        gap: 0.125rem;
        }
        .team-member-name h3 {
        font-size: large;
        }
        .team-member-name p {
        font-size: smaller;
        }
        .team-member-chosen {
        box-shadow: 8px 8px 32px rgba(0, 0, 0, 0.3);
        }
        .team-member-drag {
        opacity: 0;
        }
        
        .social-links {
        display: flex;
        flex-direction: row;
        gap: 6px;
        margin-left: auto;
        padding: 0;
        list-style-type: none;
        }
        .social-links i {
        width: 1.25rem;
        height: 1.25rem;
        font-size: 1.25rem;
        }

</style>

{% endblock %}
{% block content %}
<div class="row">
	<div class="accordion" id="accordion_screen_options">
		<div class="accordion-item card">
			<h2 class="accordion-header border-0" id="headingOne">
				<button class="accordion-button d-flex justify-content-between align-items-center collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseScreenOption" aria-expanded="false" aria-controls="collapseScreenOption">
				<span class="acc-heading">Screen Options</span>
				</button>
			</h2>
			<div id="collapseScreenOption" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordion_screen_options" style="">
				<div class="accordion-body card-body pt-0">
					<div class="row">
						<div class="col-lg-2 col-md-3">
							<div class="form-check custom-checkbox mb-3">
								<input type="checkbox" id="AllowPage" class="mr-1 allowField AllowPage form-check-input" rel="Page">
								<label class="form-check-label" for="AllowPage">Page</label>
							</div>
						</div>
						<div class="col-lg-2 col-md-3">
							<div class="form-check custom-checkbox mb-3">
								<input type="checkbox" id="AllowBlog" class="mr-1 allowField AllowBlog form-check-input" rel="Blog">
								<label class="form-check-label" for="AllowBlog">Blog</label>
							</div>
						</div>
						<div class="col-lg-2 col-md-3">
							<div class="form-check custom-checkbox mb-3">
								<input type="checkbox" id="AllowCustomLink" class="mr-1 allowField AllowCustomLink form-check-input" rel="CustomLink">
								<label class="form-check-label" for="AllowCustomLink">CustomLink</label>
							</div>
						</div>
						<!-- <div class="col-lg-2 col-md-3">
							<div class="form-check custom-checkbox mb-3">
								<input type="checkbox" id="AllowCategories" class="mr-1 allowField AllowCategories form-check-input" rel="Categories" disabled>
								<label class="form-check-label" for="AllowCategories">Categories</label>
							</div>
							</div> -->
						<div class="col-lg-2 col-md-3">
							<div class="form-check custom-checkbox mb-3">
								<input type="checkbox" id="AllowTitleAttribute" class="mr-1 allowField AllowTitleAttribute form-check-input" rel="TitleAttribute">
								<label class="form-check-label" for="AllowTitleAttribute">Title Attribute</label>
							</div>
						</div>
						<div class="col-lg-2 col-md-3">
							<div class="form-check custom-checkbox mb-3">
								<input type="checkbox" id="AllowClassAttribute" class="mr-1 allowField AllowClassAttribute form-check-input" rel="ClassAttribute">
								<label class="form-check-label" for="AllowClassAttribute">Class Attribute</label>
							</div>
						</div>
						<div class="col-lg-2 col-md-3">
							<div class="form-check custom-checkbox mb-3">
								<input type="checkbox" id="AllowTargetAttribute" class="mr-1 allowField AllowTargetAttribute form-check-input" rel="TargetAttribute">
								<label class="form-check-label" for="AllowTargetAttribute">Target Attribute</label>
							</div>
						</div>
						<div class="col-lg-2 col-md-3">
							<div class="form-check custom-checkbox mb-3">
								<input type="checkbox" id="AllowDescription" class="mr-1 allowField AllowDescription form-check-input" rel="Description">
								<label class="form-check-label" for="AllowDescription">Description</label>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="page-titles">
	<div class="row">
		<div class="col-12">
			<div class="card">
				<div class="card-header">
					<h4>Menu</h4>
					{% if perms.menu.add_menus %}
					<a href="javascript:void(0);" class="CreateNewMenu fw-bold btn btn-primary light"><i class="fa fa-plus"></i>&nbsp; Add menu</a>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
</div>
<!-- row -->
<!-- Nestable -->
<div class="row">
	<div class="col-12">
		<div class="card">
			{% comment %} <div class="card-header">
				<div>
					<h4 class="text-dark">Select a menu to edit</h4>
				</div>
				<div class="MenuSelectDiv">
					<form id="menuForm" hx-post="/dashboard/menus/setup/" hx-target="this" hx-swap="outerHTML">
						<select name="MenuSelect" id="MenuSelect" class="default-select form-control wide">
							{% if not menu_obj %}
							<option value="" selected>Choose Menu</option>
							{% endif %}
							{% for menu in menus %}
							<option value="{{menu.id}}" {% if menu_obj %}
							{% if menu.id == menu_obj.id %}
							selected
							{% endif %}
							{% endif %}>{{menu.title}}</option>
							{% endfor %}
						</select>
						<div class="text-end">
							<button type="submit" class="btn btn-primary">Select</button>
						</div>
					</form>
				</div>
			</div> {% endcomment %}
			<div class="card-header">
				<div>
					<h4 class="text-dark">Select a menu to edit</h4>
				</div>
				<div id="menu-select-div" class="MenuSelectDiv">
				
					<select name="MenuSelect" id="MenuSelect" class="default-select form-control wide">
						{% if not menu_obj %}
						<option value="" selected>Choose Menu</option>
						{% endif %}
						{% for menu in menus %}
						<option value="{{menu.id}}" 
						{% if menu_obj %}
						{% if menu.id == menu_obj.id %}
						selected
						{% endif %}
						{% endif %}
						>{{menu.title}}</option>
						{% endfor %}
					</select>
				</div>
				
				<div class="text-end">
					<button class="btn btn-primary MenuSelectbtn" >Select</button>
					{% comment %} <button type="button" class="MenuSelectbtn" title="Select Menu">Select</button> {% endcomment %}
				</div>
			</div>
			<div class="card-body">
				<div class="row">
					<!-- Menu List -->
					<div class="col-lg-6">
						<div class="card">
							<div class="card-header bg-primary border border-primary">
								<h6 class="text-white">Menu Types</h6>
							</div>
							<div class="card-body border-bottom border-start border-end border-primary">
								{% if menu_type_view %}
								<div class="accordion" id="accordion-one">
									{% include 'menu/includes/menu_type_tree.html' %}
									{% include 'menu/includes/menu_type_item.html' %}
									{% include 'menu/includes/menu_type_custom.html' %}
								</div>
								{% else %}
								<p>You have nothing to add so far!</p>
								{% endif %}
							</div>
						</div>
					</div>
					<!-- Menu List -->
					<div class="col-lg-6">
						<div class="card">
							
								<div class="card-header bg-primary border border-primary">
									<form
									hx-post="{% url '_htmx:menu-update-name' menu_obj.id %}"
									hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
									hx-target="#menu_name"
									>
									<div class="input-group align-items-center justify-content-between ">
										<h6 class="me-md-2 text-white">Menu name</h6>
										
										{% include 'menu/includes/menu-name-input.html' %}
										{% if perms.menu.change_items and perms.menu.change_menus %}
											<button 
											class="btn btn-primary light" 
											type="submit" rel="{{menu_obj.id}}">Save Menu</button>
										{% endif %}
										</div>
									</form>
								</div>
								<form
								hx-post="{% url '_htmx:menu-structure-save' %}"
								hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
								hx-target="#demo-canvas"
								hx-vals='
								{
									"menu_id": {{ menu_obj.id }}, 
									"key2": "value2"}
								'
								hx-trigger="end"
								>
								<div id="menu_items" class="card-body border-start border-end border-primary">
									
									{% comment %} {% include 'menu/menu_partials/menu_nestable.html' with slug=menu_obj.slug %} {% endcomment %}
									{% with menu_items=menu_obj.slug|getMenu %}
									{% include 'menu/menu_partials/menu_sortable.html' with menu_items=menu_items slug=menu_obj.slug %}
									{% endwith %}
									{% comment %} {% include 'menu/menu_partials/drag-test.html' with slug=menu_obj.slug %} {% endcomment %}

									<div>
								</form>
								</div>
							</div>
							<div class="card-footer d-sm-flex justify-content-between align-items-center border border-bottom border-start border-end border-primary">
								<div class="card-footer-link mb-4 mb-sm-0">
									<p class="card-text text-dark d-inline">Updated {{ menu_obj.updated_at|timesince}} ago</p>
								</div>
								<button type="submit" id="SaveMenu3" class="btn btn-primary">Save Items</button>
							</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% comment %} {% block extra_scripts %} {% endcomment %}
<!--**********************************
	Scripts
	***********************************-->
<!-- Required vendors -->
{% endblock content %}
{% block additional_js %}
<script>
	var CSRF_TOKEN = '{{ csrf_token }}';
	
	var screenOptionArray = JSON.stringify({{ ScreenOption|safe }});
	console.log(screenOptionArray);

	var menuId = {{ menu_obj.id }}
	
	var search_menus_url = '{% url 'dashboard:menu:search_menu' %}';
	var menu_item_update_url = '/dashboard/menus/menu_item_update/';
	var menu_item_delete_url = '{% url 'dashboard:menu:menu_item_delete' %}'; 
	var custom_link_add_to_menu_url = '/dashboard/menus/custom_link_add_to_menu/';
	var category_add_to_menu_url = '/dashboard/menus/category_add_to_menu/';
	var blog_add_to_menu_url = '/dashboard/menus/blog_add_to_menu/';
	var page_add_to_menu_url = '/dashboard/menus/page_add_to_menu/';
	var menu_structure_save_url = '{% url '_htmx:menu-structure-save' %}';
	var menu_delete_url = '{% url 'dashboard:menu:menu_delete' %}';

    const dragAndDropItems = document.getElementById('team-members');

    new Sortable(dragAndDropItems, {
        animation: 350,
        chosenClass: 'team-member-chosen',
        dragClass: 'team-member-drag'
    });

</script>

{% endblock additional_js %}
