
  {% load static custom_tags %}

<!-- CRM BOTTOM LOAD JS -->


    {% for jsurl in dz_array.crm.global_top.js %}
    <script src="{% static jsurl %}"></script>
	{% endfor %}
    {% for jsurl in dz_array.crm.page_level.js|getdata:request.path %}
    <script src="{% static jsurl %}"></script>
	{% endfor %} 
    {% for jsurl in dz_array.crm.global_down.js %}
    <script src="{% static jsurl %}"></script>
	{% endfor %}
    	<script>

		const titleInput = document.querySelector('input[name=title');
		const slugInput = document.querySelector('.slug');
		if (titleInput && slugInput){
			const slugify = (val) => {
				return val.toString().toLowerCase().trim()
					.replace(/&/g, '-and-') // replacing & with '-and-'
					.replace(/[\s\W-]+/g, '-') //replcaing spaces, non-word chars and dashes with a single '-'
			};

			titleInput.addEventListener('keyup', (e) => {
				slugInput.setAttribute('value', slugify(titleInput.value));
			});
		}
	</script>
    {% block additional_js %}
    {% endblock %} 

<!-- CRM BOTTOM LOAD JS END -->


	

{% comment %} 

<script src="{% static 'crm/vendor/global/global.min.js' %}"></script>
	<script src="{% static 'crm/vendor/bootstrap-select/dist/js/bootstrap-select.min.js' %}"></script>

    
    
    <script src="{% static 'crm/vendor/nestable2/js/jquery.nestable.min.js' %}"></script>
    <script src="{% static 'crm/js/plugins-init/nestable-init.js' %}"></script>

	<script src="{% static 'crm/vendor/chart.js/Chart.bundle.min.js' %}"></script>
	<script src="{% static 'crm/vendor/apexchart/apexchart.js' %}"></script>

    

	<!-- Dashboard 1 -->
	<script src="{% static 'crm/vendor/bootstrap-datetimepicker/js/moment.js' %}"></script>
	<script src="{% static 'crm/vendor/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js' %}"></script>

<script src="{% static 'crm/js/dashboard/dashboard-1.js' %}"></script> 
	<script src="{% static 'crm/vendor/draggable/draggable.js' %}"></script>


	<!-- tagify -->
	<script src="{% static 'crm/vendor/tagify/dist/tagify.js' %}"></script>

	<script src="{% static 'crm/vendor/datatables/js/jquery.dataTables.min.js' %}"></script>
	<script src="{% static 'crm/vendor/datatables/js/dataTables.buttons.min.js' %}"></script>
	<script src="{% static 'crm/vendor/datatables/js/buttons.html5.min.js' %}"></script>
	<script src="{% static 'crm/vendor/datatables/js/jszip.min.js' %}"></script>
	<script src="{% static 'crm/js/plugins-init/datatables.init.js' %}"></script>

	<!-- Apex Chart -->


	<!-- Vectormap -->
	 <script src="{% static 'crm/vendor/jqvmap/js/jquery.vmap.min.js' %}"></script>
	<script src="{% static 'crm/vendor/jqvmap/js/jquery.vmap.world.js' %}"></script>
	<script src="{% static 'crm/vendor/jqvmap/js/jquery.vmap.usa.js' %}"></script>

    <script src="{% static 'crm/js/dashboard/cms.js' %}"></script>
	<script src="{% static 'crm/js/custom.js' %}"></script>
	<script src="{% static 'crm/js/deznav-init.js' %}"></script>
	<script src="{% static 'crm/js/demo.js' %}"></script> 
	<script src="{% static 'crm/js/styleSwitcher.js' %}"></script>

 {% endcomment %}