
<div hx-swap-oob="true" id='show-toastr'>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
        document.addEventListener('htmx:afterRequest', function(event) {
            // Check if the request was successful
            console.log(event.detail.successful)
            toastr.options = {
                positionClass: "toast-top-full-width",
            }
            if (event.detail.successful) {
                var successTitle = JSON.parse(event.detail.xhr.responseText).title
                var successMessage = JSON.parse(event.detail.xhr.responseText).message
                // Handle the successful response here
                toastr.success(successMessage, successTitle);
            } else {
                // Handle other status codes or errors
                toastr.error(successMessage, successTitle);
            }
        });
        
    })
</script>
</div>