{% load static %}

<script src="{% static 'plugins/elementor/assets/js/webpack.runtime.min.js' %}" id='elementor-webpack-runtime-js'></script>
<script src="{% static 'plugins/elementor/assets/js/frontend-modules.min.js' %}" id='elementor-frontend-modules-js'></script>
<script src="{% static 'plugins/elementor/assets/lib/waypoints/waypoints.min.js' %}" id='elementor-waypoints-js'></script>
<script src="{% static 'industico/js/jquery/ui/core.min.js' %}" id='jquery-ui-core-js'></script>

<script  src="{% static 'plugins/elementor/assets/js/frontend.min.js' %}" id='elementor-frontend-js'></script>