{% load static %}

<style>
img.wp-smiley,
img.emoji {
	display: inline !important;
	border: none !important;
	box-shadow: none !important;
	height: 1em !important;
	width: 1em !important;
	margin: 0 0.07em !important;
	vertical-align: -0.1em !important;
	background: none !important;
	padding: 0 !important;
}
</style>
	<link rel='stylesheet' id='preyantechnosys-industico-extra-icons-css' href="{% static 'industico/assets/preyantechnosys-industico-extra-icons/font/flaticon.css' %}"  media='all' />
<link rel='stylesheet' id='wp-block-library-css' href="{% static 'industico/css/dist/block-library/style.min.css' %}"  media='all' />
<link rel='stylesheet' id='global-styles-inline-css' href="{% static 'industico/css/global.css' %}" media='all' />
<link rel='stylesheet' id='contact-form-7-css'  href="{% static 'industico/plugins/contact-form-7/includes/css/styles.css' %}"  media='all' />
<link rel='stylesheet' id='megamenu-css' href="{% static 'industico/uploads/maxmegamenu/style_en_au.css' %}"  media='all' />
<link rel='stylesheet' id='dashicons-css' href="{% static 'industico/css/dashicons.min.css' %}"  media='all' />
<link rel='stylesheet' id='font-awesome-css' href="{% static 'industico/plugins/elementor/assets/lib/font-awesome/css/font-awesome.min.css' %}"  media='all' />
<link rel='stylesheet' id='perfect-scrollbar-css' href="{% static 'industico/assets/perfect-scrollbar/perfect-scrollbar.min.css' %}" media='all' />
<link rel='stylesheet' id='chrisbracco-tooltip-css' href="{% static 'industico/assets/chrisbracco-tooltip/chrisbracco-tooltip.min.css' %}" media='all' />
<link rel='stylesheet' id='multi-columns-row-css' href="{% static 'industico/css/multi-columns-row.css' %}" media='all' />
<link rel='stylesheet' id='select2-css' href="{% static 'industico/assets/select2/select2.min.css' %}" media='all' />
<link rel='stylesheet' id='flexslider-css' href="{% static 'industico/assets/flexslider/flexslider.css' %}" media='all' />
<link rel='stylesheet' id='preyantechnosys-industico-icons-css' href="{% static 'industico/assets/prt-industico-icons/css/prt-industico-icons.css' %}" media='all' />
<link rel='stylesheet' id='slick-css' href="{% static 'industico/assets/slick/slick.css' %}"  media='all' />
<link rel='stylesheet' id='slick-theme-css' href="{% static 'industico/assets/slick/slick-theme.css' %}"  media='all' />
<link rel='stylesheet' id='prettyphoto-css' href="{% static 'industico/assets/prettyphoto/css/prettyPhoto.css' %}"  media='all' />
<link rel='stylesheet' id='elementor-icons-css'href="{% static 'industico/plugins/elementor/assets/lib/eicons/css/elementor-icons.min.css' %}"  media='all' />
<link rel='stylesheet' id='elementor-frontend-css' href="{% static 'industico/plugins/elementor/assets/css/frontend-lite.min.css' %}" media='all' />
<link rel='stylesheet' id='elementor-post-6-css' href="{% static 'industico/uploads/elementor/css/post-6.css' %}"  media='all' />
<link rel='stylesheet' id='font-awesome-5-all-css' href="{% static 'industico/plugins/elementor/assets/lib/font-awesome/css/all.min.css' %}" media='all' />
<link rel='stylesheet' id='font-awesome-4-shim-css' href="{% static 'industico/plugins/elementor/assets/lib/font-awesome/css/v4-shims.min.css' %}"  media='all' />
<link rel='stylesheet' id='elementor-post-263-css' href="{% static 'industico/uploads/elementor/css/post-7425.css' %}"  media='all' />
<link rel='stylesheet' id='bootstrap-css' href="{% static 'industico/css/bootstrap.min.css' %}"  media='all' />
<link rel='stylesheet' id='bootstrap-theme-css' href="{% static 'industico/css/bootstrap-theme.min.css' %}"  	media='all' />
<link rel='stylesheet' id='industico-base-style-css' href="{% static 'industico/css/base.css' %}" media='all' />
<link rel='stylesheet' id='industico-main-style-css' href="{% static 'industico/css/main.css' %}" media='all' />